[2021-02-20 23:49] beergeek commented on #1152
+1

[2021-02-20 23:50] beergeek commented on #1153
+1

[2021-02-22 10:21] pinikomarov commented on #825
@tpantelis thanks for the help here :)

[2021-02-24 06:41] sridhargaddam commented on #1118
One possible workaround, until this is fixed, is to remove the annotation from the Pods/Services. This will cause Globalnet to re-annotate the Pods/Services with GlobalIP and program the missing rules on the nodes.

[code]

[2021-02-24 12:33] sridhargaddam opened #1157 "Create GlobalnetEgressIP and associated objects"
**What happened**:
As part of [Globalnet Enhancement](https://github.com/submariner-io/enhancements/pull/22/files), we now have a new CRD, GlobalnetEgressIP for requesting a Egress globalIP on Pods. This issue is to track the necessary CRD changes including the creation of Clientsets, informers and listers.

[2021-02-24 15:43] nyechiel commented on #1109
Hi @skeeey - do you need more help with this Issue?

[2021-02-25 02:14] skeeey commented on #1109
@nyechiel , because there is a workaround for this, this is not urgent for me, I think this is a low priority issue, thanks

[2021-02-25 05:36] skeeey commented on #1004
@nyechiel I retested this with `subctl version: v0.8.0`,  this issue can not be reproduced again, so close this

[2021-02-25 05:36] #1004 closed

[2021-02-25 09:21] mangelajo commented on #1071
We tried the following model

![libreswan-snat-LB-submariner-Page 3 (1)](https://user-images.githubusercontent.com/1176434/109130116-a937e100-7751-11eb-843d-611cb7ee7201.png)

One network LoadBalancer for IPSEC is created on each cluster for each gateway, and that LoadBalancer is announced
as the public endpoint of the cluster to establish IPSEC connections.

![libreswan-snat-LB-submariner-Copy of

[2021-03-01 08:42] sridhargaddam opened #1163 "Support Globalnet EgressIPs at the cluster level"
**What would you like to be added**:
As part of [Globalnet Enhancement](https://github.com/submariner-io/enhancements/pull/22),
by default a configurable number of globalIPs will be allocated to the Cluster.
This request is to allocate the required number of globalIPs and configure the necessary
IPTable Egress rules that apply at the cluster scope.

Instead of using an IPset with individual pod IP

[2021-03-01 08:46] sridhargaddam opened #1164 "Support Globalnet EgressIPs at the namespace level"
**What would you like to be added**:
As part of [Globalnet Enhancement](https://github.com/submariner-io/enhancements/pull/22), GlobalnetEgressIP will enable users to create EgressIPs for inter-cluster communication. This request is to create necessary handlers for GlobalnetEgressIP CRD and program required IPTable Egress rules that apply at the namespace level.

[2021-03-01 08:51] sridhargaddam opened #1165 "Support Globalnet EgressIPs for pods selected via PodSelector"
**What would you like to be added**:
As part of [Globalnet Enhancement](https://github.com/submariner-io/enhancements/pull/22), GlobalnetEgressIP will enable users to create EgressIPs for inter-cluster communication. This request is to create necessary handlers for GlobalnetEgressIP CRD and program required IPTable Egress rules that apply to Pods via the PodSelector.

[2021-03-01 09:05] sridhargaddam opened #1166 "Avoid dependency on the iptable chains programmed by IPtables kube-proxy driver."
**What would you like to be added**:
Currently, Globalnet code uses the kube-proxy iptable chains for redirecting the incoming traffic destined to the globalIP of the Service. While this has its own advantages, the drawback is that when an exported service is deleted, until globalnet deletes the reference to the chain, kube-proxy will not be able to delete the corresponding chain.
This sometimes c

[2021-03-01 09:07] sridhargaddam opened #1167 "Implement necessary e2e tests to validate various globalnet use-cases."
**What would you like to be added**:
As part of [Globalnet Enhancement](https://github.com/submariner-io/enhancements/pull/22), GlobalnetEgressIP will enable users to create EgressIPs for inter-cluster communication. This request is to implement necessary e2e tests for validating various use-cases.

[2021-03-01 15:31] dfarrell07 commented on #1102
It seems we should try to support K8s versions 1.19, 1.20. and 1.21 (current latest).

[2021-03-02 08:54] qiujian16 commented on #1115
what we did in open-cluster-management is that we will start a registration agent on the spoke, send csr to hub (broker), one the the hub approves the csr, the agent will use the client cert to generate secret containing kubeconfig that connects to hub.

And example is here https://github.com/qiujian16/addon-framework/blob/main/pkg/manager/controllers/registration/manifests/addon-registration-depl

[2021-03-02 14:14] dfarrell07 commented on #1102
We may also want to test a mix and match of version among clusters.

[2021-03-02 14:15] dfarrell07 commented on #1102
Depends on updating KIND to a newer version: https://github.com/submariner-io/shipyard/pull/353, https://github.com/submariner-io/shipyard/pull/466

[2021-03-02 16:54] dfarrell07 commented on #1104
This is done, in addition to some other minor TODOs from the Summit team.

[2021-03-02 17:03] dfarrell07 commented on #1104
We need to be sure the video embedded in the booth has a title slide as the first frame, so the preview shows as the Summit folks are requesting.

We can embed one video in the booth and link to 4 others. I think it would be fine to embed either the Submariner in 60s one we created last Summit or @skitt's newer, demo-focused DevConf talk. Either way, we can link to the one we don't embed on YouTub

[2021-03-03 13:07] mangelajo opened #1174 "Epic: Proper NAT support for all combinations"
**What would you like to be added**:

### Automatic NAT/NO-NAT discovery between two endpoints (fix https://github.com/submariner-io/submariner/issues/300 )
* [x] (#1175) Define protocol (see goals of the protocol in the issue), select a port number
* [x] (#1176) Implement protocol pkg + testing
* [x] (#1177) Implement in gateways

### Individual port assignments to gateways
 * [x] (#1178) (Expose

[2021-03-03 13:17] mangelajo opened #1175 "Define a protocol for NAT discovery"
Given:
* Local IP, Local Public IP, Local Port
* Remote IP, Remote Public IP, Remote Port
* Local ID, Remote ID

The goals of the protocol would be:

1) **Select between Remote IP or Remote Public IP** for connectivity
2) Ensure remote ID & Local ID matches,
3) Identify if our IP is detected as "Local IP", "Local Public IP", or neither

2 & 3 are for tracing or warning about possible issues in the

[2021-03-03 13:19] mangelajo opened #1176 "Implement Auto-NAT discovery protocol pkg based on #1175 definition"
**What would you like to be added**:

A pkg library is created with the protocol described in #1175 , including testing.

[2021-03-03 13:21] mangelajo opened #1177 "Implement the NAT auto discovery in the submariner-gateway"
**What would you like to be added**:

Integration of the library defined in #1176 into submariner-gateway.

As the end result the gateways should be able to select between their public and private IPs before starting
the cable connections. At that point the cable driver receives the endpoint with the expected IP for connectivity.

[2021-03-03 13:24] mangelajo opened #1178 "Expose the gateway ports used in the Endpoint (NAT support)"
**What would you like to be added**:

Add port information into the Endpoint which is published to the broker, in a way
that the connection ports for the cable driver aren't anymore fixed across the cluster.

**Why is this needed**:
Allowing HA configurations on-prem behind NAT.

[2021-03-03 13:27] mangelajo opened #1179 "Allow IPSec port selection with labels"
see #1146 code for reference

For example
[code]

Shall we use something more generic? (so it's cable agnostic?)

[code]

[2021-03-03 13:45] nyechiel opened #1180 "Epic: Gateway HA with OpenShift"
Out of the box, ensure that the Submariner gateway is deployed in active/passive HA mode on OpenShift-based clusters, with at least one additional node (other than the active one) labeled and ready to take over.

Previous related work from @sridhargaddam:

1. https://github.com/submariner-io/submariner-operator/issues/586
2. https://docs.google.com/spreadsheets/d/1JsXsyRDDXkp6t55Gm-NP5EggWTyYi2yo2

[2021-03-03 16:01] nyechiel commented on #1109
Closing this one for now. Please reopen when/if it's relevant again.

[2021-03-03 16:01] #1109 closed

[2021-03-03 16:10] nyechiel commented on #1081
@sridhargaddam what's the status of this one? should we keep it open?

[2021-03-03 16:32] nyechiel commented on #380
@tpantelis is there a PR opened for this one?

[2021-03-03 16:33] letoams commented on #1081
On Wed, 3 Mar 2021, Nir Yechiel wrote:

Please leave it open, I'm trying to get back to this but have been busy
with other work :/

[2021-03-03 17:17] tpantelis commented on #380
https://github.com/submariner-io/submariner/pull/1169

[2021-03-03 19:33] nyechiel commented on #873
@mkolesnik now that our direction (Go library stored in `cloud-prepare`) is more clear, can you turn this Issue into an "Epic" and break it down into individual tasks we can track for 0.9?

[2021-03-03 19:40] nyechiel commented on #1102
@dfarrell07 can you turn this Issue into an "Epic" and break it down into individual tasks we can track for 0.9? Thanks!

[2021-03-04 09:56] skitt commented on #326
This is still relevant.

[2021-03-05 14:49] #380 closed

[2021-03-06 18:03] tpantelis commented on #1068
bump

[2021-03-06 18:04] tpantelis commented on #675
bump

[2021-03-08 06:28] sridhargaddam commented on #1068
The necessary enhancement is already implemented and merged.

[2021-03-08 06:28] #1068 closed

[2021-03-11 03:48] letoams commented on #1081
Jan 26 08:12:44.996002: added IKEv2 connection "submariner-cable-pkomarov-cluster-a-10-1-64-160-1-1"
Jan 26 08:12:44.997500: "submariner-cable-pkomarov-cluster-a-10-1-64-160-1-1": queuing pending IPsec SA negotiating with 18.225.31.220 IKE SA #1 "submariner-cable-pkomarov-cluster-a-10-1-64-160-0-0"
Jan 26 08:12:44.998269: added IKEv2 connection "submariner-cable-pkomarov-cluster-a-10-1-64-160-1-2"

[2021-03-11 11:42] aswinsuryan commented on #1180
I tried testing HA in a two cluster setup, with each cluster in a different region in AWS without global-net enabled. To create an AZ failure added a network ACL to deny all the ingress and egress traffic to the subnet of the AZ. This resulted in the nodes in the AZ going to a not-ready state.

The cluster1 and cluster2 hade two-gateways in active-passive mode. The AZ failure was simulated in the

[2021-03-11 11:52] mangelajo commented on #1180
ok, this is good new, thank you @aswinsuryan.

I think we need to investigate "2", why did it take 4 minutes to propagate. I suspect that since cluster-1 was the broker (talking about that in slack with you) may be cluster-2 gateway was connected to the broker API on the failed AZ, took time to detect the change.

[2021-03-11 11:53] mangelajo commented on #1180
Can we re-test by making the AZ failure on the non-broker cluster?

[2021-03-11 12:06] aswinsuryan commented on #1180
I tried it in the non-broker cluster and the changes got propagated almost immediately
`[asuryana@localhost openshift-aws]$  kubectl  --kubeconfig asuryana-cluster-a/auth/kubeconfig get endpoints.submariner.io -n submariner-k8s-broker
NAME                                               AGE
cluster-a-submariner-cable-cluster-a-10-0-51-51    103m
cluster-b-submariner-cable-cluster-b-10-0-179-49   8s

[2021-03-11 16:30] dfarrell07 commented on #1104
@skitt I'm being told we need to submit the video by 16/03. As a simpler alternative, I could just cut the Devconf welcome message from the start of your current video.

[2021-03-11 17:00] skitt commented on #1104
I’ve set aside time to take care of it tomorrow!

[2021-03-12 11:12] skitt commented on #1104
Here’s the video for RHS: https://sk2.org/rhs2021.mp4 (generic with Red Hat branding).

[2021-03-12 11:13] skitt commented on #1104
The audio is shifted, I’ll re-render it...

[2021-03-12 15:00] qiujian16 commented on #1180
That looks great, I think we need to test the impact to service access with gateway HA. Would you also points me to an gateway HA setup document links?

[2021-03-12 17:03] skitt commented on #1104
The final video is up! The URL is unchanged.

[2021-03-12 17:13] dfarrell07 commented on #1104
NIce, thanks @skitt! I'm checking and submitting everything now.

[2021-03-12 17:40] dfarrell07 commented on #1104
Okay I think everything they've asked for so far is submitted. :heavy_check_mark:

[2021-03-15 04:58] aswinsuryan commented on #1180
@qiujian16 How do you setup the AWS for deploying submariner? Do you use the cloud prepare script? If you mark more than one nodes as gateway capable the submariner will deploy the node as gateway capable. I could prepare a document based once I know how this done.

[2021-03-15 07:51] sridhargaddam commented on #1081
Thank you @letoams for looking into the issue. We are using whack to add and bring up the tunnels in the following manner.
@skitt added support for Libreswan in Submariner. @skitt /@mangelajo  in case I missed something, please let us know.

[code]

The /etc/ipsec.conf file contents

[code]

That would be very useful, thanks.

[2021-03-15 09:15] qiujian16 commented on #1180
yes, we use something similar as cloud prepare scripts, but a golang implementation https://github.com/open-cluster-management/submariner-addon/blob/main/pkg/cloud/aws/aws.go. So in this case, we just need to provision multiple nodes and label them all as gw node, is it correct?

[2021-03-15 10:17] aswinsuryan commented on #1180
yes that is right. You can start with two nodes I think.

[2021-03-15 10:25] mangelajo commented on #1180
And those nodes need to be on separate availability zones.

On Mon, Mar 15, 2021 at 11:18 AM Aswin Suryanarayanan <
***@***.***> wrote:

--
Miguel Ángel Ajo  @mangel_ajo <https://twitter.com/mangel_ajo>
OpenShift / Kubernetes / Multi-cluster Networking team.
ex OSP / Networking DFG, OVN Squad Engineering

[2021-03-15 16:08] tonyqui opened #1195 "Gatekeeper breaks an Openshift Cluster with Calico SDN"
Hello folks,
I'm opening this ticket to report an issue that happens when Submariner gets deployed on an Openshift Cluster that uses Calico as SDN.

![submariner (1)](https://user-images.githubusercontent.com/18661567/111180699-9294e500-85ad-11eb-9ce0-999cf3fb730d.png)

Behavior:
We spawn 2 PODs on 2 different nodes on each cluster (refer to picture).

Pod to pod communication works fine only when

[2021-03-16 08:19] sridhargaddam commented on #1195
Thanks for reporting the issue @tonyqui

I think there is a small typo in the description. If so, can you please edit and correct it?

Do you mean Pod2 S2?

Same

Did you deploy broker on **both** the clusters? Normally, the broker needs to be installed only on one of the clusters.

[2021-03-16 08:49] tonyqui commented on #1195
Hello @sridhargaddam,

Unfortunately this is not a typo.
Pod to Pod communication within the same cluster is totally broken and this is to be attributed to the fact that calico-node' container is not ready. In my opinion BGP route advertisement breaks up Calico SDN and this does not allow any intra-cluster communication.

1 - Create 2 openshift clusters with non-overlapping CIDRs
2 - Deploy the br

[2021-03-16 09:13] aswinsuryan commented on #1180
@mangelajo Since cloud prepare is not yet ready shall we modify the ocp-ipi-aws-prep prepare scripts to deploy gateway  HA for IPI deployments? If so, should be it the default option? and should it be configurable?

[2021-03-16 11:45] sridhargaddam commented on #1180
If we decide to proceed with updating prep_for_subm.sh (/ocp-ipi-aws-prep) script, IMHO its better to make it configurable and NOT default. Most of the time we use AWS Clusters for testing regular use-cases (and NOT HA scenarios). If we deploy an additional node (with public-IP) in a different AZ, as you know, it would increase the cost as well.

[2021-03-16 14:58] skitt opened #1198 "Export tunnel interface errors as metrics"
It would be useful to track errors, as shown by interface statistics under Linux.

[2021-03-18 01:05] mkimuram opened #1201 "Add e2e tests for external connectivity use case"
**What would you like to be added**: e2e tests for external connectivity use case.

**Why is this needed**: submariner already has ability to connect external application that is only connected to one cluster to pods in other cluster, by adding some extra configurations. To mark this configuration as supported, e2e tests will be needed.

[2021-03-20 02:35] tpantelis commented on #1031
Is this still an issue? The upgrade test is passing now.

[2021-03-22 14:43] skitt commented on #1031
We worked around this by waiting for the CR deletion to be complete before creating the new one; ideally we should be capable of handling simultaneous additions and removals of CRs.

[2021-03-23 13:58] sridhargaddam commented on #1095
Its still valid

[2021-03-24 06:46] aswinsuryan commented on #1180
Reopening to track the ACM part and documentation.

[2021-03-24 13:54] #1175 closed, assigned to mangelajo

[2021-03-24 13:55] #1176 closed, assigned to mangelajo

[2021-03-24 20:36] dfarrell07 commented on #1104
I think this is done.

[2021-03-24 20:36] #1104 closed

[2021-03-25 16:55] #1177 closed, assigned to mangelajo

[2021-03-26 15:32] tpantelis commented on #652
bump

[2021-03-26 19:50] sridhargaddam commented on #934
bump

[2021-03-28 23:16] tpantelis commented on #383
bump

[2021-03-29 16:42] tpantelis commented on #794
bump

[2021-03-30 06:42] #1178 closed, assigned to nobody

[2021-03-30 07:58] aswinsuryan commented on #1180
Tested with AZ failure on AWS with one cluster in on-prem and it works. Did not use any explicit port configuration for the on-prem.

It works vice-versa also when the gateway-label is removed from an on-prem cluster and failure is simulated.

In either case, there is a delay in the for the passive g/w to change it to connected. Like 7 minutes when checked the log once.

[2021-03-30 21:08] tpantelis commented on #636
bump

[2021-03-31 06:38] mangelajo commented on #300
This bug has been fixed via this: https://github.com/submariner-io/submariner/issues/1174

[2021-03-31 07:49] sridhargaddam opened #1226 "Ratelimit the logs from pinger when there is no connection"
**What happened**:
When there is some issue with tunnels, pinger (aka healthcheck) fails to ping a remote cluster.
Currently, it is seen that Gateway Pod logs are filled with Pinger logs and we lose other valuable logs.
We should rate-limit the pinger logs in such scenarios.

[code]

[2021-03-31 08:13] sridhargaddam opened #1227 "Healthcheck should reset the status message after successful connection"
**What happened**:
In a KIND Setup it was seen that even after the tunnels are successfully established, the `Status Message` in connections shows an error.

[code]

[2021-03-31 13:13] #1226 closed, assigned to aswinsuryan

[2021-04-01 17:09] colprog commented on #939
Any plan on IPVS support?

[2021-04-02 09:07] lemonit-eric-mao opened #1231 "calico/node is not ready: BIRD is not ready: BGP not established with"
|name|version|
|--|--|
|subctl|0.8.1|
|k8s|1.20.4|
|containerd|1.4.4|
|os|CentOS 7.9|

---

[code]

---

[code]

[code]

[code]

[code]

---
It's not clear if this problem is caused by the configuration error of submariner, but calico is easy to use before installing submariner

[2021-04-04 09:31] sridhargaddam commented on #939
IPVS is something we do want to support, but it might take some time before it's supported. The immediate plan for Globalnet is to make it more scalable as described in the following enhancement request - https://github.com/submariner-io/enhancements/pull/22

[2021-04-04 09:44] sridhargaddam commented on #1231
@lemonit-eric-mao thanks for trying out Submariner and reporting the issue. This needs some investigation to understand if its caused by Submariner or if there is some other issue. Basically, AFAICT we validated Submariner with Calico in `overlay` mode and it works if the following pre-requisites are handled - https://submariner.io/operations/deployment/calico/

I'm not sure if we validated Calico

[2021-04-04 09:49] sridhargaddam commented on #927
bump

[2021-04-04 14:19] lemonit-eric-mao commented on #1231
##### Latest test
[code]

---

---

---

##### View each information
[code]

####  `Not found in cluster 02`
[code]

---

---

---

@sridhargaddam
 I don’t know what the reason is, do I need to change the calico mode to IP in IP?
Looking forward to your answer

[2021-04-04 16:11] sridhargaddam commented on #1231
We can investigate why serviceImport is missing in cluster2 for that we would require the logs of Lighthouse pods.
But before we look at Lighthouse issue, it appears like we have to understand the issue with BGP/Bird.
As you can see from the pod `calico-node-spbgw` info, the corresponding node is unhealthy. The reason for this needs to be analyzed and fixed as it can affect intra cluster connectiv

[2021-04-05 02:50] lemonit-eric-mao commented on #1231
![image](https://user-images.githubusercontent.com/68628461/113531724-1b76cd80-95fc-11eb-8e8d-8ee3504d5f70.png)

---

|name|mode|
|--|--|
|calico|IPIP|
|kube-proxy|iptables|

---

### This can lead to  `kube-system   coredns-74ff55c5b-w8sb4                    0/1     ContainerCreating `
[code]

[code]

---

[code]
![image](https://user-images.githubusercontent.com/68628461/113532491-0a2ec080-95fe-

[2021-04-05 09:22] sridhargaddam commented on #1231
Yes, in the Calico IPPool yaml, disabled should be set to `true`.
**"When set to true, Calico IPAM will not assign addresses from this pool."**
https://docs.projectcalico.org/reference/resources/ippool

Also, it appears like the clusters were re-used and not deployed fresh. I'm not sure if the previous Calico BGP based CNI mode could create issues. If possible, re-create the clusters with Calico o

[2021-04-05 23:40] #1080 closed

[2021-04-05 23:42] tpantelis commented on #517
bump

[2021-04-06 01:55] lemonit-eric-mao commented on #1231
@sridhargaddam  Thank you for your answer.
##### Doing so will cause deployment of the submariner operator to fail
[code]
[code]

[2021-04-06 02:13] lemonit-eric-mao commented on #1231
@sridhargaddam
Do you have complete actual deployment steps?

Including the actual deployment mode of 'calico'

[2021-04-06 13:08] lemonit-eric-mao opened #1237 "The deployment is successful, but the applications between clusters cannot access each other"
###### The deployment is successful, but the applications between clusters cannot access each other
###### **[Official Website Document](https://submariner.io/operations/deployment/calico/ "Official Website Document")**

---

###### Preconditions
|Name|Version|
|--|--|
|subctl|0.8.1|
|k8s|1.20.4|
|containerd|1.4.4|
|os|CentOS 7.9|

---

|Name|Mode|
|--|--|
|calico|VXLAN|
|kube-proxy|iptables|

---

[2021-04-07 06:21] sridhargaddam commented on #1237
Thanks for reporting the issue and for the detailed logs @lemonit-eric-mao

I see that you validated CoreDNS ConfigMap to include lighthouse DNS in Cluster1. I hope it's looking good even in Cluster2 and Cluster3?

There are two aspects to look at
1. Why DNS resolution failed for `nginx.nginx-test.svc.clusterset.local` in spite of having a Service Import entry in the local cluster. For this, we wo

[2021-04-07 08:04] sridhargaddam opened #1238 "Pinger should be initialized only on the active gateway node"
**What happened**:
When multiple nodes are labelled as Gateway nodes, only one of the submariner-gateway pod will become ACTIVE and the other pods remain in PASSIVE state. We need the healthchecker/pinger code to be running only on the active submariner-gateway pod and not on the others.

It was seen that pinger is trying to verify the connectivity even on the PASSIVE submariner-gateway pods.
This

[2021-04-07 08:25] sridhargaddam opened #1239 "Logs from node_handler should to modified to use TRACE"
**What happened**:
In a K8s cluster, a node gets updated at regular intervals. While debugging one of the issues, it was seen that logs related to node_update events are close to 80% of total logs. It made sense to have it at DEBUG during the event registry development, but now that it's implemented, we can probably change it to TRACE.

[2021-04-07 09:01] aswinsuryan commented on #1237
@lemonit-eric-mao It seems like `nginx-test` namespace was not existing in cluster02 initially and was created just before running curl. Submariner expects the namespace of the service that is exported to be present in all the joined clusters. It is not created explicitly. The endpointslices that are created would be synced to the service namespace in all the joined clusters. Here that step would

[2021-04-07 16:21] tpantelis opened #1243 "Handle retries on install cable failure"
**What happened**:

With the new NAT discovery process, the pipeline from the Tunnel Controller -> Cable Engine -> Cable Driver to install a cable is now asynchronous. Previously a failure was reported back to the Tunnel Controller which scheduled a retry. That is currently no longer the case.

**What you expected to happen**:

Retries should still occur.

[2021-04-08 11:05] sridhargaddam opened #1244 "Stale endpoint causing issues setting up tunnels"
**What happened**:
Imagine two clusters (perf2 and perf8) connected via Submariner. Now if there is a gateway migration on Perf8, the updated endpoint is properly synced on Broker and on Perf2 cluster. However, Perf2 cluster also has the old endpoint associated with Perf8.

In such a situation when the gateway-pod on perf2 cluster is restarted (for some reason), it was seen that it initially proce

[2021-04-08 11:06] sridhargaddam commented on #1244
CC: @skitt @mangelajo

[2021-04-08 13:29] #1201 closed, assigned to mkimuram

[2021-04-08 16:49] #1238 closed, assigned to aswinsuryan

[2021-04-08 23:07] tpantelis commented on #1244
So when the **perf2** GW started, it first gets a **perf8** EP for _.147_:

`I0406 15:40:19.640342       1 tunnel.go:51] Tunnel controller processing added or updated submariner Endpoint object: &v1.Endpoint{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:v1.ObjectMeta{Name:"perf8-submariner-cable-perf8-10-70-56-147", `

Then right after that, it gets _.173_:

`I0406 15:40:19.782204

[2021-04-09 07:26] sridhargaddam commented on #1244
That's correct @tpantelis. The above log from where you made the observations is `--previous` log file for submariner-gateway pod on **Perf2**. I think the connection was successfully established with .172 at "15:41:42.024071" time. However, if we continue to analyze the same log file further, we can see that K8s API Server in the local cluster was down (at 19:41:44) for some reason and leadership

[2021-04-09 10:29] tpantelis commented on #1244
I suspect the same reason that caused the pod to lose the leader election and shut down - it lost connection to the broker API server and never got the delete notification.

I suppose we could inspect the creation time stamps and favor the latest. However the crux of the problem is that .173 should not exist. If a resource is deleted while the process is down or while it's lost connection to the s

[2021-04-09 12:03] aswinsuryan commented on #1180
The delay in 7 minutes is observed while connecting the clusters via subctl join too. The issue is related to libreswan reporting active connection when one cluster is on-prem. This log is seen in the active gateway pod of the AWS cluster

`I0409 09:15:33.753183       1 tunnel.go:63] Tunnel controller successfully installed Endpoint cable submariner-cable-asuryana-cluster-b-172-18-0-5 in the engin

[2021-04-09 12:44] tpantelis commented on #1244
So I verified the behavior when an informer reconnects to the server.  On reconnect, it re-lists the resources, re-establishes the watch and reconciles the cache with the current list received from the server. If a deletion event was missed during the disconnect period, it will detect that the cached resource is stale and issue a delete event with `DeletedFinalStateUnknown`.

[2021-04-09 13:13] #1243 closed, assigned to tpantelis

[2021-04-09 16:20] dfarrell07 opened #1252 "Move to fieldalignment linter from deprecated maligned linter"
**What would you like to be added**:

Move from the deprecated maligned linter to the new fieldalignment linter.

**Why is this needed**:

Upgrading to golangci-lint 1.39.0 in https://github.com/submariner-io/shipyard/pull/519:

[2021-04-10 12:38] tpantelis commented on #1244
@sridhargaddam Looking at the creation timestamps for EPs **.173**, **.147**, **.172**:

[code]

**.173** is far older (over a month ago in Mar).  So it's been stale for quite some time. Given that, the Per2 log prior to restart makes sense: **.147** was the current EP on Perf8 and was replaced by **.172** around _I0406 15:41:41_.  The add for **.173** was extraneous and it shouldn't have replaced

[2021-04-11 17:53] sridhargaddam commented on #1244
Yes, it makes sense @tpantelis. Thanks.

[2021-04-11 17:58] sridhargaddam commented on #1231
Looking at the [issue you filed](https://github.com/submariner-io/submariner/issues/1237), I assume that you were able to deploy with the proper configuration.
So the summary for this particular issue is: Calico with non-Overlay mode (BGP) seems to have some issues with Submariner an this needs investigation.

[2021-04-12 13:56] mangelajo opened #1253 "libreswan fails when non standard ports are used, and Private IPS are used between two endpoints."
**What happened**:

the clusters can't connect to each other and we can see on the submariner-gateway logs:

[code]

**What you expected to happen**:

Connection can be created.

**How to reproduce it (as minimally and precisely as possible)**:

kubectl label $gw1 gateway.submariner.io/udp-port=4511 --kubeconfig config-cluster-1
kubectl delete pod -l app=submariner-gateway -n submariner-operator

[2021-04-13 15:25] letoams commented on #1081
Note the TS_UNACCEPTABLE on multiple connections between the same peers is an issue that has been fixed and will be in libreswan 4.4 which should release shortly

[2021-04-13 18:23] cdbesten commented on #1081
What are the odds that a similar patch could be made for libreswan-3.25-9.1.el7_8.x86_64 ?

[2021-04-13 18:29] letoams commented on #1081
On Tue, 13 Apr 2021, cdbesten wrote:

Seems you would need to ask for a rhel7 z-stream release, but rhel7 is
supposed to only take security/critical fixes now? Note that 3.25 is
pretty old and might have other issues too. Please contact someone
within Red Hat ?

Paul

[2021-04-13 18:34] cdbesten commented on #1081
Good point. We might want to upgrade to el8 first. Thank you for you feedback!

[2021-04-13 21:00] chris93111 opened #1258 "deploy success but failure in test, no communication between pods"
Hi i try to connect two cluster k3s ( one in my home 192.168 and other in aws 10.210)

deployment is success , the subctl show connected gateway but pods can't connect to another

if i try ping pod in node gateway is work

node is connected with wireguard site 2 site

k3s version v1.19.9+k3s1 (bead080d)

Showing information for cluster "default":
Showing Network details
    No network details disc

[2021-04-14 09:56] sridhargaddam commented on #1081
Great. Thanks @letoams

CC: @SteveMattar @skitt @mangelajo @nyechiel @manosnoam

[2021-04-14 11:36] mangelajo opened #1262 "NAT discovery will incorrently say no-nat and PrivateIP once tunnels are established on the dataplane"
**What happened**:

Once there's a established tunnel between endpoints, any new attempt to nat-discover will result in discovery the PrivateIP as reachable, because we add such IP as part of the subnets to be routed since 2cb35578739f64de74f4395a4eb3c130c2df7aed.

[code]
note the **I0414 10:44:53.928128       1 remote_endpoint.go:166] updated to private IP "10.0.81.153" for endpoint "submariner-c

[2021-04-14 13:31] mangelajo commented on #1081
We would need this on RHEL 8.4 (libreswan 4.3) is it possible to backport?

On Wed, Apr 14, 2021 at 11:56 AM Sridhar Gaddam ***@***.***>
wrote:

--
Miguel Ángel Ajo  @mangel_ajo <https://twitter.com/mangel_ajo>
OpenShift / Kubernetes / Multi-cluster Networking team.
ex OSP / Networking DFG, OVN Squad Engineering

[2021-04-14 13:32] mangelajo commented on #1081
Btw, thank you very much for the update :-)

On Wed, Apr 14, 2021 at 3:30 PM Miguel Angel Ajo ***@***.***>
wrote:

--
Miguel Ángel Ajo  @mangel_ajo <https://twitter.com/mangel_ajo>
OpenShift / Kubernetes / Multi-cluster Networking team.
ex OSP / Networking DFG, OVN Squad Engineering

[2021-04-14 13:36] mangelajo opened #1264 "E2E testing of natdiscovery does not work with kind (some UDP issue of dropped responses)"
**What happened**:
nat discovery will timeout.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Submariner version (use `subctl version`):
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):

[2021-04-14 13:49] letoams commented on #1081
Please ask for this using the regular RHEL/Red Hat channels (eg request a z-stream)

[2021-04-14 13:57] mangelajo commented on #1081
On Wed, Apr 14, 2021 at 3:50 PM Paul Wouters ***@***.***>
wrote:

Makes sense Paul, thanks.  Do you have any example of z-stream request on
libreswan that I can look at?, I'm a bit rusty
with my downstream-fu .

Also I don't know what the original rhbz is for this specific issue.
(searching bugzilla now)

--
Miguel Ángel Ajo  @mangel_ajo <https://twitter.com/mangel_ajo>
OpenShift / Kubernetes / Mu

[2021-04-14 14:01] mangelajo commented on #1081
@letoams I'm looking at https://bugzilla.redhat.com/buglist.cgi?component=libreswan&list_id=11809253&product=Red%20Hat%20Enterprise%20Linux%208 but couldn't figure out if there is a bz related to this.

Also can't figure out which one is out of https://github.com/libreswan/libreswan/commits/main.

[2021-04-14 23:05] tpantelis commented on #798
bump

[2021-04-14 23:30] #1253 closed, assigned to mangelajo

[2021-04-14 23:30] #1262 closed, assigned to mangelajo

[2021-04-18 15:31] tpantelis commented on #1120
bump

[2021-04-18 22:06] #1097 closed

[2021-04-19 11:34] #1244 closed, assigned to tpantelis

[2021-04-20 10:34] pinikomarov opened #1274 "Gateway stuck in connecting and benchmark test fails"

[2021-04-20 10:37] pinikomarov commented on #1274
This was hit by deploying on a personal laptop with a kind env on F33:

[r@r20 submariner-operator]$ ./bin/subctl validate all
[...]
 ✗ Validating connections in cluster "cluster1"
 ✗ Connection to cluster "cluster2" is in progress
[..]
 ✗ Validating connections in cluster "cluster2"
 ✗ Connection to cluster "cluster1" is in progress

*all other checks were ok

[2021-04-20 10:38] pinikomarov commented on #1274
*here we can see libreswan gateway agent stuck in connecting state:

r@r20 submariner-operator]$ ./bin/subctl show all

Showing information for cluster "cluster1":
Showing Network details
    Discovered network details:
        Network plugin:  weave-net
        Service CIDRs:   [100.1.0.0/16]
        Cluster CIDRs:   [10.1.0.0/16]

Showing Endpoint details
CLUSTER ID                    ENDPOINT I

[2021-04-20 10:41] pinikomarov commented on #1274
attaching subctl gather logs :

[submariner-20210420093104.zip](https://github.com/submariner-io/submariner/files/6342830/submariner-20210420093104.zip)

[2021-04-21 11:45] sridhargaddam opened #1275 "Route-agent pod should ensure that vx-submariner interface is up"
**What happened**:
When route-agent pod creates vx-submariner interface (or discovers that interface already exists on the node), it should ensure that its UP.

In one of the OCP 4.6 Clusters, it was seen that vx-submariner interface was marked as DOWN and this will effect the cross-cluster connectivity. Rebooting route-agent did not fix the issue because the configuration was matching. Manually d

[2021-04-21 12:14] mangelajo opened #1276 "OVN support doesn't work for ocp 4.8.0-0.nightly-2021-04-20-231007"
Depends on #1282
**What happened**:

route-agent on the gateway nodes fails to start:

[code]

**What you expected to happen**:

route-agent should work, connectivity should work.

**How to reproduce it (as minimally and precisely as possible)**:

Install submariner on top of OCP 4.8

**Anything else we need to know?**:

The local_node_switch is not created in OCP4.8, this is where the ovn-k8s-gw0

[2021-04-21 13:44] aswinsuryan opened #1277 "e2e fails after GW failover when global net is enabled"
**What happened**:
e2e fails after GW failover when global net is enabled
Summarizing 2 Failures:

[Fail] [dataplane-globalnet] Basic TCP connectivity tests across overlapping clusters without discovery when a pod connects via TCP to the globalIP of a remote service when the pod is on a gateway and the remote service is not on a gateway [It] should have sent the expected data from the pod to the o

[2021-04-21 15:18] mangelajo opened #1278 "need-fragmentation ICMPs are not propagated back to pods in OVN"
**What happened**:

A bug in core-ovn avoids ICMPs being propagated back from the the gateway nodes
to the pods.

for example:
[code]

is not propagated back into the geneve tunnel down to the pod ^.

Previously this workaround was effective in avoiding such issue, but in later ovn-kubernetes or core-ovn implementations the ovn bug is triggering again.

https://github.com/submariner-io/submariner/

[2021-04-21 15:21] mangelajo opened #1279 "ovn: the load balancers (ClusterIP) don't forward need-frag ICMPs down to pods."
This was work-arounded in https://github.com/submariner-io/submariner/issues/1022, and the
workaround is still working, but it's performance sensitive, and does not work with UDP.

Items:
* [ ] Handle this with the ovn/ovn-kubernetes teams
* [ ] Remove the workaround

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything

[2021-04-22 07:49] nyechiel commented on #1274
Hi @pinikomarov - thanks for reporting this. When you open a bug, can you please follow the Bug Report template? The issue lack information on what version of Submariner/`subctl` is used here, and what commands you issued exactly. The latter part is not available in any of the logs.

From the logs it looks like the IPsec tunnel is not coming up. The `subctl validate` output is accurate, and I woul

[2021-04-22 07:59] nyechiel commented on #1258
Hi @chris93111 - thanks for trying Submariner and reporting this!

When you open a bug, can you please follow the Bug Report template? The issue lacks information on what environments you are using, what commands you issued exactly, and any logs that can assist us to figure our what's going on.

[2021-04-22 08:33] mkolesnik opened #1280 "REQUEST: New committer rights request for mkolesnik"
### GitHub Username
mkolesnik

### Code you are requesting Committer rights for
submariner-website/Makefile
submariner-website/scripts/*
submariner-website/src/content/development/*

### Requirements
- [x] I have reviewed the contributor roles guidelines (https://submariner.io/community/contributor-roles/)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I

[2021-04-22 08:35] mangelajo commented on #1280
@tpantelis @skitt can you sponsor mike for those parts ^ :-)

[2021-04-22 11:10] Jaanki opened #1281 "Gateway pod crashes in KIND with wireguard setup"
**What happened**:
Gateway pod is in CrashLoopBackOff status

**What you expected to happen**:
Gateway pod to be running successfully running

**How to reproduce it (as minimally and precisely as possible)**:
Deploy KIND with wireguard as a cable driver
[code]

**Environment**:
- Submariner version (use `subctl version`): 0.9-rc0

subctl gather --modules=connectivity --type=logs returns the attach

[2021-04-22 12:18] asanderson commented on #1152
This issue is still valid.

[2021-04-22 12:19] asanderson commented on #1151
This issue is still valid.

[2021-04-22 12:19] asanderson commented on #1153
This issue is still valid.

[2021-04-22 12:31] mangelajo commented on #1281
@Jaanki did you have the wireguard modules enabled in your system?, this is working on CI, but we install & load the wireguard modules.

[2021-04-22 15:32] mangelajo commented on #1276
Ok, so when ovn is not in shared gateway mode ovn-k8s-gw0 and the node_local_switch don't exist.

I have tested by creating those resources manually on the nodes, and it's back to working, to avoid collisions and issues with the different implementations the proposed solution would be to use an independent switch & localnet switch on the nodes, in a way that we become much more independent of the

[2021-04-22 15:51] mangelajo opened #1282 "Install and support ovs-vsctl in the route-agent pods/images"
**What would you like to be added**:

To fix https://github.com/submariner-io/submariner/issues/1276 we will need ovs-vsctl in all the route agents.

That means
1) Installing ovs-vsctl on the route-agent images
2) On the route agent pods, mapping the following volumes:

[code]

[code]

**Why is this needed**:
  We need to create some openvswitch resources on the nodes.

Example yaml attached
[ra-o

[2021-04-23 09:20] #1282 closed, assigned to aswinsuryan

[2021-04-24 21:15] #1114 closed

[2021-04-25 11:26] pinikomarov commented on #1274
Thanks @nyechiel
For some reason submariner versions is not working for me :

[r@r20 submariner-operator]$ sudo ./bin/subctl show versions
[sudo] password for r:
Error obtaining the Submariner resource: Get "http://localhost:8080/apis/submariner.io/v1alpha1/namespaces/submariner-operator/submariners/submariner": dial tcp [::1]:8080: connect: connection refused

subctl version: devel-10be09e-dev

S

[2021-04-25 11:44] tpantelis commented on #1118
bump

[2021-04-25 12:56] nyechiel commented on #778
@mangelajo do you see a reason to keep this Epic open? At this point, we can probably track the remaining gaps individually IMHO.

[2021-04-25 21:39] pinikomarov commented on #1274
I think we can close this , since this does not reproduce on a dedicated BM env :
on seal15.qa.lab.tlv.redhat.com this all works ok, so i'm closing this issue.

test details below :

#versions :
[root@f0e4c3a5820a submariner-operator]# subctl  version
subctl version: devel-98d505e
[root@f0e4c3a5820a submariner-operator]# git show
commit 98d505e10f05f1b7c5121ac5eee2e42849f88e70 (HEAD -> devel, tag:

[2021-04-25 21:39] #1274 closed, assigned to nobody

[2021-04-26 11:57] skitt commented on #801
This is still relevant.

[2021-04-26 13:11] dfarrell07 commented on #1277
FYI, I suspect this is the reason we're seeing pretty frequent (>50%) GN failures in the Flake Finder here but not in other repos. Here (the main repo) is the only place we run these failover tests, as I understand it.

https://github.com/submariner-io/submariner/runs/2434102253?check_suite_focus=true

[2021-04-26 13:39] #1281 closed, assigned to nobody

[2021-04-26 18:28] #1280 closed, assigned to nobody

[2021-04-27 10:37] sridhargaddam commented on #1277
@aswinsuryan the following PR in Shipyard hopefully will fix this issue - https://github.com/submariner-io/shipyard/pull/530

[2021-04-27 11:26] aswinsuryan commented on #1277
Thanks, I will test this again after the patch is merged.

[2021-04-27 12:12] #1276 closed, assigned to mangelajo

[2021-04-28 09:22] mkolesnik opened #1289 "Run full E2E matrix only when "ready-for-testing""
**What would you like to be added**:
E2E test jobs take a long time to complete while the CI has a limited capacity to run concurrent jobs (currently 20 jobs across the entire *@submariner-io* organization.

As such, it would be better to run a default `make e2e` smoke test on each PR sync, and the full test matrix that we have today only when a "ready-for-testing" label is added to the PR.

In or

[2021-04-28 12:10] aswinsuryan opened #1290 "Gateway pod crashes when healthcheck is disabled."
**What happened**:
Gateway pod crashes when healthcheck is disabled.**What you expected to happen**:

[majopela@bluehat submariner]$ k logs submariner-gateway-jkknh
+ trap 'exit 1' SIGTERM SIGINT
+ export CHARON_PID_FILE=/var/run/charon.pid
+ CHARON_PID_FILE=/var/run/charon.pid
+ rm -f /var/run/charon.pid
+ SUBMARINER_VERBOSITY=2
+ '[' false == true ']'
+ DEBUG=-v=2
+ sysctl -w net.ipv4.conf.all.s

[2021-04-28 13:04] mangelajo commented on #1278
I have attempted forcing the return of icmp packets related to known connections into the ovn-k8s-sub0 interface, with no luck.

[code]
One possibility could be creating an ICMP reflector in the submariner-gateway go that sees the ICMP and pushes it to the right interface, still... we need to figure out what's happening when a pod is not on the gateway and the icmp is encapsulated via geneve

[2021-04-28 13:50] mkolesnik opened #1293 "Extract broker syncer to it's own service"
**What would you like to be added**:
We need a service dedicated to syncing the broker information from the local cluster to the broker, and the broker info to the local cluster.

**Why is this needed**:
We have seen on scale testing that having the broker syncer inside the gateway causes issues to connectivity when there's a high enough scale.

Additionally, multiple projects (Submariner, Lightho

[2021-04-28 14:46] #1290 closed, assigned to aswinsuryan

[2021-04-28 15:58] mangelajo commented on #1278
Moving this to 0.10 to keep track, since https://github.com/submariner-io/submariner/pull/1294 only proposes a workaround.

[2021-04-29 10:32] mangelajo opened #1295 "E2E gateway check fails if healthchecks are disabled"
**What happened**:
When installing with healthcheck disabled on the gateways E2E times out waiting for the gateways to report Latency.

**What you expected to happen**:

E2E discovers that we are not using health checks, and doesn't wait on that.

**How to reproduce it (as minimally and precisely as possible)**:
subctl join broker_info.subm **--health-check=false**

then run verify.

**Anything el

[2021-04-29 16:53] dfarrell07 opened #1297 "CNCF Sandbox Onboarding"
[Submariner's CNCF Sandbox application](https://docs.google.com/document/d/173OMp7GgDkK6trUqL1FPNkwRVDD1dTe9Z3-XmIoJhiI) was [accepted by the CNCF TOC](https://www.youtube.com/watch?v=2u9weuhEh4c)! :partying_face: We now need to complete the Sandbox onboarding process.

We need to show our results on the TOC's Issue (https://github.com/cncf/sandbox/issues/244). I've copied the chunks that need act

[2021-04-29 17:03] dfarrell07 commented on #1297
/me wonders if this should be an epic :thinking: It tracks many things like an epic, but it's due in less than one sprint.

[2021-04-29 19:04] dfarrell07 commented on #1102
The main thing still remaining for this epic is moving the version of K8s we build against from 1.17 to 1.20. We can then make the final tweaks to GHA configurations for best coverage with minimal load.

[2021-04-30 05:13] nyechiel commented on #1102
Thanks @dfarrell07. I suggest to track that separately and close this epic at this point.

[2021-04-30 07:10] skitt commented on #801
I’m looking into Snyk for this (see also https://twitter.com/snyksec/status/1387089315465998343).

[2021-04-30 12:59] skitt opened #1298 "Upgrade to Kubernetes 1.19 for metav1.Condition"
When possible, we should bump our required Kubernetes version to 1.19 and adjust the client libraries to suit. In particular, this would give us `metav1.Condition` (which will also require bumping the MCS API dependency).

[2021-04-30 13:01] skitt commented on #1298
Kubernetes 1.19 is used in OpenShift 4.6.

[2021-04-30 13:31] skitt commented on #1102
I just opened https://github.com/submariner-io/submariner/issues/1298 for different reasons but it is related to this effort (and 1.20 is probably too new for us...).

[2021-04-30 13:50] skitt commented on #801
So Snyk isn’t great; it looks at *all* transitive dependencies, including those which we don’t use (basically, it uses `go mod graph` when what we really care about is `go list -deps -test`). https://app.fossa.io/reports/dce31219-52a8-4d88-903d-3885f427bba6 suggests that FOSSA might be better, I’ll look into that next.

However, I think it would be good to make this part of our PR checks, so that

[2021-04-30 13:52] skitt commented on #801
https://app.snyk.io/org/skitt/project/88cc8844-35fa-4fdc-8e74-61bfa8231dd7 is a report on Submariner’s `go.mod`. It highlights some relevant issues (or rather, CVEs in dependencies we really do use, although the security issues themselves don’t affect us — I’ll fix those), but most of the report lists dependencies which we don’t actually use (etcd, `miekg/dns`, Docker...).

[2021-04-30 13:53] skitt commented on #801
I’m also filing issues or submitting PRs for our dependencies as appropriate, _e.g._ https://github.com/onsi/gomega/pull/441 and https://github.com/kubernetes-sigs/mcs-api/pull/6.

[2021-04-30 14:05] skitt commented on #801
FOSSA sign-up is failing for me currently.

[2021-04-30 15:23] dfarrell07 commented on #1102
Okay, makes sense. Moving to 1.19 is tracked by @skitt's https://github.com/submariner-io/submariner/issues/1298 and we'll likely always be tweaking GHA matrixes for the needs of the moment.

[2021-04-30 15:23] #1102 closed

[2021-05-01 21:15] tpantelis commented on #1150
bump

[2021-05-01 21:15] tpantelis commented on #674
bump

[2021-05-01 21:16] tpantelis commented on #1115
bump

[2021-05-02 17:22] nyechiel commented on #652
@sridhargaddam if it makes sense, let's turn this one into an epic. I'll let you link and organize the different work items in here. Thanks!

[2021-05-02 18:17] #873 closed

[2021-05-02 18:17] #1174 closed, assigned to mangelajo

[2021-05-02 18:17] #1180 closed, assigned to aswinsuryan

[2021-05-02 18:20] nyechiel commented on #873
I reported https://github.com/submariner-io/submariner-website/issues/503 and https://github.com/submariner-io/cloud-prepare/issues/17 to track the remaining items.

[2021-05-03 00:23] tpantelis commented on #1149
bump

[2021-05-03 00:23] tpantelis commented on #1167
bump

[2021-05-03 00:24] tpantelis commented on #732
bump

[2021-05-03 00:24] tpantelis commented on #1166
bump

[2021-05-03 00:25] tpantelis commented on #1163
bump

[2021-05-03 00:25] tpantelis commented on #1165
bump

[2021-05-03 00:25] tpantelis commented on #1164
bump

[2021-05-03 00:25] tpantelis commented on #1157
bump

[2021-05-03 00:26] tpantelis commented on #1119
bump

[2021-05-03 00:26] tpantelis commented on #907
bump

[2021-05-03 00:26] tpantelis commented on #1071
bump

[2021-05-03 00:26] tpantelis commented on #1101
bump

[2021-05-03 00:26] tpantelis commented on #1100
bump

[2021-05-03 00:27] tpantelis commented on #1148
bump

[2021-05-03 00:27] tpantelis commented on #861
bump

[2021-05-03 00:27] tpantelis commented on #925
bump

[2021-05-03 00:27] tpantelis commented on #533
bump

[2021-05-03 19:05] dfarrell07 commented on #1252
This is also reported as a warning in Go linting:

[2021-05-03 19:17] dfarrell07 opened #1305 "Remove deprecated interfacer linter"
**What happened**:

The golangci-lint linter `interfacer` has been deprecated.

(from any of our Go linting CI)

**What you expected to happen**:

There is no recommended alternative.

https://github.com/mvdan/interfacer

When @skitt first enabled the linter, it did flag code that we changed.

https://github.com/submariner-io/submariner/pull/701/files

Should we remove it? I tend to think yes, as

[2021-05-03 23:06] tpantelis commented on #326
bump

[2021-05-04 12:53] nyechiel commented on #533
EP: https://github.com/submariner-io/enhancements/pull/4

[2021-05-04 18:13] dfarrell07 commented on #1105
Much to my suprise, I actually have permissions to do this (GH Org Member is enough apparently).

[2021-05-04 18:18] dfarrell07 commented on #1105
It's weird that these old branches even exist. I guess they are bugs from automation? For example, the [branch](https://github.com/submariner-io/submariner/tree/z_pr852/tpantelis/tunnel_controller_workqueue) generated by the bot for https://github.com/submariner-io/submariner/pull/852 is still lingering, although the PR was merged long-ago.

[2021-05-05 12:46] mangelajo opened #1310 "Verify if ipsec-preferred server will work with a network LoadBalancer on AWS"
**What would you like to be added**:

Rebase this patch: https://github.com/submariner-io/submariner/pull/1146

And test with the preferred-server mode for IPSEC.

**Why is this needed**:

This would allow us to save a dedicated worker node just for submariner in the case of openshift deployments.

[2021-05-05 12:51] sridhargaddam commented on #1157
@tpantelis do you want to take a look at this? Thank you

[2021-05-05 14:32] skitt commented on #1252
The switch itself is implemented in #1306, however it shows that `fieldalignment` flags more issues than `maligned`: it checks struct size, and “pointer size”, _i.e._ how much of the struct needs to be scanned for GC. This is really a minor optimisation (see https://github.com/golang/go/issues/44877 for details) but it can’t be disabled.

Further, golangci-lint can use `maligned`’s suggestions, at

[2021-05-05 15:38] dfarrell07 commented on #1252
Okay, thanks for digging in and summarizing so clearly @skitt.

Can we add [golangci-lint ignores](https://github.com/submariner-io/submariner/blob/devel/.golangci.yml#L57) for this linter matching text "pointer size" (or similar) to turn `fieldalignment` more into a drop-in replacement for `maligned`?

I don't see either `fieldalignment` or `maligned` mentioned in the supported linters there, but

[2021-05-05 15:58] dfarrell07 opened #1311 "Create 18 SubM logos versions for cncf/artwork"
**What would you like to be added**:

Send 18 versions of our log to the cncf/artwork project.

For example:

https://github.com/cncf/artwork/blob/master/examples/sandbox.md

**Why is this needed**:

CNCF Sandbox onboarding process (https://github.com/submariner-io/submariner/issues/1297).

[2021-05-05 15:58] skitt commented on #1252
Ah yes, I’d forgotten we could do that! I’ve added the relevant configuration in the updated PR. If it passes everything here I’ll mark it as ready for review.

[2021-05-05 23:20] rakeshJn opened #1312 "Submariner over private network"
**What happened**: Deployed submariner where the clusters' worker nodes do not have a public IP address but have connectivity over VPN. Deployed with --natt=false. The connectivity between clusters at pod/service level remains unavailable.

**What you expected to happen**: Successful connectivity between clusters at pod and service level.

**How to reproduce it (as minimally and precisely as possi

[2021-05-06 01:51] tpantelis commented on #1157
I updated #1172.

[2021-05-06 03:29] tpantelis commented on #675
bump

[2021-05-06 04:05] aswinsuryan opened #1313 "Write an enhancement proposal for un-encrypted vxlan tunnels"
**What would you like to be added**:
Write an enhancement proposal for un-encrypted vxlan tunnels

**Why is this needed**:

This is to discuss the design details of vxlan tunnel.

[2021-05-06 12:25] mangelajo opened #1317 "If ipify.org is down, submariner-gateway is unable to start"
**What happened**:

We use `ipify.org` API to discover the gateway public IP, but if this service is not responding the submariner-gateway will not start.

**What you expected to happen**:

I would expect additional services resolving the external IP if this one fails,
if all fail, use a fallback to the last known PublicIP

**Anything else we need to know?**:

We could provide 'publicip.submariner

[2021-05-06 12:38] mangelajo opened #1318 "If the gateway public IP changes the gateway doesn't detect & update the Endpoint"
**What happened**:

1) submariner-gateway starts, detects public IP and publishes the Endpoint to the broker
2) Other gateways inter-connect to this new endpoint, everything is fine
3) The public IP for this gateway changes
4) Submariner-gateway doesn't detect the change and other clusters can't connect to this gateway anymore.

**What you expected to happen**:

I would expect that:
1) the gateway

[2021-05-06 12:38] mangelajo opened #1745 "If the gateway public IP changes the gateway doesn't detect & update the Endpoint"
**What happened**:

1) submariner-gateway starts, detects public IP and publishes the Endpoint to the broker
2) Other gateways inter-connect to this new endpoint, everything is fine
3) The public IP for this gateway changes
4) Submariner-gateway doesn't detect the change and other clusters can't connect to this gateway anymore.

**What you expected to happen**:

I would expect that:
1) the gateway

[2021-05-06 12:46] #1252 closed, assigned to skitt

[2021-05-06 15:49] aswinsuryan opened #1319 "VXLAN support in cloud prepare"
**What would you like to be added**:
VXLAN support in cloud prepare

**Why is this needed**:
The required changes needs to be done in cloudprepare scripts when vxlan tunnel is added.

[2021-05-07 13:50] mangelajo commented on #1312
Hmm @rakeshJn based on the current information I'd like to ask you if it's possible to run
`subctl diagnose firewall tunnel` between both clusters.

I suspect that may be port 4500 is filtered in your peering somehow?, or that some sort of connectivity issue happens between the clusters.

[2021-05-07 14:02] sridhargaddam commented on #1312
Hello @rakeshJn, thanks for reporting the issue. We are not able to find some logs in the subm-logs.zip file that you shared.
Can you please confirm if you shared the entire log directory?

If yes, please run the `subctl gather` once again and also include the output of `subctl gather`. It will help us to know if anything went wrong while collecting the logs.

[2021-05-07 14:13] mangelajo commented on #1312
@rakeshJn can you try using the following option while joining both clusters (along with --natt=false ) ?

[code]

I suspect that your VPC peering could be filtering the ESP encapsulation used by default when no NAT is detected (it's more performant than UDP encapsulation).

[2021-05-07 18:05] rakeshJn commented on #1312
Hi @sridhargaddam there were issues while gathering logs, please see below:

[code]
... and so on.
So I had to create subdirectories myself:
% mkdir subm-logs
% mkdir subm-logs/rak4
% mkdir subm-logs/rak5

..and then I used:

[code]
The files were not zipped, so I used (gzip -r subm-logs), just realized I used -r so it zipped individually each file.

[2021-05-08 00:02] rakeshJn commented on #1312
@mangelajo I tried in two new clusters now, with --natt=false and --force-udp-encaps. Things look better from deployment perspective in the sense that the 'subctl show all' shows the clusters as connected.
However, I am not able to ping/curl any pod/service on the other cluster.
Diagnosing provides:
[code]
And diagnose firewall tunnel never worked for me:
[code]

Attaching logs also.
[subm78-logs.

[2021-05-08 02:48] tpantelis commented on #1312
For the gather command, we create file names that include the cluster name. Your cluster name is "_rak5/c28r7ot20s0mbcas9940_" so the '/' results in the file errors. We never thought a cluster name would contain a '/' 😄

[2021-05-08 18:01] sridhargaddam commented on #1312
Right, @tpantelis. I reported an separate issue to address this problem - https://github.com/submariner-io/submariner-operator/issues/1348

[2021-05-08 18:27] sridhargaddam commented on #1312
Thank you @rakeshJn for trying out --force-udp-encaps option. It looks like ESP traffic was blocked and hence the tunnels were not configured earlier. When we force the tunnels to use UDP, the IPsec tunnels seem to be established successfully. However, since you pointed out that datapath is not working, there might be some other issue which needs additional debugging.

Regarding the error you repo

[2021-05-08 18:56] sridhargaddam commented on #1312
@rakeshJn, from the output of `subctl diagnose all`, I see that you properly programmed the required Calico IPPools in the cluster.

[code]

Can you please run `subctl verify --only connectivity --verbose ...` and share the output. The command runs various e2e tests between the clusters and reports the status.

Also, are you using OpenShift with Calico as backend CNI?

[2021-05-09 05:47] rakeshJn commented on #1312
Hi @sridhargaddam
Here's the output of the verify command (attached).
I am not using OCP, it is plain K8s with Calico.
[sub_verify.log](https://github.com/submariner-io/submariner/files/6446990/sub_verify.log)

[2021-05-09 23:14] #1179 closed, assigned to mangelajo

[2021-05-10 04:19] aswinsuryan commented on #1319
No changes will be required in this repo as the parameters are already abstracted.

[2021-05-10 04:19] #1319 closed, assigned to nobody

[2021-05-10 06:37] mangelajo commented on #1179
This work was handled as

`kubectl label node $node gateway.submariner.io/udp-port=xxxxx`

[2021-05-10 07:56] sridhargaddam commented on #1312
Thank you @rakeshJn. All the datapath connectivity tests failed. I see that when the connectorPod and listenerPod/Service is on the Gateway node, the connection seems to be successful, but data could not be transferred due to (most likely) MTU issues.

[code]

Recently someone from the community has also reported an issue with Calico CNI. We are yet to take a close look why datapath is not working

[2021-05-10 23:28] #1157 closed, assigned to tpantelis

[2021-05-11 12:34] aswinsuryan opened #1321 "Alternatives for class E range ips VXLAN"
**What would you like to be added**:
The  class E range ips VXLAN. This could be risky in some setups where the IP is already used. An alternative is use to IPv6 address.

**Why is this needed**:
https://github.com/submariner-io/enhancements/pull/29#discussion_r629103168

[2021-05-11 13:44] dfarrell07 commented on #801
We talked about this on the automation sync today and will focus on https://github.com/mitchellh/golicense

[2021-05-11 19:15] dfarrell07 opened #1322 "Change Copyright Notices to CNCF-recommended format"
**What would you like to be added**:

Follow the CNCF's Copyright Notices recommendations. Namly, change all notices that mention specific companies to one of:

[code]

My inclination is "Contributors to the Submariner project", but I'm open to any of the options.

https://github.com/cncf/foundation/blob/master/copyright-notices.md#copyright-notices

**Why is this needed**:

As part of the CNCF Sa

[2021-05-11 19:55] tpantelis commented on #1322
👍

[2021-05-12 13:15] mkolesnik commented on #1317
Theres a few of these services - https://stackoverflow.com/questions/3097589/getting-my-public-ip-via-api

[2021-05-12 13:19] mangelajo commented on #1317
A list of fallback resolvers should be good.

[2021-05-12 16:55] skitt commented on #1317
In addition to this, `go-ipify`’s license isn’t approved by the CNCF; see #1326 for details.

[2021-05-12 17:54] dfarrell07 commented on #1322
I think we should also be more strict in the linting to require this copyright notice exactly, not accept any other.

[2021-05-12 18:06] skitt commented on #1322
And while we’re at it, add SPDX headers.

[2021-05-13 23:17] dfarrell07 commented on #1317
There's some related user feedback/question on Slack: https://kubernetes.slack.com/archives/C010RJV694M/p1620934901178400

[2021-05-14 14:36] tpantelis opened #1331 "Use the event handler in the Globalnet GatewayMonitor"
**What would you like to be added**:

The Globalnet GatewayMonitor has overlap with the event handler Controller so we should use the latter for the gateway transition logic.

**Why is this needed**:

Code reuse.

[2021-05-14 14:59] asanderson commented on #1317
So, the implication is that currently ipify.com connectivity is another Submariner pre-requisite, no?

[2021-05-14 15:44] Jaanki commented on #1148
Add a temporary GH workflow (e2e-vxlan.yml) in Submariner to test vxlan only on PRs with `vxlan` label https://github.com/submariner-io/submariner/pull/1330

[2021-05-14 15:45] Jaanki commented on #1148
Add vxlan option to shipyard Makefile.inc https://github.com/submariner-io/shipyard/pull/553

[2021-05-14 19:15] dfarrell07 commented on #798
Can I put you forward as our security champion, @skitt?

This requires understanding the following design principles, including the 8 principles from Saltzer and Schroeder:
economy of mechanism (keep the design as simple and small as practical, e.g., by adopting sweeping simplifications)
fail-safe defaults (access decisions should deny by default, and projects' installation should be secure by def

[2021-05-15 03:45] Jaanki opened #1332 "Epic: enhancements to Globalnet Implementation, aka Globalnet v2"

[2021-05-15 03:49] #1332 closed, assigned to vthapar, sridhargaddam, tpantelis

[2021-05-15 18:17] jawabuu commented on #1071
@mangelajo @nyechiel  A special case to consider.
For on-prem, k3s or other distros where cloud-provider configured LoadBalancers are unavailable, some popular options are
1. [MetalLB](https://github.com/metallb/metallb) - uses routing
2. [KlipperHelm](https://github.com/k3s-io/klipper-lb)  - opens a host port on every node

to mimic the loadbalancer functionality.

[2021-05-15 20:14] raffaelespazzoli commented on #1071
Also keepalived-operator can be counted in the category of load balancer
enabler.

On Sat, May 15, 2021, 2:17 PM jawabuu ***@***.***> wrote:

[2021-05-16 04:45] jawabuu commented on #1071
@raffaelespazzoli Interesting project.
Can keepalived-operator be used with cloud providers in cases where I do not want to the cloud configured load-balancer?

[2021-05-16 10:09] raffaelespazzoli commented on #1071
No because there is no way to disable the cloud provider behavior. Also
many cloud providers don't let you create control the network and create
ips.

On Sun, May 16, 2021, 12:46 AM jawabuu ***@***.***> wrote:

[2021-05-16 10:20] jawabuu commented on #1071
@raffaelespazzoli
1. Most cloud-providers have a floating ip resource that can be moved across nodes via API.
2. A use case would be installing kubernetes using  k3s or any other distros on cloud instances.

[2021-05-16 10:57] #1275 closed, assigned to sridhargaddam

[2021-05-16 13:57] raffaelespazzoli commented on #1071
@jawabuu I don't understand where you are going with this reasoning. On major cloud providers (AWS, Azure, Google) the LoadBalancer Service API feature is provided directly by Kubernetes + cloud provider. The issue might exist on those Kubernetes deployment where there is no cloud provider or the provider does not implement the LoadBalancer Service API. In those instances the mentioned operators:

[2021-05-16 14:08] jawabuu commented on #1071
@raffaelespazzoli I do understand this. I'm aware that this is off track to the issue but it's my first encounter with keepalived-operator and was just exploring possibilities. : )
I'm actually focusing on cloud providers that do not configure cloud-loadbalancers/lack managed kubernetes services.
I will probably raise the query in that repo.
Could I reach you on slack?

[2021-05-16 15:32] raffaelespazzoli commented on #1071
you can contact me, sure.

On Sun, May 16, 2021 at 10:08 AM jawabuu ***@***.***> wrote:

--
ciao/bye
Raffaele

[2021-05-17 07:58] mangelajo opened #1336 "GW->Worker traffic is filtered by clouds sometimes (AKS & CIVO so far)"
**What happened**:

In some cloud hosted k8s networks the traffic from remote clusters is filtered on it's way to worker nodes when there is no encapsulation packet between nodes (IP packets directly on wire) the clouds seem to filter based on the SRC of the IP packet and drop it before it arrives the worker node.

Sometimes, like the case of AKS or CIVO cloud, there is no way of tunning such fire

[2021-05-17 07:58] skitt commented on #1322
#1335 shows that we can’t use `.legal.json` to enforce this, we’d have to add something else (or use two enforcements with different configurations, one to check that the license statement is present _everywhere_, the other to check that the copyright statement is the one we expect on all non-generated files).

[2021-05-17 08:23] jawabuu commented on #1336
I was hit with these issue and was able to confirm with multiple configurations.
1. Set up 2 clusters on civo, one in LON1 and another in NYC1 region.
2. Deploy submariner
[code]
3. Verify tunnel connectivity
[code]

4. Deploy and export a service on `eu-lon`
[code]
5. Verify DNS

[code]
6. Connect to service (**Error**)
[code]

[2021-05-17 09:30] vthapar opened #1337 "Create GlobalIngressIP CRDs and associated objects"
To support https://github.com/submariner-io/enhancements/pull/22/files we need a new `GlobalIngressIP` to allocate IngressIP for pods and services. This issue will track the required CRD changes including creation of clientset, informers and listers

[2021-05-17 11:59] mangelajo commented on #1336
A solution which would avoid this in AKS & CIVO clouds, would be using also vx-submariner to encapsulate the GW->worker traffic also in vx-submariner for any traffic that belongs to remote routes, a POC was performed manually with:

[code]

[code]

please note that in this case 10.254.0.0/19 is a globalnet range.

Also, from the bridge fdb tables, we had to remove the self-host on the gateway to a

[2021-05-17 13:45] dfarrell07 commented on #798
https://bestpractices.coreinfrastructure.org/en/projects?q=submariner

[2021-05-17 14:28] #375 closed

[2021-05-18 11:42] mangelajo commented on #1071
From the point of view of submariner, anything that will obey the LoadBalancer API, create a public IP and redirect UDP traffic to the submariner-gateway port it may work.

[2021-05-18 12:10] jawabuu commented on #1071
@mangelajo This is sufficient.

[2021-05-18 17:55] amye commented on #1297
Yesss! It is kindof an epic but it'll go quick.

[2021-05-18 18:27] dfarrell07 commented on #798
We're at 93%. I thought there was a way to allow other people to edit our answers, but I don't see it now that I'm trying to add folks.

https://bestpractices.coreinfrastructure.org/en/projects/4865

[2021-05-18 19:34] dfarrell07 commented on #798
Regarding sharing editing permissions, I see:

https://bestpractices.coreinfrastructure.org/en/projects/new

Digging through their GitHub, I also see:

https://github.com/coreinfrastructure/best-practices-badge/pull/1419

I think that means you should be able to edit the badge information, @skitt?

[2021-05-19 08:55] skitt commented on #798
I’ve logged in with my GitHub account but I can’t edit anything :-(.

[2021-05-19 08:56] skitt commented on #798
I wonder if that’s because the repository entry on the badge points to the organisation on GH, not a specific repository.

[2021-05-19 08:59] skitt commented on #798
I see we also meet a number of [silver level criteria](https://bestpractices.coreinfrastructure.org/en/projects/4865?criteria_level=1)...

[2021-05-19 13:38] dfarrell07 commented on #798
Yep, that was it, thanks @skitt! Everyone who can edit the main repo should now be able to edit the CII badge.

[2021-05-19 17:39] dfarrell07 commented on #798
Lots of PRs to add the CII badge to READMEs (and clean up other badges):

* https://github.com/submariner-io/submariner/pull/1343
* https://github.com/submariner-io/submariner-operator/pull/1370
* https://github.com/submariner-io/admiral/pull/221
* https://github.com/submariner-io/enhancements/pull/31
* https://github.com/submariner-io/lighthouse/pull/538
* https://github.com/submariner-io/release

[2021-05-20 10:11] vthapar opened #1347 "IPAM: Add support to allocate a contiguous block of IPs"
**What would you like to be added**:
Add support to IPAM to allocate a contiguous block of IPs

**Why is this needed**:
[Globalnet v2](https://github.com/submariner-io/submariner/issues/652) has use case for getting a contiguous block of IPs, which is currently not supported by Globalnet IPAM.

[2021-05-20 13:43] dfarrell07 commented on #798
These are the two remaining CII questions:

crypto_random:

A cryptographically secure random number generator may be a hardware random number generator, or it may be a cryptographically secure pseudo-random number generator (CSPRNG) using an algorithm such as Hash_DRBG, HMAC_DRBG, CTR_DRBG, Yarrow, or Fortuna. Examples of calls to secure random number generators include Java's java.security.Secur

[2021-05-20 15:54] #1289 closed, assigned to mkolesnik

[2021-05-20 16:12] dfarrell07 commented on #1311
This is the basis we can work from: https://submariner.io/images/logo-submariner.svg

[2021-05-20 16:25] #1337 closed, assigned to vthapar

[2021-05-20 20:09] dfarrell07 commented on #1322
This is done in the main repo via https://github.com/submariner-io/submariner/pull/1335 but we need to do it for the other Go-hosting repos.

[2021-05-21 07:21] nyechiel commented on #1289
@mkolesnik @dfarrell07 can you please document this as part of the dev/PR guide?

[2021-05-21 15:23] dfarrell07 commented on #798
This is done, thanks for all the help @skitt! :partying_face: :heavy_check_mark:

[2021-05-21 15:23] #798 closed

[2021-05-21 16:02] dfarrell07 commented on #1322
This is now done for all of our Go code. Thanks @skitt!

[2021-05-21 16:02] #1322 closed, assigned to dfarrell07

[2021-05-24 10:00] mangelajo opened #1352 "The new public-ip assignment interface via labels doesn't work"
[code]

Annotations are more appropriate for this kind of assignment, while labels are normally designed to match/select between objects and have a very limited set of characters to be used.

[2021-05-24 10:46] #1317 closed, assigned to mangelajo

[2021-05-24 13:08] #1313 closed, assigned to aswinsuryan

[2021-05-24 19:22] dfarrell07 commented on #1311
![subm_logo](https://user-images.githubusercontent.com/880273/119397123-b3f80880-bca3-11eb-9375-9486e924a3a4.jpg)

Samping this logo I had on my laptop from back in the day, I get color code `2bdfc4` for our green and `3a4747` for the text color.

[2021-05-25 11:37] sridhargaddam opened #1358 "Register ClusterGlobalnetEgressIP and other CRDs"
**What happened**:
As part of [Globalnet Enhancement](https://github.com/submariner-io/enhancements/pull/22/files), we now have new CRDs, ClusterGlobalnetEgressIP/GlobalEgressIP/GlobalIngressIP for requesting an Egress/Ingress globalIPs. This issue is to register the CRD with K8s.

[2021-05-25 13:54] #801 closed

[2021-05-25 16:01] dfarrell07 commented on #1311
The CNCF is going to help us with this: https://github.com/cncf/sandbox/issues/244

[2021-05-25 16:21] dfarrell07 commented on #1297
@Oats87 Any update or timeline on the trademark agreement and domain transfer? Would also appreciate your review on https://github.com/submariner-io/submariner-website/pull/520. I think it's the last pending task for the open governance checkmark.

[2021-05-26 09:31] nyechiel commented on #1289
https://github.com/submariner-io/submariner-website/pull/524

[2021-05-26 10:40] nyechiel commented on #1311
I think this is done now, see https://github.com/cncf/artwork/blob/master/examples/sandbox.md#submariner-logos

[2021-05-26 10:40] #1311 closed, assigned to dfarrell07

[2021-05-26 14:13] dfarrell07 commented on #1297
I think we're basically done, as I understand it we only need:

* @thelinuxfoundation to accept our invite to be an Org Owner.
* @Oats87 to submit trademark docs.
* @Oats87 to send domain transfer.
* @Oats87 to review https://github.com/submariner-io/submariner-website/pull/520.

[2021-05-26 14:45] Oats87 commented on #1297
@dfarrell07 I am currently in discussion with SUSE Legal over transfer of the trademark agreement. Unfortunately things aren't as "simple" as they used to be when we were independently Rancher.

Regarding the domain transfer, I am navigating the department within SUSE that is responsible for that as well.

[2021-05-26 15:49] skitt commented on #1297
Stacked logos added: https://github.com/cncf/artwork/pull/251 (this is what I used for the landscape PR).

[2021-05-27 12:30] mangelajo opened #1369 "Make the PublicIP field of Endpoints compatible with DNS entries"
As part of: https://github.com/submariner-io/submariner/issues/1071

We can publish Load balancer DNS endpoints, or DNS endpoints. So if the DNS entry changes we don't need
to publish the endpoint again.

Also DNS entries can hold multiple IP endpoints.

[2021-05-27 12:59] mangelajo opened #1370 "Make submariner-gateway label it's own Pod as gateway=active and host=$host when active"
As part of #1071

This way we can point a single Load Balancer (or multiple in the future) to the right active gateway.

Depends on https://github.com/submariner-io/submariner-operator/issues/1389

[2021-05-28 12:54] huxiaoliang opened #1372 "gateway object create failed due to invalid host name"
when I play with submariner according to guide [here](https://submariner.io/getting-started/quickstart/k3s/), the submariner-gateway pod logs show gateway object create failed due to bellow error message. In my case, the host name(include capital letters )set by IAAS provider which seems break DNS-1123 rules.  Maybe submariner need to handle this case internally， otherwise，submariner totally doesn

[2021-05-28 13:16] tpantelis commented on #1372
So it seems k8s doesn't allow capital letters in an object's name. Learn something new every day 😄

[2021-05-29 15:28] sridhargaddam commented on #934
bump

[2021-05-30 13:02] #1031 closed

[2021-05-30 13:06] tpantelis commented on #1227
bump

[2021-05-30 13:07] tpantelis commented on #636
bump

[2021-06-01 08:09] huxiaoliang opened #1374 "[Question]: why submariner only support k8s version 1.17 or later"
Submariner doc `Prerequisites` section [here](https://submariner.io/getting-started/#prerequisites) show `Minimum supported Kubernetes version is 1.17`, why?

1.  does that mean submariner only verified on k8s version 1.17 or later, then it announce that version is supported ? Maybe submariner support k8s 1.16, but this version doesn't get verified?
2.  for k8s api compatibility issue so that subm

[2021-06-01 08:41] mangelajo commented on #1374
Hey, hello @huxiaoliang

There are multiple reasons.

1. We only test starting at 1.17 up to 1.20
2. It's likely, although I fail to remember the exact details, may be we should investigate and document. Do you have time to try deployments on 1.16/1.15 and see where it breaks?
3. (same as for 2.)

If it's important for you I recommend that you try on those versions, collect details on any issues f

[2021-06-01 08:41] mangelajo commented on #1374
@vthapar  ^

[2021-06-01 08:46] skitt commented on #1374
We require version 1.17 because we rely on [endpoint slices](https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/), which were added in 1.17.

[2021-06-01 08:51] huxiaoliang commented on #1374
@skitt @mangelajo  thanks for you quick reply.

[2021-06-01 08:58] huxiaoliang commented on #1374
@mangelajo  @skitt  thanks for your quick reply,  if we depends on endpoint slices,  I think we should take some time to resolve it so that support both endpoint slices and endpoint.  I am ok to verify old k8s version and append the result here.

[2021-06-01 13:48] skitt opened #1375 "Remove Dockerfile.dapper"
Following https://github.com/submariner-io/shipyard/pull/573, we would like to get rid of project-specific `Dockerfile.dapper` files.

Depends on https://github.com/submariner-io/shipyard/issues/575

[2021-06-02 01:19] #1347 closed, assigned to vthapar

[2021-06-02 02:04] huxiaoliang commented on #1374
the message from slack thread send by @Vishal Thapar

[code]

[2021-06-02 12:06] huxiaoliang opened #1380 "can't access to k8s api server by cluster IP across cluster"
I successfully deployed submariner to my 3 k8s clusters(version 1.19.7) created by `kubeadm`,  all works well include pod/pod, pod/service communication and service discovery across cluster, but I can't access to k8s api server by cluster IP across cluster. for example, the pod on managed `cluster-a` can't access `cluster-b` api server.  BTW, the k3s cluster don't have such issue according to doc

[2021-06-02 12:18] skitt commented on #1374
I’ve filed https://github.com/submariner-io/submariner-operator/issues/1399 in light of this.

[2021-06-02 13:28] huxiaoliang commented on #1380
my cluster deploy topology as below:
![topology](https://user-images.githubusercontent.com/3296885/120488510-7012ab00-c3e9-11eb-9e01-bfc380b5a690.png)

[2021-06-02 13:30] huxiaoliang commented on #1380
my scripts to create above 3 cluster for reproduce this issue:

[code]
## on `cluster-a`
[code]

## on `cluster-b`

[code]

## on `cluster-c`

[code]

[cluster1.txt](https://github.com/submariner-io/submariner/files/6584951/cluster1.txt)
[cluster2.txt](https://github.com/submariner-io/submariner/files/6584952/cluster2.txt)
[cluster3.txt](https://github.com/submariner-io/submariner/files/6584953/cl

[2021-06-02 18:40] sridhargaddam commented on #1380
@huxiaoliang thanks for the detailed steps.

We need the route-agent Pod to be running on the Master nodes to support the use-case.
Can you check if Submariner route-agent Pod is running on the master nodes of Cluster-b?

[2021-06-02 22:47] huxiaoliang commented on #1380
@sridhargaddam  @mangelajo
It seems route-agent runs well on 3 clusters and no errors found from logs,  it is very strange to me that `nginx` service and cluster ip is ok to test , but api server cluster ip failed, the only difference is `nginx` is http service but `k8s api server` is https.

**BTW**: I also try `kubeadm` + `flannel` CNI clusters, this issue exists as well, but `k3s` clusters with

[2021-06-02 23:25] huxiaoliang commented on #1374
@skitt  thanks for you to highlight `Lighthouse` is the break point, do you have any workaround to disable it, since I want to verify k8s 1.16 before https://github.com/submariner-io/submariner-operator/issues/1399 get merged, thanks in advance.

[2021-06-03 07:57] mangelajo commented on #1374
Yes, when you deploy the broker use
[code]

please note that you can re-deploy a broker, and your broker_info.subm file will be updated,
then you can join again the clusters with the new config.

[2021-06-03 08:21] huxiaoliang commented on #1374
@mangelajo  thanks, I will try

[2021-06-03 10:35] mangelajo commented on #1380
Ok, interesting, let me share findings so far:

1) It's all single instance clusters.
2) The kubernetes API Service points to a hostNetwork endpoint.
3) If I create a second service "kubernetes2" pointing to an endpoint with the same hostnet IP -> it doesnt work
4) If I create  a second service "kubernetes2" pointing to an endpoint with the host cniInterfaceIP -> it works
5) if we create a host ne

[2021-06-03 11:03] huxiaoliang commented on #1380
@mangelajo thanks for you debug this issue, I just try flannel CNI with same topology, still doesn't work.

[2021-06-03 12:02] tonyqui commented on #1195
Hello @sridhargaddam,
this has been automatically closed, have you checked a bit more closely this issue between Submariner and Calico?

Best Regards,
Antonio

[2021-06-03 12:15] sridhargaddam commented on #1195
Hello @tonyqui,

Sorry, got busy with some enhancements we are doing as part of the current sprint and could not look into this.
I'm reopening it.

[2021-06-03 13:07] mangelajo commented on #1380
ok, on the E2E "make deploy" environment, it seems to work:

[code]

Investigating on other platforms.

[2021-06-03 13:31] mangelajo commented on #1380
Ok, so for:
* OpenshiftSDN to -> OVN it doesn't work
* OVN->OpenshiftSDN it works.

I suspect the issue is different in the case of OVN because the network architecture at the border is a little bit different and iptables is not used.

We will need to look at the issues individually I believe.

[2021-06-03 16:53] skitt opened #1385 "Route agent interface setup should be moved to an initcontainer"
Route agent pods need to be privileged so they can write to `/proc/sys`. If we handled that in an initcontainer we could reduce the route agent pod privileges.

[2021-06-04 08:22] mangelajo commented on #1310
It was verified and working

[2021-06-04 08:22] #1310 closed, assigned to mangelajo

[2021-06-04 08:45] huxiaoliang commented on #1380
@mangelajo  I use `cniInterfaceIP` to workaround, when I run `kubectl get`,  the error message show  `x509: certificate is valid for 10.5.0.1, 172.22.0.77, not 10.4.0.1`,  I have to use `token` and `insecure-skip-tls-verify=true` to workaround again.

[2021-06-04 08:51] mangelajo commented on #1380
Right.

I will try to reproduce this on k3s + k3s with flannel. Have you tried this combination?

I think it's the easier reproducer I can create to then try fix it.

[2021-06-04 09:04] huxiaoliang commented on #1380
@mangelajo  I tested k3s+flannel according to https://submariner.io/getting-started/quickstart/k3s/, it works

https://rancher.com/docs/k3s/latest/en/installation/network-options/

[code]

[2021-06-04 10:20] mangelajo commented on #1380
So k3s + flannel works, have you tried k3s + calico?

Can you share your kubeadm deployment scripts so we can reproduce this on an automated/easy way to be able to fix it?

[2021-06-04 21:31] mkimuram commented on #1166
@sridhargaddam

As you commented in the meeting, chain won't be recreated, if no [endpoint](https://github.com/kubernetes/kubernetes/blob/0a865b6e6e4a814c52313a2c24978843a756c400/pkg/proxy/iptables/proxier.go#L1048) exists. So, it won't be enough just to block deletion of service to avoid chain deletion until deleting globalnet's referencing chain.

[2021-06-05 11:13] tpantelis commented on #517
bump

[2021-06-06 12:20] sridhargaddam commented on #1166
Right @mkimuram. We will have to look for a better solution to this requirement. Thanks for looking into it in parallel.

[2021-06-07 18:50] #1370 closed, assigned to mangelajo

[2021-06-08 13:07] aswinsuryan opened #1393 "Create a common library for route-agent vxlan driver and vxlan cable driver"
**What would you like to be added**:
Create a common library for routeagent vxlan driver and vxlan cable driver.
**Why is this needed**:

[2021-06-09 12:50] YAXILALIANGFEIFAN commented on #1380
@mangelajo the scripts get finished, please refer to attachment for the details, you need 3 hosts run these scripts to deploy 3 k8s clusters to reproduce this issue, thanks for your debug. waiting for your good news
[cluster-a.sh.txt](https://github.com/submariner-io/submariner/files/6623837/cluster-a.sh.txt)
[cluster-b.sh.txt](https://github.com/submariner-io/submariner/files/6623838/cluster-b.sh

[2021-06-09 13:29] mangelajo commented on #1380
Just a note from slack: the above scripts are used with Ubuntu 16.04 ^

[2021-06-10 10:09] sridhargaddam opened #1399 "Handle overlapping CIDRs in OVN route-agent driver"
**What happened**:
When vanilla Submariner is used along with OVN route-agent and a remote endpoint has overlapping CIDRs with local cluster we should avoid making changes on the node just like how we are handling it in Kubeproxy route-agent driver here - https://github.com/submariner-io/submariner/blob/b03529424083aac98a1631f3adc7650d8f45dd2e/pkg/routeagent_driver/handlers/kubeproxy/endpoint_hand

[2021-06-10 23:20] #927 closed

[2021-06-10 23:20] #1195 closed, assigned to nobody

[2021-06-11 14:31] #1149 closed, assigned to aswinsuryan

[2021-06-11 14:31] #1148 closed, assigned to Jaanki

[2021-06-13 18:31] #1239 closed, assigned to sridhargaddam

[2021-06-13 18:31] #1237 closed, assigned to nobody

[2021-06-14 07:29] #1399 closed, assigned to sridhargaddam

[2021-06-14 12:06] sridhargaddam opened #1404 "Support Globalnet IngressIPs for exported Services"
**What would you like to be added**:
As part of [Globalnet Enhancement](https://github.com/submariner-io/enhancements/pull/22), when a ClusterIP Service is exported in a namespace, Globalnet will create a GlobalnetIngressIP object that has the allocated globalIP and also programs the necessary ingress rules to support the datapath. This issue is to track the corresponding changes.

[2021-06-14 12:27] #1375 closed, assigned to nobody

[2021-06-14 13:15] #1163 closed, assigned to sridhargaddam, tpantelis

[2021-06-14 13:24] mangelajo opened #1409 "LoadBalancer documentation"
Create the load balancer documentation.

[2021-06-14 13:26] mangelajo opened #1410 "LoadBalancer support for AWS NLB doesn't sync properly"
**What happened**:

The load balancer we create or the gateway doesn't sync properly to AWS:

[code]
I'm working on a reproducer here https://github.com/mangelajo/k8s-udp-lb-test/blob/main/reproducer.yaml still not ready

One of the issues being found is that most of the time the 2nd port (NATT discovery port) won't work or will take a long time to work. I'm thinking of a workaround for this.

[2021-06-15 11:39] #1404 closed, assigned to sridhargaddam, tpantelis

[2021-06-16 04:37] aswinsuryan opened #1417 "VXLAN does not work in Openshift"
The Vxlan cable driver fails in Openshift deployments.

The vxlan-tunnel interface is assigned an IP derived from the Private IP of the g/w node. But the routes are programmed with an IP derived from the public IP of the g/w node.

So when the remote g/w nodes ARP it fails.
### Vxlan Interface
[code]
### Routes
[code]
### Local Endpoint
[code]
### Remote Endpoint
[code]

**What happened**:

**What

[2021-06-16 09:13] huxiaoliang commented on #1374
@mangelajo  submariner + k8s 1.16.7 + calico 3.18.4 + manual install endpointslices according to [here](https://github.com/submariner-io/submariner-operator/issues/1399#issuecomment-855630834)  + manual build to support low [k8s version](https://github.com/submariner-io/submariner-operator/blob/devel/pkg/subctl/cmd/join.go#L139)  works well for pod/pod and service discover across cluster

[2021-06-16 09:45] mangelajo commented on #1374
On Wed, Jun 16, 2021 at 11:14 AM XiaoLiang Hu ***@***.***>
wrote:

That's great news. Can you share the details of the manual endpoint slices
installation you did?

We can probably include that in subctl, if the endpointslices are not
detected we can install them on the broker + clusters.

--
Miguel Ángel Ajo  @mangel_ajo <https://twitter.com/mangel_ajo>
OpenShift / Kubernetes / Multi-cluster Netw

[2021-06-16 09:47] huxiaoliang commented on #1374
@mangelajo  just apply below crd to cluster
[code]

[2021-06-16 10:07] nyechiel commented on #1417
@mangelajo can you review/comment on that approach?

[2021-06-16 10:13] huxiaoliang commented on #1374
@mangelajo  submariner + k8s 1.15.7 + flannel v0.14.0+ manual install endpointslices according to [here](https://github.com/submariner-io/submariner-operator/issues/1399#issuecomment-855630834)  + manual build to support low [k8s version](https://github.com/submariner-io/submariner-operator/blob/devel/pkg/subctl/cmd/join.go#L139)  works well for pod/pod and service discover across cluster

cluster

[2021-06-16 10:36] mangelajo commented on #1417
@aswinsuryan I'm not convinced by the fix in #1414.

Why don't we always use the routes & ips based on the PrivateIP regardless of the NAT status? The only thing that needs to change is the remote vtep IP, but not the internal IPs we use for routing & traffic inside the vxlan tunnels.

BTW, I believe vxlan will only be really usable in non-nat environments for private IPs, it can be made to work w

[2021-06-16 11:29] sridhargaddam commented on #1410
Is this a problem with AWS NLB itself or the controller wrongly configuring the AWS NLB when a Service of type Loadbalancer is created?

[2021-06-16 13:52] aswinsuryan commented on #1417
Using private IPs for routes fixed the issue. updated the PR

[2021-06-16 18:24] nyechiel commented on #1417
@aswinsuryan #1414 makes sense, but as discussed in [Slack](https://kubernetes.slack.com/archives/C010RJV694M/p1623840529109100), we should only support non-NAT environments for now, and print an error if NAT is detected. Are you going to address that in a separate PR?

[2021-06-17 01:46] huxiaoliang commented on #1374
A summarize as below(globalnet disabled):

|  k8s version   |   pod/pod connectivity across cluster | service discovery across cluster | note |
| ------------- | ------------- | ------------- | ------------- |
| 1.15.7 | ok | ok | flannel v0.14.0; subctl v0.6.0-dev, iptables mode |
| 1.16.7 | ok | ok | calicoctl v3.18.4; subctl v0.9.0-dev, iptables mode |
| 1.19.1 | ok | ok | calicoctl v3.18.4; su

[2021-06-17 05:07] aswinsuryan commented on #1417
@nyechiel It looks like it works for many cases, so can we make it a warning in the log  "it may not work in some cases"? Also, @sridhargaddam confirmed that having different VXLAN ports is not an issue with the current kernel versions.

[2021-06-17 17:24] tpantelis commented on #1120
bump

[2021-06-18 01:30] #1231 closed, assigned to nobody

[2021-06-18 08:08] morvencao opened #1421 "exported service address can't be resolved from MWC"
**What happened**:

I have set up two openshift clusters(`mcscluster1` and `mcscluster2`) with different CIDRs;
And then use `mcscluster1` ad submariner broker, and then join the `mcscluster1` and `mcscluster2` to the broker.
I have verified the submariner is working fine by deploying and exporting nginx application in `mcscluster2` and access it from `mcscluster1` with FQDN(`nginx.default.svc.clu

[2021-06-18 08:22] morvencao commented on #1421
/cc @mangelajo

[2021-06-18 11:19] mangelajo opened #1422 "When submariner-gateway is configured behind a loadbalancer it will exit with Error/CrashBackoff if the LoadBalancer isn't ready"
Submariner-gateway reads the loadbalancer, and it isn't ready yet, exits with error...
that makes the loadbalancer more unstable, because submariner-gateway is one of the
endpoints of the LoadBalancer.

The proposed fix is to wait for the LoadBalancer to be fully ready & functional, with some backoff & timeout.

This increases the likeliness of https://github.com/submariner-io/submariner/issues/14

[2021-06-18 12:03] nyechiel commented on #1417
@mangelajo wdyt?

[2021-06-18 15:28] mangelajo commented on #1410
I haven't fully identified what's the underlying problem. I suspect it has to do with https://github.com/submariner-io/submariner/pull/1423 too... if the Endpoint comes and goes (pod going down and up while waiting for the loadbalancer to be ready) we may end up hitting the rate-limiting of the AWS API. I've seen errors of that type in the logs.

[2021-06-20 17:21] #1081 closed

[2021-06-20 17:21] #1264 closed, assigned to mangelajo

[2021-06-21 06:24] #1417 closed, assigned to aswinsuryan

[2021-06-21 13:45] aswinsuryan opened #1426 "Test NAT combinations with VXLAN Cable driver"
The VXLAN cable driver may not work with all possible NAT Combinations.
 This bug is to track the results for each of them.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Submariner version (use `subctl version`):
- Kubernetes version (use `kubectl version`):
- Diagnos

[2021-06-23 12:08] #1372 closed, assigned to tpantelis

[2021-06-23 13:46] aswinsuryan opened #1430 "Globalnet test fail for vxlan cable driver"
**What happened**:
------------------------------
STEP: Creating namespace objects with basename "dataplane-gn-conn-nd"
STEP: Generated namespace "e2e-tests-dataplane-gn-conn-nd-xn8rh" in cluster "cluster2" to execute the tests in
STEP: Creating namespace "e2e-tests-dataplane-gn-conn-nd-xn8rh" in cluster "cluster1"
STEP: Creating a listener pod in cluster "cluster1", which will wait for a handshak

[2021-06-23 16:32] #732 closed

[2021-06-24 12:59] mkimuram commented on #1166
To create submariner's own chain, there will be two approaches:
1) Copy the kube-proxy chain (Like [this](https://github.com/mkimuram/submariner/tree/issue/1166v1))
2) Implement the same logic as kube-proxy (Like [this](https://github.com/mkimuram/submariner/tree/issue/1166v2))

[2021-06-24 13:00] skitt commented on #778
There is still some work to be done here.

[2021-06-28 09:20] #1258 closed, assigned to nobody

[2021-06-28 09:51] mangelajo commented on #1352
Backport handled in https://github.com/submariner-io/submariner/pull/1368

[2021-06-28 09:51] #1352 closed, assigned to mangelajo

[2021-06-28 21:45] #1152 closed, assigned to nobody

[2021-06-28 21:45] #1151 closed, assigned to nobody

[2021-06-28 21:45] #1153 closed, assigned to nobody

[2021-06-29 13:23] nyechiel commented on #1409
Duplicate of https://github.com/submariner-io/submariner-website/pull/544

[2021-06-29 13:23] #1409 closed, assigned to mangelajo

[2021-06-29 16:00] nyechiel commented on #1277
Closing for now. Let's reopen if this happen again.

[2021-06-29 16:00] #1277 closed, assigned to aswinsuryan

[2021-06-29 16:05] nyechiel commented on #1227
@sridhargaddam have you done anything special to get into this state? I have a local kind setup running now with 0.9.1 and I am not seeing this issue:

[code]

[2021-06-29 16:07] nyechiel commented on #1150
@maayanf24 do you have any update on this? @aswinsuryan told me that this one is a bit tricky because all cross-cluster connections share the same vxlan interface. Have you managed to find a solution for this?

[2021-06-29 16:09] nyechiel commented on #636
@skitt this one is one year old now. If it's important, let's prioritize for this/next sprint

[2021-06-30 06:20] maayanf24 commented on #1150
@nyechiel I'm still looking into this

[2021-06-30 06:58] maayanf24 commented on #1150
There are several metrics associate with each cable driver.
Two of them, `submariner_gateway_rx_bytes` and `submariner_gateway_tx_bytes`, are tricky to get data for.
The other metrics (`submariner_connections`, `submariner_connection_established_timestamp`, `submariner_connection_latency_seconds`) are already implemented by prev PR

[2021-06-30 16:59] raffaelespazzoli opened #1447 "subclt should support kube context"
**What would you like to be added**:

I'd like the `subctl` cli tool to support the concept of kubernetes context besides the concept of standalone kubeconfig file as it already does.
Some `subctl` sub-commands used to do it (like `show`), but it looks like this has been removed.

**Why is this needed**:

In many situation people login to all the clusters at the same time creating different contex

[2021-07-01 17:35] #1118 closed

[2021-07-02 01:57] tpantelis commented on #861
bump

[2021-07-02 08:26] skitt commented on #925
This is still relevant.

[2021-07-02 13:34] #1422 closed, assigned to mangelajo

[2021-07-03 13:27] tpantelis commented on #533
bump

[2021-07-03 13:27] tpantelis commented on #383
bump

[2021-07-03 13:27] tpantelis commented on #1198
bump

[2021-07-03 13:28] #1298 closed, assigned to nobody

[2021-07-03 13:28] tpantelis commented on #1101
bump

[2021-07-03 13:29] tpantelis commented on #1278
bump

[2021-07-03 13:29] tpantelis commented on #1279
bump

[2021-07-03 16:36] ccamacho commented on #907
bump!

[2021-07-03 17:12] tpantelis commented on #1293
bump

[2021-07-03 17:15] tpantelis commented on #794
bump

[2021-07-03 17:16] tpantelis commented on #1095
bump

[2021-07-04 13:21] tpantelis commented on #1167
bump

[2021-07-04 15:46] tpantelis commented on #1305
bump

[2021-07-05 09:36] skitt commented on #326
This is still relevant.

[2021-07-05 13:52] tpantelis commented on #675
bump

[2021-07-05 18:32] mangelajo commented on #1745
Bump

[2021-07-06 14:07] maayanf24 commented on #1150
The metrics `submariner_gateway_rx_bytes` and `submariner_gateway_tx_bytes` will not be supported for vxlan.
I'll add comment to the known issues

[2021-07-06 14:07] #1150 closed, assigned to maayanf24

[2021-07-07 11:14] maayanf24 commented on #1447
@raffaelespazzoli Can you specify the `subctl` version you're using?
And also which `subctl` commands you find not supporting kubecontext

[2021-07-07 12:00] #1164 closed, assigned to sridhargaddam, tpantelis

[2021-07-07 12:01] #1165 closed, assigned to sridhargaddam, tpantelis

[2021-07-07 12:05] raffaelespazzoli commented on #1447
I was working with subct version 0.8.1 and devel
| sub command   |   kubecontext supported    0.8.1    |       devel   |
|----                      |  -------------                                      |        ----      |
| show                 |                                           yes       |       no        |
| benchmark        |                                            no       |

[2021-07-08 07:30] skitt commented on #1115
This is still relevant.

[2021-07-08 15:38] skitt commented on #1447
This is tracked as https://github.com/submariner-io/submariner-operator/issues/1326 for `benchmark`.

[2021-07-09 08:47] xuegao321 opened #1463 "Submariner checks for normal commands, but fails to test POD mutual access between the two clusters."
**Environment**:
- Submariner version (use `subctl version`):
- Kubernetes version (use `kubectl version`):
- Diagnose information (use `subctl diagnose all`):
- Gather information (use `subctl gather`)
- Cloud provider or hardware configuration:
- OS (e.g `cat /etc/os-release`):
- Kernel (e.g `uname -a`):
- Install tools:
- Others:
-

NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rh

[2021-07-09 08:50] xuegao321 commented on #1463
[](url)

[2021-07-09 08:50] xuegao321 commented on #1463
1

[2021-07-09 08:53] xuegao321 commented on #1463
[submariner-20210709084314.zip](https://github.com/submariner-io/submariner/files/6790101/submariner-20210709084314.zip)
this is 'subctl gather'

[2021-07-09 08:54] xuegao321 commented on #1463
1

[2021-07-09 08:57] xuegao321 commented on #1463
[root@master1 ~]# calicoctl get ippool
NAME                  CIDR            SELECTOR
default-ipv4-ippool   172.30.0.0/16   all()
podcluster02          172.40.0.0/16   all()
svccluster02          10.253.0.0/16   all()

[root@master1 ~]#  subctl diagnose all
 ✓ Checking Submariner support for the Kubernetes version used in cluster "kubernetes"
 ✓ The Kubernetes version meets Submariner's requiremen

[2021-07-09 13:22] mangelajo commented on #1336
I have also seen instances of this happening in GKE if the firewall config didn't work for some reason.

I strongly believe we should tackle this during 0.11

[2021-07-09 13:56] gopaljayanthi commented on #1336
i am seeing issue in GKE as well, subctl version 0.9.1 , dns name nginx.nginx-test.svc.clusterset.local is resolving to correct ip , but curl to that address and port 8080 is timing out. used the correct firwall rules mentioned in https://submariner.io/getting-started/quickstart/managed-kubernetes/gke/

[2021-07-10 18:42] #805 closed

[2021-07-11 18:55] #1105 closed

[2021-07-12 14:21] sridhargaddam opened #1471 "Support metrics in Globalnet 2.0"
**What would you like to be added**:
In Globalnet 1.0, we used to have the following metrics. This issue is to support metrics with Globalnet 2.0 code introducing new metrics as necessary.

[code]

[2021-07-12 21:01] #1305 closed, assigned to skitt

[2021-07-14 08:40] mangelajo opened #1484 "The submariner-gateway gives up too early waiting on a network loadbalancer to be ready"
**What happened**:

[code]

A LoadBalancer needs more time setting up in AWS, and as the backing endpoint (submariner-gateway) comes and goes because it's crashing, the LoadBalancer AWS controller has issues configuring it.

**What you expected to happen**:

It works better ensuring that the submariner-gateway waits enough time.

**How to reproduce it (as minimally and precisely as possible)**:

D

[2021-07-15 11:54] aswinsuryan opened #1486 "e2e is failing with VXLAN cable driver in OpenShift"
**What happened**:

[dataplane] Basic TCP connectivity tests across clusters without discovery when a pod with HostNetworking connects via TCP to a remote pod when the pod is on a gateway and the remote pod is not on a gateway
  should have sent the expected data from the pod to the other pod
  github.com/submariner-io/submariner@v0.10.0-rc0/test/e2e/dataplane/tcp_pod_connectivity.go:32
STEP: Crea

[2021-07-15 13:10] mkimuram commented on #1167
https://github.com/submariner-io/submariner/pull/1455 is a part of this issue.

[2021-07-15 15:38] sridhargaddam opened #1487 "Globalnet 2.0: Error deleting an IPTable rule during node update event."
**What happened**:
In Globalnet Pod logs, the following error message was seen.

[code]

Full logs attached:
[cluster1_submariner-globalnet-mtjc6.log](https://github.com/submariner-io/submariner/files/6824411/cluster1_submariner-globalnet-mtjc6.log)

**Environment**:
- Submariner version (use `subctl version`): v0.10.0-rc0
- Kubernetes version (use `kubectl version`): v1.21.0-rc.0+120883f
- Diagno

[2021-07-15 15:53] mangelajo opened #1488 "TCP MSS clamping not fully working on OVN to OVN connections"
**What happened**:

    OVN does propagate needfrag ICMPs properly back to pods, hence the pods can't discover the right path MTU, then when crossing clusters. Because of this we use MSS (maximum segment size) clamping, but the MSS clamping only happens on the outgoing path of connections (SYN), not on the incoming connections (SYN,ACK).

That means that the remote clusters will send tcp packets w

[2021-07-15 16:01] mangelajo opened #1489 "MTU clamping rules for OVN get duplicated many times"
I suspect that prepend-unique cannot be used multiple times.
[code]

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Submariner version (use `subctl version`):
- Kubernetes version (use `kubectl version`):
- Diagnose information (use `subctl diagnose all`):
- Gather info

[2021-07-15 16:08] mangelajo commented on #1488
We have rules like this:

[code]

which aren't enough

Adding this also works:
[code]

related to this: Ideally MSS should be auto-detected instead of hardcoded like this.

[2021-07-15 16:56] Jaanki opened #1490 "NAT Traversal not working with OCP 4.7, LIbreswan on AWS"
**What happened**:
After changing UDP port and natt discovery port, tunnels are not created among the clusters.

**What you expected to happen**:
Tunnels to be created properly

**How to reproduce it (as minimally and precisely as possible)**:

- Create 2 clusters, cluster-a and cluster-b on AWS using AWS installer and configuring them using cloud-prepare following
https://submariner.io/getting-st

[2021-07-15 17:13] sridhargaddam commented on #1490
@Jaanki after you modified the UDP Port and NATDiscovery Ports, did you open the corresponding Ports in the AWS firewall either manually or using `subctl cloud prepare --nat-discovery-port <xxx> --natt-port <yyy>` ?

[2021-07-15 19:04] tpantelis commented on #1487
This error is benign - it happens on `Node` update when the `submariner.io/cniIfaceIp` annotation is set while the `submariner.io/globalIp` isn't set yet.

[2021-07-16 09:11] YAXILALIANGFEIFAN opened #1492 "Fail to replay a case in NAT traversal"
**mangelajo note** : this seems to be fixed in 0.9.1 , the port annotations were not well picked up.

**What happened**:
I have successfully deployed submariner to my 4 kubernetes clusters (version 1.19.7) created by kubeadm, and all of them works well include pods and services. The problem is that pods in cluster-b can't access to pods in cluster-c by cluster IP across cluster, but access to pods

[2021-07-16 09:16] mangelajo commented on #1490
Right, you need to open those ports also in the case of AWS.

[2021-07-16 09:25] mangelajo commented on #1492
For this to work, you need to enable the natt discovery protocol at least on cluster B & C, and make sure that they can contact via their private ips 10.0.0.16 <> 10.0.0.33 to each other.

I see that you comment about enabling that, but I suspect that it's not working:

[code]

if the NATT discovery protocol worked they should show NAT=no in the subctl show connections lists, and the private IP as

[2021-07-16 11:07] #1312 closed, assigned to mangelajo, sridhargaddam

[2021-07-19 07:05] YAXILALIANGFEIFAN commented on #1492
for more details about the environment

cluster-c
![subctl-cluster-c](https://user-images.githubusercontent.com/55040707/126116759-a31c2005-fdaf-4b9d-9ade-884c2d1e0308.png)

<br/>
cluster-d

![subctl-cluster-d](https://user-images.githubusercontent.com/55040707/126116869-541fcc28-7b8a-4c43-84f8-670813e4e71a.png)

<br/>

router port mapping
![router-port-mapping](https://user-images.githubuserconte

[2021-07-19 08:32] mangelajo commented on #1492
It seems like updating to 0.9.1 fixed the issue.

The annotations for the UDP & NAT-discovery ports were not working well in 0.9.0

Running this on all clusters fixed it:

[code]

Now connectivity seems to be happier:

[code]

[2021-07-19 13:11] nyechiel commented on #1490
@Jaanki can you please take a look on that? ^^

[2021-07-19 14:10] mangelajo commented on #1492
Ok, it seems to be working for 0.9.1 @YAXILALIANGFEIFAN  please let's re-open it if we find any issue.

[2021-07-19 14:41] nyechiel commented on #1486
Update: according to @aswinsuryan, the same issue is seen with both 4.8 and 4.7 - so more likely related to all OpenShiftSDN-based clusters

[2021-07-20 13:47] YAXILALIANGFEIFAN commented on #1492
I have done the double check for your solution, using subctl v0.9.1 and port mapping, and the case works well.
If I don't execute port mapping, just using subctl v0.9.1, the case still doesn't work.
I think the problem has been solved, thanks a lot!

[2021-07-20 14:22] dfarrell07 commented on #1105
Leaving this closed, as I actually don't see many stale branches that should be deleted on the main and operator repos at least. Also these branches just aren't that big of an issue.

[2021-07-20 15:11] #1492 closed, assigned to mangelajo

[2021-07-21 11:15] #1488 closed, assigned to mangelajo

[2021-07-21 11:15] #1489 closed, assigned to mangelajo

[2021-07-21 13:57] Jaanki commented on #1490
@sridhargaddam @mangelajo Same issue after opening ports. I had 2 gateways on each cluster and annotated both of them. (NOTE: the setup now has globalnet enabled but was getting the same errors without globalnet too)

On cluster-a
[code]

On cluster-b
[code]
Connection on cluster-b has been in-progress for quite a some time.

[2021-07-22 17:59] #1487 closed, assigned to sridhargaddam, tpantelis

[2021-07-27 15:30] #1430 closed, assigned to aswinsuryan

[2021-07-27 15:30] #1486 closed, assigned to aswinsuryan

[2021-07-27 17:27] #1490 closed, assigned to nobody

[2021-07-27 19:52] nyechiel commented on #1447
Addressed by https://github.com/submariner-io/submariner-operator/pull/1480

[2021-07-27 19:52] #1447 closed, assigned to nobody

[2021-07-27 19:55] nyechiel commented on #1167
@sridhargaddam what else (if at all) needs to be done here?

[2021-07-28 05:37] sridhargaddam commented on #1167
@nyechiel GN 2.0 use-cases are validated in the current e2e. @mkimuram is adding some external network e2e tests, but they can be added as independent PRs and we can close this one.

[2021-07-28 05:41] #1167 closed, assigned to nobody

[2021-07-28 05:42] #674 closed

[2021-07-28 12:29] mkolesnik commented on #1336
The problem (and reason for not doing this initially) is that you don't know on which node the dest ip resides, and we were counting on the CNI to deliver the packets properly (which is should do similarly to traffic arriving from the internet AFAIK unless K8s does NAT-ing on incoming traffic as well?).

We could theoretically handle this via cloud prepare, eg if we know the underlying cloud provi

[2021-07-28 12:48] jawabuu commented on #1336
I have also seen this in Oracle OKE.
The limitation with 'cloud prepare' is that not all managed providers allow this inter-node firewall modifications.

[2021-07-28 12:50] mangelajo commented on #1336
Cloud-prepare alone will not help for what I've seen, in some environments
it's not even possible, in GKE for example it is, but not in azure or
amazon's kubernetes.

So I think we should encapsulate also the GW->worker traffic via
vx-submariner, then it also makes it all more symmetric and easier to debug.

On Wed, Jul 28, 2021 at 2:48 PM jawabuu ***@***.***> wrote:

--
Miguel Ángel Ajo  @mangel_

[2021-07-29 10:30] sridhargaddam opened #1508 "Evaluate if any optimization can be done for Hostnetworking rules"
**What happened**:
When trying to validate throughput between the Gateway nodes of two clusters using iperf3 (concurrency of 32 and windowsize of 256K), the following was observed.

If the client pod on the Gateway node of cluster1 is a regular pod, the throughput is around 1.50 Gbits/sec
However, if both the pods are with HostNetworking enabled, the throughput drops to around 895 Mbits/sec

Have

[2021-07-29 10:35] sridhargaddam opened #1509 "Benchmark throughput with various cable drivers"
**What would you like to be added**:
Perform some benchmark tests with various cable drivers on the same platform and capture the observations. In this process, the CPU/Memory usage on the Gateway node should also be monitored.

Interested cable drivers:
1. Libreswan
2. Wireguard
3. VxLAN

[2021-07-29 10:41] sridhargaddam opened #1510 "Only one CPU seems to be used for encryption with Libreswan Cabledriver"
**What would you like to be added**:
While running some benchmark tests with Libreswan Cable driver on Submariner release-0.8, it was seen that even though the Gateway nodes have 4 CPUs, only one of the CPUs seems to be used for encryption, and it maxed out while the other CPUs are nearly idle. Naturally, this is causing a drop in the throughput even though the network supports higher bandwidth.

[2021-07-29 13:15] mangelajo commented on #1509
Comparing IPSEC/libreswan to wireguard, we have detected issues with both which will need more investigation, @sridhargaddam has more details

1) ipsec with AES/GCM is limited to one CPU core per remote SA (~ connection)
2) wireguard uses x2.1 CPU for driving sightly less bandwidth under the same architecture (Broadwell Server, model 79)

While ipsec was performing around 1Gbps (n1-standard-8 on G

[2021-08-02 15:18] skitt commented on #1510
The fact that this appears as 98% sirq is surprising, but I think that encryption overhead would be kernel-related, not involving Libreswan, so this could be a kernel configuration issue.

[2021-08-04 14:46] skitt opened #1517 "Epic: submariner-addon"
This epic tracks work to be done on https://github.com/open-cluster-management/submariner-addon:

1. Repo infrastructure and mechanics
   * Use OCM.io dependencies instead of OCM: Depends on https://github.com/open-cluster-management/submariner-addon/issues/91
     * Addon-framework: Depends on https://github.com/open-cluster-management/submariner-addon/issues/92
     * API: Depends on https://git

[2021-08-04 15:21] skitt commented on #1517
@dfarrell07 could you expand the “linters and bots” section?

[2021-08-04 16:17] nyechiel commented on #1517
@skitt - we need to review the feature-set section. One thing that's missing in the list is VXLAN support, but there could be others.

[2021-08-04 16:32] sridhargaddam commented on #1463
@xuegao321 It looks like subctl is not able to read the ippools here - https://github.com/submariner-io/submariner-operator/blob/47268fb9eb09e8478c139b1c1d681176110f1bf7/pkg/subctl/cmd/diagnose/cni.go#L130

Can you share the output of one of your ippools. I'd like to compare it with the GVR we use while listing the ippools.

[code]

[2021-08-04 16:33] #1358 closed, assigned to sridhargaddam, tpantelis

[2021-08-04 18:01] dfarrell07 commented on #1517
I think this is one of the first things we need to do, as how we want to add linting depends on what we decide.

I tend to think we should use Shipyard's infra.

[2021-08-04 19:54] dfarrell07 commented on #1517
Continuing to think we should build on Shipyard. I'm struggling, getting a taste of how it would be without Shipyard, with duplicating the infra required to add basic gitlint CI.

The Makefile here as-is seems to require Go 1.15 for everything. The latest available from Ubuntu's package manager is 1.13, which why I'm having to install it manually.

https://github.com/dfarrell07/submariner-addon/pu

[2021-08-05 07:30] skitt commented on #1517
Right, that’s what I’m thinking too. My main concern is how well our Dapper-based builds will work with Prow; I reckon the best way to find that out would be to open a PR using Dapper ;-).

We even need 1.16 for the build itself (see `go.mod`); Ubuntu 21.04 has everything required, as does Fedora 34 of course, but some mainstream distributions don’t (notably, Debian 11 will have Go 1.15, and RHEL

[2021-08-05 08:00] skitt commented on #1517
I’ve added the missing pieces from the feature matrix (look at the last edit).

[2021-08-05 08:39] sridhargaddam opened #1518 "Connectivity loss after updating gw node with public-ip"
**What happened**:
This can be reproduced in any Cluster, but I'll use KIND as an example.

Install Submariner on KIND Clusters with nat disabled and ensure that datapath is all working well.
Now, identify the public-ip associated with one of the Clusters by looking into the gateway object in submariner-operator namespace.

Annotate the active gateway node of that cluster with the same public-ip
k

[2021-08-05 11:38] sridhargaddam opened #1519 "E2e fails in an environment where Healthcheck is disabled in connected clusters"
**What happened**:
Say you have two clusters, cluster-a and cluster-b. Disable healthcheck in cluster-b, so cluster-b will no longer advertise its healthcheck-ip in its endpoint.
When the endpoint is synced on cluster-a, it sees that cluster-b does not use healthcheck so it does not initialize any pinger.

Now in such an environment, when we run e2e, its failing with the following error.

[code]

[2021-08-05 15:48] dfarrell07 commented on #1517
I think we have Ubuntu 20.04 on the ubuntu-latest GHA runner.

https://github.com/actions/virtual-environments#available-environments

It seems to install 1.13.

https://github.com/dfarrell07/submariner-addon/pull/2/checks?check_run_id=3253760648

I made a basic Shipyard Makefile/Dockerfile.dapper per the docs, which was going fine until I realized I had clobbered the existing Makefile. :sweat_smi

[2021-08-06 07:45] skitt commented on #1517
Yes, runners only provide LTS releases of Ubuntu; the next update will be 22.04.

I think it has, but I’d rather wait for Mike to take another look at it — there’s no rush. (And thanks for re-opening it!)

[2021-08-09 10:17] sridhargaddam commented on #1295
@aswinsuryan I think we can close this as its fixed as part of the following PRs
https://github.com/submariner-io/submariner/issues/1519
https://github.com/submariner-io/submariner/pull/1499

What do you say?

[2021-08-09 10:22] aswinsuryan commented on #1295
Yes we can close this one. The changes linked should fix this.

[2021-08-09 10:22] #1295 closed, assigned to aswinsuryan

[2021-08-09 11:55] sridhargaddam opened #1524 "Throughput analysis with VxLAN cable driver"
**What happened**:
Between two GCP Clusters running OCP, when vxLAN cable driver is used, the bandwidth between the connected clusters is approximately 50% of the bandwidth advertised by GCP between the regions. This task is to identify if its indeed the case and if any improvements can be done in this area.

[2021-08-11 07:58] aswinsuryan opened #1530 "Support VXLAN connectivity in Submariner add-on"
**What would you like to be added**:
Support VXLAN connectivity in Submariner add-on

**Why is this needed**:
This would help to use vxlan cable driver in ACM deployments

[2021-08-11 08:42] aswinsuryan commented on #1530
Raised an issue in add-on.

[2021-08-11 08:42] #1530 closed, assigned to aswinsuryan

[2021-08-11 10:05] #1518 closed, assigned to sridhargaddam

[2021-08-11 13:14] skitt commented on #1517
@SteveMattar would you be interested in working on adding an E2E test using OCM in Submariner? It should be similar to the work you’ve done to test the bundle with OLM. There’s already a “deploy” target in the addon which sets up kind with OLM and OCM.

[2021-08-12 05:17] SteveMattar commented on #1517
@skitt yes sure I will.

[2021-08-12 09:27] skitt opened #1533 "Publish the APIs as a separate module"
Projects using the Submariner APIs need to depend on the whole Submariner project, which tends to cause dependency tree issues.

We can publish the APIs as a separate module, without needing a separate repository; see https://golang.org/ref/mod for details. Providing `github.com/submariner-io/submariner/pkg/apis` as a separate module would allow other projects to depend on only that.

[2021-08-13 13:17] raffaelespazzoli opened #1535 "implement routing using CNI"
**What would you like to be added**:

today, if my understating is correct, the routing from a pod that needs to send a packet via the tunnel to the submariner gateway is realized via a set of iptables rules.
I suggest that routing should be implemented via a CNI plugin (possibly something like this: https://github.com/redhat-nfvpe/cni-route-override).

**Why is this needed**:
This makes routing s

[2021-08-16 11:25] #1533 closed, assigned to skitt

[2021-08-18 13:22] mangelajo commented on #1421
This is probably an issue also with non-ovn, since DNS resolution on the host is not configured to use the submariner coreDNS.

I wonder if there's a way to add also the lighthouse resolver on the hosts, as a fallback? (via routeagent?)

@vthapar @sridhargaddam

[2021-08-18 14:16] mangelajo commented on #1421
probably route-agent is not the best place, since that's dataplane related, may be a daemonset for lighthouse that takes care of updating each hosts resolv.conf?.

[2021-08-19 06:51] vthapar commented on #1421
@mangelajo Using a lighthouse daemonset to configure all hosts sounds excessive. This will be one time configuration never needed again. Depending on how common such a use case is, it can be done through external scripts [if not too frequent] or by operator on addition of nodes.

[2021-08-19 07:04] sridhargaddam commented on #1421
I tend to agree with @vthapar. AFAIU even in a Vanilla K8s cluster we cannot access any local K8s Service from the Nodes (or a Pod with HostNetworking enabled) because "/etc/resolv.conf" on the nodes does not have any entry to core-dns service.

[2021-08-19 09:22] mangelajo commented on #1421
It's not a one-time. What if the service IP changes? Although it could be a
process that runs once on all nodes then exists every time it changes?

or I wonder, if as @sridhar says, this is just a k8s limitation and we may
not be messing with the resolv.conf

On Thu, Aug 19, 2021 at 9:04 AM Sridhar Gaddam ***@***.***>
wrote:

--
Miguel Ángel Ajo  @mangel_ajo <https://twitter.com/mangel_ajo>
OpenSh

[2021-08-19 12:27] vthapar commented on #1421
@mangelajo Service IP shouldn't change unless service is deleted and then created. In case of dns that shouldn't happen unless user/admin explicitlyl does that, in which case they can also update resolv.conf

[2021-08-19 14:40] mkimuram opened #1537 "Headless service without selector doesn't work"
**What happened**:
Headless service without selector doesn't work.

**What you expected to happen**:
Headless service without selector does work

**How to reproduce it (as minimally and precisely as possible)**:
- Create headless service without selector
[code]
- Check that globalingressip for it is assigned
[code]

**Anything else we need to know?**:

- Logs from globalnet pod at that time
[code]

[2021-08-19 14:43] mkimuram commented on #1537
@sridhargaddam

Opened the issue that I explained in the meeting and [here](https://github.com/submariner-io/submariner-website/pull/573#discussion_r687247053). As you pointed out, globalingressip is not assigned.

[2021-08-24 15:21] dfarrell07 commented on #1517
We talked about moving away from vendoring today on the addon sync. In summary, it doesn't seem like vendoring is worth it. In particular:

* Assurance of artifacts being what we expect can be provided by go.sum.
* Caching for temporary outages can be provided by goproxy.
* If a dependency were to really disappear (be deleted), we'd want to take action to move away from it anyway.

The costs to ve

[2021-09-01 11:04] #1519 closed, assigned to sridhargaddam

[2021-09-02 05:56] sridhargaddam opened #1544 "Gateway migration in one cluster is causing failures in remote cluster"
**What happened**:
In a two-cluster setup (perf1 and perf2), install Submariner (with NAT disabled) to connect both the clusters and ensure that connections are successfully established. In such a setup, when the active gateway migrates on the Perf1 cluster, the routes in table 150 on the Active Gateway node of Perf2 are accidentally deleted. Because of this, pinger (aka Healthcheck) which runs on

[2021-09-02 05:59] sridhargaddam commented on #1544
On analysing the logs, the issue seems to be some race condition in handling the endpoint events.

**On Perf2 route-agent pod on Gateway node:**
The route-agent gets new endpoint created notification of Perf1, subsequently it gets a notification for endpoint removal for the old endpoint during which it was deleting the entries in routing table 150 which was causing this issue.

[code]

[2021-09-04 00:26] danibachar commented on #934
This workaround is not feasible anymore, the lowest version supported by GKE is - 1.18.20-gke.4100 also -  Since GKE node version 1.19, the Docker container runtime is deprecated...

Nodes don't have eth0 link anymore so the script does not work. Does Submariner depends on `eth0` link?

outputs of `ifconfig`
[code]

I tried settings all links with rp_filter=2 and disabled the shielded node feature

[2021-09-06 09:31] oguzdag opened #1546 "Clusters with IPv6 for cluster/service CIDR propagate the endpoints correctly, but libreswan can't make the connections"
**What happened**:

Installed submariner with '--load-balancer' option onto 2 kubernetes cluster running on AWS using kubespray, but i don't see a connection on gateway, i can see load balancer up and running, it accepts connection from ports 4500 and 4490

**What you expected to happen**:

Gateway to have connection on it

**How to reproduce it (as minimally and precisely as possible)**:

deploy

[2021-09-06 12:41] mangelajo commented on #1546
From the operator:

[code]

gateway with libreswan
[code]

[2021-09-09 16:12] hudec opened #1549 "NodeLocal DNS breaks clusterset.local DNS resolution"
**What would you like to be added**:
Dynamic config init change for the nodelocaldns, simmilar ro coredns
The example:
    #lighthouse-start AUTO-GENERATED SECTION. DO NOT EDIT
    clusterset.local:53 {
        forward . 10.234.25.42
    }
    #lighthouse-end

then for nodelocaldns Configmap
    clusterset.local:53 {
        errors
        log
        cache 30
        reload
        loop
        b

[2021-09-11 16:14] dfarrell07 opened #1550 "Lighthouse partly-deployed when not requested"
**What happened**:

In the submariner-io/submariner repo, on devel, running a default deployment results in failing Lighthouse pods.

[code]

**What you expected to happen**:

No Lighthouse components should be deployed if not requested with the `using=lighthouse` flag.

The defaults in Shipyard should be in effect, as they aren't overridden in submariner-io/submariner's `Makefile`.

Shipyard's `M

[2021-09-13 08:20] donaldh commented on #1550
This addition to the makefile will preload the lighthouse images.
[code]
If you don't want lighthouse to be run, I guess that's an operator launch issue?

[2021-09-13 09:37] nyechiel commented on #1544
@aswinsuryan are you looking into this?

[2021-09-13 09:39] aswinsuryan commented on #1544
@nyechiel  I am currently looking into submarriner-addon - cloud-prepare integration now. After completing it I can have a look at this one.

[2021-09-13 13:35] mkolesnik commented on #1550
A good solution should be to deploy with specific image overrides so that each project only tests the images that it builds and not random stuff that might (or not) have been built locally previously.

[2021-09-13 13:36] skitt commented on #1550
We could change `make deploy` in Submariner to specify `--components connectivity` on the `subctl` invocation, which would ensure that Submariner is only deployed with its own components (without having to know what other components to disable).

[2021-09-14 12:22] XiShanYongYe-Chang opened #1553 "Add `context` flag for `subctl deploy-broker`"
**What would you like to be added**:

Add `context` flag for `subctl deploy-broker`, such as:

subctl deploy-broker --kubeconfig /root/.kube/xxx.config --context yyy

**Why is this needed**:

There maybe more than one context in kubeconfig file, I want to change to use another context, as follows:

[code]
I want to use context `b` insted of `a`.

[2021-09-14 15:07] #1553 closed, assigned to skitt

[2021-09-15 01:16] XiShanYongYe-Chang commented on #1553
@skitt Thank you very much for your prompt response.

[2021-09-15 07:27] skitt commented on #1553
You’re very welcome, it was on my to-do list and your issue prompted me to get it done! (It was a very simple fix.)

[2021-09-15 12:40] dfarrell07 commented on #1550
I'm still seeing the `service-discovery` component passed in `make deploy` in the main repo:

[code]

Which results in the same errors:

[code]

I verified my local Shipyard image has the expected-fix by running `make shell` and checking `/opt/shipyard/scripts/lib/deploy_operator`.

[2021-09-15 21:55] mkimuram commented on #1537
Sharing the easiest steps to create a test environment for this issue.

- Below command in `submariner-io/submariner` will create a test environment (except that it is deployed as kind clusters on a single host and that lighthouse is not deployed automatically).

[code]

(The E2E test itself may fail due to multiple source IPs are assigned as a default global EgressIP. I will fix the test.)

And b

[2021-09-16 18:14] mkimuram opened #1554 "E2E test for globalnet w/ external network fails due to lack of handling multiple egressIPs"
**What happened**:
`[external-dataplane] Connectivity` `should be able to connect from an external app to a pod in a cluster` E2E test fails

**What you expected to happen**:
`[external-dataplane] Connectivity` `should be able to connect from an external app to a pod in a cluster` E2E test succeeds

**How to reproduce it (as minimally and precisely as possible)**:

Run below command:
[code]

**Any

[2021-09-17 05:35] aviweit commented on #1537
I have a similar case to what @mkimuram reports where my headless Service with no selector contains an implicit Endpoint with an ipaddress of a pod in multus network - net1 interface.
That network is pre-established independently of submariner and spans both of my clusters.

Is it possible to expose that service so that I can refer, from the other cluster, to pod's 2nd interface ipaddress via its

[2021-09-17 06:50] weizhoublue opened #1556 "globalNet mode does not work"
**What happened**:
I have two clusters running on the vmware VMs.
all VMs are running centos8 with kernel version 5.9
these two clusters are connected by globalNet mode with virtual net 192.168.0.0/16 , and use the wireguard tunnel
both clusters run calico v3.20 with vxlan alway ippool

submariner v0.10.1
k8s v1.22.1

cluster1:
               pod cidr 172.20.0.0/16 . serivce cidr 172.21.0.0/16 .

[2021-09-17 06:58] weizhoublue commented on #1546
On my dual-stack cluster , I encounter  similar  ipv6 issue ,
does  submariner support ipv6 ?

on gateway pod

on router agent pod

[2021-09-17 07:30] weizhoublue opened #1557 "libreswan and vxlan tunnel does not work when calico CNI"
I have two clusters running on the vmware VMs.
all VMs are running centos8 with kernel version 5.9
these two clusters are connected with globalNet disabled
both clusters run calico latest v3.20  with vxlan alway ippool

submariner v0.10.1
k8s v1.22.1

cluster1:
pod cidr 172.20.0.0/16 . serivce cidr 172.21.0.0/16 .
node1(master) 172.110.185.40 . node2(worker) 172.110.185.45

cluster2:
pod cidr 172.

[2021-09-17 09:18] sridhargaddam commented on #1546
Currently, Submariner does not support IPv6. It is on the roadmap, but not on the priority list of items.

[2021-09-17 13:40] dfarrell07 commented on #1556
Thanks for the detailed report @weizhouBlue! Is it okay if I assign you for now @sridhargaddam?

[2021-09-17 18:00] mkimuram commented on #1537
@aviweit

Interesting use case. Thank you for sharing it.
It seems the same issue from a different use case. Its DNS part of the issue is also discussed in [lighthouse#603](https://github.com/submariner-io/lighthouse/issues/603).

This issue is for connectivity of "headless service without selector" and lighthouse#603 is for discovery of "service without selector". There is a workaround for discov

[2021-09-21 18:10] sridhargaddam commented on #1556
@weizhouBlue Okay, as you pointed out there seems to be some issue as traffic is not getting NAT'ed
[code]

Ideally, when cluster2 traffic reaches cluster1 gateway node, the sourceIP of such traffic should be from the GlobalnetCIDR allocated to cluster2 (i.e., 192.168.1.0/24)

I had a look at the globalnet Pod logs in cluster2 and do not see any errors while programming the iptable rules

The clus

[2021-09-21 18:13] sridhargaddam commented on #1557
@aswinsuryan are you familiar with this error message?
[code]

[2021-09-21 18:18] sridhargaddam commented on #1557
@weizhouBlue from the gateway pod logs, I see the following error

[code]

Looks like there is some other process which is running and using UDP/4500 port on the Gateway nodes which is causing issues with Libreswan cabledriver.

[2021-09-24 03:00] 13567436138 opened #1559 "The cluster is deployed with kube-proxy ipvs mode which Submariner does not support"
✗ Checking Submariner support for the kube-proxy mode
 ✗ The cluster is deployed with kube-proxy ipvs mode which Submariner does not support

[2021-09-26 10:23] weizhoublue commented on #1557
@sridhargaddam  thanks for your reminding  ,  the port is exactly taken by an unknown process
I change it to --nattport=4600 , it works

[code]

[2021-09-26 10:54] #1557 closed, assigned to nobody

[2021-09-26 11:40] weizhoublue commented on #1556
@sridhargaddam  thanks for you reminding,  I found that I forgot creating the NAT-disabled calico ippool for globalNet CIDR 192.168.0.0/16
After I patch this creation , it works

[2021-09-26 11:40] #1556 closed, assigned to sridhargaddam

[2021-10-06 00:46] #1550 closed, assigned to nobody

[2021-10-06 22:59] dfarrell07 commented on #1550
https://github.com/submariner-io/shipyard/pull/645 should have fixed this. :heavy_check_mark:

[2021-10-09 14:14] sridhargaddam commented on #1385
@skitt do we need this?

[2021-10-10 23:56] #517 closed

[2021-10-11 09:39] skitt commented on #1385
Yes, I think it would be useful and I believe I have a patch in progress somewhere for this.

[2021-10-15 09:12] jinglina opened #1567 "Public Ip failed to config when using helm to deploy submariner-operator"
When deploying submariner-operator using Helm without configing PublicIp, submariner-gateway cannot setup because of not resolving public IP properly.

[2021-10-15 11:24] skitt opened #1568 "Endpoint objects are updated with no change every 30s"
On a Submariner deployment on OCP 4.9 on AWS, setup with ACM, I’m seeing

[code]

every 30s. The `ResourceVersion` isn’t changing, and all the other fields remain the same too.

This shouldn’t be happening, we shouldn’t need to process updates which don’t change anything.

[2021-10-15 12:06] tpantelis commented on #1568
The is b/c of the default resync period. We set this to retry possible failures in `InstallCable`. Since `InstallCable` is now async due to the NAT discovery, it can no longer report failures back to the controller to re-queue it.

[2021-10-16 12:24] #1071 closed

[2021-10-19 12:29] #1567 closed, assigned to nobody

[2021-10-22 14:36] #1374 closed, assigned to nobody

[2021-10-25 01:53] jinglina commented on #1559
same question with you

[2021-10-25 13:22] skitt commented on #1568
I would like to determine the amount of processing that’s involved, and at least avoid logging too much detail for unchanged objects.

[2021-10-25 14:15] tpantelis commented on #1568
The processing is minimal. `InstallCable` calls `natDiscovery.AddEndpoint` which immediately sets the `readyChannel` if discovery had already completed for the endpoint. This results in a call to `installCableWithNATInfo` which calls `driver.GetActiveConnections` - the **libreswan** and **vxlan** drivers return the cached connections. Since nothing changed with the endpoint it should simply return

[2021-10-27 21:36] mkimuram opened #1581 "Add more E2E tests for external connectivity use case"
**What would you like to be added**:
More E2E tests for external connectivity use case.

**Why is this needed**:
https://github.com/submariner-io/submariner/pull/1202 and https://github.com/submariner-io/submariner/pull/1455 have  added initial tests for this use case, however, more tests are needed to make the coverage of the tests similar to cross-cluster connectivity.

[2021-10-28 09:23] nyechiel commented on #1227
@sridhargaddam is this still relevant?

[2021-10-28 09:39] sridhargaddam commented on #1227
I think this was fixed already by @aswinsuryan by resetting the pinger.
Aswin, can you please confirm?

[2021-10-30 00:34] #778 closed

[2021-10-31 03:23] ccwalterhk opened #1583 "Help: cannot establish connectivity between two k3s clusters"
**Hi, I follow the instruction in submariner.io to test.  I cannot establish connectivity between two K3S clusters.  when I run the connectivity verification.  It gives me below output (output-1).**

[output-1.txt](https://github.com/submariner-io/submariner/files/7447993/output-1.txt)

**When I use the subctl show command as below, I got below output (output-2).**

[output -2.txt](https://github.

[2021-10-31 04:30] ccwalterhk commented on #1583
Additional info:

walter@uat6-server:~
walter@uat6-server:~ export KUBECONFIG=kubeconfig.cluster-a
walter@uat6-server:~ kubectl config use-context cluster-a
Switched to context "cluster-a".

walter@uat6-server:~ kubectl get namespace submariner-k8s-broker
NAME                    STATUS   AGE
submariner-k8s-broker   Active   15h
walter@uat6-server:~ kubectl get crds | grep -iE 'submariner|multiclus

[2021-10-31 04:41] ccwalterhk commented on #1583
walter@uat6-server:~ kubectl get pod  -n submariner-operator
NAME                                             READY   STATUS             RESTARTS   AGE
submariner-operator-745d8c89d8-lh9v8             1/1     Running            2          15h
submariner-routeagent-5vnnb                      1/1     Running            0          52m
submariner-routeagent-4fpfk                      1/1     Running

[2021-10-31 04:45] ccwalterhk commented on #1583
walter@uat6-server:~
walter@uat6-server:~
walter@uat6-server:~ kubectl describe pod submariner-gateway-94wms  -n submariner-operator
Name:         submariner-gateway-94wms
Namespace:    submariner-operator
Priority:     0
Node:         uat9-server/192.168.1.72
Start Time:   Sun, 31 Oct 2021 03:48:13 +0000
Labels:       app=submariner-gateway
              controller-revision-hash=86c987c55f

[2021-10-31 11:19] ccwalterhk commented on #1583
walter@uat6-server:~
walter@uat6-server:~
walter@uat6-server:~ sudo kubectl logs submariner-gateway-gkfgw  -n submariner-operator --kubeconfig=kubeconfig.cluster-b
+ trap 'exit 1' SIGTERM SIGINT
+ export CHARON_PID_FILE=/var/run/charon.pid
+ CHARON_PID_FILE=/var/run/charon.pid
+ rm -f /var/run/charon.pid
+ SUBMARINER_VERBOSITY=2
+ '[' false == true ']'
+ DEBUG=-v=2
++ cat /proc/sys/net/ipv4/conf/a

[2021-11-01 06:10] nyechiel commented on #925
@skitt I took the liberty to move this into the 0.12 board. Please further triage and link to an epic if needed.

[2021-11-01 06:11] nyechiel commented on #861
@mkolesnik do you want to use this one for your planned 0.12 work?

[2021-11-01 07:00] ccamacho commented on #907
I added many many improvements to the automation to get this done, I'm also testing what is shipped in main/master. I'll try to ping you for a follow up on this. We now support cdk,okd,ocp,rke,k8s, and eks.

[2021-11-01 08:55] maayanf24 commented on #1517
@skitt Can we close this epic and track remaining work in new epic / issues?

[2021-11-02 10:51] skitt commented on #1517
Yes, let’s close this, it has run its course. Remaining tasks should be added to appropriate epics or handled as individual issues.

[2021-11-02 10:51] #1517 closed, assigned to dfarrell07, skitt, Jaanki

[2021-11-04 14:13] mkimuram commented on #1166
We are currently thinking about taking 2nd approach.

For current globalnet v2 code, instead of making a chain to jump to kube-proxy's chain [here](https://github.com/submariner-io/submariner/blob/devel/pkg/globalnet/controllers/global_ingressip_controller.go#L173), we will need to create our own chain and jump to it. And updating the chain should be done, on endpoint update or endpoint slice upda

[2021-11-08 06:02] Negashev commented on #14
Still does not work in hetzner (with rke2)

[2021-11-09 00:26] #1095 closed

[2021-11-09 19:06] #1279 closed, assigned to mangelajo

[2021-11-10 14:25] sridhargaddam commented on #1426
This issue is still relevant but low on priority.

[2021-11-10 14:32] sridhargaddam commented on #1421
AFAIU even vanilla K8s does not configure/update the host resolv.conf to resolve the local K8s services for pods running with HostNetworking. So, I'm not sure if Submariner should be doing it. IMHO, this is not a common use-case and if its really required for a specific use-case, it can be done out-of-band.

CC: @vthapar @nyechiel @skitt

[2021-11-10 15:05] sridhargaddam commented on #1745
This is still relevant.

[2021-11-10 15:10] sridhargaddam commented on #1227
This issue is fixed in Submariner.

[2021-11-10 15:10] #1227 closed, assigned to nobody

[2021-11-10 15:21] sridhargaddam commented on #1568
@tpantelis Thanks, let's change it to TRACE.

[2021-11-10 15:43] sridhargaddam commented on #1544
This issue is mostly reproduced in an OCP Setup and I've seen multiple users reporting/facing this problem with Submariner 0.9 release. I think this is still applicable with latest Submariner release. As this is affecting the datapath even though the clusters are shown as connected, marking the priority as high.

[2021-11-10 15:57] sridhargaddam commented on #1463
Closing this issue as there is no activity/update for the last query. Please reopen if required.

[2021-11-10 15:57] #1463 closed, assigned to nobody

[2021-11-11 02:55] SoftTissues commented on #1583
Hello, I ran into the same problem, did you solve this problem?

[2021-11-11 07:14] sridhargaddam commented on #1583
Submariner does periodic health-check between the gateway nodes and it uses the CNI Interface IP on the host for this use-case. It looks like the CNI in K3s environment is not creating an interface on the host which has an IP from the PodCIDR.

You can disable Submariner health-check support in your deployment to avoid this issue.
Please re-run the `subctl join ...` commands once again on your clu

[2021-11-11 08:53] #1554 closed, assigned to nobody

[2021-11-19 09:11] morvencao commented on #1421
The use case is from istio multicluster mesh proposal as an addon of ACM.
we are trying to use submariner as an universal tunnel across multiple clusters, one piece of that proposal is deploying webhook server in one cluster and expose it with `serviceexport`, so that we just need to create corresponding webhook configuration with `*.clusterset.local` in other clusters, then the webhook request wi

[2021-11-19 09:21] mangelajo commented on #1421
See the openshift node-resolver which updates /etc/hosts on each node, you
could adopt a similar strategy.

On Fri, Nov 19, 2021 at 10:11 AM Morven Cao ***@***.***>
wrote:

--
Miguel Ángel Ajo  @mangel_ajo <https://twitter.com/mangel_ajo>
Office of CTO EDGE team.
ex Submariner (ACM) and OpenStack networking

[2021-11-21 15:44] davidohana opened #1595 "`make clusters` fails"
**What happened**:  Getting errors when running `make clusters` or `make deploy` as part of the getting started guide for kind.

**What you expected to happen**:
Kind clusters should be created.

**How to reproduce it (as minimally and precisely as possible)**:
Tried both on CentOS 7.8 and macOS  11.6

**Anything else we need to know?**:

kubectl, subctl, docker, kind already installed properly.

[2021-11-22 04:09] antevens opened #1596 "Bump apiextensions.k8s.io/v1beta1 to apiextensions.k8s.io/v1 for k8s broker"
k8s broker chart fails to deploy on kubernetes 1.22+ due to depricated API version.

https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122

[2021-11-22 09:05] skitt commented on #1595
Thanks for reporting this, this isn’t due to a newcomer’s mistake!

[2021-11-22 10:54] skitt commented on #1595
I don’t have a Mac to reproduce the error there, but I think this should fix it; could you try it and let me know?

Change line 61 in `.dapper` inside your `submariner` clone to read

[code]

[2021-11-22 10:55] skitt commented on #1595
On CentOS, are you using Docker, or Podman?

[2021-11-23 12:26] davidohana commented on #1595
@skitt The fix you suggested didn't change the error output on macOS.
However, I crafted another sed instruction in `extract_var()` that seems to work both on my mac and on CentOS:
[code]

(I can send a PR if you want..)

On CentOS, this of course does not fix the other error which is later in the execution workflow.
Docker is installed on that machine:
[code]

[2021-11-23 12:45] skitt commented on #1595
Yes please! With double quotes in `grep "$2"` ;-).

[2021-11-23 13:28] davidohana commented on #1595
PR: https://github.com/submariner-io/shipyard/pull/684

[2021-11-24 09:59] davidohana commented on #1595
Tried also Ubunto 18.04, same failure as CentOS:

[code]

[2021-11-24 10:25] skitt commented on #1595
That’s surprising, CI runs on Ubuntu 20.04 and works on Ubuntu 18.04 (see https://github.com/skitt/shipyard/pull/8). I wonder what the difference is between CI and your system!

I can reproduce this issue with Buildah on RHEL, I haven’t figured out what’s causing it yet.

[2021-11-24 12:46] Jaanki commented on #1595
I am facing similar error on Fedora 34.

[2021-11-24 16:06] Jaanki commented on #1595
I delete .dapper and Makefile.dapper from my submariner-operator local clone and manually copied these files from shipyard and `make bin/subctl` is now working.

[2021-11-24 16:12] tpantelis commented on #1595
I'm seeing the same running any `make` target (I'm on Fedora as well).  Eg `make golangci-lint`,

[code]

This just started recently.

[2021-11-24 16:34] skitt commented on #1595
Can you try deleting `.dapper` and `Makefile.dapper`?

[2021-11-24 17:30] tpantelis commented on #1595
I did - still failed.

[2021-11-25 09:22] skitt commented on #1595
OK, can you try replacing `fedora:35` with `fedora:34` in `package/Dockerfile.shipyard-dapper-base` and then rebuilding the images? This might be similar to https://bugzilla.redhat.com/show_bug.cgi?id=2025899

[2021-11-25 13:50] tpantelis commented on #1595
I get failures:

[code]

But I get weird errors on my VM with various things anyway.

[2021-11-27 11:41] SoftTissues opened #1598 "The nginx between clusters cannot access each other."
**Which jobs are failing**:

**Which test(s) are failing**:
I encountered some problems when I follow USER GUIDE to verify the installation and learn more about how to use Submariner.All the above are the same as the user guid, but I cannot access the services of the B cluster in the A cluster.

I have three clusters cluster-host, cluster-1 and cluster-2, among which cluster-host runs broker.

The

[2021-11-27 18:23] sridhargaddam commented on #1598
@SoftTissues Submariner supports OVN-Kubernetes (and the following other CNIs - https://submariner.io/getting-started/#support-matrix). Since kubeovn is different from ovn-kubernetes, Submariner might require some changes to be able to support the kubeovn CNI.

CC: @mangelajo

[2021-11-28 07:21] SoftTissues commented on #1598
@sridhargaddam Will Submariner support Kube-OVN in the future?

[2021-11-29 07:42] SataQiu opened #1599 "[Question] Does Submariner support connect clusters with Calico CNI and overlapping CIDRs?"
Does Submariner support connect clusters with Calico CNI and overlapping CIDRs?
I have two clusters with the Calico network plugin installed, and their Pod CIDR and Service CIDR are the same.
I want to use Submariner to communicate across these two clusters.
I can only find the guidance for No overlapping CIDRs [here](https://www.tigera.io/blog/calico-and-submariner-integration-a-hands-on-walkthro

[2021-11-29 08:16] sridhargaddam commented on #1599
Yes, it does. You just have to install Submariner with Globalnet enabled.

Sample commands:
[code]

Also, ensure that you create the necessary IPPools as documented here - https://submariner.io/operations/deployment/calico/
Please see the note in the above page about default globalnet-cidr.

[2021-11-29 08:18] sridhargaddam commented on #1598
Can't say about the future, but currently, it's not on the immediate project roadmap.

[2021-11-29 12:44] tpantelis commented on #1598
But we always welcome contributions.

[2021-11-29 14:46] elevran opened #1600 "Failure running make reload-images in submariner"
**What happened**:
Make failed with an error:
[code]

**What you expected to happen**:
Images rebuilt

**How to reproduce it (as minimally and precisely as possible)**:
`make reload-images`

**Anything else we need to know?**:
See below for command output.
Running on Ubuntu LTS.

**Environment**:
- Diagnose information (use `subctl diagnose all`):
- Gather information (use `subctl gather`):
- Clou

[2021-11-30 19:35] kanrenibm opened #1601 "Submariner Operator installation failed."
**What happened**:

I could not install the Submariner Operator  in Calico environment following the doc , https://www.tigera.io/blog/calico-and-submariner-integration-a-hands-on-walkthrough/ .

**What you expected to happen**:

Submariner Operator installation failed
[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- D

[2021-11-30 19:40] kanrenibm opened #1602 "Got `panic Error ` while trying to do subctl gather"
**What happened**:

This is in continuation to the issue https://github.com/submariner-io/submariner/issues/1601 , while  trying to perform subctl gather got the following messages

[code]

[2021-12-02 13:22] skitt opened #1605 "Broker credentials should be made available as a mounted secret"
Currently, broker credentials are passed in the environment. Instead, they should be provided as mounted secrets.

This is part of https://github.com/submariner-io/enhancements/issues/56

[2021-12-03 16:51] luis5tb opened #1608 "Broken service connectivity across cluster with ovn-kubernetes"
**What happened**:
Exposed services are not reachable from remote cluster when using ovn-kubernetes (in a OKD 4.9 environment).

The clusters are properly connected and the services are properly exported. The traffic reaches the remote gateway and it gets inyected into br-submariner ovs bridge as expected, however the traffic gets dropped there (I check the geneve tunnel between the gateway node a

[2021-12-04 00:43] #1509 closed, assigned to nobody

[2021-12-06 08:40] nyechiel commented on #1471
@sridhargaddam I assume that this one needs docs to be updated? https://submariner.io/operations/monitoring/

[2021-12-06 10:10] sridhargaddam commented on #1471
@nyechiel the two metrics that @maayanf24 added are existing metrics which we used to support earlier with GN 1.0 implementation and I see that our website already has the associated documentation - https://submariner.io/operations/monitoring/#globalnet

@maayanf24 will be looking at new metrics which are only applicable for GN 2.0 implementation and once that is implemented, we can update the doc

[2021-12-06 15:02] m4ce opened #1610 "Submariner VXLAN cable mtu"
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/network_mtu.html

We use submariner to inter-connect kubernetes clusters running in different AWS regions. Internally, within the region, we do use Jumbo frames. However, on the inter-region vpc peering, the MTU is capped at 1500 due to AWS limitations (see link above).

By default, submariner defaults the vxlan-tunnel's mtu to the default host's

[2021-12-06 15:36] sridhargaddam commented on #1610
Thanks for validating and reporting the observations @m4ce.

That's correct. Currently, Submariner relies on the default host interface to calculate the tunnel interface MTU

Currently, this is not supported but on the long-term roadmap, we have plans within Submariner to auto-discovery the MTU and configure it on the interfaces.

For now, please take this approach as we do not have other options.

[2021-12-07 05:34] SataQiu opened #1611 "Is there a roadmap to support kube-proxy in IPVS mode?"
**What would you like to be added**:
Hello! Is there a roadmap to support kube-proxy in IPVS mode?
What needs to be done to implement IPVS support?  And is there a task list?
This seems to be a common need.

Ref: #1559

**Why is this needed**:

[2021-12-07 05:35] SataQiu commented on #1611
cc @yue9944882

[2021-12-07 05:36] #1599 closed, assigned to nobody

[2021-12-07 08:15] skitt commented on #1611
As far as I’m aware there is no task list yet, although IPVS is on our radar.

@sridhargaddam, @aswinsuryan, @vthapar — what are the main changes involved in adding IPVS support?

[2021-12-07 08:50] yue9944882 commented on #1611
thanks for replying, submariner team. for kubernetes cluster of larger scale, it's almost mandatory to land on ipvs otherwise traffic rules reloading will be much slower as the # of services grows. not to mention the ipvs tech per se is nowadays considered mature since it's adopted by more and more companies in production. so on the other hand, i believe having such integration w/ ipvs will def he

[2021-12-07 09:37] sridhargaddam commented on #1611
When Kube-proxy is installed with IPVS mode, kube-proxy programs IPVS load-balancer rules instead of iptable rules.
Currently, Submariner uses iptable rules to preserve the source-IP of the Pods while supporting cross-cluster connectivity.
So we have to check if the iptable rules programmed by Submariner work the way we want even when kube-proxy installs IPVS rules - this investigation is pending.

[2021-12-07 20:44] dfarrell07 opened #1615 "Update submariner-security Google Group and submariner-io GH Org Owners"
**What would you like to be added**:

- [ ] Make [submariner-security Google Group](https://groups.google.com/g/submariner-security/about) publicly visible and group members visible
- [ ] Add @sridhargaddam to submariner-security Google Group
- [ ] Add @skitt to submariner-security Google Group
- [ ] Make sure all/only the Submariner Owners are admins of the submariner-security Google Group
- [ ]

[2021-12-07 20:47] dfarrell07 commented on #1615
Can you wield your admin powers to help with this @skitt or @tpantelis?

[2021-12-08 08:18] skitt commented on #1615
I can’t, I’ve apparently been removed from the group and was never an admin anyway AFAIK. I think we need @mangelajo for this one...

[2021-12-08 11:48] nyechiel commented on #1595
Is this still being worked on? I don't see any such issues with my Fedora 35 system, but not sure about other OSs.

[2021-12-08 13:12] skitt commented on #1595
Yes, I’m still working on this.

[2021-12-08 18:09] dfarrell07 commented on #1595
I sometimes get weird errors that show up as failed networking inside a container (like you quoted above @tpantelis, or from a fresh repo I think it shows up as .shflags failing to download), and it seems to be a longevity issue with the Docker daemon. A basic test of in-container networking will show if this is the issue:

[code]

If that fails, restarting my Docker daemon typically fixes it:

[c

[2021-12-08 21:11] tpantelis commented on #1595
I restarted the Docker  daemon but I still get the same issue, ie:

[code]

I'm on Fedora 33.

[2021-12-09 03:16] dfarrell07 commented on #1615
I talked with Miguel on Slack, he was on PTO today (sorry!:skull:) but will take a look at this. Thanks Miguel!

[2021-12-09 04:19] josepowera opened #1620 "how to upgrade Submariner version"
Wanted to upgrade version on install using subctl, but can't find any manual regarding how to upgrade version (I find only install manuals)

[2021-12-09 09:11] skitt commented on #1595
OK — could you try https://github.com/submariner-io/submariner/issues/1595#issuecomment-979008446 and let me know if that fixes things?

[2021-12-09 14:00] tpantelis commented on #1595
Building the images fails with another error related to SSL (`tls: bad record MAC`). I've had such issues for quite a while on my VM.

[2021-12-09 20:40] dfarrell07 opened #1622 "REQUEST: New committer rights request for dfarrell07"
### GitHub Username
@dfarrell07

### Code you are requesting Committer rights for
[code]

### Requirements
- [x] I have reviewed the contributor roles guidelines (https://submariner.io/community/contributor-roles/)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the submariner-dev e-mail list (https://groups.google.com/forum/#!forum/s

[2021-12-12 13:51] nyechiel commented on #652
@sridhargaddam I think we can close this at this point. There are individual work items which are tracked separately. Would you agree?

[2021-12-12 14:36] sridhargaddam commented on #652
That's true @nyechiel. Number 34 and 35 are already getting addressed as part of ACM Globalnet support. Work item number 33 can be tracked separately. I'll close this, thanks.

[2021-12-12 14:36] #652 closed

[2021-12-14 09:12] maayanf24 commented on #1471
@sridhargaddam - more metrics that can be added:
submariner_allocated_global_egress_ip
submariner_allocated_cluster_global_egress_ip
submariner_allocated_global_ingress_ip

[2021-12-14 09:38] skitt commented on #1622
I think this is now complete.

[2021-12-14 09:38] #1622 closed, assigned to dfarrell07

[2021-12-14 14:29] mkolesnik commented on #1595
I think if host OS version is too old than the one we use for the build container this fails, I'm now on F35 on my laptop and everything works as it should.
Perhaps the older OSes don't have necessary kernel support for the newest kernel that's expected inside the container?

Just to clarify, I suspect it's because older Fedora versions are EOL. In Ubuntu LTS everything should be working (at least

[2021-12-14 14:43] dfarrell07 commented on #326
@skitt is working on this with PRs like https://github.com/submariner-io/submariner-operator/pull/1687

[2021-12-14 14:54] dfarrell07 commented on #636
We talked about this on the PR scrub today. It still seems important, and it seems related-but-different from the ongoing Uninstall Epic (https://github.com/submariner-io/enhancements/issues/50). This is more about destroyed/missing clusters.

[2021-12-14 17:10] #1100 closed

[2021-12-14 17:46] dfarrell07 commented on #1622
Thanks for all the PRs, @skitt!

[2021-12-16 11:30] josecastillolema opened #1625 "Submariner "broke" a spoke OVNKubernetes ocp cluster"
**What happened**:
We have two clusters:
 - **okdhub** is broker and spoke at the same time, running OKD 4.9 in aws cloud with OVNKubernetes
 - **test595** (the cluster that was left broken) is an OCP 4.10 nightly cluster on baremetal with OVNKubernetes

Both clusters have overlapping CIDRs. At the time of joining **test595** to the broker, we were not aware of OVNKubernetes overlapping CIDR limit

[2021-12-16 11:32] sridhargaddam commented on #1625
Thanks @josecastillolema for reporting the issue.

[2021-12-16 12:06] nyechiel commented on #1120
With Submariner being deployed and managed through OCM (https://github.com/open-cluster-management/submariner-addon) it's already possible to spawn multiple clustersets (with one Broker namespace per clusterset running in the OCM Hub). @qiujian16 would you agree? Do you think that there is anything we should do better in this space?

[2021-12-16 12:15] qiujian16 commented on #1120
yes I think so

[2021-12-16 15:04] sridhargaddam commented on #1625
A related fix was done earlier via the following PR and was backported as well - https://github.com/submariner-io/submariner/pull/1432

Have to investigate if some additional check is missing for OVN-Kubernetes implementation.

[2021-12-17 05:55] #1508 closed, assigned to nobody

[2021-12-17 05:55] #1524 closed, assigned to nobody

[2021-12-17 05:55] #1380 closed, assigned to nobody

[2021-12-17 05:55] #1336 closed, assigned to mangelajo

[2021-12-17 17:02] skitt opened #1628 "pinger_test is flaky"
**Which jobs are flaking**: unit tests

**Which test(s) are flaking**: pinger_test

**Testgrid link**: https://github.com/submariner-io/submariner/runs/4562958089?check_suite_focus=true

**Reason for failure**:

[code]

**Anything else we need to know**: this has been seen on a number of PRs.

[2021-12-17 17:12] tpantelis commented on #1628
I ran this locally with `-untilFails` many hundreds of times w/o failure. What's strange is that it fails in the initial `verifyPingStats` before it even stops it but the "the IP is reachable" test that also calls `verifyPingStats` doesn't fail.  The only difference is that the `pingInterval` is shorter (100 ms) than the other test (300 ms) so perhaps the actual ping itself sometimes takes a bit l

[2021-12-20 08:19] skitt commented on #1628
In all the failures I’ve seen, the output was all 0s; does that mean that the ping was too fast to be measured, or that none had been measured at all? It might be worth logging the number of received pings.

[2021-12-20 13:05] tpantelis commented on #1628
I was thinking the first ping hadn't happened yet but perhaps 100ms interval is sometimes too small to produce a measurable difference. Either way, with this test case, we just want to make sure the pinger has started so we can verify that it stopped so we just need to ensure one ping occurred and not measure a difference - I'll change the test accordingly.

[2021-12-20 15:52] #1628 closed, assigned to tpantelis

[2021-12-21 14:08] mkolesnik commented on #861
Closed in favor of https://github.com/submariner-io/enhancements/issues/49

[2021-12-21 14:08] #861 closed

[2021-12-21 14:13] dfarrell07 commented on #1101
We tried to triage this but don't have a lot of information, moving to prio:low for now.

[2021-12-21 14:18] dfarrell07 commented on #1120
Can we close this? Given the other work going on outside of Submariner?

[2021-12-21 14:23] dfarrell07 commented on #1278
This still seems important, but we don't have anyone working on OVN right now. If someone wants to dig in, that would be much appreciated.

[2021-12-21 14:41] dfarrell07 commented on #1484
We think this was fixed by https://github.com/submariner-io/submariner/pull/1483, @aswinsuryan hasn't seen it in his recent testing.

[2021-12-21 14:41] #1484 closed, assigned to nobody

[2021-12-21 14:42] dfarrell07 commented on #1510
Some folks with Axon are looking at this, it will need to be fixed in the kernel.

[2021-12-21 14:43] aswinsuryan commented on #1410
The public IP associated with a domain name of a LoadBalancer in AWS seems to be changing and the submariner fails to update the public IP field in the endpoint.

To fix this we need to have a periodic task which checks if the public IP is still valid and update it in the endpoint in case of any changes.

[2021-12-21 14:45] aswinsuryan commented on #1369
Making DNS entry would make it unresolvable for some of the on-prem clusters. So a solution would be to check the public IP behind the load balance periodically and update it as discussed in https://github.com/submariner-io/submariner/issues/1410

[2021-12-21 14:45] #1369 closed, assigned to mangelajo, maayanf24

[2021-12-21 14:46] aswinsuryan commented on #1745
The fix used for https://github.com/submariner-io/submariner/issues/1410 can be made generic and used to update the public IP in this case as well.

[2021-12-21 14:57] dfarrell07 commented on #1559
It seems to me like this is a duplicate of https://github.com/submariner-io/submariner/issues/1611. Can we handle discussion there?

[2021-12-21 14:57] #1559 closed, assigned to nobody

[2021-12-21 15:04] dfarrell07 commented on #1583
Can we close this?

[2021-12-21 15:06] nyechiel commented on #1120
The only reason to keep this open is to track a built-in solution in Submariner, for e.g via ``subctl``. I _think_ we can close this for now, and reopen if there is a concrete demand from users.

[2021-12-21 15:06] #1120 closed

[2021-12-21 15:09] dfarrell07 commented on #1598
This seems like an enhancement request, but the issue highlighted here is resolved. If you want this feature, can you create an enhancement proposal @SoftTissues? https://github.com/submariner-io/enhancements

[2021-12-21 15:16] dfarrell07 commented on #1610
Do we have an issue to track this? If not, should we open one and close this?

[2021-12-22 00:15] aswinsuryan commented on #1549
@hudec Is this a case were Lighhouse configuration repalces nodelocal DNS or viceversa?  or Does nodelocal DNS use the same domain name as lighthouse?

[2021-12-22 08:26] nyechiel commented on #1544
@aswinsuryan can you update what is the status of this one?

[2021-12-22 09:41] hudec commented on #1549
Typical coredns cm changes
  Corefile: |+
    #lighthouse-start AUTO-GENERATED SECTION. DO NOT EDIT
    clusterset.local:53 {
        forward . 10.237.12.126
    }
    #lighthouse-end

The next changes are required for the nodelocaldns cm
  Corefile: |
    cluster.local:53 {
        errors
        cache {
            success 9984 30
            denial 9984 5
        }
        reload
        loop

[2021-12-22 11:16] nyechiel commented on #1625
@josecastillolema can you please confirm what version of `subctl`/Submariner you are using?

[2021-12-22 11:29] josecastillolema commented on #1625
subctl version: v0.11.0

[2021-12-22 11:32] luis5tb opened #1631 "infinite creation of submariner-networkplugin-syncer-XXX pods"
In deployment on top of AWS, the gateway node is simply using the local filesystem as there is no option to, for instance, point to EBS volumes in "prepare aws" (https://submariner.io/operations/deployment/subctl/#prepare-aws)

In long living environments this is a problem as the node will soon reach the disk pressure status and will start evicting pods. This triggers the recreation of the submari

[2021-12-22 20:20] kevinanderson1 opened #1634 "Exporting multiple headless services with Globalnet does not work"
**What happened**: Exporting multiple services with globalnet does not allocate a globalnet ingress ip `giip` per exported service and instead only creates one and in some cases overwrites it and in others deletes it. This breaks connectivity when using globalnet and exporting more than one service per cluster. If globalnet is restarted you can see the globalnet controller iterating through the ex

[2021-12-22 22:13] JeepGuy commented on #1634
This one is important as any work arounds are reported to be be deleted if globalnet... This is pretty much a showstopper for PROD. - at least for our requirements...

[2021-12-22 23:00] tpantelis opened #1635 "Implement route agent dataplane cleanup"
Pass an UNINSTALL environment variable to initiate cleanup of dataplane components (IP tables etc).

Task for https://github.com/submariner-io/enhancements/issues/50

[2021-12-22 23:03] tpantelis opened #1636 "Implement gateway dataplane cleanup"
Pass an UNINSTALL environment variable to initiate cleanup of dataplane components (IP tables etc).

Task for submariner-io/enhancements#50

[2021-12-22 23:04] tpantelis opened #1637 "Implement globalnet dataplane cleanup"
Pass an UNINSTALL environment variable to initiate cleanup of dataplane components (IP tables etc).

Task for submariner-io/enhancements#50

[2021-12-23 07:02] nyechiel commented on #1634
@sridhargaddam can you please take a look at this?

[2021-12-23 09:22] sridhargaddam commented on #1634
@JeepGuy @kevinanderson1 Can I use the regular KIND clusters from Submariner repo (i.e., make deploy using=globalnet) to reproduce this issue?

[2021-12-23 11:54] kevinanderson1 commented on #1634
@sridhargaddam Thank you for that information. :smiley:  It makes it easier to reproduce for sure. Using the built in kind clusters `make deploy using=globalnet` I was able to reproduce it with the same steps above by deploying the stateful sets and exporting the services.

[2021-12-24 12:59] sridhargaddam commented on #1634
@JeepGuy @kevinanderson1 the fix is now merged on the devel branch and the backport PR (release-0.11) is under review. Please give it a try and let us know if you find any issues.

[2021-12-24 21:27] kevinanderson1 commented on #1634
@sridhargaddam Thank you! With the patch being backported to 0.11 will that be a part of an 0.11.1 release or will the release-0.11 containers be updated under the same tag? I'll try to get a response by middle of next week with regards to testing the patch.

[2021-12-26 04:02] ccwalterhk commented on #1583
with the --health-check=false, the gateway is running successfully.  No more crash.

### below is some output from cluster a:

[code]

### below is some output from cluster b:

[code]

[2021-12-26 04:08] ccwalterhk commented on #1583
However, when I try to ping from pod in cluster a to pod in cluster b, I cannot ping thru.

### This is pod in cluster b:
[code]

### This is the pod in cluster a:

[code]

[2021-12-26 04:12] ccwalterhk commented on #1583
when I use the below commands to verify the deployment, I got below output.

[code]

[2021-12-27 09:36] nyechiel commented on #1598
Closing old issues. Please re-open if needed.

[2021-12-27 09:36] #1598 closed, assigned to nobody

[2021-12-27 09:37] nyechiel commented on #1583
Closing old issues. Please re-open if this is still relevant.

[2021-12-27 09:38] nyechiel commented on #1426
We haven't seen major issues on this space. Let's re-open if there is a concrete bug/user feedback.

[2021-12-27 09:38] #1426 closed, assigned to nobody

[2021-12-27 11:59] ccwalterhk commented on #1583
Have some improvement after using ----health-check=false.  The gateway is up and running now. But, the issue has not been fixed. the pod in cluster A cannot ping pod in cluster B.

[2021-12-27 12:04] nyechiel commented on #1583
@cwalterhk are you following https://submariner.io/getting-started/quickstart/k3s/?

[2021-12-27 12:09] ccwalterhk commented on #1583
Yes. I follow the exact steps in the URL.  I even use the same  POD and service CIDR.

[2021-12-27 12:12] ccwalterhk commented on #1583
BTW, all the worker and master nodes are on same segment, although I don't think this is a concern.

[2021-12-27 12:28] ccwalterhk commented on #1583
[code]

[2021-12-27 12:35] ccwalterhk commented on #1583
Output of subtle diagnose all:

[code]

[2021-12-27 12:41] ccwalterhk commented on #1583
Output of subtle diagnose firewall inter-cluster:

[code]

[2021-12-27 12:48] ccwalterhk commented on #1583
Uploaded subctl gather for cluster a and b.

[submariner-cluster-B-20211227124346.tar.gz](https://github.com/submariner-io/submariner/files/7780194/submariner-cluster-B-20211227124346.tar.gz)
[submariner-cluster-A-20211227124333.tar.gz](https://github.com/submariner-io/submariner/files/7780195/submariner-cluster-A-20211227124333.tar.gz)

[2021-12-27 14:28] sridhargaddam opened #1641 "Support configuring the MTU of VxLAN interface"
Currently, Submariner configures the VxLAN interface MTU which is derived from the default host interface MTU. However, this approach may not be suitable for all deployments, one such example is discussed in the following issue - https://github.com/submariner-io/submariner/issues/1610

In order to support such deployments, it would be great if Submariner can do one/both of the following.

1. Suppo

[2021-12-27 14:30] sridhargaddam commented on #1610
@dfarrell07 I opened a new issue to track this - https://github.com/submariner-io/submariner/issues/1641
So, we can close this one.

[2021-12-27 14:30] #1610 closed, assigned to nobody

[2021-12-27 14:52] sridhargaddam commented on #1631
Thanks, @luis5tb for reporting the issue. I think currently there is no easy way to inform K8s to auto-clean up the evicted pods. There seems to be some limit that can be lowered but it's a cluster-wide configuration.

I have the following questions
1. Does configuring EBS for the Submariner gateway nodes solve the issue?
2. In case its yes for the above, can we do this unconditionally in `subctl

[2021-12-28 02:38] sridhargaddam commented on #1583
It looks like the Submariner Operator was not able to detect the CNI in the cluster and uses "generic" route-agent. May i know the CNI that you are using in the cluster?

Also, I see that tunnels/connections are properly established between the gateway nodes. So the connectivity issue you are seeing is only when the source or destination pod is on non-gateway?

[2021-12-28 06:25] ccwalterhk commented on #1583
I did not specify any CNI during installation of K3s and submariner. I believe it is using default for K3s which is "--flannel-backend=vxlan".   Any command to confirm what CNI is being used?

I only have 1 worker node per cluster.  So, the pod is also located in the gateway.

[2021-12-28 09:51] sridhargaddam commented on #1583
Looking at the logs, yes you seem to be using flannel CNI. So, i think there is some issue (non-fatal) in the submariner-operator code which is unable to detect flannel CNI in K3s. Can you please report an issue in the "submariner-operator" namespace?

[2021-12-28 09:56] sridhargaddam commented on #1583
The ip-address of pod in cluster-b is `10.144.1.9`. Looks like you are trying to ping 10.144.0.19
Are you sure that the ip-address to which you tried to ping belongs to a running pod in cluster-b?

[2021-12-28 10:00] sridhargaddam commented on #1583
The error does not seem to be related to Submariner and the e2e test code is getting failures when its trying to create a namespace. Please check if you are able to create namespaces in your cluster with the user-account with which you are trying to run the e2e tests.

[2021-12-28 10:04] ccwalterhk commented on #1583
**Sorry, there was typo.  But, I did multiple times. below is another test.**

Pod in cluster b:
[code]

Pod in cluster a:

[code]

Cannot ping from cluster a to cluster b:
[code]

[2021-12-28 10:06] ccwalterhk commented on #1583
Thanks.  I can report an issue in the "submariner-operator" namespace.   For now, can advise how to workaround?

[2021-12-28 10:11] sridhargaddam commented on #1583
While the ping is in progress, can you run "tcpdump -len -i any" in the netshoot pod of cluster-b to check if the packets are received on the destination cluster or if the icmp ping itself is not reaching the pod in cluster-b.

[2021-12-28 10:18] sridhargaddam commented on #1583
For flannel even the `generic` route-agent would work, hence I mentioned that its "non-fatal" in my message.
Looking at the logs of Submariner pods, I could not find any errors in it. So we have to debug this problem using tcpdump to figure out the issue.

One more observation from the subctl gather output logs:
Normally when `subctl gather ...` is run on an cluster, it will also collect logs rela

[2021-12-28 10:19] ccwalterhk commented on #1583
**I actually keep watching the RX count in pod of cluster-b. I don't think packets are being received in cluster b.**

[code]

[2021-12-28 10:25] ccwalterhk commented on #1583
**I use below syntax to generate the log.  I don't get any errors at all.**

`subctl gather --kubeconfig kubeconfig.cluster-a`

[2021-12-28 10:28] ccwalterhk commented on #1583
**Confirmed with TCPDUMP.  Not getting anything.**

[2021-12-28 10:31] sridhargaddam commented on #1583
@vthapar FYI

[2021-12-28 10:35] sridhargaddam commented on #1583
Okay, so it confirms that packets are not even reaching the destination cluster and are probably getting dropped on the source Gateway node itself. Please try to check where its getting dropped on the gateway node.

I'm a bit busy this week and other Submariner developers are off due to holidays. If you are unable to figure out the issue by next week, I can provide some support in investigating it

[2021-12-28 10:44] ccwalterhk commented on #1583
**Actually, thank you very much for help.  Found some interesting thing.  the traffic goes internet. don't know who is 10.44.1.1 as well**

[code]

[2021-12-28 11:44] sridhargaddam commented on #1583
I think the problem is because the cluster_cidr configured in Submariner is not matching with the actual value of your Cluster.
For example, from the `subctl show output ...`, I can see the following

[code]

So, cluster-b is advertising its local clusterCIDR as `10.144.0.0/24` (i.e., IPs falling in this CIDR are 10.144.0.1 to  10.144.0.255). But when you scheduled a pod in Cluster-b its getting a

[2021-12-28 12:21] ccwalterhk commented on #1583
**Thanks.   You are right.  After I use method 1 you proposed, it is pingable now.  Very good.**

Just FYI.  I still need to use --health-check=false.   if I remove --health-check=false, there is error in subctl show output.

[code]

[2021-12-28 12:25] ccwalterhk commented on #1583
**### This is output if I use --health-check=false**

[code]

[2021-12-28 12:42] ccwalterhk commented on #1583
### Thank you, @sridhargaddam.  By going thru this troubleshooting session, I learnt a lot on submariner and Kubernetes.

Suggest to update https://submariner.io/getting-started/quickstart/k3s/ URL and put cluster CIDR option in the join command.

[2021-12-28 12:44] sridhargaddam commented on #1583
Glad to hear that its working now. May I know if the original issue was a wrong configuration or if its an issue with submariner-operator autodiscovery code?

[2021-12-28 12:48] sridhargaddam commented on #1583
Glad to hear that. We welcome PRs :) In-case you want to propose a PR, please feel free to send a PR to the following repo - https://github.com/submariner-io/submariner-website

Also, can you please report a bug on "submariner-operator" repo with the following info, thanks.
1. Auto-discovery of CNI is failing on K3s
2. Issue with discovery of ClusterCIDRs on K3s

[2021-12-28 12:52] ccwalterhk commented on #1583
### It is the autodiscovery code.

[2021-12-28 12:53] ccwalterhk commented on #1583
Will report both issues.  I will take a look how to do the PR as well.

[2021-12-28 12:58] #1583 closed, assigned to nobody

[2021-12-28 13:01] nyechiel commented on #1583
Thanks @cwalterhk for the feedback and @sridhargaddam for your support!

[2021-12-28 13:30] ccwalterhk opened #1642 "Auto-discovery of flannel CNI and ClusterCIDR is failing on K3s"
**What happened**: Auto-discovery of CNI is failing on K3s. It does not detect the CNI in the cluster and uses "generic" route-agent.

[code]

**What you expected to happen**: It should be able to detect flannel CNI.

**How to reproduce it (as minimally and precisely as possible)**:
Follow the exact steps in URL https://submariner.io/getting-started/quickstart/k3s/.  below is exact steps to build

[2021-12-28 22:56] kevinanderson1 commented on #1634
@sridhargaddam I can confirm that the patch fixes this issue. Thank you for the assistance!

[2021-12-28 22:56] #1634 closed, assigned to sridhargaddam

[2021-12-29 05:38] sridhargaddam commented on #1634
Thanks for confirming @kevinanderson1. Yes, it will be part of 0.11.1 release - https://github.com/submariner-io/releases/issues/283

[2021-12-30 07:28] nyechiel commented on #1642
Thanks for reporting this @cwalterhk. IIRC, despite the fact that the CNI is not being discovered properly, actual routing logic is in place and connectivity works as expected. Can you confirm? /cc @sridhargaddam

[2021-12-30 09:11] ccwalterhk commented on #1642
Confirm that the routing logic is place. After I forced the clusterCIDR, everything works.

[2021-12-31 08:12] cwalterhk opened #1644 "DNS resolution sometimes does not work."
**What happened**: DNS resolution sometimes not working. This is even within cluster (not across cluster yet).

Example.  ngxslb2 is service. When I login into container and do curl. sometimes, I can get response "Hello Kubernetes!" and sometimes, I could not.
[code]

**What you expected to happen**:  DNS resolution should be working all the time.

**How to reproduce it (as minimally and precisely

[2021-12-31 09:56] cwalterhk opened #1645 "subctl expose service - supports type Loadbalancer?"
### Does subctl expose service supports type Loadbalancer?

[code]

[2021-12-31 14:16] sridhargaddam commented on #1642
@nyechiel yes Nir, the routing logic would work fine. However, apart from CNI detection failure, the other problem is that Submariner operator was not detecting the clusterCIDR properly and wrong CIDR was getting configured in the cluster which was leading to the datapath failures.

[2022-01-03 08:27] skitt commented on #1595
The “operation not permitted” errors are caused by seccomp filtering in the container runtime not knowing about `clone3`, which is used by glibc 2.34. See https://pascalroeleven.nl/2021/09/09/ubuntu-21-10-and-fedora-35-in-docker/

I’ll change `.dapper` to used an unconfined security context for the time being.

[2022-01-04 07:47] sridhargaddam commented on #1471
Looks fine @maayanf24. Within global_egress_ip category, if required, we can go even further and capture global_egress_ips at namespace and pod levels, but i think its okay if we group them into submariner_allocated_global_egress_ip

Thanks for looking into it.

[2022-01-05 07:00] ultrastdn opened #1649 "[help ]I'm having some problems deploying submariner in a private environment"
I have two clusters, cluster-a and cluster-b, on two VMs, and the IP addresses of the two VMs can ping each other. Cluster-a is the location where the broker is deployed. Cluster-a and cluster-b are added to the broker (the -natt=false parameter is used). After the submariner-gateway is added successfully, the following log is displayed in the gateway log:
[code]

How do I check and fix the proble

[2022-01-05 08:10] sridhargaddam commented on #1649
Normally the EndpointIP and Public-IP will be different. But in your case, I see the following

1. For cluster-b both of them are matching
2. For cluster-a, they are different but it appears like both are public-ips
3. Also, since `subctl gather ...` output is missing and `subctl show all` is from single cluster, I'm not sure if you are using non-overlapping CIDRs or not.

[2022-01-05 08:38] ultrastdn commented on #1649
I confirm that my CIDRs do not overlap. Currently, my computer has only one network adapter. Therefore, I do not know whether it is correct to set the IP address of the network adapter to endpoint-ip and public-ip at the same time.  Or can you tell me what the public-ip is for?

[2022-01-05 08:41] ultrastdn commented on #1649
I'm sure the CIDRs I'm using are non-overlapping. Currently I only have one NIC on my device, so I'm not sure if it's correct to set public-ip and EndpointIP to the same IP. Or can you tell me what this public-ip is for? Thank you.

[2022-01-05 10:50] sridhargaddam commented on #1649
You dont have to set the public-ip on the NIC. When a Cluster is advertising its local endpoint to the Broker (and subsequently to the remote clusters) the endpoint info will contain both the private-ip as well as public-ip. Submariner gateway running on the remote cluster will try to connect to both the privateIP as well as public-IP and will choose the one that is reachable - It uses the auto-NA

[2022-01-05 13:25] sridhargaddam commented on #1166
@mkimuram I pushed the PR which implements the feature, but I'm not able to add you as reviewer. Can you please review - https://github.com/submariner-io/submariner/pull/1643

[2022-01-05 16:49] dfarrell07 opened #1650 "Fix Twitter, Together credentials"
**What happened**:

Tweets fail with:

https://github.com/submariner-io/submariner/pull/1633

https://github.com/submariner-io/submariner/runs/4715357398?check_suite_focus=true

**Anything else we need to know?**:

I think I need to have a call with @tpantelis or another Owner and make sure the secretes stored in GH match the names required by the tooling, and that the values match the ones for ou

[2022-01-05 17:01] dfarrell07 opened #1651 "Tweet about CNCF Community event about SubM"
As brought to our attention by a user on Slack, there is a CNCF Community event about Submariner scheduled for February 8th. It's online-only, so everyone can attend if they RSVP. We should use the new/WIP Twitter automation to announce, promote the event.

https://community.cncf.io/events/details/cncf-washington-dc-presents-submariner-and-inter-k8s-connectivity/

[2022-01-06 06:40] ultrastdn commented on #1649
Run the` kubectl annotate node kwephisprm19248 gateway.submariner.io/public-ip-` command to cancel the public IP address. Run the `subctl join --kubeconfig kubeconfig.cluster-b broker-info.subm --clusterid cluster-b --natt=false --force-udp-encaps` command to add cluster-a and cluster-b to the broker again. After the gateway is added to the broker, the gateway repeatedly crashes and the error mess

[2022-01-06 08:00] sridhargaddam commented on #1649
Since your environment is a private env' without access to internet, the public-ip resolution is not happening and submariner-gateway pod is failing. I will check if its safe to ignore the public-ip resolution when NAT is disabled and will push a PR (this might take sometime). In the meantime, what you can do is to add the annotation `gateway.submariner.io/public-ip` with some random public-ip (wh

[2022-01-06 14:16] Billy99 commented on #1568
@tpantelis Looking for a first issue, can I take this from you?

[2022-01-06 14:52] tpantelis commented on #1568
sure

[2022-01-06 15:23] #1595 closed, assigned to skitt

[2022-01-06 16:24] dberg1 opened #1652 "submariner should accept "Calico" (with capital C) as network plugin"
My OpenShift cluster is configured to use Calico as CNI network plugin instead of the default OpenShiftSDN:
[code]
unfortunately, submariner does not recognize "Calico" as a supported CNI network plugin because of the capital C:
[code]

**What happened**:
`submariner-route-agent` does not create the required iptables rules because it does not recognize the "Calico" network plugin.

**What you expe

[2022-01-06 16:28] dberg1 commented on #1652
Changing pkg/routeagent_driver/constants/constants.go:
[code]
to
[code]
seems to fix the issue for me (but you might want to accept both "calico" and "Calico").
At least the `submariner-route-agent` now creates the iptables rules properly.

[2022-01-07 07:35] sridhargaddam commented on #1652
Thanks for reporting the issue @dberg1. Can you please confirm that after you modified the name to "Calico" the connectivity between the clusters is working fine?

[2022-01-07 15:12] dberg1 commented on #1652
My setup is a bit special as I am trying to connect an OpenShift cluster using OpenShiftSDN to another OpenShift cluster using Calico.
The IPsec connection is successfully established between the submariner gateway nodes on both clusters (`oc -n submariner-operator describe Gateway` says everything is ok on both clusters).
I can access services exported by the Calico cluster from the OpenShiftSDN

[2022-01-08 05:03] sridhargaddam commented on #1652
Agree, its not related to this issue. Please report a separate one if required.
PS: You can try running `subctl diagnose firewall intra-cluster ....` on the OCP Calico cluster and it might give some pointers.

[2022-01-09 00:13] github-actions[bot] opened #1655 "Broken link detected by periodic linting"
Periodic link aliveness CI detected a broken link.

Please check the [Periodic workflow](https://github.com/submariner-io/submariner/actions?query=workflow%3APeriodic).

[2022-01-09 12:41] nyechiel commented on #1655
@dfarrell07 FYI

[2022-01-10 01:19] ultrastdn commented on #1649
1. I confirm that 7.212.xx.xx is the private IP address of my host, and I use the code in the source code to test the IP address.
![image](https://user-images.githubusercontent.com/41316677/148708912-0b6bea4b-f9f0-4dfa-94ef-d449c3d6f7c2.png)
The obtained IP address is 7.212.xx.xx.
2. You mean that you can use the private IP address of the host to assign a value to the public IP address. However, w

[2022-01-11 08:06] #1544 closed, assigned to aswinsuryan

[2022-01-12 19:26] astoycos commented on #1608
I'd like to look into fixing this one!

[2022-01-12 20:13] astoycos commented on #1608
So I was able to reproduce this exact scenario locally, specifically the Loadbalancer created for a given service (in this case `nginx-demo`) is not properly added to the `submariner-router`

[code]
[code]

Manually adding the load balancer `ovn-nbctl lr-lb-add submariner_router 78f7675e-e9c2-4150-a704-f45a9e75b449` fixes the issue.  This issue arose because of a major design change within OVN-K t

[2022-01-13 10:50] skitt opened #1659 "The gateway doesn’t reap whack processes"
`submariner-gateway` doesn’t reap `whack` processes, leading to

[code]

This isn’t nasty but it should be fixed.

[2022-01-13 15:49] astoycos commented on #1608
@astoycos (Mentioning myself since I'm not a contributor and can't assign it)

[2022-01-14 14:56] dberg1 commented on #1652
@nyechiel Let me know if you want to take a look at our ROKS cluster.
`subctl diagnose firewall intra-cluster` reports no issue but connection from nodes other than the submariner node to services exported by the remote cluster still doesn't work.

[2022-01-16 00:13] github-actions[bot] opened #1663 "Broken link detected by periodic linting"
Periodic link aliveness CI detected a broken link.

Please check the [Periodic workflow](https://github.com/submariner-io/submariner/actions?query=workflow%3APeriodic).

[2022-01-17 12:02] #1659 closed, assigned to skitt

[2022-01-17 21:26] Billy99 commented on #1568
Testing on a KIND deployment with latest code, I see the following logs repeated every 30 secs:
[code]

[2022-01-18 08:09] #1568 closed, assigned to Billy99

[2022-01-18 12:31] dberg1 commented on #1652
Here is my issue with submariner + ROKS.
Cluster B is using Calico.
Node 2 in cluster B tries to connect to a service exported by cluster A.
The SYN packet is sent to the submariner gateway node through the submariner VXLAN tunnel.
The submariner gateway node forwards the SYN packet through the IPsec tunnel established with remote cluster A.
Cluster A sends the SYN+ACK response through the IPsec t

[2022-01-18 13:25] nyechiel commented on #1663
@dfarrell07 FYI

[2022-01-18 13:25] nyechiel commented on #1655
@dfarrell07 is this in your radar?

[2022-01-18 13:44] sridhargaddam commented on #1652
@dberg1 Thanks for the analysis. As you might have seen, there is asymmetric routing involved on the `ClusterB GW node` (i.e, incoming packets come on vx-submariner but leave from some other interface like eth0 in this example). To address this kind of situations, we can tweak reverse_path_filtering settings.

https://sysctl-explorer.net/net/ipv4/rp_filter/

Please try configuring rp_filter settin

[2022-01-18 14:33] dberg1 commented on #1652
`net.ipv4.conf.vx-submariner.rp_filter` is already set to `2` on submariner gateway node.
Tried both:
[code]
on submariner gateway node (and even on node 2), but it does not seem to help.

By the way, I also tried to disable TCP segmentation offload on `eth0` as it was enabled:
[code]
but it did not help either.
The strange thing is that I can see the SYN+ACK packet being forwarded to node 2 on `e

[2022-01-19 07:13] sridhargaddam commented on #1652
My guess would be that SYN+ACK packet from `ClusterB GW node` has sourceIP as ClusterIP Svc in Node A. Since the sourceIP does not match any of the interface IPs on ClusterB GW node, the underlying infrastructure might be dropping the packets silently as part of Anti-spoofing rules (i.e., it might only allow traffic that has the original IP and MAC assigned to the `ClusterB Gw node`).

[2022-01-19 09:56] yboaron commented on #1652
/assign yboaron

[2022-01-19 12:15] sridhargaddam commented on #1652
@dberg1 Yossi is working on fixing the "Calico" mismatch as originally reported in this issue. Can you please open a new issue to discuss/track the problem you are facing.

[2022-01-19 15:59] kot-begemot-uk commented on #1510
This is expected and unsolvable as long encryption uses tunnel mode and there is no offload.
The hashing of flows for IPSEC is usually done by SRC+DST or SRC+DST+SPI. These are identical for a tunnel. If there is no crypto offload in the adapter (cloud, low end cards, etc), this puts all processing of traffic for one link onto the same CPU every time. This results in the same softirq thread handli

[2022-01-19 16:07] kot-begemot-uk opened #1668 "Configurable encryption settings in the cable driver"
**What would you like to be added**:
Configurable encryption settings in the cable driver

**Why is this needed**:
To enable the choice of cipher (and authentication) which has hardware offload support.
1. This allows throughput from 1-2Gbits to increase to higher rates. On some configurations - up to line rate.
2. On some adapters it also allows further processing (TCP, etc) to be correctly load-

[2022-01-19 16:10] kot-begemot-uk opened #1669 "Add a new cable driver to use GRE tunnel with optional IPSEC transport "security wrap""
**What would you like to be added**:
GRE tunnel driver with optional per connection "use IPSEC if required".

**Why is this needed**:
The performance is significantly higher than VXLAN or Tunnel mode for site-to-site traffic and on some hardware it is capable of achieving line rate with IPSEC (up to 40GBit), because of both IPSEC and TCP offloads can work simultaneously.

[2022-01-19 16:22] kot-begemot-uk commented on #1668
This will resolve https://github.com/submariner-io/submariner/issues/1510 on some configurations where it is possible to use crypto offload.

[2022-01-19 16:22] kot-begemot-uk commented on #1669
In the longer term, this will allow working around https://github.com/submariner-io/submariner/issues/1510 on all configurations.

[2022-01-19 16:59] dberg1 opened #1670 "Issue with submariner and ROKS (IBM Cloud)"
Here is my issue with submariner + ROKS.
Cluster B is using Calico.
A pod running on node 2 in cluster B tries to connect to a service exported by cluster A.
The SYN packet is sent to the submariner gateway node through the submariner VXLAN tunnel.
The submariner gateway node forwards the SYN packet through the IPsec tunnel established with remote cluster A.
Cluster A sends the SYN+ACK response th

[2022-01-19 17:00] dberg1 commented on #1652
Opened https://github.com/submariner-io/submariner/issues/1670 to track the submariner+ROKS issues.

[2022-01-19 17:06] dberg1 commented on #1670
@sridhargaddam Yes, that is my understanding too.
The source IP address is the one of the svc in cluster A. The source MAC address is the one of the submariner GW node in cluster B. I checked the VPC subnet in IBM Cloud, and all IP traffic is allowed between the cluster nodes. But there could be some underlying security rules that block the SYN+ACK.

[2022-01-19 19:50] dfarrell07 commented on #1655
@nyechiel It is now, thanks!

[2022-01-19 20:23] dfarrell07 opened #1672 "Identify users of Submariner, add them to ADOPTERS.md"
We should ask folks who use Submariner to add themselves and a bit about their use case to our new [ADOPTERS.md file](https://github.com/submariner-io/submariner/blob/devel/ADOPTERS.md). An improved understanding of the ways Submariner is used will help us better support those patterns.

This is also a requirement for CNCF Graduation:

(e.g., ADOPTERS.md or logos on the project website).

[github.

[2022-01-21 21:22] anfredette opened #1674 "REQUEST: New membership request for anfredette and others"
### GitHub Username
@anfredette

### Requirements
- [x] I have reviewed the contributor roles guidelines (https://submariner.io/community/contributor-roles/)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the submariner-dev e-mail list (https://groups.google.com/forum/#!forum/submariner-dev)
- [x] I have multiple contributions to Sub

[2022-01-22 09:36] sridhargaddam commented on #1674
+1, Approved.

[2022-01-23 00:11] github-actions[bot] opened #1675 "Broken link detected by periodic linting"
Periodic link aliveness CI detected a broken link.

Please check the [Periodic workflow](https://github.com/submariner-io/submariner/actions?query=workflow%3APeriodic).

[2022-01-24 09:09] skitt commented on #1674
+1, approved.

[2022-01-24 09:59] yboaron commented on #1652
@dberg1, If you can still access your Ocp cluster with calico it will be useful if you can share the following:
- NetworkPlugin env var from Routeagent daemonset manifest [1]
- logs from one of submariner-routeagent pods [2]

it may hint at the source of the problem

[1] kubectl get ds -n submariner-operator submariner-routeagent -o yaml | grep -A 2 NETWORKPLU

[2] kubectl logs -n submariner-opera

[2022-01-24 13:01] #1655 closed, assigned to dfarrell07

[2022-01-24 14:12] donaldh commented on #1674
@donaldh

[2022-01-24 14:41] dfarrell07 commented on #1674
As we talked about on the dev call today, I think the plan is to use this Issue to apply for Membership for a larger set of new contributors. I'd just like to remind everyone about this important-but-maybe-not-obvious requirement:

* Enabled two-factor authentication on their GitHub account

https://submariner.io/community/contributor-roles/#member-requirements

Maybe we should create a list of fo

[2022-01-24 15:54] dberg1 commented on #1652
`SUBMARINER_NETWORKPLUGIN=Calico`

Logs:
[code]

As you can see, these lines (when the fix is installed) are missing from the logs:
[code]

[2022-01-24 17:29] yboaron commented on #1652
Thanks for the feedback,

So, from the logs you attached it seems that submariner-operator sets [1] the NetworkPlugin to 'Calico' after auto-discovery which means that submariner-operator image was built with the constant [2] NetworkPluginCalico = 'Calico'

Could it be that in the first case you used route-agent-image with the original constants.NetworkPluginCalico  value ('calico') ?

[1]
https:/

[2022-01-24 18:32] dberg1 commented on #1652
@yboaron I did not rebuild the submariner-operator image. I only rebuilt the submariner-route-agent image with the 'Calico' constant and restarted the submariner-routeagent pods.
Notice that my cluster does not have any `calico-config` configmap.
It has a `cni-config` configmap in `calico-system` namespace:
[code]

[2022-01-24 18:54] dberg1 commented on #1652
So maybe a better fix would be to change the way the calico plugin is discovered, i.e. rely on something else than the existence of a `calico-config` configmap.

[2022-01-24 20:42] yboaron commented on #1652
From what I can see in sources, the flow is :

A. Only the operator discovers network plugin and sets:
    - the right value in submariner_cr.status.NetworkPlugin
    - SUBMARINER_NETWORKPLUGIN env variable  (in route agent DS) value to submariner_cr.status.NetworkPlugin

B. The route agent only activates the relevant handlers based on SUBMARINER_NETWORKPLUGIN value.

Hmm, I don't really understan