[2019-03-12 16:44] sheng-liang opened #1 "The broker should detect overlapping cluster/service CIDRs"
Submariner does not function with overlapping cluster/service CIDRs.

[2019-03-13 11:29] ablekh opened #2 "[Question] Comparison with K8s Federation"
Interesting and certainly useful project. However, I'm wondering about how it compares with related K8s Federation project: https://github.com/kubernetes/federation. Please use this issue to clarify. Thank you!

[2019-03-13 16:03] Negashev opened #3 "Cross clusters DNS discovery"
What about dns discovery like cilium
![multicluster-d571ea42066d163634133cf758ef45a8-1f0d9](https://user-images.githubusercontent.com/4653589/54294676-b25e3080-45c2-11e9-94e6-656ce5036ce1.png)

[2019-03-13 16:28] Oats87 commented on #2
Submariner can provide the interconnectivity between clusters that are managed/federated using the Federation project.

Federation has support for the concept of using a `FederatedService` that utilizes external IP's, with Submariner you would be able to use the internal cluster IP's to connect your applications together.

Currently, Submariner itself doesn't have any functionality for cross clust

[2019-03-13 16:29] Oats87 commented on #3
This concept has been on our road map, where Submariner will run a controller that will synchronize service/endpoint objects between clusters.

[2019-03-13 17:04] Negashev commented on #3
@Oats87 Amazing! Will wait!

[2019-03-13 17:28] ablekh commented on #2
@Oats87 Thank you very much for prompt reply. I look forward to learning more about and trying this project. I suggest that you include a chapter on comparison/integration with K8s Federation in the future documentation. Good luck! BTW, I cannot find an issue I have opened on rancher/rancher repo approx. 1-3 weeks ago (and haven't had any feedback on) - do you, guys, simply delete issues that you

[2019-03-13 17:30] Oats87 commented on #2
@ablekh absolutely, thank you for the question!

I can definitely add an entry to the list of "things-to-do" for the integration. I think it may be even better if we can show an example federated application that is run between two clusters connected with Submariner, in addition to the Istio example we are working on.

As for your issue on rancher/rancher, we don't delete any issues; you should be

[2019-03-13 18:11] ablekh commented on #2
@Oats87 My pleasure. Yes, providing detailed example(s) in docs would be great.

Re: my "lost issue" - Thank you, I definitely tried search/filtering. It turns out that it was not an issue but rather my comment on someone's issue (now Closed), reporting the problem surfaced in my environment. Apologies for the issue-vs.-comment confusion. Unfortunately, I haven't heard from Rancher team on this (e

[2019-03-20 18:05] meditatus opened #4 "ZeroTier as Connection Method?"
Suggesting this to see if it can be integrated? Might facilitate the connection process, it's free and self-hostable.

https://www.zerotier.com/

[2019-03-25 15:11] sagargulabanicldcvr opened #5 "Submariner Broker Url is a private IP. When we change it to the public IP of the instance, we get this error."
I have setup a broker and and one other cluster on AWS.
When I get the submariner broker url using this command.

SUBMARINER_BROKER_URL=$(kubectl -n default get endpoints kubernetes -o jsonpath="{.subsets[0].addresses[0].ip}:{.subsets[0].ports[0].port}")

It returns a private address.
So I changed this to the public address of the instance.

However on running the submariner commands on one of the

[2019-03-25 15:15] Oats87 commented on #5
How did you provision your broker cluster? If using RKE, you should have a config file which has nodes that contain both the internal/external address of the node, otherwise the certificates will not contain the node's public IP in the list of SAN's. You can also do this through https://rancher.com/docs/rke/v0.1.x/en/config-options/authentication/ where you specify the SAN for the api server, whic

[2019-03-25 15:25] sagargulabanicldcvr commented on #5
No I have not used RKE. I have used kops on AWS for this.

[2019-03-25 15:44] sagargulabanicldcvr commented on #5
ok I pointed it to the load balancer of the server and I was able to resolve it . Thanks

[2019-03-25 15:44] #5 closed

[2019-03-26 02:12] Oats87 opened #6 "GKE (and other VPC-cni clusters) do not allow remote-destined traffic to route"
When examining the network flow between two clusters (AWS and GKE), it was observed that while IPsec tunnels could be established between the clusters, remote destined traffic to GKE pods that were not on the gateway node was not passed. Looking at this further, the GKE gateway node was trying to pass on traffic with the source IP being the remote (AWS) cluster gateway node, and thus the GKE VPC g

[2019-03-26 02:13] Oats87 commented on #6
Something to note is that service IP's are already generally NAT'ed through iptables via the kube-proxy rules poked into place, so we don't need to add a SNAT rule for service CIDR's

[2019-03-26 02:16] Oats87 opened #7 "Submariner should correct the k8s datastore endpoint when started with a different NATENABLED option"
The submariner pod when reconciling the remote endpoint does not seem to do so if the endpoint already exists; instead, we should force an update of the remote endpoint at startup in case there is a configuration change to the endpoint.

Thank you to @sagargulabanicldcvr for helping me discover this bug.

[2019-03-26 02:17] Oats87 commented on #4
Hi @meditatus we will examine ZeroTier's feasibility to see if it would be a suitable cable engine.

[2019-03-26 02:18] Oats87 commented on #1
Overlap detection is a bit more difficult from the broker side, as the broker does not have any logic contained within it. Instead, Submariner should examine the broker to determine if there is any overlap.

[2019-03-26 02:20] Oats87 opened #8 "[chart] CE_IPSEC debug causes Submariner to crash"
Instead of doing what it's supposed to, which is run and start Charon in debug mode, setting the CE_IPSEC debug directive causes Submariner to crash. This is most likely a fault with the logic contained inside of the bash script in conjunction with the way we detect whether to run the cable engine in debug mode.

[2019-03-28 10:34] RocMe opened #9 "the pod of submariner-engine always Back-off"
when I  exec "helm install submariner-latest/submariner \
--name submariner \
--namespace submariner \
--set ipsec.psk="${SUBMARINER_PSK}" \
--set broker.server="${SUBMARINER_BROKER_URL}" \
--set broker.token="${SUBMARINER_BROKER_TOKEN}" \
--set broker.namespace="${SUBMARINER_BROKER_NS}" \
--set broker.ca="${SUBMARINER_BROKER_CA}" \
\
--set submariner.clusterId="<CLUSTER_ID>" \
--set submariner.cl

[2019-03-28 16:32] Oats87 commented on #9
Did you just blindly run that `helm install` command or did you populate the fields?

[2019-03-28 18:58] tibwiz opened #10 "Question on Prerequisites"
As part of the Prerequisites documentation its mentioned that

We have a two kubernetes clusters and we want to extent the networking across the clusters. So can anybody confirm the requirement of 3 clusters is a hard requirement or it can work with 2 clusters also?

[2019-03-29 02:36] RocMe commented on #9
sure . I got values   fields from broker cluster and set them. example :
I exec  on broker cluster
echo $SUBMARINER_BROKER_NS
submariner-k8s-broker

then I do  west cluster
SUBMARINER_BROKER_NS="submariner-k8s-broker"
and so on

[2019-03-29 02:42] RocMe commented on #9
something I have to mention . I try to  build submariner based on k3s not k8s .

[2019-03-29 02:45] RocMe commented on #9
something I have to mention . I try to build submariner based on k3s not k8s .

[2019-03-29 06:13] RocMe commented on #9
I see the log of the error log
envconfig.Process: assigning SUBMARINER_NATENABLED to NatEnabled: converting '<NAT_ENABLED>' to type bool. details: strconv.ParseBool: parsing "<NAT_ENABLED>": invalid syntax

I try to set NAT_ENABLED in 3  ways:
NAT_ENABLED=false
NAT_ENABLED="false"
NAT_ENABLED=0

I got the same log  based on the k3s .Could you help me , thank you.

[2019-03-29 07:38] Negashev opened #11 "Deploy submariner broker with rancher fqdn cluster"
Use Rancher 2.2.1 and submariner [helm](https://github.com/rancher/submariner-charts)

- Generate pem for `broker.submariner.MY-DOMIAN.COM` (openssl req -newkey rsa:2048 -nodes -keyout key.pem -x509 -days 3650 -out submariner.pem)
- Create cluster (broker) with fqdn `broker.submariner.MY-DOMIAN.COM`  ( 10.42.0.0/16, 10.43.0.0/16 )
- Set dns `broker.submariner.MY-DOMIAN.COM` A row to nodes from clu

[2019-03-29 08:48] Negashev commented on #11
Sweet hack 🗡

work when i add service with name `kubernetes` on submariner and set `Broker Server`=kubernetes:6443

[code]

[2019-03-31 13:44] Negashev opened #12 "Remove hard coded submariner namespace"
Can we remove hard coded namespace?
https://github.com/rancher/submariner/blob/4153f762a21ea9b554166ad424faaae4162cd769/main.go#L160

[2019-04-01 16:46] Oats87 commented on #10
You can technically elect one of your two clusters to be the "broker" but this doesn't resiliently scale past 2 clusters, because if that cluster dies you are left without connectivity.

[2019-04-04 10:22] anjia0532 commented on #4
100 nodes is free ,more than is not!

[2019-04-04 12:05] meditatus commented on #4
Was there a purpose to that response?

The self hosted version is unlimited.

On Thu, Apr 4, 2019, 6:22 AM AnJia <notifications@github.com> wrote:

[2019-04-04 15:10] Negashev opened #14 "Something wrong on rancher 2.2.1 (2.1.7 2.1.8)"
#### 1) start rancher HA on rke add catalog https://github.com/rancher/submariner-charts
#### 2) create cluster broker
- one node (etcd, control panel, worker)
- deploy submariner-k8s-broker

[code]

#### 3) create east cluster
- two nodes (1 - etcd, worker; 2 - control panel, worker)
- deploy submariner
- deploy simple nginx:alpine (global)
[code]

#### 4) create west cluster
- two nodes (1 - etc

[2019-04-05 06:48] Negashev commented on #14
Test again with flannel on west and east, nothing changed
![Rancher](https://user-images.githubusercontent.com/4653589/55608836-f8548180-5787-11e9-9561-433f4ca5de27.jpg)

[2019-04-05 08:16] Negashev commented on #3
Some solution
We can add cluster with coredns service ip 10.60.60.60 and Corefile
[code]

- install external dns (to etcd for coredns) on all clusters
- add stubDomains for clusters
[code]

[2019-04-05 22:07] Oats87 commented on #14
Are your nodes within the same subnet?

[2019-04-05 23:10] Negashev commented on #14
@Oats87 Yes, all machines under 10.6.x.x (openstack)

[2019-04-09 10:37] Negashev commented on #14
Repeated on rancher/rancher:v2.1.8 (what am I doing wrong)

[2019-04-09 11:34] Negashev commented on #14
@Oats87 Okay play with rancher/rancher:v2.1.7 (Repeated :sob: :scream: )
- start rancher server, add node driver and chart https://github.com/rancher/submariner-charts
- start broker cluster
machines:
1) Hostname submariner-broker-1 (etcd Control Plane Worker)
    IP Address 10.6.193.133
    Kubelet Version v1.13.4
    Kube Proxy Version v1.13.4
    Docker Version 18.9.4
    Kernel Version 4.15.0-

[2019-04-09 16:32] Oats87 commented on #14
@Negashev can you check the routing table on the other nodes (that are not the gateway host) to see if they were properly installed? You should see routing rules for the other cluster service/cluster CIDR's

[2019-04-09 16:37] Negashev commented on #14
@Oats87 You mean `ip route` on machines?
It's show route with cidr from another cluster only on one machine, on which he first started

[2019-04-10 16:19] Negashev commented on #14
pod_on_cluster_1_machine_with_SUBmaster
`traceroute to pod_on_cluster_2`
/ #  traceroute 10.98.0.14
traceroute to 10.98.0.14 (10.98.0.14), 30 hops max, 46 byte packets
 1  10.76.0.1 (10.76.0.1)  0.009 ms  0.007 ms  0.092 ms
 2  machine_`with`_SUBmaster_CLUSTER_2 (10.6.193.143)  0.554 ms  0.510 ms  0.403 ms
 3  10.98.0.14 (10.98.0.14)  0.273 ms  0.560 ms  0.159 ms

pod_on_cluster_1_machine_WITHOUT_

[2019-04-12 06:09] Negashev commented on #14
Repeate on Rancher 2.2.1 with hetzner cloud, Ubuntu 16 and flannel

[2019-04-12 11:42] m4ce opened #15 "Does it work on rancher 2.1?"
Since it's not documented what is the minimum version. Or do we need to upgrade to rancher 2.2?

[2019-04-12 15:02] Negashev commented on #14
We play with tcpdump and ping.
Find problem with `reply` packets to `ping`

it lose when node 1 (cluster 2) send reply to node 2 (cluster 2), but node 2 give nothing

![Rancher (2)](https://user-images.githubusercontent.com/4653589/56046855-d68d6880-5d4c-11e9-8a51-05467bdc9128.jpg)

[2019-04-17 16:02] m4ce opened #16 "Submariner in different AZs?"
We tried running submariner in our cluster which spans three different AZs on AWS. It looks like the route agents fail to add the route to the destination cluster CIDRs when using as a default gateway a local node that sits in a different AZ. This is to be expected since you cannot route from one AZ via another in AWS since they are not directly attached. How to solve this?

[2019-04-17 16:08] m4ce commented on #12
same here.

[2019-04-18 17:56] Negashev commented on #14
Repeat on Rancher 2.2.2
RKE
flannel
CentOS Linux 7 3.10.0-957.1.3.el7.x86_64

[2019-04-18 17:58] Oats87 commented on #14
@Negashev Does the Hetzler Cloud enforce strict IP src/dst checks?

https://docs.aws.amazon.com/vpc/latest/userguide/VPC_NAT_Instance.html#EIP_Disable_SrcDestCheck
https://cloud.google.com/vpc/docs/using-routes#canipforward
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-network-interface#enable-or-disable-ip-forwarding

for the major 3 US clouds

[2019-04-18 18:02] Negashev commented on #14
@Oats87 Wow ... hard question, I don't have extensive knowledge in this area.

[2019-04-18 21:33] Oats87 commented on #16
We are looking at a solution to fix this, like using VXLAN to pass local cluster traffic instead of using ip routing.

[2019-04-18 21:33] Oats87 commented on #15
There is no requirement for Rancher version, as long as you are running a version of Kubernetes which supports CRD's and your cluster has the architecture that is required.

[2019-04-18 21:33] #15 closed

[2019-04-19 14:39] m4ce commented on #16
Eventually, we decided to run a submariner per AZ and a broker per AZ. So the cluster becomes the AZ. As we had to run the submariner agents in different namespaces, we had to patch the code as the namespace was hard-coded. We now have it working.

[2019-04-22 10:18] Negashev commented on #14
@Oats87 We didn't use NAT on hetzner cloud and on our local cloud with 10.6.x.x cidr for machines

[2019-04-22 13:09] vthapar commented on #12
+1 to this.

[2019-04-27 13:26] DBarthe commented on #6
Hello @Oats87,

Not sure I understood everything, do you mean submariner always NAT traffic between clusters ?
I guess this would break applications like cassandra that needs direct source IP, or 1:1 NAT equivalent.

[2019-05-01 12:55] dmittendorf opened #19 "Pureport Cable Engine?"
Hi there! I am CTO of a company called [Pureport](https://pureport.com). Our Multicloud Fabric allows for private connectivity between clouds and sites to be provisioned on-demand via a simple API.  We support the dedicated private connection methods (AWS DirectConnect, Azure ExpressRoute, etc.) in addition to IPSec connectivity.  Our platform also supports NAT'ing of attached networks which may p

[2019-05-06 15:26] ishantanu commented on #9
I am seeing the same error message:

[2019-05-07 12:04] ishantanu opened #26 ""Error while adding route" when trying to setup Submariner"
Hi,

Following is the setup with which I am trying submariner:
1. One 3-node cluster on AWS.
2. Two 3-node bare-metal clusters which are reachable on the internet.

So, the thing is:
1. I tried to setup submariner by considering one bare-metal cluster as broker. It worked. But, later on, I wanted to change the instance types of the worker nodes on AWS.
2. I changed the instance type of worker node

[2019-05-07 17:19] Oats87 commented on #26
That message is actually ok, is Submariner functional? Next release will include logic so that it won't try to constantly add a new route.

[2019-05-07 17:33] ishantanu commented on #26
Nope, it is not. I tried creating an nginx pod in one cluster and pinged the pod IP from another cluster. It did not work.

[2019-05-07 17:35] Oats87 commented on #26
Did you disable strict source/destination checking on the AWS nodes?

[2019-05-07 17:37] ishantanu commented on #26
Yes, I did.

[2019-05-07 17:48] ishantanu commented on #26
Just for the info, here are the details of three clusters.

1. Bare-metal cluster (acting as broker) created via RKE CLI:
[code]

2. Bare-metal cluster created from Rancher GUI:
[code]

3. AWS cluster created from Rancher GUI:
[code]

Networking plugin used on all clusters: Flannel.

[2019-05-07 17:53] Oats87 commented on #26
OK. I have before had to reboot my nodes during an HA failover that was unsuccessful, this is almost what this feels like here; is it possible for you to reboot your worker nodes? I know that's a bit of a big hammer for the situation, but should help. There is an issue with updating the iptables/ipsec rules that still isn't fully debugged at this point.

[2019-05-07 17:57] ishantanu commented on #26
Well, I already did a reboot to all the worker nodes of a non-broker bare-metal cluster and it did not work at that time. But, let me try it one more time.

[2019-05-07 18:02] ishantanu commented on #26
A reboot to the worker nodes is done as well. It still does not work.

[2019-05-07 18:03] Oats87 commented on #26
on the elected gateway nodes, can you perform an `ip xfrm state` to see if you have established IPsec tunnels?

[2019-05-07 18:08] ishantanu commented on #26
It returns nothing:
[code]

[2019-05-07 18:24] Oats87 commented on #26
This is indicative of the ipsec tunnels not being established properly; are you able to restart the submariner gateway pod and take a look at the logs to see if the messages from StrongSwan related to establishing the tunnel?

[2019-05-07 18:30] ishantanu commented on #26
Okay. So, I restarted the gateway pods on both cluster and the logs mentioned messages from StrongSwan with errors:
[code]

[2019-05-19 16:26] joeblew99 opened #32 "maybe use a model VPN like wireguard ?"
https://www.wireguard.com/

Its open and in c and golang

[2019-05-21 12:17] mangelajo commented on #32
If we make a driver architecture IMHO it could be a driver if somebody has capacity to write it. For some environments wireguard is still not accepted, specially since it's a young project, and the kernel modules aren't upstream yet. But it's promising.

[2019-05-27 08:12] Negashev commented on #14
We are turn off port-security on openstack and it helped (with reload nodes)

[2019-05-27 08:12] #14 closed

[2019-05-30 10:33] mangelajo commented on #12
What's the intent/benefit behind this?

[2019-05-31 06:59] Negashev commented on #12
@mangelajo The goal is to run a submariner in any namespace, as for example the rancher multicluster app

[2019-06-08 18:58] m4ce commented on #3
We achieved this by using coredns and stub-domains as @Negashev suggested. It's working just fine.

[2019-06-08 18:59] m4ce commented on #12
We had to change the namespace as we run submariner in an unsupported way to overcome the multi-AZ routing limitation (see https://github.com/rancher/submariner/issues/16). This involves running multiple brokers which have to end up in different namespaces.

[2019-06-12 13:32] mangelajo commented on #3
Hey!, awesome, one of our teams at Red Hat is also looking at this, in a very similar way. We are having upstream meetings every Thursday at 17:00 CEST, if you are interested in joining please ping us at the https://rancher-users.slack.com slack in #submariner .

We are about to send a proposal to automatically generate those kind of entries to CoreDNS on clusters. If you are using submariner and

[2019-06-13 11:04] vthapar commented on #3
We'll be discussing the cross cluster service discovery use cases in the upcoming meeting. The document can be found at:

https://docs.google.com/document/d/1N74HtoOKX7shXiKxGe2KzO_sQIQ_c0I7BMxNORBdvTw/edit?usp=sharing

Tag me here for access to document.

[2019-06-13 11:27] Negashev commented on #3
@vthapar

[2019-06-20 11:53] Hitesh-Agrawal opened #84 "How to safely remove a k8s-cluster from submariner"
Hi Guys,
I see instructions on how to install submariner, but there are no instructions on how to remove it. Will `helm delete submariner` remove a k8s-cluster config safely from an existing setup of 4 different cluster connected via submariner.

Thanks

[2019-06-24 19:33] #12 closed

[2019-06-27 03:09] dimaunx commented on #84
From my experience to remove subm safely, run the following on each gateway cluster:
* helm del --purge submariner
* kubectl delete crd clusters.submariner.io endpoints.submariner.io

To remove subm from broker cluster just:
* kubectl delete crd clusters.submariner.io endpoints.submariner.io

[2019-07-01 04:49] Hitesh-Agrawal commented on #84
Hello dimaunx,
I tried the steps above to delete the submariner from one of my connected k8s cluster ( which needs to be decommissioned) , but now I see other submariners trying to establish the tunnel to this decommissioned cluster.

Processing endpoint object: submariner/submariner-cable-xxx-xxx-xxx-xxx
7/1/2019 10:13:56 AM I0701 04:43:56.430060       1 datastoresyncer.go:236] The updated endpoi

[2019-07-01 05:56] Oats87 commented on #84
@Hitesh-Agrawal you should remove the endpoint objects related to that cluster from the broker cluster, i.e. `kubectl delete endpoint submariner-cable-xxx-xxx-xxx-xxx -n submariner-k8s-broker`. Submariner should reconcile that change (as it will see the deleted endpoint) and should delete its local copy and cease trying to establish a connection.

[2019-07-01 11:15] Hitesh-Agrawal commented on #84
@Oats87 Thx buddy that worked perfectly. Removed the endpoints from the broker cluster and the cluster is out of submariner connectivity now. Can we have these steps documented in the readme for the submariner project.

[2019-07-11 05:38] mkolesnik commented on #1
Technically the broker could detect an overlap in CIDRs, but what is it supposed to do with this information?

I see this as a more high level problem of the deployment of the multi-cluster, for which the solution should also come from a much higher level entity which manages the deployment.

At best, the broker could issue a warning to the log that this is the case, but IMHO this has little if an

[2019-07-14 08:06] debianmaster opened #104 "customresourcedefinitions.apiextensions.k8s.io "clusters.submariner.io" already exists"
trying to install submariner broker also in same cluster as that of  "cluster one"

cluster-one = .  broker and gateway
cluster-two = gateway

Will this work?    im getting following error
[code]

[code]

[2019-07-14 08:10] debianmaster commented on #10
@Oats87   im just trying out submariner and trying to install both  broker and gateway in 1 cluster.
but encountering this issue . https://github.com/submariner-io/submariner/issues/104

[2019-07-31 12:39] ypsilik commented on #104
Hi @debianmaster, it's because submariner-k8s-broker chart already creates crd.
You can add `--set crd.create=false` in your helm install command when you install submariner chart to solve it.

[2019-08-02 05:18] buhe opened #125 "submariner endpoint loss connection"
I setup a three DC submariner cluster before 9 days.

Today, I found 3 DC loss Pod-to-Pod connection.

At broker

kubectl logs -f submariner-84c5b445db-4wp2f -n submariner

[code]

And other DC log is :

kubectl logs submariner-84f57c45ff-wszbj -n submariner
[code]

Thanks, buhe@netless

[2019-08-02 05:23] buhe commented on #125
kubectl logs submariner-routeagent-72gp5 -n submariner

[code]

[2019-08-06 14:28] manosnoam opened #126 "make e2e / ci section should be noted to be used only within KIND"
In Readme - make e2e section should be noted to be used only for KIND tests (local or CI), but not on AWS (or other clouds), as it will corrupt the AWS cluster.

[2019-08-18 12:42] buhe opened #128 "Routeagent found error ,and the at this node not access cross cluster pod"
hi ,

Routeagent found error ,and the at this node not access cross cluster pod , but another node can access

[code]

thanks

buhe

[2019-08-19 07:12] buhe commented on #128
ssh error node , enter
ip route add 10.72.0.0/16 table 220 via 172.31.0.1 dev eth0 src 10.62.1.0
return :
RTNETLINK answers: Network is unreachable

Reason is we use aws multi zone , node A at A zone , Node B at B zone , A can access B , A can't access B's Gateway (172.31.0.1)

[2019-08-19 15:08] Oats87 commented on #128
Yes, this is a current limitation of Submariner (hosts within a cluster need to be on the same L2)

[2019-08-20 03:47] buhe commented on #128
thank your reply

[2019-08-20 03:49] buhe commented on #125
maybe forgot disable source/dest checking

[2019-08-20 03:49] #125 closed

[2019-08-20 03:49] buhe commented on #128
@Oats87
close this issue or keep opened ?

[2019-08-20 05:54] buhe opened #131 "Re setup submariner at old vm found error"
We re setup submariner agent at node, found:
[code]
Maybe has a some route

[2019-08-20 07:33] buhe commented on #131
I enter two pod , traceroute another cluster pod ,result is

OK at node where submariner-5dbd5d85db-77r86 location.
[code]

Fail at another node.
[code]

[2019-08-20 07:34] buhe commented on #131
52-83-0-0 is fail node publish IP
172-31-23-192 is normal node private IP

[2019-08-20 08:07] buhe commented on #131
[code]
I delete this remain route rule.. everything is ok.

[2019-08-29 02:30] buhe commented on #131
I reproduce this problem. When the gateway is closed and it migrates to another virtual machine, the legacy route is not deleted correctly. Can you consider releasing a new version? The 0.0.1 version seems to be a long time.

[2019-08-29 15:52] buhe commented on #131
My mistake .. submariner pod must be HA.

[2019-08-29 15:52] #131 closed

[2019-09-06 10:45] mangelajo commented on #6
This would be fixed by: https://github.com/submariner-io/submariner/pull/140 I believe, it removes NAT on the datapath

[2019-09-08 11:00] alexellis opened #143 "Suggestion for Architecture diagram"
Hi :wave:

Your project looks very cool and it reminds me a bit of [inlets.dev](https://inlets.dev) which also bridges networks, but in a bit more of a rudimentary way.

Given that the primary example in the repo uses 3 clusters (east, west and broker), and the diagram shows two clusters I found this a bit misleading.

Would you consider updating the image or putting together a new one to match th

[2019-09-10 00:20] cyriltovena opened #146 "iptables is not present in GKE nodes"
Hello,

Even after mounting host / to the pod, /usr/sbin/iptables is not available on GKE nodes.

[code]

For now I've moved the agent Dockerfile to alpine.

Not sure if you want to address this.

Thank you

[2019-09-10 00:26] Oats87 commented on #146
Are you using the published version of Submariner or are you using what is based off of master? We are in the process of making some changes in the way we handle `iptables` on the nodes

/cc @sridhargaddam

[2019-09-10 00:28] Oats87 commented on #143
Hi Alex,

Yeah, we're going to be updating the architecture diagram as we make a push to release a new version of Submariner, hopefully this will help to illustrate the way things work.

I've been toying with the idea of using https://github.com/rancher/remotedialer and tunneling the the traffic through the broker cluster which would put it in the data path, but that's down the line and probably n

[2019-09-10 07:16] sridhargaddam commented on #146
Is iptables itself missing (i.e., not installed) on the host or its installed but is present on some other path (i.e., something other than /usr/sbin/iptables)?

[2019-09-10 12:14] cyriltovena commented on #146
No I could no find it anywhere else. I'm based off master I wanted to try the VXLAN PR. Which doesn't seems to work on GKE.

[2019-09-11 10:55] mangelajo commented on #146
Are you using the updated helm charts that mount /host to the host to access the worker node iptables binaries?

 helm repo add submariner-latest https://submariner-io.github.io/submariner-charts/chart

I guess that we need to document that ^

If after that you're still finding the issue, I guess one option would be... installing iptables on the image, and use the "host" iptables only if it exists

[2019-09-11 10:56] mangelajo commented on #146
@cyriltovena thanks for giving it a try!!! :)

[2019-09-22 06:45] dimaunx commented on #16
#154

[2019-09-24 12:31] mangelajo commented on #146
@cyriltovena what's your timezone? could we e-meet in some slack/IRC and try to arrange a debug session if you're able to deploy it live on GKE?

We're working to cut a release ASAP, but it'd be great if we get compatibility with GKE, please feel free to ping me on majopela@redhat.com or kubernetes/rancher slack (mangelajo)

[2019-09-26 00:13] cyriltovena commented on #146
Exactly no iptable on GKE, nodes are on a one IP subnet.

I don’t think we can sort this out quickly but yes I’ll reach out to you on slack.

[2019-09-27 09:57] mkomu opened #166 "1:1 NAT"
Hi,

I have a question about the 1:1 NAT requirement. From the manual:

"Direct IP connectivity between instances through the internet (or on the same network if not running Submariner over the internet). Submariner supports 1:1 NAT setups, but has a few caveats/provider specific configuration instructions in this configuration."

Does submariner work in the following scenario?

broker cluster:
-

[2019-09-27 12:32] cyriltovena commented on #146
@Oats87 I did update your submariner docker image to include an iptables. The result is the same you can't add a route when the destination is not part of you local network.

In GKE nodes are in a single IP space network. using their own IP as subnet mask.

[2019-09-27 12:40] sridhargaddam commented on #146
Thanks for giving it a try and sharing your observations @cyriltovena :+1:

Recently we fixed a similar issue on AWS where programming the routing rules gives a "network unreachable" error. This is fixed via the following PR - https://github.com/submariner-io/submariner/commit/12cb4dc62f8808f1b875f97c2fd365486782ce71

Along with this, you will also require the following fix - https://github.com/su

[2019-09-30 12:02] mkomu commented on #166
To rephrase, what in the system design requires 1:1 NAT? Do you require two way connectivity between the clusters?

P.S. Would it help to open some ports in the NATs?

[2019-10-03 07:15] dimaunx commented on #166
Currently the broker cluster API must be accessible from both gateway clusters.
The gateway clusters will be pushing changes to the broker.
From the gateway clusters one can be private (no inbound access to the API and no open ports to public or to other clusters) and the second gateway cluster must be accessible from the first private gateway cluster on IPSEC ports UDP 500 and 4500. There is no h

[2019-10-03 10:15] mkomu commented on #166
Hi Dmitry,

I guess this would work if cluster1 gateway has private address but the external public address is known and the ipsec ports are pinholed to the gateway?

[2019-10-03 10:46] dimaunx commented on #166
Yes you are correct, if you do port forward to the gateway node it will work.

[2019-10-03 12:38] mkomu commented on #166
Can you document this (including the port info) to the README since the 1:1 NAT requirement is a bit misleading?

[2019-10-07 22:47] rbucker opened #170 "does not install on RancherOS"
I've written a number of related issues... ```curl -sfL https://get.k3s.io | sh -``` does not install k3s on RancherOS and that would seem to be normal or common sense.

[2019-10-07 22:48] Oats87 commented on #170
Hi, did you mean to open this in https://github.com/rancher/k3s ?

[2019-10-07 23:35] rbucker commented on #170
sorry.

[2019-10-07 23:35] #170 closed

[2019-10-15 13:41] eranra opened #185 "First time deploy - crd not cleaned-up"
What I did
initial install (1):
"helm install submariner-latest/submariner-k8s-broker --name "submariner-k8s-broker" --namespace "submariner-k8s-broker"
than (2):
`helm delete --purge submariner-k8s-broker`
and again (3):
"helm install submariner-latest/submariner-k8s-broker --name "submariner-k8s-broker" --namespace "submariner-k8s-broker"

and got::

Error: customresourcedefinitions.apiextension

[2019-10-17 13:20] eranra opened #187 "First time deploy - permissions"
I see in the replicaset the following::
(when deployed on minishift as user system:admin)

Events:
  Type     Reason        Age                From                   Message
  ----     ------        ----               ----                   -------
  Warning  FailedCreate  2m (x20 over 21m)  replicaset-controller  Error creating: pods "submariner-6b65665876-" is forbidden: unable to validate again

[2019-10-17 13:42] eranra commented on #187
(after some google work ... I was able to progress when I executed `oc adm policy add-scc-to-user privileged -n submariner -z submariner-engine`

[2019-10-21 12:52] dimaunx commented on #185
You need to remove the created CRDs with kubectl delete crd clusters.submariner.io endpoints.submariner.io before reinstalling the  broker or pass the --set crd.create=false to helm installation command.

[2019-10-22 14:59] mangelajo commented on #185
thanks for the report @eranra I'm not an expert in helm myself, do you know how to fix that?

[2019-10-22 15:00] mangelajo commented on #187
Oh, right, for openshift you need to do that.

[2019-10-23 09:02] eranra commented on #187
@roytman correct ... closing.

[2019-10-23 09:02] #187 closed

[2019-10-23 09:36] mangelajo commented on #185
@eranra we are focusing on providing an operator to deploy submariner, and in that case the CRD creation/deletion is handled by the operator lifecycle manager.

[2019-11-11 06:20] vthapar commented on #3
[Lighthouse](https://github.com/submariner-io/lighthouse) - Cross Cluster Service discovery for clusters connected by Submariner.

[2019-11-12 17:02] marciodel opened #211 "Submariner for development team"
Is it possible to use Submariner as a development tool? The idea would be to have local development nodes for developer accessing services the main shared cluster.

Thanks!

[2019-11-27 12:14] hunchback opened #229 "ci failing to access cluster2"
@dimaunx kindly assist

Error occurred while ci tests run on PR:
https://github.com/submariner-io/submariner/pull/221

Error log can be found:
https://travis-ci.com/submariner-io/submariner/builds/136954091

[2019-11-27 12:47] dimaunx commented on #229
This fails because without kubefed the required kubeconfig files are not set. They are only set if kubefed=true, according to the changes proposed. This means that cluster2 and cluster3 kubectl based commands will fail if kubefed is not used.

[2019-11-27 13:51] hunchback commented on #229
Thanks!

[2019-11-27 13:51] #229 closed

[2019-11-28 12:50] mangelajo commented on #211
That would be possible, yes. Ideally you would like to setup a public cluster as the broker. And that'd be it.

You also need connectivity via UDP ports 4500 and 500, (or any other set of ports, you can tune that)

Tell us if you give it a try.

[2019-11-28 12:52] mangelajo commented on #146
This has been fixed, and I have tested it works now :) Just remember to open your firewall ports to 4500 / 500 UDP on your gateway nodes.

[2019-11-28 12:52] #146 closed

[2019-12-01 15:55] manosnoam opened #234 "endpoints submariner-cable-subm not found"
Please see attached log

[2019-12-01 15:56] manosnoam commented on #234
[endpoints submariner-cable-subm not found.txt](https://github.com/submariner-io/submariner/files/3908386/endpoints.submariner-cable-subm.not.found.txt)

[2019-12-01 16:01] Oats87 commented on #234
@manosnoam What is your expected output in this case? Are you sure that you're not trying the connection too quickly? It can take a little bit for the cable to actually be installed, but in this case, it looks like subm-cluster-a never actually pushed it's cluster/endpoint into the broker

[2019-12-01 16:08] manosnoam commented on #234
I tried for 30 seconds as well, still no response:

kubconf_a oc exec ${netshoot_pod} -- curl --output /dev/null -m 30
--progress-bar --verbose --head --fail ${nginx_svc_ip_clusterB}
*   Trying 100.96.179.149:80...
* TCP_NODELAY set
* Connection timed out after 30001 milliseconds  #     #    #
#
* Closing connection 0                             #     #    #
#

curl: (28) Connection timed out afte

[2019-12-01 16:10] Oats87 commented on #234
@manosnoam could you provide the logs from the subm-cluster-a submariner-engine?

[2019-12-02 09:36] manosnoam commented on #234
Please see the attached log above.

- submariner-engine pod status on Public cluster A (AWS) shows error from server (BadRequest):
  "pod  submariner does not have a host assigned"
  Pod does not have any log output.

- submariner-engine pod status on Private cluster B (Openstack) shows:
 "Security Associations (0 up, 0 connecting): none. command terminated with exit code 3"
 Pod log shows: cluste

[2019-12-03 12:50] manosnoam opened #240 "prep_for_subm.sh to allow user input of security ports"
(mangelajo note: we could even look into doing this from the operator if possible -if we can get the cloud credentials from openshift., otherwise at least subctl)
Currently the SubM ports are hard coded (4500 and 500):

https://github.com/submariner-io/submariner/blob/02e8a4fbece5ae88c9cdcf9ad33c27168b591a6e/tools/openshift/ocp-ipi-aws/ocp-ipi-aws-prep/ec2-resources.tf#L33

https://github.com/subm

[2019-12-03 13:44] manosnoam opened #241 "prep_for_subm.sh flag to accept terraform actions"
Please add '--accept' or similar flag as user input for [prep_for_subm.sh](https://github.com/submariner-io/submariner/blob/master/tools/openshift/ocp-ipi-aws/prep_for_subm.sh) script, to accept Terraform actions, without user interact.

[2019-12-03 14:11] mangelajo commented on #234
@manosnoam  Do you have any node marked as submariner gateway in AWS?

"pod submariner does not have a host assigned"

It could also be that you marked as gateway a master node, instead of a worker node (we have a subctl bug about that offering of master nodes )

[2019-12-03 17:01] manosnoam opened #242 "Deploying Submariner: Invalid value: 0x0: must be specified for an update"
[Deploying Submariner - must be specified for an update.txt](https://github.com/submariner-io/submariner/files/3917754/Deploying.Submariner.-.must.be.specified.for.an.update.txt)

[code]

pod log attached.

[2019-12-03 17:47] tpantelis commented on #242
This should be filed in the submariner-operator repo. The `Ensure` function tries to do a replace update but k8s does a CAS with ResourceVersion so you must do a get first and merge with the existing object. We should be able to use the [CreateOrUpdate](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/controller/controllerutil/controllerutil.go#L136) helper.

[2019-12-04 00:04] tpantelis commented on #242
Actually we just need to call `Create` and check for `IsAlreadyExists` since we don't need to update the object.

[2019-12-04 12:34] manosnoam commented on #234
Yes:

kubconf_a  oc get nodes -l "submariner.io/gateway=true"
    NAME                           STATUS   ROLES    AGE   VERSION
    ip-10-0-138-118.ec2.internal   Ready    worker   28h   v1.14.6+c07e432da

On Tue, Dec 3, 2019 at 4:11 PM Miguel Angel Ajo Pelayo <
notifications@github.com> wrote:

[2019-12-06 09:42] manosnoam opened #245 "[Doc] Add instructions to run E2E on external clusters (not in KIND)"
When having an existing Submariner deployment on external clusters, we need to have clear instructions how to run E2E tests.

For example, having Cluster A on AWS:
`alias kubconf_a='KUBECONFIG=/home/nmanos/automation/ocp-install/nmanos-cluster-a/auth/kubeconfig'`
And Cluster B on Upshift:
`alias kubconf_b='KUBECONFIG=/home/nmanos/automation/ocp-install/ocpup/.config/cl2/auth/kubeconfig`

Currently

[2019-12-09 14:58] manosnoam commented on #245
@dimaunx is saying that the culprit is that both dp-context are "admin", which is what defined in my kubeconfigs for Cluster A and B.

We should add instructions to the Readme to modify the Kubeconfig before e2e execution, or make e2e workaround this...

+@tpantelis

[2019-12-09 15:53] tpantelis commented on #245
yes - cluster names need to be unique across the fleet as they are used as identifiers.

I'm not sure what you mean here...

[2019-12-12 02:59] tpantelis commented on #242
This is fixed in submariner-operator.

[2019-12-12 02:59] #242 closed

[2019-12-12 03:10] #128 closed

[2019-12-12 03:11] #104 closed

[2019-12-12 18:45] #16 closed

[2019-12-12 18:49] tpantelis commented on #10
See resolution in https://github.com/submariner-io/submariner/issues/104.

[2019-12-12 18:49] #10 closed

[2019-12-17 14:37] mangelajo opened #256 "Refactoring E2E sh to use armada and separate helm/subctl"
1) Use armada to deploy kind clusters
2) Separate helm and subctl logic to different "sh" libs that we can import from e2e.sh, the functions to setup stuff would have the same name in the helm and subctl versions...
3) Remove all the conditionals: we can now call setup_broker, install_subm, setup_xxx_gateway  ....

[2019-12-17 16:31] mangelajo opened #257 "Initial connection fails randomly, including when we add a cluster"
There is some "warm up" or "caching" that needs to happen somewhere on the
stack that will make the first connection very slow or fail.

By warming up with test_connection which retries, we force that "caching" to happen
before "E2E", we should investigate the root cause and fix it.

[2019-12-19 09:27] sridhargaddam commented on #257
@mangelajo can you share the steps to reproduce this issue. You mentioned that we can simulate it using e2e tests by commenting out something.

[2019-12-20 11:37] mangelajo commented on #257
I'm not being able to reproduce with those changes, I wonder if installing with kindnet and not weave-net will trigger it.

[2019-12-23 13:38] manosnoam opened #267 "E2E on AWS + OSP: Timeouts in 6 out of 12 tests"
After setting up Submariner on AWS cluster and OSP Cluster (Upshift, behind NAT), the connection was tested, and is working:

[code]

However, running the E2E tests, has failed on timeouts in 6 out of 12 tests:

[code]

[Full deployment + E2E output](https://github.com/submariner-io/submariner/files/3995131/E2E.on.AWS.%2B.OSP.-.Timeouts.in.6.out.of.12.tests.txt)

[2019-12-24 02:13] tpantelis commented on #267
The tests failed due to issues querying the k8s API servers and not due to cross-cluster connectivity issues. The first gateway test failure was the first test run and failed with:

[code]

So it failed to find the submariner-engine pod on the gateway node which seems to indicate submariner wasn't fully deployed yet.

The second test was a pod2pod dataplane test from non-gateway to non-gateway tha

[2019-12-24 16:05] tpantelis commented on #267
The gateway test failures indicate there is a node, "ip-10-0-71-143.ec2.internal",  on cluster "admin" labeled as a gateway however there's no submariner-engine pod running. That indicates submariner either wasn't installed on "admin" or "ip-10-0-71-143.ec2.internal" is a master node, in which case k8s won't schedule pods on it, or k8s didn't schedule it for some other reason.

The dataplane tests

[2019-12-25 08:06] manosnoam commented on #267
@tpantelis, I made sure SubM is not installed, before E2E execution, and no connection was possible between the two clusters.

Please take a look on the log:
Before SubM installed - At line 850: Curl connection timed out.
After SubM installed - At line 1250: Curl connection established.

So the reason for test failure is probably in the test logic, not in SubM deployment.

[2019-12-25 08:17] manosnoam opened #269 "E2E tests errors should print details of the cluster and node"
For example, as seen in #267 - a test has failed, but it's unknown on which cluster the connection to the pod timed out:

[code]

The error should rather print:
"Failed to find pods for app submariner-engine on cluster [name] - node [name]"

[2020-01-02 13:38] tpantelis commented on #267
I don't think so based on the failure output. The tests don't even get to the point of testing connectivity - they fail in setup and prerequisite checks. As I mentioned above, in one failure, it doesn't find a submariner engine pod running and the other failures indicate the test pod wasn't scheduled/run by k8s which probably means there's no node labeled as a gateway.

Before running the tests pl

[2020-01-03 13:51] sridhargaddam opened #272 "SUBMARINER-POSTROUTING chain slipped its position in POSTROUTING chain"
Submariner programs certain IPTable rules to preserve the source-IP of the PODs for cross-cluster communication.
Generally, the local cluster CNI also programs iptable rules and when the destination-IP does not belong to the local cluster, it usually performs MASQ/SNAT.
So, Submariner requires that the iptable rules that its programming has higher precedence over the iptable rules that are program

[2020-01-06 06:55] sridhargaddam commented on #257
I tried reproducing this issue both in KIND based deployment as well as between a Rancher and AWS(OCP) clusters. Sadly, in both the setups, I was not able to reproduce the issue.

For the rancher+AWS(OCP) clusters, I've used subctl commands for connecting the clusters as shown below.
rm ./broker-info.subm
./subctl deploy-broker --kubeconfig auth/kubeconfig --no-dataplane
./subctl join --kubeconfig

[2020-01-06 10:12] sridhargaddam commented on #272
@Oats87 , do you have any idea about the issue?

[2020-01-07 19:53] mkimuram opened #275 "Extend the scope of submariner to cluster-to-non-cluster"
Currently, scope of submariner is to achieve connectivity of cluster-to-cluster. This issue is to extend its scope to cluster-to-non-cluster.

Background of this issue is that k8s doesn't provide a fixed egress source IP from a pod when a pod access to outside k8s cluster, in a common way (Please see discussion in https://github.com/kubernetes/enhancements/pull/1105.) So, this could be a problem t

[2020-01-08 05:09] manosnoam commented on #267
Running with latest SubM code, I see more info now in E2E output.
I made sure gateway label defined on a worker node on each cluster.
Here's the full output:
[submariner_test_07012020_1752.log](https://github.com/submariner-io/submariner/files/4033678/submariner_test_07012020_1752.log)

And here's just the first test failure:

``

[0m[redundancy] Gateway fail-over tests[0m [90mwhen two gateway

[2020-01-08 07:55] manosnoam opened #276 ""report-dir" argument can be removed (Ginkgo has --reportFile option)"
"report-dir" argument for specifying junit tests output directory - can be removed, including any references that uses it (also in Docs):
https://github.com/submariner-io/submariner/blob/06332b91b193c0ab362e7f0a96cd715b8556acd5/test/e2e/framework/test_context.go#L40

Ginkgo has this feature already, for example
--ginkgo.reportFile ${WORKDIR}/e2e_junit_result.xml

[2020-01-08 11:00] manosnoam commented on #267
@tpantelis only those 2 tests failed because of having to worker nodes with a gateway label.
However, this seems like false alarm, as Submariner works even when another node has the gateway label.

If it is a real risk, then we should add it to docs, and even verify when running "subctl join" command, that only 1 gateway label exists.
+@skitt

[2020-01-08 11:28] skitt commented on #267
No, a setup with multiple labeled nodes is legitimate, we shouldn’t document that it isn’t or change `subctl` so that it checks this.

How does the test end up with two labeled nodes?

[2020-01-08 11:52] manosnoam commented on #267
One label was created directly with oc label command, and the other label - probably with `prep_for_subm.sh` (I might even run prep_for_subm.sh twice, not sure if that could create another label on other node).
But as you said, and also as I see on other tests, there's no issue of having multiple labels of gateway,
so I guess the test should not fail on "two worker nodes with a gateway label".

[2020-01-08 11:58] skitt commented on #267
If you change the environment the test assumes it’s running in, it’s OK for it to fail IMO ;-). (If the test is supposed to verify something related to the number of labeled nodes at least.)

[2020-01-08 13:59] tpantelis commented on #267
The gateway tests assume there is only one gateway node on entry. For one test, we start with one gateway node and expand to another. So we could relax the assumption if there's already 2 nodes.

The other test kills the lone engine pod and verifies connectivity when a new pod is started. This is specifically for the simple case where there's no gateway redundancy. If there is more than one gatewa

[2020-01-08 14:19] skitt commented on #267
Exactly, these aren’t general purpose tests, they’re specific tests which are allowed to make assumptions about their environment.

[2020-01-08 18:16] roytman opened #277 "tls: internal error on OpenShift deployment"
By using [subctl  ](https://github.com/submariner-io/submariner#installation-using-subctl) I installed Submariner on 2 OpenShift v4.1 clusters. The installation successfully finished, and I did not get any errors.
However, when later I tried to create a busybox, i got the following error:
`Error from server: error dialing backend: remote error: tls: internal error`.
Looks like I have faced with th

[2020-01-09 01:38] tpantelis commented on #267
@manosnoam OK to close?

[2020-01-09 10:04] manosnoam commented on #267
@tpantelis, @skitt
I think that if the tests rely on a certain environment setup (in our case, assumes only one gateway label exists), it should also take care of creating that environment as part of the test (i.e. adding _setup_ and _teardown_ functions to the test framework).

**But** since the gateway label is a mandatory step for Submariner, not part of a certain environment or test scenario,

[2020-01-09 14:55] manosnoam commented on #267
I will close this issue, and open a new one to reflect the requirement for this specific test case.

[2020-01-09 15:15] manosnoam opened #280 "Gateway fail-over tests: should not fail if more than one labels exist"
Gateway label is a mandatory step for Submariner, and adding another label is not wrong (can be done by user on existing environment) - so the test should not fail if more than 1 one label exists. It should **only fail if 0 label exists**.

In general, Gateway fail-over tests (like any other test scenario) should not rely on a certain environment setup (in our case, assumes only one gateway label

[2020-01-09 15:51] skitt commented on #267
It does...

[2020-01-10 12:04] roytman commented on #277
Locks like the issue is not related to submariner.

[2020-01-10 12:04] #277 closed

[2020-01-12 11:07] manosnoam commented on #245
This is how I run E2E on two connected Clusters (A and B):

[code]

[2020-01-13 17:06] tpantelis commented on #280
I think it may make sense to have tests tailored to the persona running the tests.

For an end-user wanting to verify gateway fail-over in their environment, we could have a test that doesn't assume a specific config and doesn't change the config but adapts to the existing config, ie basically finds and kills the active subm engine pod and verifies connectivity to/from another cluster.

The curren

[2020-01-14 14:48] dfarrell07 opened #283 "Use periodic Travis triggers to expand test matrix"
We currently only run CI on PR-based triggers, which requires us to keep job run times short enough to provide timely feedback to developers. However, as our CI has expanded, we have parts of our test matrix that are not being automatically tested. Ie, currently the KubeFed deploys are broken and no one knew because we had to run them manually/locally to see.

Add cron-type Travis jobs to cover ad

[2020-01-16 09:48] mangelajo opened #288 "submariner-engine fails to start with error about /var/run/charon.vici"
E0115 13:35:07.406556       1 strongswan.go:502] Failed to connect to charon: dial unix /var/run/charon.vici: connect: no such file or directory

E0115 13:35:07.500297       1 strongswan.go:502] Failed to connect to charon: dial unix /var/run/charon.vici: connect: no such file or directory

E0115 13:35:08.407199       1 strongswan.go:502] Failed to connect to charon: dial unix /var/run/charon.vici

[2020-01-16 10:45] mangelajo commented on #280
I agree that could be beneficial, but (as we discussed on the last team meeting), we must keep the existing tests too, to make sure all scenarios are always verified on CI, and enhance the documentation so it's well known how to run E2E, and what's expected to be present to do it right.

Also, another thing we may want to do, is add a "diagnostic" tag to all the tests that are safe to be run by op

[2020-01-16 10:46] #288 closed

[2020-01-17 14:50] dfarrell07 opened #291 "Prototype Armada-based deployments, related e2e script refactoring"
This is to cover part of #256 that should be broken out into its own Issue.

Refactor the e2e scripts to deploy kind-based clusters using Armada. Note that Armada is still a PR under review, being refactored on a feature branch (https://github.com/submariner-io/armada/pull/1/files).

[2020-01-17 15:09] dfarrell07 commented on #256
Done:

https://github.com/submariner-io/submariner/pull/273

Broke this out into a different issue:

https://github.com/submariner-io/submariner/issues/291

[2020-01-17 15:14] dfarrell07 opened #292 "Cleanup vars in e2e script/libs"
Follow-up on #273 review comments related to additional variable refactoring that should be done in the e2e script and related Helm/subctl libraries.

https://github.com/submariner-io/submariner/pull/273#issuecomment-575209204

https://github.com/submariner-io/submariner/pull/273#discussion_r367509912

[2020-01-19 14:52] #256 closed

[2020-01-21 16:20] mangelajo commented on #272
We want to figure out how often does this happen. If it's not very often we can just monitor and re-insert our rules. If it happens due to specific events then we may need to look for other solutions.

[2020-01-23 11:48] mangelajo commented on #257
@sridhargaddam thanks for looking at the problem close. This is something which was happening to me always at kubecon most of the time. Sometimes thos 8-12 seconds became a timeout. I wonder what's exactly happening during those 8-12 seconds.

May be to validate/investigate we can change the netshoot/nginx test with a "IPSEC ready" test which does not exercise any traffic.

And then let the E2E te

[2020-01-23 13:52] mangelajo opened #298 "connection from hostNetwork to remote Pod or ClusterIP does not work"
In k8s, connecting from a worker node (or pod with hostNetwork) to another pod or clusterIP works, see example:

[code]

The current implementation fails to work this way across clusters, because of the way vx-submariner and the iptable rules are configured, as soon as a remote PodIP or ClusterIP is targeted, the routing rules and vx-submariner implementation, the connection will be sourced with t

[2020-01-23 13:54] mangelajo commented on #298
We also need to add additional testing verify this type of connectivity.

[2020-01-23 16:16] #292 closed

[2020-01-26 12:27] manosnoam opened #299 "[Doc] Submariner components requires Go >= 1.13"
We need to update the READMEs in all Submariner components repos - that in order to compile them - Go 1.13 or above is required.

For example, when running in Go 1.12 [submariner-operator] [./setup_subm.sh] - it fails during compilation of Lighthouse:
[code]

[2020-01-28 14:57] #211 closed

[2020-01-29 10:39] mangelajo opened #300 "Auto-detect NAT"
NAT settings make certain types of configurations impossible.

For example, if you have two clusters on-prem, behind a nat router, and then , another public cluster, you need to enable NAT to enable communication between on-prem and AWS clusters,

But , between the on-prem clusters submariner will detect the same external IP and will try to use that one.

This is also a performance problem, when a

[2020-01-29 10:41] mangelajo commented on #299
We must use the dapper environment for compilation not our bare host. Otherwise we will run into problems like this or many others.

Always use "make" actions to compile or test.

You can also use ./.dapper -s -m bind if you want

[2020-01-29 10:41] mangelajo commented on #299
May be we should make sure the readme is clear about the make fact.

[2020-01-29 10:43] mangelajo opened #301 "MTU is smaller than necessary for vx-submariner path"
We use vx-submariner to achieve src-ip preservation of pods.

But vx-submariner MTU is not calculated and uses a fixed 1450. We should identify the outgoing interface, and adapt the interface to use interface.mtu - 50 (Vxlan overhead).

[2020-01-29 10:44] mangelajo commented on #301
@sridhargaddam I added you to this one since you were working on the other related fix, and you are very familiar with this part, but let me know if you are busy and wand me to look at it.

[2020-01-29 10:45] mangelajo commented on #276
@manosnoam do you have the time to send a patch for this, since you are more familiar?

[2020-01-29 10:49] mangelajo commented on #275
@mkimuram can you explain further or join bit.ly/submariner-dev to share the usecase with us, may be join our periodic meeting on Tuesdays?.

Do you mean that you would be interested in connecting one cluster with a legacy network, or ... a subnet on a cloud VPC to a submariner connected cluster?

[2020-01-29 10:53] mangelajo commented on #267
I think we need to bump the timeouts in the case of waiting for pods/deployments/listeners, etc...

That's something related to, may be that the caches in the clusters are still being oiled (just deployed)... or that the cluster is constrained on resources, but not indicative of submariner being broken per-se.

Raising the timeouts should be fine, also as we talked about on the meetings we should

[2020-01-29 10:55] mangelajo opened #302 "Mark diagnostic E2E tests which can be used outside CI E2E by customers without special requisites."
We must organize the subset of E2E tests which can be used to validate connectivity and a submariner install without specific setup of the environment (gateway redundancy, etc.).

This should also include clear documentation on how to use such E2E tests, and what's required to do so.

This is also related to: https://github.com/submariner-io/submariner-operator/issues/103

[2020-01-29 10:57] mangelajo opened #303 "Document the exact requisites to run full E2E on an environment"
We need to document the exact requisites for running E2E on an environment (like expected gateways, etc...) also the risks of failover induction for a production environment, etc.

[2020-01-29 10:58] mangelajo commented on #280
I'm closing this one in favor of those issues:

https://github.com/submariner-io/submariner/issues/303
https://github.com/submariner-io/submariner/issues/302

[2020-01-29 10:58] #280 closed

[2020-01-29 10:58] manosnoam commented on #299
The Readme has to be specifying the exact requirments, and deployment procedure. If workaround is required, just like prepare_for_sumariner.sh script, or an alternative build command (like #146 )
it should be clear to follow.

Regarding Go version, can the customer build Submariner without having Go already installed ?

[2020-01-29 10:58] sridhargaddam commented on #301
No problem @mangelajo, I'll work on the necessary changes and push the PR.

[2020-01-29 10:59] mangelajo opened #304 "Raise timeouts for pod creation in E2E tests"
Some environments are slower to react, and some E2E tests eventually timeout, while submariner is not at fault.

Related initial report by @manosnoam : https://github.com/submariner-io/submariner/issues/267

[2020-01-29 10:59] mangelajo commented on #267
I'm closing this one in favor of those issues:

https://github.com/submariner-io/submariner/issues/304
https://github.com/submariner-io/submariner/issues/303
https://github.com/submariner-io/submariner/issues/302

[2020-01-29 10:59] #267 closed

[2020-01-29 11:04] mangelajo commented on #234
By looking at the logs, it seems like you labeled a node that was master (and not worker) to assign the gateway, that's why the engine does not go up. A later patch was introduced in subctl which prevents this from happening.

[2020-01-29 11:04] #234 closed

[2020-01-29 14:17] tpantelis commented on #302
Rather than exposing the Go E2E tests to end-users, I would propose we package such validation in a CLI, ie subctl.

[2020-01-29 15:19] mangelajo opened #308 "Expose endpoint connection status and information on every submariner engine/gateway"
May be using a healthz server https://github.com/submariner-io/coastguard/blob/master/pkg/healthz/healthz.go or similar

We could expose, per remote endpoint:
   * State (connecting/connected/error?...)
   * IPs used for the connection
   * Nat status
   * Latency
   * Bandwidth
   * Local & Remote IPs of the connection

[2020-01-29 17:49] mkimuram commented on #275
Yes. Both subnets on a cloud VPC and subnets in on-premise are my scope.

Thank you for your suggestion.
I will join the next meeting to explain more in details.

[2020-01-30 13:45] mangelajo commented on #302
Yes, but my intention is to use these tests directly (at least for now) from subctl, by compiling them in. And then subctl can select specifically the "diagnostic" ones.

[2020-02-03 10:18] sridhargaddam commented on #301
The necessary fix is now merged in Submariner repo.

[2020-02-03 10:18] sridhargaddam commented on #298
The necessary fix is now merged in Submariner repo.

[2020-02-03 22:33] mkimuram commented on #275
I will explain with these slides [k8s-to-non-k8s.pdf](https://github.com/submariner-io/submariner/files/4150527/k8s-to-non-k8s.pdf) .

[2020-02-04 15:43] #298 closed

[2020-02-04 15:47] #301 closed

[2020-02-04 16:32] mangelajo commented on #275
Ping @Oats87 this makes sense to me for connecting legacy cloud workloads to submariner / k8s workloads. I propose we model it in terms of submariner.

[2020-02-05 09:20] mangelajo opened #326 "Store sensitive details in secrets"
Things that can be stored on (ideally separate) secrets:

a) the ipsec-psk (or other cable engine related secrets)
b) the token/cert (just a copy of the service account secret created on the broker)

Secrets won't buy extra security because, with the right permissions can be extracted. But it will make it:

1) Cleaner when showing pods, the secrets won't be dumped on screen
2) Easier to update

[2020-02-05 09:20] mangelajo commented on #326
@roytman  ^

[2020-02-05 11:11] mangelajo opened #327 "E2E tests are necessary to validate hostNetwork to remote pod/clusterIP"
This was fixed here: https://github.com/submariner-io/submariner/issues/298#issuecomment-577690978

And we should incorporate e2e validation.

[2020-02-06 13:41] mangelajo opened #329 "The ocp-ipi-aws scripts will always deploys a single gateway node."
Under some circumstances a dedicated gateway node could not be desired, or necessary, or under more strict requirements, several dedicated nodes could be necessary for HA purposes.

I got a request to allow specifying the number of dedicated gw nodes we want to deploy (allowing 0).

[2020-02-06 13:44] mangelajo opened #330 "A closed 4800 UDP will silently fail with no pod connectivity"
We could auto detect such port is closed by letting the gateway periodically ping any the worker nodes over the vx-submariner network.

[2020-02-07 10:53] mangelajo commented on #327
this was merged, thanks sridhar

[2020-02-07 10:53] #327 closed

[2020-02-07 10:58] mangelajo opened #331 "During a gateway node transitions, route-agent pod PANICs"
[RA-2] I0207 10:50:19.334650       1 route.go:439] Handling object in handleEndpoint
[RA-2] I0207 10:50:19.334672       1 route.go:440] Processing endpoint object: submariner-operator/cluster-b-submariner-cable-cluster-b-10-0-33-255
[RA-2] E0207 10:50:19.339389       1 route.go:619] Error retrieving link by name vx-submariner: Link not found
[RA-2] I0207 10:50:19.340396       1 vxlan.go:152] Succe

[2020-02-11 06:10] sridhargaddam opened #337 "KIND re-deployment fails when using operator"
When installing KIND based K8s clusters using the operator as shown below[#], the initial deployment goes fine. However, when we try to redeploy (i.e, re-run the same command), it's giving an error.

[#] make ci e2e status=keep deploytool=operator

_<SNIP>
[scripts]$ kubectl --context=cluster3 label node cluster3-worker submariner.io/gateway=true --overwrite
node/cluster3-worker not labeled
[scrip

[2020-02-11 13:00] sridhargaddam opened #339 "KIND re-deployment issue when using helm"
When installing KIND based K8s clusters using helm[#], the initial deployment
goes fine. However, when we try to redeploy (i.e, re-run the same command),
it's giving an error.

[#] make ci e2e status=keep deploytool=helm

_<SNIP>
iner.clusterId=cluster2 --set submariner.clusterCidr=10.245.0.0/16 --set submariner.serviceCidr=100.95.0.0/16 --set submariner.natEnabled=false --set routeAgent.image.rep

[2020-02-11 13:55] mangelajo opened #341 "During E2E gateway failovers the route-agent will crash sometimes"
[code]

[2020-02-11 15:54] sridhargaddam commented on #337
This issue is now fixed.

[2020-02-11 15:54] #337 closed

[2020-02-11 15:58] sridhargaddam commented on #331
@mangelajo I modified the title of this issue to match the logs. Let us create separate issues for any errors seen for HA use-cases. I'm closing this issue as the PANIC is now addressed.

[2020-02-11 15:58] #331 closed

[2020-02-12 13:07] mangelajo opened #346 "After gateway failover sometimes an extra 220 routing table (strongswan) will be left and break connectivity"
After a gateway failover, a worker that previously was a master gateway would leave some entries in routing table 220 (strongswan) which take precedence to the default routing rules.

This will make connectivity to the remote cluster from such node. This breaks the E2E tests sometimes.

NOTE: 10.246.224.3 is a remote cluster pod

root@cluster2-worker:/# ip r get 10.246.224.3
10.246.224.3 via **172

[2020-02-13 14:27] #346 closed

[2020-02-13 15:16] #339 closed

[2020-02-17 18:41] dfarrell07 commented on #283
Thinking about this more, it seems better to follow the OpenStack model of always running all checks against every change vs depending on periodic tests for some checks. We can avoid longer wait times on PRs by splitting Travis builds to use multiple parallel jobs, as I proposed in #357.

[2020-02-20 09:48] manosnoam opened #360 "strongswan status exit code 3, even when "security associations" is up, duplicate SAs"
[code]

[2020-02-20 09:50] mangelajo commented on #360
Probably the "CONNECTING" part, with a repeated connection is what we need to investigate. I see those kinds of duplicate connection "SAs".

[2020-02-21 10:57] #283 closed

[2020-02-24 18:38] sridhargaddam opened #365 "e2e tests to validate Globalnet Controller"
Globalnet controller is a new feature that supports Clusters with Overlapping CIDRs. This is an issue reported to track the corresponding e2e tests.

[2020-02-24 18:50] sridhargaddam opened #366 "Fix race loop when ClusterCRD is updated with globalCIDR"
Bug where the Cluster and Endpoint CRDs would start a race loop between the old and the new one.

[2020-02-24 21:59] c0dyhi11 opened #367 "Submariner fails to install "route and agent" on k3s"
Hello,

I'm new to submariner and I'm trying to get it working with k3s. I have followed the prereqs and made sure I have unique CIDRs for pods and services as well as a unique DNS suffix.

The broker installs just fine against my first (Single node) k3s cluster. But when I try and deploy the route and agent, I get the following error:

[code]
This is k3s `v1.17.2+k3s1` that is being installed as

[2020-02-24 23:17] tpantelis commented on #367
"No available node, skipping labeling" means there's no worker node to label as the gateway, ie there's only the one master node and subctl does not label the master node as k8s disallows scheduling of user workloads on the master.  I suspect the subsequent panic was related to that. You can add the `submariner.io/gateway=true` label manually

[2020-02-25 02:01] c0dyhi11 commented on #367
Thanks @tpantelis,

But it looks like labeling these nodes seems to get past that one warning. But I'm still getting the same TRACE:

[code]

[2020-02-25 02:30] tpantelis commented on #367
The panic emanated from join.go - it wasn't able to determine the Pod CIDR dynamically and blew up before it could prompt for it:

[code]

So  L214 needs to check for `nd != nil` as `getServiceCIDR` does so it prompts.

To work around it for now you can pass _--servicecidr_ on the command line.

[2020-02-25 02:45] c0dyhi11 commented on #367
Thanks @tpantelis,
`--servicecidr` alone wasn't enough. I had to pass `--clustercidr` as well.
[code]
This did the trick!
Thanks again!

[2020-02-25 02:52] tpantelis commented on #367
Sorry I meant `--clustercidr` - it correctly prompted for the `servicecidr` already.

Reopening for tracking as we need to fix the panic.

[2020-02-25 03:00] tpantelis commented on #367
PR: https://github.com/submariner-io/submariner-operator/pull/198

[2020-02-25 05:50] sridhargaddam commented on #360
@manosnoam, we use the VICI interface to control Charon in Submariner Gateway. Its recommended using swanctl, a command-line tool, to configure and control Charon.

So, please use the following command, which ideally should return the proper value.

**swanctl --list-sas (or swanctl --list-conn)**

Sample output:
--------------
[root@cluster2-worker submariner]# swanctl --list-sas
submariner-cable-

[2020-02-25 07:58] manosnoam commented on #360
Thanks Sridhar, I will try those commands.
But maybe exit code 3 is an indication of a bug due to: `Security Associations (1 up, 1 connecting)`
Which seems like an attempt to create a second connection, while it should/can not, cause only one connection is required?

[2020-02-25 08:08] sridhargaddam commented on #360
I checked locally in my cluster and even when the connection is successfully established, I see that "strongswan statusall" returns exit code of 3. You can give a try with the commands I suggested and let us know if you still see exit code of 3.

[2020-02-25 13:50] dfarrell07 opened #369 "Share common deployment/e2e scripts in submariner-io/* repos"
There is currently a duplication of kind/submariner deployment and e2e testing scripting between a number of subprojects of submariner-io. The duplication is resulting in fragmentation, as fixes and features go into some projects but not others. In order to avoid costly cross-porting, find a way to share common scripts between projects.

Ideas:
* Git submodule
  * Adds some extra complexity. Requi

[2020-02-25 14:38] dfarrell07 commented on #369
Talked about this on the automation call today. @skitt and @mangelajo pointed out we could add these scripts to the base dapper image and share them in CI that way. Good idea, need to think/dig.

[2020-02-25 20:20] dfarrell07 opened #372 "Get Cluster/Service CIDRs for Helm deploys dynamically from subctl or Armada, don't hardcode"
[Part of the review](https://github.com/submariner-io/submariner/pull/317#discussion_r383649597) of #317 showed the need to remove a hardcoded link between the Cluster/Service CIDR vars passed to Helm deploys and the underlying deployment implementation (ie Armada internal defaults). That connection wasn't introduced by the proposed change, and has a fairly different scope, so it was agreed it sho

[2020-02-25 20:45] tpantelis opened #373 "Add unit tests for engine components"
- Datastoresyncer
- Tunnel Controller
- Kubernetes Datastore

[2020-02-25 20:57] tpantelis opened #374 "Migrate controllers to use k8s CreateOrUpdate" API"
As seen [here](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/controller/controllerutil/controllerutil.go#L136)

- Datastoresyncer
- Kubernetes Datastore

[2020-02-25 21:01] tpantelis opened #375 "Migrate controllers to use admiral APIs"
Specifically, the `ResourceSyncer` and `ResourceWatcher` that eliminate  boilerplate and code duplication.

[2020-02-26 11:29] dfarrell07 opened #378 "Remove bash-driving-kind deploys after Armada is shown solid"
Once we have https://github.com/submariner-io/submariner/pull/317 merged, per feedback on the PR, we want to remove the Bash deployment logic that is being deprecated in favor of Armada. Want to wait and remove the flag after the Armada path has been proven solid by general use in CI for a while, and after the main Armada PoC PR has been merged and an official release made. Removing the Bash logic

[2020-02-26 11:50] dfarrell07 opened #379 "Audit Twitter, Youtube social channels for refactoring"
Generally review Twitter and Youtube to make sure our social outlets are in good shape. Put together plan for usage, sharing going forward.

[2020-02-26 12:19] tpantelis opened #380 "Add unit tests for route agent controller"

[2020-02-26 12:23] #367 closed

[2020-02-26 12:54] sridhargaddam opened #381 "Support for deploying Globalnet Controller with KIND/Helm"
We need support in KIND to deploy clusters with Overlapping CIDRs so that we can work on necessary e2e tests. Since Helm support is already present, we can enable support in KIND for using Helm as a deployment tool.

[2020-02-26 13:04] sridhargaddam opened #382 "Globalnet Controller support for non iptables based kubeproxy"
The current implementation of Globalnet Controller works with iptables based kubeproxy. We have to add support for non-iptables based kube-proxy implementations.

[2020-02-26 13:06] sridhargaddam opened #383 "Globalnet Controller support for OVN"
**Before working on this, we need to have this ready:** https://github.com/submariner-io/submariner/issues/652

The current implementation of Globalnet Controller works with iptables based kubeproxy. We have to add support for clusters that use OVN as the network-plugin driver.

This can be possibly implemented with snat/dnat rules in the submariner_router, although we could always rely to iptable

[2020-02-26 13:10] sridhargaddam opened #384 "Update Submariner Readme/Docs to include GlobalNet Feature"
mangelajo: I'd say we better just do this on the website instead.

[2020-02-26 13:20] skitt opened #385 "Support LibreSwan as an IKE"
Submariner currently uses StrongSwan, we should also support LibreSwan. There is no existing Go library to interface with it, and after discussion with the LibreSwan developers, the best approach would seem to be to use the “whack” interface exposed by the `pluto` daemon.

This is in progress, see #101 and #107.

Done: Add this as the default on CI, in a way that we can validate during 0.4.0 devel

[2020-02-26 13:55] mangelajo opened #386 "Libreswan: Ensure IPSEC tunnel is not terminated when the Gateway POD is going down"

[2020-02-26 13:56] mangelajo opened #387 "Identify timing on failure scenarios for HA"

[2020-02-26 13:56] mangelajo opened #388 "Identify solutions for high availability across submariner"

[2020-02-26 14:21] sridhargaddam opened #391 "Validate Overlapping CIDRs use-case using Globalnet (without DNS)"
Validate Globalnet Controller use-case by manually deploying two clusters with Overlapping CIDRs and ensuring that POD to Service use-case is working as expected.

[2020-02-26 14:49] dfarrell07 opened #392 "Refactor CI job structure of testing re-deploys on existing deployments"
The current Travis jobs attempt to test re-running on existing deployments when the e2e scripting is modified.

[code]

However, the logic no longer really applies because the scripts used in e2e are now many more than just e2e.sh.

Parts:
* Trigger re-runs at correct, useful times. Don't re-run verify jobs, for example.
* Maybe trigger based on periodic timer, vs extending job times for PRs.

[2020-02-26 14:51] mangelajo opened #393 "Release v0.1.1"

[2020-02-26 14:51] mangelajo opened #394 "[Tracker] WireGuard support"
WireGuard is an extremely simple yet fast and modern VPN that utilizes state-of-the-art cryptography. Traffic is encrypted and encapsulated in UDP packets.

The goal of this Issue is to track the work to support it as a cable driver.

[2020-02-26 14:52] mangelajo opened #395 "Release work for v0.2.0"
Also tag the website for 0.2.0 status
https://github.com/submariner-io/submariner-operator/pull/283/files

[2020-02-26 14:56] dfarrell07 opened #396 "Cleanup how CI jobs deploy artifacts after success"
The current Travis jobs run a deployment section after each job. This has a number of issues:
* Verify jobs don't have an artifact to deploy, so they fail at that step.
* Both e2e jobs push artifacts, when only one needs to.

[2020-02-27 09:41] Jaanki opened #397 "Correction in README"
Specify that submariner route-agent pods run only on worker nodes instead of "all" k8s nodes.

[2020-02-27 14:56] dfarrell07 commented on #369
Per discussions with @tpantelis and @mkolesnik, we should consider the general design of moving abstractions like managing multicluster kind deployments to submariner-io/armada. The current proposal there (https://github.com/submariner-io/armada/pull/1) is for a Go binary, but it's not clear that's more simple than keeping these scripts and sharing them better as a parallel Bash implementation. Ei

[2020-02-27 17:04] #341 closed

[2020-02-29 14:45] roytman opened #407 "Submariner doesn't work with Calico CNI"
Calico CNI supports several networking modes.

- First, I checked the `IP in IP or VXLAN encapsulation`.

After successful submariner installation (disable-nat), I was able to ping from a pod which is colocated with the submariner gateway to pods on another cluster, but was not able to ping services.
Pings from a pod which is not colocated with the GW, achieved neither pods nor services on another

[2020-02-29 14:46] roytman commented on #407
Possible related to https://github.com/submariner-io/submariner/issues/272

[2020-03-03 10:35] nyechiel commented on #394
Patches from @roytman and team :)

[2020-03-03 13:03] sridhargaddam opened #412 "Support in KIND (via Armada) to deploy clusters with Overlapping CIDRs"
Currently, KIND clusters are deployed with non-overlapping CIDRs (pod and svc). Inorder to validate Globanetnet Controller, we require clusters with overlapping CIDRs. This issue is to track the necessary enhancements in KIND/Armada for this use-case.

[2020-03-03 13:19] dfarrell07 commented on #369
This is blocked by https://github.com/submariner-io/lighthouse/issues/69.

[2020-03-03 13:51] tpantelis commented on #394
https://github.com/submariner-io/submariner/pull/349
https://github.com/submariner-io/submariner-operator/pull/185/

[2020-03-03 15:06] #396 closed

[2020-03-04 09:58] paurosello commented on #407
Did you get around this? I am facing the same problem, connecting to services work fine even if the pods are on non-gateway nodes but not pod-pod communication if the destination pod is not in the gateway node.

[2020-03-04 10:48] roytman commented on #407
not yet, meantime we have moved to another CNI, probably will return to Calico later.

[2020-03-04 15:18] manosnoam opened #415 "Submariner "member" naming convention"
This is a request to update terminology for Submariner (in Readme mostly):
Like we have Submariner “Broker” naming convention, can we name “Members” to any Submariner dataplane pods ?

This is in conjunction with SubCTL commands:

- `subctl --deploy` : Deploying the "Broker".
- `subctl --join` : Adding a "Member".

Note that Broker and Member can reside in the same cluster (it's by default to depl

[2020-03-05 18:39] manosnoam opened #416 "Submariner failed to pull image"
After deploying Submariner and joining 2 Clusters (on OSP and AWS), submariner engine pods failed to pull images:

[code]

Full log output attached:
[Submariner failing to pull image.log](https://github.com/submariner-io/submariner/files/4294537/Submariner.failing.to.pull.image.log)

[2020-03-05 19:13] sridhargaddam commented on #416
Submariner 0.1.1 tagged images are missing at https://quay.io/repository/submariner/submariner

CC: @mangelajo @skitt

[2020-03-06 11:58] dfarrell07 commented on #369
Working on the Operator side of things before Lighthouse now, as more folks need the deduplication there. PR to convert to shared scripts: https://github.com/submariner-io/submariner-operator/pull/248. Needs other patches to backport features from operator e2e to main submariner e2e.

[2020-03-06 12:25] dfarrell07 opened #420 "Convert e2e.sh to use getopts to accept params, allowing use in various repos"
As we move to sharing e2e deployment logic better between submariner-io/* repos (https://github.com/submariner-io/submariner/issues/369), the `e2e.sh` script will become an entry point for multiple, somewhat-different CI systems. We currently expect the params to be an explicit, full, ordered list ($1 $2 $3...), which is very difficult to share. Should move to getopts to support proper flags, whic

[2020-03-07 16:11] #366 closed

[2020-03-08 14:04] #185 closed

[2020-03-09 08:56] mangelajo commented on #416
Ah, 4 days ago, but it was released 3 days ago :)

[2020-03-09 08:56] #416 closed

[2020-03-09 08:58] manosnoam opened #426 "StrongSwan connecting to 'default' URI failed"
After deploying Submariner, all submariner-operator are running, but strongswan status returns exit code 3. Looking at swanctl, I'm seeing that StrongSwan connecting to 'default' URI 'unix:///run/strongswan/charon.vici' failed: No such file or directory.

[code]

[StrongSwan connecting to default URI failed.log](https://github.com/submariner-io/submariner/files/4305589/StrongSwan.connecting.to.def

[2020-03-09 09:49] dfarrell07 commented on #379
[Twitter](https://twitter.com/submarinerio) looks good overall, a few minor fixes:
* Change "on prem" to "on-prem" in bio.
* Add link to GitHub in website bio field.
* RT a @mention highlighting the new Lighthouse demo.

[YouTube](https://www.youtube.com/channel/UCZ3brSgl2v4boglZoeChClQ/featured) looks good, no action needed.

[Website](https://submariner.io/) needs work, but that is ongoing in [s

[2020-03-09 10:12] sridhargaddam commented on #426
Just for record: When more than one node is labelled as SubmarinerGateway capable node, submariner engine (that runs as a DaemonSet) will run on both the nodes. However, only one of them will be the active gateway node for the cluster. The above logs are seen on the non-Gateway/Backup node where Charon daemon is not running, hence the error.

[2020-03-09 10:32] nyechiel commented on #379
@dfarrell07  Re: YouTube - how can we improve SEO and overall visibility of our channel? This is the current search experience: https://www.youtube.com/results?search_query=submariner.io

[2020-03-09 12:52] manosnoam commented on #426
Seems to be caused by URI path, this seems to be responding correctly:

[code]

[2020-03-10 11:25] dfarrell07 commented on #379
@skitt Is there some way you can share editing privileges for the YouTube channel with me?

[2020-03-10 11:32] dfarrell07 commented on #379
It should be possible from studio.youtuble.com -> Settings -> Permissions.

https://support.google.com/youtube/answer/9481328

[2020-03-10 12:45] manosnoam opened #432 "Submariner gateway label cannot be removed once created"
When trying to remove Submariner gateway labels from nodes (in order to cleanup submariner, or in order to avoid redundant labels, as described in bug https://github.com/submariner-io/submariner-operator/issues/253), there is a **hidden process that prevents gateway label removal**, only from AWS nodes.
I've already opened a bug in K8s github, but they suspect it is related to our submariner contr

[2020-03-10 13:43] skitt commented on #379
I’ve added Miguel and you as co-owners of the channel.

[2020-03-11 15:03] dfarrell07 commented on #412
We decided not to go with Go-based Armada, so my patch became irrelevant, but @sridhargaddam ended up implementing this logic on the Bash-based path here: https://github.com/submariner-io/submariner/pull/436/files

[2020-03-11 15:03] #412 closed

[2020-03-11 15:10] dfarrell07 commented on #291
After extensive discussions (and this prototyping work, to show the details) with @tpantelis, @mkolesnik and many others, we decided not to go with Go-based Armada. Other issues will track Bash-path deduplication, ie https://github.com/submariner-io/submariner/issues/369.

[2020-03-11 15:10] #291 closed

[2020-03-11 17:32] dfarrell07 commented on #379
I now have permissions to edit the YouTube channel. Edited:
* Changed all video categories from People and Blogs to Science and Technology.
* Specified that the video languages are English.
* Added channel-wide keywords:
  * Submariner, Submariner-io, Kubernetes, K8s, Networking, Cross-cluster Networking, Multi-cluster Networking, Open Source, Hybrid Cloud.
* Added tags to video "Connecting hybrid

[2020-03-11 17:32] #379 closed

[2020-03-11 17:34] dfarrell07 commented on #378
After extensive discussion with @mkolesnik, @tpantelis and many others, we decided to not move to Go-based Armada, so this TODO is no longer needed.

[2020-03-11 17:34] #378 closed

[2020-03-11 17:35] dfarrell07 commented on #392
This check caught a legit bug in https://github.com/submariner-io/submariner/pull/427, so maybe it adds enough value that it should remain when e2e files are modified but the check should be extended to catch all e2e-related file changes.

[2020-03-12 08:43] mkolesnik commented on #392
A simple fix could be to trigger on `"${CHANGED_FILES_PR[@]}" =~ "scripts/kind-e2e/"`

Also note that if the script failed at that point it didn't actually fail the job, so the fact it caught a bug in #427 was since I was actually reading the build logs, and would go unnoticed otherwise.

[2020-03-12 10:35] mkolesnik opened #438 "Post merge job doesn't rebuild the dapper base image"
We noticed on this build [1] that the dapper base image wasn't rebuilt, even though the PR was updating it and the CI for the PR itself passed with no problems.

[1] https://travis-ci.com/github/submariner-io/submariner/builds/152954775

[2020-03-12 12:45] sridhargaddam opened #440 "Bash error message when globalnet controller fails to annotate a service"
When deploying a KIND cluster with globalnet=true, and for some
reason if the globalnet POD fails to annotate nginx-demo service
with a globalIp, KIND should fail with an appropriate error message.

Currently build fails with the following error

<SNIP>
[scripts]$ kubectl get svc nginx-demo -o jsonpath={.metadata.annotations.submariner\.io/globalIp}
./../scripts/kind-e2e/e2e.sh: line 105: [: !=: u

[2020-03-15 19:18] sridhargaddam opened #443 "CI validation for Globalnet Controller via Helm"
Enable CI to validate Globalnet Controller

[2020-03-15 19:19] sridhargaddam commented on #443
The following PR validates Globalnet via Helm
https://github.com/submariner-io/submariner/pull/437

[2020-03-15 19:20] sridhargaddam commented on #443
@vthapar is working on validating the deployment via Operator

[2020-03-16 09:01] sridhargaddam commented on #391
@manosnoam the necessary PRs are all in and it's ready for testing. We have not tagged the subctl yet, but you can pick the latest subctl from submariner-operator repo. Just let me or @vthapar once you are ready to test and we will provide more details.

[2020-03-16 15:08] #420 closed

[2020-03-17 10:37] nyechiel commented on #394
https://github.com/submariner-io/submariner/pull/441

[2020-03-17 12:47] sridhargaddam commented on #443
The following PR handles Operator deployment - https://github.com/submariner-io/submariner-operator/pull/254

[2020-03-17 14:28] mangelajo opened #451 "Re-enable gateway failover testing"

[2020-03-17 15:31] #369 closed

[2020-03-17 15:50] #392 closed

[2020-03-17 21:36] tpantelis opened #452 "Use generic datastore syncer from admiral"

[2020-03-17 21:47] tpantelis opened #453 "Use shipyard E2E test framework"

[2020-03-18 08:45] #438 closed

[2020-03-18 10:15] dfarrell07 commented on #372
Per feedback from @mkolesnik, and I agree, it seems the implementation (https://github.com/submariner-io/submariner/pull/406) isn't worth the complexity now that we aren't trying to support more generic deploys.

[2020-03-18 10:15] #372 closed

[2020-03-18 14:16] manosnoam commented on #391
I'm testing according to e2e script as in:
https://github.com/submariner-io/submariner-operator/pull/254

Do we have Readme for globalnet already ?
If not, there should be a issue to add globalnet info and examples to Readme.

[2020-03-18 14:18] manosnoam opened #456 "Validate Service-discovery use-case"
[code]

[submariner_downstream_test_18032020_1605.log](https://github.com/submariner-io/submariner/files/4349575/submariner_downstream_test_18032020_1605.log)

[2020-03-18 14:47] #456 closed

[2020-03-18 14:52] sridhargaddam commented on #391
Right, you can start with the simple deployment scenario where you specify globalnet is enabled and start expanding on specifying different values.

We have two Jiras to add the documentation and they are in progress.
@vthapar is looking at - https://github.com/submariner-io/submariner/issues/384
@sridhargaddam -  https://github.com/submariner-io/submariner-website/issues/20

[2020-03-19 11:03] nyechiel commented on #32
Wireguard support is in progress. Please see https://github.com/submariner-io/submariner/issues/394

[2020-03-19 11:03] #32 closed

[2020-03-19 11:08] nyechiel commented on #3
I believe this can be closed now. This functionality is available within Lighthouse.

[2020-03-19 11:08] #3 closed

[2020-03-19 13:15] manosnoam opened #458 "Error running ipamController: cluster does not seem to use kube-proxy goroutine"
As part of #391, I'm testing Overlapping CIDRs with globalnet option, between AWS public cluster (also the broker), and OSP private cluster.

AWS has OCP Version: 4.2.0 (Kubernetes Version: v1.14.6+2e5ed54)
OSP has OCP Version: 4.3.1 (Kubernetes Version: v1.16.2)

[code]

kube-system only runs on the private cluster (OSP) which is not the broker cluster:

[code]

And kube-proxy does not run on any

[2020-03-20 07:31] sridhargaddam opened #460 "Globalnet Controller is not annotating Services without selectors"
Setup: Overlapping Clusters with Submariner Globalnet deployed.

Services without selectors i.e no backend pod, are not accessible across clusters if globalnet is enabled. It works when clusters don't have overlapping CIDRs and globalnet is not used.

[2020-03-20 17:52] sridhargaddam commented on #458
A workaround to this issue is implemented via the following PR - https://github.com/submariner-io/submariner/pull/459

In a future PR we would re-enable kubeproxy validation in some generic way.

[2020-03-23 08:14] sridhargaddam opened #464 "Globalnet: Host Network to remote serviceGlobalIP connectivity"
Globalnet should support HostNetwork to remote cluster service via globalip.

[2020-03-23 12:36] manosnoam commented on #458
Just for the record, the #463 fix, does not fix Globalnet with Service-Discovery when deploying on private cluster with Overlapping CIDRs:
[code]

[2020-03-23 15:10] manosnoam commented on #391
I'm renaming this issue, as I have validated GlobalNet to be working correctly WITHOUT using DNS (service-discovery). I will Open another issue to validate it with DNS on the next release (see #458)

[2020-03-23 15:13] #391 closed

[2020-03-23 15:18] manosnoam opened #466 "Validate Globalnet on Overlapping CIDRs with DNS"
As in #391, just with service-discovery to support connection to service name (not just service global ip).

[2020-03-24 12:40] mangelajo opened #468 "Automation of the release process as a whole."
adding noam and me , since will relate
to the CI-CD testing effort

[2020-03-24 13:03] sridhargaddam opened #470 "Globalnet: e2e tests for Hostnetwork to remote Service."
Implement e2e tests to validate Hostnetwork to remote Service.

[2020-03-24 13:10] mangelajo opened #471 "Downstream Jenkins instance:"
https://redhat.service-now.com/help?id=rh_ticket&table=x_redha_pnt_devops_table&sys_id=71e1016edb230810619d9983ca96191d

[2020-03-24 13:23] dfarrell07 opened #472 "Investigate Chaos Monkey-style tests"
Explore the options for tests that are of the Chaos Monkey style - ie they "randomly" break parts of the deployment and validate we can recover.

Early discussions with a potential user highlighted this as a type of testing they would need to see before adopting Submariner.

[2020-03-24 14:04] #387 closed

[2020-03-25 12:00] nyechiel commented on #386
@sridhargaddam is this specific to strongswan kernel module? can we ensure we also cover libreswan?

[2020-03-25 15:35] mangelajo opened #475 "Provide cloud LB capabilities for the cable connectivity, instead of requiring exposing a host via external IP"

[2020-03-26 15:29] mangelajo opened #477 "Check & correct dapper ENV variables after #474"
See discussion here:

https://github.com/submariner-io/submariner/pull/474/files#diff-73040b7579d3747d271b2329159c2f83R6

We decided to move on with the patch since it's a considerable cleanup, and then handle that small detail on a separate PR if necessary.

[2020-03-26 15:47] #453 closed

[2020-03-30 17:32] caseydavenport commented on #407
Hm, yeah Calico is pretty aggressive in inserting its rules at the top, in order to prevent other applications from bypassing network policy enforcement, which would be bad.

I'm not too familiar with submariner - what do the submariner rules do / look like? We might be able to make changes to make these two play nicer together.

[2020-03-31 08:46] dfarrell07 commented on #407
Welcome @caseydavenport! /cc @sridhargaddam @mangelajo

[2020-03-31 09:02] deanlorenz commented on #407
I had problems with disabling calico NAT only for cross cluster communication.

1. Be able to tell Calico that there is a direct peer on the other cluster, so although traffic is external (and normally NATed) it should bypass some of the Calico rules:
    - Do not SNAT/DNAT at all -- keep pod (private) IP as source
    - Allow traffic from other cluster (via tunnel) to be forwarded to internal pod

[2020-03-31 14:55] sridhargaddam commented on #407
Basically, inorder to support Cross-Cluster communication and to preserve the source-ip of the PODs across the clusters, Submariner programs certain iptable rules (PFA the list of rules in the attached file). Submariner requires these rules to be applied prior to the rules programmed by the respective CNI. Also, JFYI the rules programmed by Submariner only affects the inter-cluster traffic and wil

[2020-03-31 14:57] sridhargaddam commented on #407
Thank you @caseydavenport for looking into it. Please see my comment above. Also, if you are interested in taking a look at the source-code in Submariner, here is the link - https://github.com/submariner-io/submariner/blob/8c1598edfdc82235928d020ff89bd2f65eb4b5ba/pkg/routeagent/controllers/route/iptables.go#L66

[2020-03-31 18:32] #477 closed

[2020-04-08 15:43] caseydavenport commented on #407
[code]

Right, so in the example file you gave above it looks like these are the rules that submariner programs (more or less, probably varies a bit by cluster).

The first seems to SNAT the cross cluster traffic, like you're describing. This is probably OK - it's only performed on the encapsulated packet, leaving the original pod source IP intact, IIUC?

The other rules afterwards appear to be al

[2020-04-09 12:23] dfarrell07 opened #499 "Use GitHub Code Owners to support better permissions aggregation"
To support advanced use cases as described in https://github.com/submariner-io/submariner-website/pull/77, look into using GitHub's parallel service to the original K8s OWNERS tooling.

[2020-04-13 09:24] dfarrell07 commented on #499
From what I've learned so far, it seems like GitHub's CODEOWNERS don't have out-of-the-box support for some of the advanced features the K8s code review process is based on. For example, there's no concept of reviewers vs approvers vs owners. It also doesn't support things like `/lgtm` or `/approved` or the advanced versions of those with arguments - it only adds people as required reviewers to PR

[2020-04-16 16:03] nyechiel commented on #394
@roytman Can you please update this Issue and link all relevant patches? I think we should try and get it in for v0.3.

[2020-04-16 16:25] roytman commented on #394
As I know, the flowing WireGuard support related issues should be resolved:

- implement WG driver connection status.
- update submariner helm based deployment  PR https://github.com/submariner-io/submariner-charts/pull/18 (btw, do we need it?)
- copy the WG e2e tests to shipyard. PR https://github.com/submariner-io/submariner/pull/476, and integrate WG tests into the Submariner automatic test pip

[2020-04-17 15:52] #304 closed

[2020-04-17 15:52] #451 closed

[2020-04-20 04:57] nyechiel commented on #394
@mangelajo @skitt @tpantelis can you please provide guidance to Alexey?

[2020-04-22 10:15] 1093439315 opened #517 "How many clusters can a broker cluster register at most, and how about its performance"
### GitHub Username
e.g. (at)1093439315@qq.com

How many clusters can a broker cluster register at most, and how about its performance?

[2020-04-22 10:22] dfarrell07 commented on #517
Thanks for the question! /cc @mangelajo @sridhargaddam

[2020-04-22 17:18] mangelajo opened #518 "Remove gateway entry when submariner-gateway pod exits"
Currently even if the gateway stopped, it will show up as active, and connected in the list
we must capture the pod exit, and remove the Gateway entry.

[2020-04-22 17:20] mangelajo opened #519 "Handle review comments for Gateway status update before 0.3.0"
The comments are here:

https://github.com/submariner-io/submariner/pull/502/files

[2020-04-23 05:50] hyunsun opened #520 "Network is unreachable error from route agent in GCP"
I just deployed Submariner to a K8S cluster on GCP VMs, and found that route-agent cannot add routes to the gateway node because GCP VM get assigned /32 IP.
[code]

Does Submariner not support GCP? Or is there a way to work around this error?

[2020-04-23 07:40] mangelajo commented on #520
Hey @hyunsun , we can try to help figure this out.

While using GKE, I spent some time on it, and I almost got it, but still something is missing:
https://github.com/submariner-io/submariner-website/pull/33

Which flavor of K8s and which CNI are you using on top of the GCP VMs?,

 feel free to ping us in the submariner k8s slack #submariner channel: https://kubernetes.slack.com/archives/C010RJV694

[2020-04-23 07:43] hyunsun commented on #520
Hi @mangelajo, thanks for your reply.
I'm using k8s 1.15.11 and Calico as CNI.
Will ping you on Slack.

[2020-04-23 07:51] mangelajo commented on #520
Hmm, may be it's related to calico, I believe we have tested so far with:
* flannel
* flannel + canal (although we have an existing issue there)
* openshift-sdn
* weave works

I see this one related to calico opened by @roytman https://github.com/submariner-io/submariner/issues/407

[2020-04-23 09:47] hyunsun commented on #520
Confirmed it works fine with weave CNI and subctl 0.2.0.
Thanks for your help.
[This link](https://github.com/hyunsun/documentations/wiki/Rancher-Submariner-Test) includes the instructions that I used for the quick test.
Hope this helps :)

[2020-04-23 11:15] mangelajo commented on #520
@hyunsun nice, I see you also tried the darwin binary of subctl :-)

I wonder if we could use parts of your link as a section for the website we are building, as a "Quickstart" for rancher

@Oats87  ^  :-)

[2020-04-23 18:58] hyunsun commented on #520
@mangelajo Sure.

[2020-04-27 10:04] dfarrell07 commented on #499
Waiting on review for https://github.com/submariner-io/submariner-website/pull/86

[2020-04-28 07:37] mangelajo opened #525 "Move and Update README content to the website, link here (submariner repo)"

[2020-04-28 07:52] #397 closed

[2020-04-28 07:54] #393 closed

[2020-04-28 07:56] mangelajo commented on #1
This works now with subctl and the overlapping cidr support. Thanks :)

[2020-04-28 07:56] #1 closed

[2020-04-28 08:01] mangelajo commented on #9
Closing old issue with no activity for 6+ months. Please re-open if you still need help with this. Hopefully subctl is of help here.

[2020-04-28 08:01] #9 closed

[2020-04-28 08:02] mangelajo commented on #2
I added this to the doc sprint, may be something that we can clarify and document on the website.

[2020-04-28 12:00] dfarrell07 commented on #499
Merged and working, so pushed and waiting on review on:

https://github.com/submariner-io/submariner-bot/pull/6
https://github.com/submariner-io/admiral/pull/51
https://github.com/submariner-io/submariner-charts/pull/32
https://github.com/submariner-io/lighthouse/pull/109
https://github.com/submariner-io/shipyard/pull/122
https://github.com/submariner-io/submariner/pull/526
https://github.com/subm

[2020-04-28 13:38] sridhargaddam commented on #407
Sorry, @caseydavenport I missed your comment. PSB

When you deploy a KIND based cluster in Submariner, it deploys three clusters one as an independent broker (i.e., cluster1) and the other two as data clusters (cluster2 and cluster3)

[code]

Submariner programs the following rules in the SUBMARINER-POSTROUTING chain of NAT table on Cluster2 nodes.

[code]
In the above SUBMARINER-POSTROUTING chain

[2020-04-29 14:25] mangelajo opened #528 "[RFE] Support enabling globalnet annotation per-namespace"
Globalnet IP address space is limited, and in some use cases, where clusters are multi-tenant  / shared, administrators may only want to inter-connect specific namespaces only.

In that case the IP address usage in globalnet could be greatly reduced if the namespaces were opted in to the global-net ips.

If pods/services on a specific namespace want to participate in globalnet, we can either creat

[2020-04-29 15:34] vthapar commented on #528
We're looking to implement changes proposed in https://github.com/kubernetes/enhancements/pull/1646 for service discovery. Part of this requires services to be explicitly tagged to be imported by crating ServiceExport objects i.e. an opt-in model instead of the all-in default we have today. It would make sense to reuse it to determine which services need a global IP.

Whatever mechanism we decide

[2020-04-30 07:57] sridhargaddam opened #529 "Fix PANIC in Submariner seen on LH builds in CI"
Lighthouse builds are failing with the following error.

E0430 07:33:06.632456       1 runtime.go:69] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)
/go/src/github.com/submariner-io/submariner/vendor/k8s.io/apimachinery/pkg/util/runtime/runtime.go:76
/go/src/github.com/submariner-io/submariner/vendor/k8s.io/a

[2020-04-30 10:19] dfarrell07 opened #532 "Categorize intermittent failures in CI"
It seems that we have some sporadic failures in CI, and that they are related to non-Submariner parts of the CI deployment. However, to really see the pattern and resole it, we need to document the rare-ish failures. Use this issue collect logs from sporadic CI failures.

For example:

Repo: submariner-io/submariner
Job: `CMD="make e2e" CLUSTERS_ARGS="--globalnet" DEPLOY_ARGS="${CLUSTERS_ARGS} --d

[2020-04-30 11:32] nyechiel opened #533 "Add support for finer-grained cluster connectivity options"
Submariner currently assumes full mesh by default, and provision VPN connections between all participating clusters. For some use cases, it makes sense to offer finer-grained connectivity options. This could also improve overall scalability/state maintained, for those cases in which full mesh is not required.

[2020-04-30 11:35] nyechiel commented on #533
This was discussed several times in the past, and was recently requested by @hyunsun.

/CC @mangelajo

[2020-04-30 11:41] nyechiel commented on #520
@mangelajo @hyunsun is there anything else we need to track in here or we can close this Issue at this point?

[2020-04-30 11:45] nyechiel commented on #464
With https://github.com/submariner-io/submariner/pull/500 merged, this can be closed :)

[2020-04-30 11:45] #464 closed

[2020-04-30 11:55] dfarrell07 commented on #532
Repo: submariner-io/submariner
Job: CMD="make e2e" CLUSTERS_ARGS="--globalnet" DEPLOY_ARGS="${CLUSTERS_ARGS} --deploytool helm"
Failure summary: Gateway fail-over test failure
Logs: https://pastebin.com/qxdzusfd

[2020-04-30 12:28] dfarrell07 commented on #532
Repo: submariner-io/submariner
Job: `CMD="make e2e" RELEASE=true`
Failure summary: Gateway fail-over tests
Logs: https://github.com/submariner-io/submariner/pull/526#issuecomment-621361178

Repo: submariner-io/submariner
Job: `CMD="make e2e" CLUSTERS_ARGS="--globalnet true" DEPLOY_ARGS="${CLUSTERS_ARGS} --deploytool helm"`
Failure summary: Travis timeout at 10m no output
Logs: https://github.com/s

[2020-04-30 12:31] dfarrell07 commented on #532
Repo: Shipyard
Job: Undocumented
Failure summary: Weave deployment failure
Logs: https://github.com/submariner-io/shipyard/pull/122#issuecomment-620573349

[2020-04-30 15:40] dfarrell07 commented on #532
Repo: Lighthouse
Job: `CMD="make e2e deploytool=helm"`
Failure summary: Timeout after 10m in output, in Weave section of deploy
Logs: https://pastebin.com/A6iBzNGq

Repo: Lighthouse
Job: `CMD="make e2e delpoytool=operator" RELEASE=true`
Failure summary: Failure while running clusters.sh, just after Weave deploy
Logs: https://pastebin.com/7rYT0rPU

[2020-04-30 16:03] dfarrell07 commented on #532
Repo: Submariner
Job: `CMD="make e2e" CLUSTERS_ARGS="--globalnet" DEPLOY_ARGS="${CLUSTERS_ARGS} --deploytool helm"`
Failure summary: [Fail] [dataplane-globalnet] Basic TCP connectivity tests across overlapping clusters without discovery when a pod connects via TCP to the globalIP of a remote service when the pod is not on a gateway and the remote service is not on a gateway [It] should have sent t

[2020-05-04 03:40] #470 closed

[2020-05-04 03:41] #443 closed

[2020-05-04 08:33] sridhargaddam opened #540 "Submariner Gateway POD is being restarted sometimes..."
On a VSphere environment, it was seen that after leaving the setup for few days (4 in this example), Submariner Gateway POD was restarted a few times.

We have to identify the reasons why Gateway POD is restarted. Incase its done by K8s, then we have to see if we can do something to reduce/optimize it.

![9](https://user-images.githubusercontent.com/6574656/80948444-b7f28780-8e0f-11ea-9a33-9eeffde

[2020-05-04 09:25] mangelajo commented on #540
Did you look at the status of the daemonset?, It should provide a record of the issues?

kubectl describe Daemonset submariner-gateaway -n submariner-operator

[2020-05-04 09:26] mangelajo commented on #540
Adding you as assignee as you are the only one with vspheres :D

[2020-05-04 09:41] sridhargaddam commented on #540
Yes, I had a look, but could not find anything interesting.

[sgaddam@localhost mcm-cluster1]$  kubectl describe Daemonset submariner-gateway -n submariner-operator
Name:           submariner-gateway
Selector:       app=submariner-engine
Node-Selector:  submariner.io/gateway=true
Labels:         app=submariner-engine
                component=engine
Annotations:    deprecated.daemonset.template.ge

[2020-05-04 09:42] sridhargaddam commented on #540
Also, output of describe pod.
kubectl describe pod submariner-gateway-sx6h4 -n submariner-operator
Name:               submariner-gateway-sx6h4
Namespace:          submariner-operator
Priority:           0
PriorityClassName:  <none>
Node:               compute-1/10.19.114.246
Start Time:         Thu, 30 Apr 2020 00:08:52 +0530
Labels:             app=submariner-engine
                    controlle

[2020-05-04 09:44] sridhargaddam commented on #540
haha..I wish I had permanent access to VSphere. I'll be losing access to the setup shortly. Also, I **think** this is not specific to VSphere alone but might be applicable to other environments as well. Understanding the possible reasons when a POD would be restarted might give us some pointers.

[2020-05-04 09:49] dfarrell07 commented on #540
Can you check the logs of the submariner-operator Pod @sridhargaddam?

[2020-05-04 09:51] sridhargaddam commented on #540
[sgaddam@localhost mcm-cluster1]$ kubectl logs submariner-operator-56dd49d66f-cbbzw -n submariner-operator
{"level":"info","ts":1588185517.2164085,"logger":"cmd","msg":"Go Version: go1.13.9"}
{"level":"info","ts":1588185517.216461,"logger":"cmd","msg":"Go OS/Arch: linux/amd64"}
{"level":"info","ts":1588185517.2164693,"logger":"cmd","msg":"Version of operator-sdk: v0.10.0+git"}
{"level":"info","ts"

[2020-05-04 09:54] dfarrell07 commented on #540
Yeah, I think that's the source of the restarting - you can see the multiple reconciling/updating DaemonSet loops.

[2020-05-04 10:29] dfarrell07 commented on #540
@sridhargaddam can you also include a `get pod` on the submariner-operator? Maybe there is something useful in the status we are reporting.

[2020-05-04 10:32] sridhargaddam commented on #540
[sgaddam@localhost mcm-cluster1]$ kubectl describe pod submariner-operator-56dd49d66f-cbbzw -n submariner-operator
Name:               submariner-operator-56dd49d66f-cbbzw
Namespace:          submariner-operator
Priority:           0
PriorityClassName:  <none>
Node:               compute-1/x.x.x.x
Start Time:         Thu, 30 Apr 2020 00:08:34 +0530
Labels:             name=submariner-operator

[2020-05-04 10:38] sridhargaddam commented on #540
@dfarrell07 as discussed with you over slack, assigning this to you.

[2020-05-04 11:59] sridhargaddam commented on #540
I see that we have an option to get the logs of previous POD by supplying "--previous" to "kubectl logs ..." command. When I ran this command on Gateway POD, I found something interesting in the logs.

Basically, it appears like GatewayPOD is not able to renew its lease for the leaderLock, and OnStoppedLeading[*] gets called where we issue "klog.Fatalf" and GW POD terminates (and gets restarted).

[2020-05-04 13:01] sridhargaddam opened #541 "Include necessary utilities (or dnf) in Gateway POD"
As part of reducing the size of Gateway Engine, we have removed dnf. But this is going to make debugging issues a lot more difficult as we do not have necessary utils (like tcpdump, conntrack etc) and cannot install them. For a production environment, it makes sense to strip off everything that is not necessary, but for our day-to-day installations of Submariner, it might be worth to include dnf o

[2020-05-04 13:08] dfarrell07 commented on #499
Also https://github.com/submariner-io/coastguard/pull/12

[2020-05-04 14:15] dfarrell07 commented on #540
As discussed on Slack, per @sridhargaddam's latest info above it doesn't seem to be an Operator problem. Unassigning myself.

[2020-05-04 17:38] sridhargaddam commented on #540
Okay, looks like leader election interval alone is not the only reason for the restart scenario. In a fresh deployment, I found that SM Gateway POD got restarted twice and the logs are as shown.

I0504 16:06:47.912358       1 kubernetes.go:355] Endpoint "west-submariner-cable-west-10-19-114-235" matched what we received from datastore - not updating
W0504 16:06:48.903462       1 strongswan.go:534]

[2020-05-05 07:18] mangelajo commented on #460
But what if the service without selectors is pointing to local cluster pods?

[2020-05-05 07:19] mangelajo commented on #460
Ahh sorry I see it was implemented, cool

[2020-05-05 07:19] #460 closed

[2020-05-05 07:54] mangelajo commented on #540
Ok, this one seems like a different issue just a startup. I guess we need to allow more time for charon to start, and and add more retries. Finally if it does not start for some reason the right thing is to quit trying, then other gateway node can try to set it up.

[2020-05-05 07:59] mangelajo opened #543 "Find a better locking mechanism independent of the k8s API"
As seen on issue #540 , depending on the K8s API can be troublesome if the k8s API becomes too busy.

It's also problematic because we have failover times of ~15s because of this. Which could be much smaller ( < 3s) .

[2020-05-05 09:33] mangelajo commented on #520
I believe we can close it.

[2020-05-05 09:33] #520 closed

[2020-05-05 09:34] mangelajo opened #544 "Globalnet intermitent failures"
The globalnet IP implementation fails to work sometimes, it needs investigation.

Logs: https://api.travis-ci.com/v3/job/327959427/log.txt

[2020-05-05 09:34] mangelajo commented on #544
@sridhargaddam Opened this bug ^

[2020-05-05 09:37] mangelajo commented on #532
I see two categories: globalnet, and weave, right?

Thanks @dfarrell07 for tracking this, I think it's very helpful.

[2020-05-05 09:37] mangelajo commented on #529
Fix was merged

[2020-05-05 09:37] #529 closed

[2020-05-05 09:38] mangelajo commented on #518
This was also merged.

[2020-05-05 09:38] #518 closed

[2020-05-05 12:18] sridhargaddam commented on #544
Ack. Adding some notes that can help us narrow down the issue.
1. From the logs you attached, I see that this is seen on Helm deployment
2. Globalnet Controller successfully annotated the Service as we can see the globalIP of service in cluster3 (169.254.3.197).
3. kubectl --context=cluster2 exec netshoot-785ffd8c8-s9wwg -- curl --output /dev/null -m 30 --silent --head --fail 169.254.3.197 command

[2020-05-05 13:33] sridhargaddam opened #545 "Detect overlapping CIDRs in Submariner"
Currently overlapping global/Pod/Service CIDRs validation for clusters is done in subctl, but when clusters are deployed with helm we do not have any mechanism to alert the user.
We can enhance Submariner to detect this overlap and fail fast with an appropriate error message.

[2020-05-05 13:51] dfarrell07 commented on #499
I think all of these are merged now. Thanks @mangelajo and @tpantelis!

[2020-05-05 13:51] #499 closed

[2020-05-05 13:55] sridhargaddam commented on #386
AFAIU its not related to kernel module. It might be related to the way we are starting strongswan (i.e., Charon) and that might need some changes (or we may have to instruct K8s not to kill the Charon process when the corresponding POD is killed). Will be able to provide more details when I look into this issue closely.

[2020-05-05 13:59] mangelajo commented on #545
I think this is more  to go on the operator.

[2020-05-05 14:02] mangelajo commented on #544
Agreed, yes, it must be something in datapath.

[2020-05-05 14:41] sridhargaddam commented on #545
No @mangelajo. The idea is to handle this in the Submariner Globalnet Code itself. If GN Controller detects that globalCIDRs of multiple clusters are overlapping, it can return FATAL and fail early.

[2020-05-05 16:06] manosnoam commented on #544
I've reproduced similar issue on OSP-AWS clusters:
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS/263/Test-Report/

(See last step "Testing GlobalNet: Nginx service will be identified its Global IP")

[2020-05-06 06:22] mangelajo commented on #545
Please don’t fail fatal :-) may be we can mark the new overlapping cluster and use some sort of reporting to make it evident.

Let’s think of production clusters . If the admin makes a mistake, let’s try to report and minimize the problems. If we fail fatal we will kill the GN connectivity of new spawning pods.

I’d try to detect and mark the new cluster that overlaps. The use some mean of reporti

[2020-05-06 06:36] sridhargaddam commented on #545
Ack. What is the best place to report this issue? Gateway Status?

This detection happens when the GN Pod (or Submariner Gateway Pod?) is booting up in **a newly joined cluster**. So, what do you mean by "we will kill the GN connectivity of new spawning pods"? We cannot support GN globalIP use-case if the globalCIDRs overlap across the cluster.

Sure, if you have any ideas/suggestions on where we

[2020-05-06 06:41] sridhargaddam commented on #544
Looks like its the same issue. Can you please reproduce the issue and share the kubeconfigs so that we can take a look at the setup to understand where the packets are getting dropped.

[2020-05-06 09:01] sridhargaddam commented on #544
![9](https://user-images.githubusercontent.com/6574656/81158331-7c89c180-8fa5-11ea-9382-ac6f60836fe3.png)

Thanks for sharing access to the setup @manosnoam. The issue at least in your setup is that both the clusters are deployed with the same global_cidrs and hence the failure. We have an open issue which will fix the race conditions in globalCidr allocations to clusters - https://github.com/subm

[2020-05-06 09:57] manosnoam commented on #544
Seems like the globalnet problem was since both cluster created same global_cidr address:

[code]

However, this has occurred even when **not joining cluster in parallel**:
The subctl deploy+join was run first for AWS cluster A, and only when subctl command has completed --> Run subctl join for OSP cluster B.

[2020-05-06 10:14] sridhargaddam commented on #544
The way subctl works is that it will first look for the existing clusters that are registered with the Broker cluster and then try to allocate a non-overlapping globalCidr to the newly joining cluster. So, in your case, even though you ran the subctl join command sequentially, submariner pods on the first cluster (that's joined to the Broker) will take some time to come up and advertise the cluste

[2020-05-06 12:06] mkolesnik opened #547 "Implement github actions / submariner"

[2020-05-06 13:30] dfarrell07 opened #548 "Explore third-party GitHub Actions"
Look into using existing GitHub actions to support our workflow.

https://github.com/marketplace?type=actions

[2020-05-06 15:33] skitt commented on #541
I think most debugging scenarios (checking the networking setup, `iptables` rules etc.) are better addressed by starting a separate network debugging container alongside the engine (_e.g._ based on netshoot). See also [Using sidecars to analyze and debug network traffic in OpenShift and Kubernetes pods](https://developers.redhat.com/blog/2019/02/27/sidecars-analyze-debug-network-traffic-kubernetes

[2020-05-07 08:30] mkolesnik opened #552 "WireGuard doesn't seem to be working with globalnet"
Running in this combination, it seems the E2E tests are failing

See also https://github.com/submariner-io/submariner/pull/551/checks?check_run_id=652184597

The logs are attached as well -
[logs_13.zip](https://github.com/submariner-io/submariner/files/4591708/logs_13.zip)

[2020-05-07 08:51] mangelajo commented on #552
ping @deanlorenz @roytman  ^

[2020-05-07 10:04] deanlorenz commented on #552
ACK. Will look into it.
Probably has to do with finding the local interface ip -- with globalnet there is no local interface with a global IP, so no interface with an allowed IP.

[2020-05-07 12:08] manosnoam commented on #544
@sridhargaddam thank yiu for investigating.
You've suggested that this may occur when deploying Submariner on Cluster that had previously included Submariner.
But even when deleting previous submariner-operator namespace and CRDs, there are still **IPTABLES rules on the Cluster nodes**, from previous configuration of Globalnet, that cause Globalnet failure.

This issue increase the importance of h

[2020-05-07 15:30] sridhargaddam opened #553 "Globalnet Controller should skip annotating master nodes with globalip"

[2020-05-08 06:29] sridhargaddam commented on #240
This issue is referred to in the Quickstart VSphere/AWS guide on website. Once this issue is resolved, the corresponding section has to be updated accordingly.

[2020-05-08 09:42] #547 closed

[2020-05-08 14:19] mangelajo opened #555 "Running make e2e on OSX fails with make path issue"
[code]

This is because we pass down $(MAKE) to be ran into dapper. We need to use make.

[2020-05-11 10:22] mangelajo opened #557 "Releasing 0.4.0"
We added this one as a general placeholder for all the release process across repos.

[2020-05-11 10:22] mangelajo opened #558 "Releasing 0.4.0-rc2 (if needed)"
We added this one as a general placeholder for all the release process across repos.

[2020-05-11 10:22] mangelajo opened #559 "Releasing 0.4.0-rc1"
We added this one as a general placeholder for all the release process across repos.

[2020-05-11 10:44] mangelajo commented on #553
I'm not sure if this is necessarily a bug in some cases (where the master nodes are also used as workers?)

[2020-05-11 11:00] sridhargaddam commented on #553
Okay, basically what happens is that submariner-route-agent that runs ONLY on the worker node annotates the respective node with the cniInterfaceIP annotation. Globalnet controller has a listener for nodes and will wait for this annotation before it can program rules for HostNetwork to remoteCluster support. It was seen that since master nodes were constantly getting re-queued as the annotation wa

[2020-05-11 12:17] deanlorenz commented on #552
[c3.3.log](https://github.com/submariner-io/submariner/files/4608701/c3.3.log)
driver is being called with empty public key.
remove EP called before init

[2020-05-11 21:57] deanlorenz commented on #552
[e2e-tcpdump-dp-gn.log](https://github.com/submariner-io/submariner/files/4612279/e2e-tcpdump-dp-gn.log)
[e2e-tests-dp-gn.log](https://github.com/submariner-io/submariner/files/4612280/e2e-tests-dp-gn.log)

- e2e tests with focus=dataplane-globalnet
- 5 of 6 tests pass, WG config and routes look as expected
- Failed test does not get SNAT to GN so gets dropped and times-out -- *seems to be a probl

[2020-05-12 08:27] manosnoam commented on #544
The issue seems to be related to https://github.com/bitnami/charts/issues/1049
Where bitnami/nginx, which is **_rootless_**, cannot use ports lower than 1024.

My tests tried to curl from netshoot app to the nginx service, via the default port: 80, so it has probably timed-out due to this limitation.

I will try to setup new OSP-AWS clusters with overlapping cidrs + Submariner with Globalnet, and

[2020-05-12 12:34] dfarrell07 commented on #532
Repo: Shipyard
Job:  `make deploy`
[code]
Failure summary: "Error: EOF" on Helm-based Sumariner install
Logs: https://pastebin.com/wH5RiJDz
https://github.com/submariner-io/shipyard/pull/149/checks?check_run_id=666918597

[2020-05-13 06:10] manosnoam commented on #426
On latest Submariner (0.3.0), the URI "unix:///var/run/charon.vici" is not working either:

[code]

@sridhargaddam, can you point me to the correct URI to validate StrongSwan status ?

[2020-05-13 10:01] manosnoam commented on #426
Attaching pod log:
[charon_check_should_wait_longer.log](https://github.com/submariner-io/submariner/files/4621168/charon_check_should_wait_longer.log)

@mangelajo suggested we should wait some time before reporting connection errors to charon, to avoid missleading logs.

However, according to the log, this error seems to be related to charon.vici path, but not to the IKE charon daemon.

[2020-05-13 11:39] dfarrell07 opened #563 "Remove dangling KubeFed references"
**What happened**:

There are dangling references to KubeFed spread throughout various Submariner repositories.

**What you expected to happen**:

KubeFed-related code and docs should be removed where appropriate.

**How to reproduce it (as minimally and precisely as possible)**:

Have all the submariner-io/* repos checked out (grouped per Go requirements here) and search for KubeFed:

[code]

**A

[2020-05-13 15:28] skitt opened #564 "Ensure that Libreswan is tested"
Once Submariner supports Libreswan, the test matrix needs to include it.

[2020-05-14 04:58] sridhargaddam commented on #458
Kubeproxy validation is done in a generic manner now. Closing this issue.

[2020-05-14 04:58] #458 closed

[2020-05-14 04:58] #440 closed

[2020-05-14 05:01] sridhargaddam commented on #426
Please use the new Gateway objects with kubectl that @mangelajo implemented recently in Submariner. The Gateway object would abstract the implementation details of driver (like Strongswan, Wireguard etc) and provides a consistent API to consume the status of the connection.

kubectl get Gateway -A -o yaml

[2020-05-14 05:01] #426 closed

[2020-05-14 05:03] sridhargaddam commented on #395
Closing this as this is completed.

[2020-05-14 05:03] #395 closed

[2020-05-14 05:03] #384 closed

[2020-05-14 05:03] #381 closed

[2020-05-14 05:03] #365 closed

[2020-05-14 05:05] sridhargaddam commented on #257
An old issue which AFAIU is no longer reproduced, closing it.

[2020-05-14 05:05] #257 closed

[2020-05-14 06:15] sridhargaddam commented on #84
This will be addressed as part of the following issue - https://github.com/submariner-io/submariner-operator/issues/88

[2020-05-14 06:15] #84 closed

[2020-05-14 11:30] #555 closed

[2020-05-14 14:48] skitt commented on #385
#107 now supports tunnel bring-up, although the gateway failover tests don’t pass yet.

[2020-05-14 14:49] dfarrell07 commented on #532
Repo: Submariner
Job: `e2e (--globalnet, operator)`
Failure summary: `[Fail] [redundancy] Gateway fail-over tests when a new node is labeled as a gateway node and the label on the existing gateway node is removed [It] should start a submariner engine on the new gateway node and be able to connect from another cluster`
Logs: https://pastebin.com/TvY8PTWY

[2020-05-14 17:41] deanlorenz opened #567 "SYN packet loss with Globalnet -- causing long or failed tests"
@sridhargaddam @mangelajo

Long e2e tests (Ran 9 of 20 Specs in 364.925 seconds)

**Probable cause**: SYN packet drop on first attempt of each test.
TCP gives up after repeated TOs. Retry succeeds.
Often at test will fail due to TO.
Seems like SYN is routed OK within the sending cluster

Example:
![image](https://user-images.githubusercontent.com/8469923/81966179-cddb2600-9621-11ea-9c99-00098629ff

[2020-05-14 17:58] deanlorenz opened #568 "DNS leak on e2e tests"
@sridhargaddam @mangelajo, could be related to #567
External DNS bombarded with PTRs to internal addresses.

Example:
![image](https://user-images.githubusercontent.com/8469923/81968311-e731a180-9624-11ea-97a3-a690849fcb8a.png)

Produced with `sudo tcpdump -i any udp port 53` on host

Could be related to #567 if only after NXDOMAIN there is a fallback to actual destination (just guessing)

[2020-05-14 22:33] mangelajo commented on #568
Try using -n on tcpdump, could be tcpdump trying to resolve the inverse of each ip it sees

[2020-05-15 09:53] skitt commented on #564
This is included in #107 which expands the GHA test matrix to include Libreswan (in parallel with strongSwan).

[2020-05-17 08:03] deanlorenz commented on #568
![dns (2)](https://user-images.githubusercontent.com/8469923/82139063-f2a3e900-982d-11ea-8bcf-debc1690586f.png)

no tcpdump running on the kind nodes.

[2020-05-18 07:50] maayanf24 opened #574 "REQUEST: New Membership request for maayanf24"
### GitHub Username
maayanf24

### Requirements
- [x] I have reviewed the community membership guidelines (https://submariner-io.github.io/en/contributing/community-membership/)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the submariner-dev e-mail list (https://groups.google.com/forum/#!forum/submariner-dev)
- [x] I have multiple

[2020-05-18 07:51] mangelajo commented on #574
Updated the "v" for "x" on the checkboxes :)

[2020-05-18 07:53] mangelajo commented on #574
@dfarrell07 @tpantelis here we have a point holding us back, she didn't have time yet to make contributions, but she's joined most of the last U/S meetings, and she's hired by one of the participating companies.

I think it'd be beneficial to consider that point optional, otherwise we can't assign issues/PRs to her.

[2020-05-18 08:08] mangelajo opened #575 "REQUEST: New committer rights request for mkolesnik"
### GitHub Username
@mkolesnik

### Code you are requesting Committer rights for
[code]
-any other CI related bits-

### Requirements
- [x] I have reviewed the community membership guidelines (https://submariner-io.github.io/en/contributing/community-membership/)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the submariner-dev e-mai

[2020-05-18 08:09] mangelajo commented on #575
I'm opening this in the name of @mkolesnik I will let him fill in the form stuff, we need to look for another sponsor, I believe we need to automate somehow the PRs listing ':/

[2020-05-18 09:31] deanlorenz commented on #568
@mangelajo I ran another test to verify -- did not run iptables in kind. Used -n flag. No WG.
Still many PTR for internal addresses.
Plus, lots of DNS traffic -- mostly to docker.io

[2020-05-18 20:30] mkimuram commented on #275
@mangelajo @Oats87

Sorry for late update.
I've implemented operator version of this feature as a separated component from submariner itself, [here](https://github.com/mkimuram/k8s-ext-connector).

It is completely rewritten with go and it now has unit tests and e2e tests, so it should be ready for starting discussion on moving it to subproject of submariner.

Could you check it?
I would like to r

[2020-05-18 21:19] Oats87 commented on #275
This looks great @mkimuram and @mangelajo there is definitely merit here for this use case, especially given a Submariner-enabled cluster is really just an IPsec (or wireguard) endpoint

[2020-05-19 05:48] manosnoam opened #576 "Building submariner repos (shipyard, submariner, operator) fails for missing scripts/lib"
Building submariner repo failed on:

./scripts/build
./scripts/build: line 5: /lib/debug_functions: No such file or directory

[2020-05-19 06:04] nyechiel opened #577 "Add automated test coverage for MacOS"
**What would you like to be added**:

An automated job running the Submariner e2e tests on Mac.

**Why is this needed**:

Catch issues that might be specific to MacOS.

[2020-05-19 08:10] sridhargaddam commented on #576
@mangelajo @skitt @mkolesnik ^^

[2020-05-19 08:18] skitt commented on #576
You need to set `SCRIPTS_DIR` to point to Shipyard, for example

     SCRIPTS_DIR=${GOPATH}/src/github/submariner-io/shipyard/scripts/shared ./scripts/build

[2020-05-19 09:38] manosnoam commented on #576
For this repo, I have run:
`SCRIPTS_DIR=./scripts/lib ./scripts/build`

Perhaps we should document it (in Website), for those who want to build without dapper ?

[2020-05-19 09:41] mangelajo commented on #575
@Oats87 would you mind sponsoring mike too? he's been doing an amazing work with the CI scripts & shipyard and around all the projects, he knows better than anyone.

[2020-05-19 10:33] skitt commented on #576
We’ve said several times that we don’t want to explicitly support people building without Dapper...

[2020-05-19 13:40] skitt commented on #576
I gave you the exact command to use, why not use it?

[2020-05-19 18:47] sridhargaddam opened #579 "Datastore interface in Submariner is ignoring the colorCodes and returns all the clusters"
**What happened**:
As per the datastore interface, WatchClusters and WatchEndpoints should only return the clusters/endpoints that we are interested in. However, in the current implementation [*], these APIs simply ignore the color code thereby returning all the clusters/endpoints.

[*] Current implementation of WatchClusters https://github.com/submariner-io/submariner/blob/1aba088eb78062f22850f84

[2020-05-19 18:50] sridhargaddam commented on #533
Submariner ClusterSpec has ColorCodes[*], which is like a connectivityPolicy that allows us to setup IPsec tunnels based on the color code assigned to the cluster.
Note: colorCodes do not support finer-grained cluster connectivity options.

**So, what we can do with colorCodes?**
Let's take a use-case of 4 clusters (A, B, C, D)
If you want to connect A to B and C to D, it is technically possible w

[2020-05-19 20:09] mangelajo commented on #577
I don’t think this will be possible. Docker on OS X is a vm with Linux. That means vm in vm ... very likely not worth the effort of even trying.

[2020-05-20 05:31] nyechiel commented on #577
Yes, I realized the same. @mkolesnik is there anything you think we can do here? If not, let's close this one.

[2020-05-20 08:01] maayanf24 commented on #563
I'm working on this issue

[2020-05-20 08:07] mangelajo commented on #576
We cannot support people building outside of dapper, if the issue is not having docker on the CI hosts I think we need to work with them to enable it.

Also, including all the e2e functionality in subctl would help fix this dependency. I'm closing this bug on favor of that. But feel free to reopen if you believe that won't fix your need.

[2020-05-20 08:07] #576 closed

[2020-05-20 12:53] tpantelis commented on #579
I expect the `Datastore` interface to go away when we migrate to the admiral syncer API. We can implement color code support on top of that.

[2020-05-21 20:19] manosnoam opened #588 "Globalnet IP could not be connected after annotation was set"
Testing GlobalNet annotation - Nginx service on OSP cluster B (private) should get a GlobalNet IP

[code]

Testing GlobalNet annotation - Netshoot pod on AWS cluster A (public) should get a GlobalNet IP

[code]
Testing GlobalNet connectivity - From Netshoot pod [netshoot-cl-a] on cluster A   To Nginx service on cluster B, by its Global IP: '169.254.38.68'

[code]

Full test report:
https://qe-jenk

[2020-05-21 21:56] manosnoam commented on #588
I was trying to connect `'169.254.38.68':8080` instead of `169.254.38.68:8080`.
That's why it failed. Closing bug.

[2020-05-22 06:19] nyechiel commented on #166
We just documented this in our docs, please see https://github.com/submariner-io/submariner-website/pull/155.

[2020-05-22 06:19] #166 closed

[2020-05-22 06:41] mkomu commented on #166
Thanks!

[2020-05-24 09:37] nyechiel commented on #407
@sridhargaddam @caseydavenport can you share what it the latest status of this Issue? We just had one more user asking about Calico support on Slack. Thanks!

[2020-05-25 10:59] mkolesnik commented on #577
Indeed, GitHub hosted runners do support macos, but they don't have docker installed there (and probably never will, unless Apple foots the bill?).

Hence, you'd first need to install community docker and as @mangelajo mentioned, it'll have to be a VM that's running docker itself, and since the CI is already running in a VM this becomes much more difficult.

[2020-05-25 10:59] #577 closed

[2020-05-25 13:46] mangelajo opened #592 "Libreswan: hostNetwork on GW to remote pod fails"
**What happened**:  On the PR for libreswan, that specific scenario fails.

**What you expected to happen**: the e2e test to pass

**How to reproduce it (as minimally and precisely as possible)**:
Just run the e2e tests with libreswan cabledriver.

**Anything else we need to know?**:

**Environment**:

`make e2e DEPLOY_ARGS="--deploytool operator --deploytool_submariner_args '--cable-driver libres

[2020-05-25 16:03] mangelajo commented on #592
When I try to ping from the gateway into a pod it wont work. It will try to drop the packet right away on eth0.

[code]

This is how the xfrm policies look in libreswan:

[code]

xfrm state:

[code]

[code]

[2020-05-25 16:39] mangelajo commented on #592
Ok, looking at how strongswan works, still I need to check how the ipsec xfrm and routing is set, but, I saw this when pinging from the GW hostNetwork on the remote side:

[code]

Notice that the packet on the remote host is masqueraded into the cluster3 GW network-plugin ip: 10.243.0.1
[code]

[2020-05-25 16:44] mangelajo commented on #592
Ok for **strongswan**:

[code]
[code]

[code]

[code]

[2020-05-26 06:46] sridhargaddam opened #593 "go test sometimes timeout with PANIC"
**What happened**:
In some of the jobs, it was seen that go test suite was abruptly stopping the test execution with PANIC as the tests could not be completed in the default 10 mins duration.

**What you expected to happen**:
As we are now validating more number of use-cases, we should give sufficient time for the tests to run.

**How to reproduce it (as minimally and precisely as possible)**:
Thi

[2020-05-26 07:07] sridhargaddam commented on #407
@caseydavenport, Let me know if you need any additional info regarding Submariner. I'm (along with the Submariner team) are available on #submariner slack channel on Kubernetes. If required, we can also have a Bluejeans session. Thanks.

[2020-05-26 07:34] sridhargaddam opened #595 "GlobalNet to annotate Pod/Service/Node after programming necessary iptable rules"
**What happened**:
We are seeing some random failures related to GlobalNet in CI. Currently, Globanet annotates the Pod/Service/Nodes with globalIP and programs necessary ingress/egress rules on the node. However, if there is an issue while programming the iptable rules, its not handled.
The CI failures may not be due to this, but its good to handle this in Globalnet to improve its resiliency.

**

[2020-05-26 07:38] sridhargaddam opened #596 "Handle Gateway Migration edge cases in Globalnet"
**What happened**:
When we enable redundancy/gateway-migration tests in e2e tests as part of CI, we are seeing some instabilities in Globalnet jobs.

**What you expected to happen**:
If there are any edge cases that are not handled they should be properly handled to ensure that CI jobs are stable.

[2020-05-26 08:51] mangelajo commented on #544
This was automatically closed by the timeout test increase, let's reopen if we see the failures again.

[2020-05-26 08:51] #544 closed

[2020-05-26 08:54] sridhargaddam commented on #544
Agree @mangelajo. This issue is a bit generic too and increasing the timeout is indeed one of the valid fixes.

In case we start seeing failures in CI, we can open new issues describing the exact failure.

[2020-05-26 09:20] sridhargaddam opened #597 "Report status of endpoints that are skipped"
**What happened**:
As part of https://github.com/submariner-io/submariner/issues/545, Submariner avoids making changes to local cluster when remote subnets overlap with local cluster CIDRs.

**What you expected to happen**:
It would be helpful to reflect the status of skipped endpoints to the operator/user so that they are aware of the situation instead of having to look at the logs. This issue is

[2020-05-26 09:22] sridhargaddam commented on #597
@mangelajo JFYI

[2020-05-26 12:40] mangelajo opened #598 "Traffic from hostNetwork on GW to remote pod does not use the right IP"
**What happened**:

When connecting via hostNetwork to a remote pod/service, the source IP is the one on the IPSEC interface, and not the network plugin IP.

That means, that the remote GW will translate the IP to it's own network-plugin IP.

[code]

Notice that the packet on the remote host is masqueraded into the cluster3 GW network-plugin ip: 10.243.0.1
[code]

**What you expected to happen**:

[2020-05-26 12:46] mangelajo commented on #598
This can be fixed by modifying the routing rules generated by **strongswan** in

[code]

[2020-05-26 12:47] mangelajo commented on #592
Ok, looking at this with @skitt and @sridhargaddam we believe it's the missing xfrm policies. The routing rules from strongwan seem not to be important/necessary.

[2020-05-26 16:13] skitt commented on #592
strongSwan automatically sets up host-to-subnet and subnet-to-host tunnels, along with all the crossed subnet tunnels; Libreswan only sets up the tunnels it’s asked to, and it wasn’t being told to set up host-to-subnet and subnet-to-host tunnels.

This is now fixed in #107.

[2020-05-26 17:00] sridhargaddam commented on #592
@skitt @mangelajo, as discussed on the call, adding localendpoint and remoteendpoint to the left and rightsubnets is causing failures to the normal use-case of Pod to remotePod/Service connectivity. So, I reverted the change[*] and deployed local KIND clusters.
As expected, connectivity from hostNetworkingPod on GatewayNode to remote cluster Pod/Svc was failing.

I see that we can address this in

[2020-05-26 18:01] sridhargaddam commented on #598
Even with Libreswan (supported via https://github.com/submariner-io/submariner/issues/592) this issue is seen. However, libreswan does not seem to program any routing rules in table220 (or any other table for remote subnets).

To preserve the sourceIP as the network plugin IP when traffic reaches destination Pod, the following helps.
[code]

[2020-05-27 07:10] mangelajo commented on #598
This is also probably true for wireguard @deanlorenz and @roytman :)

[2020-05-27 07:11] mangelajo commented on #598
Yes although I think this is potentically cable driver specific, I believe we should move this responsibility to the cable drivers.

[2020-05-27 07:47] mangelajo commented on #597
Thanks @sridhargaddam ! :)

[2020-05-27 07:50] mangelajo commented on #4
@meditatus you can now consider the contribution of a cable driver. We now have wireguard and libreswan on the making.

[2020-05-27 09:09] sridhargaddam commented on #545
Addressed via - https://github.com/submariner-io/submariner/pull/570

[2020-05-27 09:09] #545 closed

[2020-05-27 09:28] deanlorenz commented on #598
@mangelajo @sridhargaddam :
- I am not sure why `via` is needed here -- WG driver does not use it, just the interface. Calling `via` might do an extra resolve if there is no L2 to remote endpoinIP (not sure).
- I think the source IP for cross-cluster would be better handled NOT by the cable -- it is a visible address at the receiver side and logically should have same meaning regardless of cable
-

[2020-05-27 12:17] nyechiel commented on #468
https://github.com/submariner-io/submariner/pull/600

[2020-05-27 13:56] manosnoam opened #602 "Service discovery adds old namespace as suffix to the service FQDN"
In the following example, exposing a new nginx service on a new namespace "test-submariner-cl-b-new", has created service FQDN with a suffix of the old namespace "test-submariner":
`<service name>.<new namespace>.<old namespace>.svc.cluster.local`

[code]

Full test report:
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS/451/Test-Report/

[2020-05-27 15:29] sridhargaddam opened #604 "Increase the resync interval for various listeners in Globalnet"
**What happened**:
Currently in Globalnet, for various informers (like Pod/Service/Nodes) the resync interval is configured as 60 secs. This is going to create scalability issues as the updateHandlers would get invoked regularly for all the k8s objects (like Pods/Services/Nodes).

We can increase this interval to a longer duration as the code is already re-queuing events when there are any transie

[2020-05-28 13:26] mangelajo commented on #552
The issue was fixed by https://github.com/submariner-io/submariner/pull/562

[2020-05-28 13:26] #552 closed

[2020-05-28 13:31] mangelajo opened #607 "Wireguard installation fails on azure/ubuntu image"
**Which jobs are failing**:
wireguard related

**Which test(s) are failing**:
system setup/install of wireguard modules

**Since when has it been failing**:
2 days back.

**Testgrid link**:
https://github.com/submariner-io/submariner/runs/716790061?check_suite_focus=true#step:3:181

**Reason for failure**:
[code]
**Anything else we need to know**:
Life is short, enjoy it! ;-) :-D

[2020-05-28 17:36] sridhargaddam commented on #604
While registering for the callbacks, we seem to be using 24 hour interval which is good enough.
The handleUpdateNode however is getting called not because of the resync interval but because of the node object getting updated regularly for every minute.

Closing this as its no longer an issue with 24 hour interval.

https://github.com/submariner-io/submariner/blob/22aef370d96622c6a306c35af19306fb6a

[2020-05-28 17:36] #604 closed

[2020-05-31 07:32] sridhargaddam commented on #532
The following PR would fix this issue.
https://github.com/submariner-io/submariner/pull/610

[2020-06-02 07:06] mangelajo commented on #574
@maayanf24 if you start having reviews/PRs, please link them here :) (by the end of the description)

[2020-06-02 07:42] mangelajo commented on #532
Repo: Submariner-operator
Job: e2e (lighthouse)
Failure summary: failed curl via netshoot.

Logs: https://github.com/submariner-io/submariner-operator/runs/729933188?check_suite_focus=true

Postmortem seems to be ok, we need more info, like gateway status, etc.

[2020-06-02 12:22] #385 closed

[2020-06-02 12:22] #564 closed

[2020-06-02 12:22] #592 closed

[2020-06-02 12:33] mangelajo commented on #386
We should test this with libreswan now :-)

[2020-06-02 15:29] mangelajo commented on #275
@mkimuram following the upstream conversation, please send a kep-like, updated for submariner into https://groups.google.com/forum/#!topic/submariner-dev/EEyaG5iDg6M so we can discuss and see how to make this possible in submariner.

[2020-06-03 08:17] #8 closed

[2020-06-03 08:17] #7 closed

[2020-06-03 08:17] #11 closed

[2020-06-03 08:17] #19 closed

[2020-06-03 08:17] #26 closed

[2020-06-03 08:17] #6 closed

[2020-06-03 08:17] #143 closed

[2020-06-03 11:15] maayanf24 commented on #563
#https://github.com/submariner-io/admiral/pull/63

[2020-06-03 12:08] sridhargaddam commented on #386
Verified the behavior with Libreswan and its same as Strongswan (i.e., when submariner-engine pod is brought down, it removes the tunnels). The tunnels get reestablished once the submariner-engine comes up.

[2020-06-03 13:23] alexellis commented on #143
@Oats87 since this issue got closed out, I wondered if you'd updated the diagram already? Thanks, Alex

[2020-06-03 13:31] dfarrell07 commented on #143
Hello @alexellis, thanks for following up! The CI was made to support two clusters via https://github.com/submariner-io/shipyard/pull/169, and we are moving jobs to use only two clusters (https://github.com/submariner-io/submariner-operator/pull/409).

[2020-06-03 16:46] Oats87 commented on #575
@mangelajo I can sponsor Mike

[2020-06-04 11:18] #303 closed

[2020-06-04 11:18] #269 closed

[2020-06-04 11:18] #299 closed

[2020-06-04 13:17] manosnoam commented on #276
@pinikomarov can you look at it ?

[2020-06-04 13:52] pinikomarov commented on #276
sure I'll take a look

On Thu, Jun 4, 2020 at 4:17 PM Noam Manos <notifications@github.com> wrote:

[2020-06-05 06:04] manosnoam opened #624 "HA Status is "active" before Strongswan associations came up"
[code]

[2020-06-05 07:46] mangelajo commented on #624
That is correct, those are unrelated things.

"active" means, that the gateway, via the HA election protocol has gained "active" status, that means it can start creating connections and publishing himself as an endpoint of the cluster.

At the start it's normal that the connections still don't exist, and will need a few seconds to be created (until the other clusters publish endpoints on the broke

[2020-06-05 08:52] sridhargaddam commented on #624
I agree with @mangelajo. Also HA status does not fit into connection status when we have more than 2 clusters as there could be a connection loss with a single remote cluster while the connections to all other clusters are still intact.

[2020-06-05 09:03] #596 closed

[2020-06-05 14:30] #302 closed

[2020-06-07 06:43] manosnoam commented on #624
Up untill now I was watching the output of:
`$ oc exec $submariner_pod strongswan stroke statusall | grep 'Security Associations \(1 up'`

This works great, and makes the automation wait until strongswan associations came up, before continuing with submariner tests. It could take 3-10 minutes...

But now when Strongswan will not be the default cable-driver, how should we watch for Submariner readi

[2020-06-07 10:48] manosnoam opened #625 "Netshoot pod did not get GlobalNet ip"
[code]

Full test report:
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS/518/Test-Report/

[2020-06-07 15:33] manosnoam opened #627 "Service domain on supercluster cannot be resolved"
[code]

[2020-06-08 01:34] pinikomarov commented on #276
@manosnoam @tfreger, I created two drafts for this:
 I'll test them out and update
https://github.com/submariner-io/submariner/pull/629
https://github.com/submariner-io/shipyard/pull/203

[2020-06-08 08:49] mangelajo commented on #574
I'm going propose back this Tuesday on upstream meeting :)

[2020-06-08 11:27] sridhargaddam commented on #625
Few observations:
-----------------
1. AFAIK we do not support "--dataplane" as part of deploy-broker command. i.e., if you want to use the cluster for as both broker and member cluster, you will have to execute two commands (one is deploy-broker and the other is join cluster)

2. Looks like you are initially trying to join a cluster without globalnet and immediately trying to run the same join co

[2020-06-08 11:31] deanlorenz opened #633 "Common cable driver spec and env parsing"
Currently each cable driver parses its own spec from environment variable.
Proposal is to move this out of cable driver into common code.
Use cable agnostic variable prefix (instead of `ce_ipsec`)

### Current spec
- PSK
  This should be common as it is set by join operation

- NATTPort
  - This should be the listen (UDP) port of each endpoint.
    Potentially can be different for each EP.
    Pro

[2020-06-08 14:08] mkolesnik commented on #575
Thanks @Oats87

@mangelajo also need .github/workflows/* :)

[2020-06-09 08:42] #607 closed

[2020-06-09 08:47] mangelajo opened #635 "libreswan: HostNetworking on GW to remote pod not on gateway"
**What happened**:

Test fails: "[Fail] [dataplane] Basic TCP connectivity tests across clusters without discovery when a pod with HostNetworking connects via TCP to a remote pod when the pod is on a gateway and the remote pod is not on a gateway [It] should have sent the expected data from the pod to the other pod
/go/src/github.com/submariner-io/submariner-operator/vendor/github.com/submariner-i

[2020-06-09 08:59] mangelajo commented on #627
@manosnoam can you provide the logs of the lighthouse-agents?

Also, please check this:https://submariner-io.github.io/quickstart/openshift/service_discovery/#verify-deployment

Now you need to create a service export object to have a service exposed on other clusters:

[code]

after creating the regular service as usual.

Btw, that's all verified by subctl verify.

[2020-06-09 09:52] manosnoam commented on #627
@mangelajo Thanks for the info. The env has already been destroyed, will retry with the new ServiceExport creation in advanced.

@vthapar , is it already documented ?

Also, should I add ServiceExport with {service name}.{namespace} as:

[code]

[2020-06-09 10:10] mangelajo commented on #627
No not the {namespace} part, but you should create the Service export in
the same namespace, so if it's not default
use
[code]

On Tue, Jun 9, 2020 at 11:52 AM Noam Manos <notifications@github.com> wrote:

--
Miguel Ángel Ajo  @mangel_ajo <https://twitter.com/mangel_ajo>
OpenShift / Kubernetes / Network Federation team.
OSP / Networking DFG, OVN Squad Engineering

[2020-06-09 10:41] manosnoam commented on #627
Thanks, is there a way to wait for the ServiceExport to be ready, like:
`kubectl wait ServiceExport {service name} --for condition=available`

[2020-06-09 12:22] manosnoam commented on #627
After creating the ServiceExport:

[code]

I tried to check status with "wait", but it failed on timeout:
`$ oc wait "serviceexport.lighthouse.submariner.io/nginx-cl-b" --for condition=available -n test-submariner-cl-b-new`

And with "rollout" it also failed, since ServiceExport is not registered:

[code]

[2020-06-09 13:59] skitt opened #636 "Cluster and endpoint information should be cleaned up"
**What would you like to be added**:

Some way to expire broker CRs which are no longer relevant.

**Why is this needed**:

Currently, clusters which stop running remain in the broker, which causes new clusters to try to set up tunnels to them, unsuccessfully. This includes previous incarnations of re-joining clusters, which means clusters can end up spending significant amounts of time trying to

[2020-06-09 14:03] mangelajo commented on #636
Makes sense, I'd propose a mechanism similar to :
https://github.com/submariner-io/submariner/blob/master/pkg/cableengine/syncer/syncer.go

https://github.com/submariner-io/submariner/blob/master/pkg/cableengine/syncer/syncer.go#L125

With a bigger TTL time

[2020-06-09 14:09] mangelajo commented on #627
Yeah, according to U/S specification we should probably implement the status field of ServiceExport ^ @vthapar

[2020-06-09 15:45] mangelajo commented on #574
Welcome @maayanf24 you should have an invite to submariner-contributors.

[2020-06-09 16:12] sridhargaddam commented on #635
@mangelajo @skitt
Okay, I had a look at the setup and the issue is that from the sourcePod (with HostNetworking), traffic is making its way to the destinationPod on remoteCluster.
However, the source-ip of the pod is the IPAddress of the Host and **NOT** the CNIInterface IP. Because of this, the return traffic is not able to make its way to the source cluster (which is the expected behavior).
The

[2020-06-09 16:41] skitt commented on #635
Thanks for the detailed analysis @sridhargaddam! I prefer solution 1, or perhaps better still, something can remain Libreswan-specific: it has a `leftsourceip` setting which specifies the source address for packets from the gateway host. I’ll try that out tomorrow; it might even allow us to drop the host-subnet and host-host tunnels...

[2020-06-09 17:00] sridhargaddam commented on #635
IMO whatever solution we pursue should go into the route-agent code (just like how its handling the use-case on the non-Gateway node) and not the cable engine. This way, cableEngine will be abstracted from the CNIInterfaceIP stuff. I remember @deanlorenz sharing similar thoughts.
Thoughts?

[2020-06-10 07:05] skitt commented on #635
Right, so the route-agent would take care of _all_ the routing, and the cable engine would only be tasked with providing the point-to-point links between gateways. Would that make sense?
It would also help with the “trusted” scenarios — I’m thinking of a dummy cable engine for cases where the point-to-point link is already present and doesn’t need encryption...

[2020-06-10 07:14] mangelajo commented on #635
@sridhargaddam awesome investigation, as usual! :)

I think solution 1 would be more inline with what strongswan & wireguard do.

[2020-06-10 07:56] sridhargaddam commented on #635
Exactly!! The job of cableEngine should only be to setup tunnels and anything associated to connectivity. It should not bother about CNIInterface blah blah...

When you say dummy cable driver, I hope you are talking about some Overlay solution like VxLAN/IPInIP etc (as we have to preserve the source-ips).

[2020-06-10 07:57] skitt commented on #635
Yes, “direct” would be a better name than “dummy”!

[2020-06-10 07:58] sridhargaddam commented on #635
Thanks @mangelajo.

Right, even I'm inclined towards solution-1.

[2020-06-10 07:59] sridhargaddam commented on #635
Or we can even say, VxLAN CableEngine (or IPinIP CableEngine) etc.

[2020-06-10 08:50] sridhargaddam opened #638 "REQUEST: New Committer rights request for sridhargaddam"
### GitHub Username
@sridhargaddam

### Code you are requesting Committer rights for
submariner/pkg/globalnet
submariner/pkg/routeagent
submariner/pkg/cable/strongswan

### Requirements
- [x] I have reviewed the community membership guidelines (https://submariner-io.github.io/en/contributing/community-membership/)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)

[2020-06-10 10:26] deanlorenz commented on #635
@mangelajo @skitt @sridhargaddam

- I prefer Option 1 as Option2 is more likely to have a conflict with CNI

- WG is using option 1, with no `src` option, on `dev subwg0`, table 220
  - CNI-Interface addr is set as source of `subwg0`
  - `subwg0` link is recreated on driver startup, so any associated routes with old link are deleted

- I support @sridhargaddam suggestion to have RA setup routes, a

[2020-06-10 10:50] pinikomarov commented on #276
@mkolesnik @manosnoam @mangelajo   can you advice here ?
we want to remove the usage of report-dir in shipyard.
and I'm looking where to remove code from shipyard/test/e2e/e2e.go.
so looking at this change :
https://github.com/onsi/ginkgo/pull/601#issue-313279375

This means that there is no need for reporterList and reportDir from e2e.go:  ?
https://github.com/submariner-io/shipyard/blob/fa055d2e

[2020-06-10 10:58] manosnoam opened #639 "subctl --service-discovery to create ServiceExport"
As discussed in https://github.com/submariner-io/submariner/issues/627
Can we add SeviceExport creation into Subctl as implicit or explicit action, as part of `subctl --service-discovery` command ?

This would ease the use of service-discovery, where such command should both apply and verify the creation of:

[code]

[2020-06-10 11:11] vthapar commented on #627
Yes, that is in plans for later. To support status on ServiceExport we need some more work in the Admiral framework. As of today we have no callback mechanism for when an object is synced. Even then, it will not be possible to 100% confirm if service is not imported correctly to all other clusters or not.

[2020-06-10 11:14] vthapar commented on #639
Creation of service export can't be implicit, it has to be an explicit command. I'll be adding something like `subctl create service-export <service-name> -n <namespace>`

[2020-06-10 11:22] vthapar commented on #627
https://github.com/submariner-io/submariner-website/pull/177

[2020-06-10 11:32] #574 closed

[2020-06-10 12:26] manosnoam opened #640 "Rollout status for ServiceExport (on current cluster config)"
After creating the ServiceExport:

[code]

I tried to check status with "wait", but it failed on timeout:
`$ oc wait "serviceexport.lighthouse.submariner.io/nginx-cl-b" --for condition=available -n test-submariner-cl-b-new`

And with "rollout" it also failed, since ServiceExport is not registered:

[code]

Please add `kubectl rollout status` for ServiceExport (which should give status for the curr

[2020-06-10 12:57] manosnoam opened #641 "Recreating ServiceExport should update the DNS resolution"
In the following scenario I was reinstalling Submariner, and created ServiceExport again, with same service name on same namespace name (that was already deleted, and re-created).
However, the ServiceExport DNS resolution was not updated (in CoreDNS ?).

[code]

Full test report:
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS/551/Test-Report/

[2020-06-11 08:03] mangelajo commented on #276
Are you sure that you don't need to create the reporters anymore?

https://github.com/onsi/ginkgo/pull/601#issuecomment-568877348 ?

You can try to remove those sections and run "make e2e" in shipyard, the framework will get executed and smoke-tested.

About the return, I don't know, check for other ginkgo runners? look at the examples probably the default runner without custom reporters? But... I

[2020-06-11 08:06] mangelajo commented on #276
Ahh, for the return look here:

https://github.com/onsi/ginkgo/pull/601/files#diff-e3fb4e75aa5d5eae55da62367a741ea5R200

You probably need to call simply RunSpecs now?

[2020-06-11 09:08] manosnoam commented on #276
Yes, I think you can remove it, as onsi/ginkgo#601 executes RunSpecsWithDefaultAndCustomReporters(...)

[2020-06-11 09:13] pinikomarov commented on #276
alright thanks gentleman I got the idea,
action plan :
I'll gradually remove code and execute make e2e until the code is stable

Thanks

On Thu, Jun 11, 2020 at 12:09 PM Noam Manos <notifications@github.com>
wrote:

[2020-06-11 09:43] manosnoam commented on #627
Hi @vthapar, I tried to run same scenario, after cleaning Lighthouse ServiceExport DNS list:

[code]

^ This was executed on Cluster B only, since Cluster A was completely destroyed and created again.
Then, trying to reach the ngnix service (which got a GlobalNet IP), has failed:
[code]

Full test report:
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS/555/Test-Repor

[2020-06-11 10:04] manosnoam commented on #624
@mangelajo, maybe if in addition to "HA Status active", you can show number of connections established ?

In another test I saw that the Gateway still shows "Status: connecting", even after StrongSwan is up:

[code]

[2020-06-11 10:47] mangelajo opened #642 "libreswan: NAT-T does not work when one side has no public IP."
**What happened**:

NAT traversal from an on-prem deployment to a public cloud doesn't work when the on-prem deployment has no public/floating-ip.

**What you expected to happen**:

To work, as in strongswan.

**How to reproduce it (as minimally and precisely as possible)**:

Deploy with libreswan cabledriver, and check the gateway connection list with
kubectl get Gateways -A -o yaml

**Anything e

[2020-06-11 10:52] mangelajo commented on #642
@manosnoam be aware of this when you are testing ^ let me know if you experience it during your testing with libreswan and if you can provide more details.

[2020-06-11 13:55] dfarrell07 commented on #532
I think most/all of the sources of instability we have documented here have been resolved. There have been many incremental improvements to stability on many fronts (@sridhargaddam on Globalnet this sprint, @mkolesnik with Shipyard/CI retries last sprint, etc). Maybe I will close this now? We can re-open if we need later, or start a fresh Issue if instability shows up again.

[2020-06-11 13:55] #532 closed

[2020-06-11 19:29] manosnoam commented on #468
Please see how to automate release tags and labels, without manually updating them.
For example, the following label and tag should be auto-generated each release:

- "Latest release" (green label):
https://github.com/submariner-io/submariner-operator/releases/latest leads to v0.3.1, and not to the latest one (0.4.0 RC2)

- "latest" tag (found under Tags):
- https://github.com/submariner-io/submar

[2020-06-12 14:32] #329 closed

[2020-06-12 14:32] #330 closed

[2020-06-15 07:07] manosnoam opened #644 "curl to Ngnix with Global-IP on supercluster, sometimes fails"
It happens sometimes that curl to ngnix global IP fails, even after GlobalIP annotation was set.
Note that the env is using Subctl 0.4.0 RC2, and the nginx is on supercluster (with service-discovery and ServiceExport):

[code]

Full test report:
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS/563/Test-Report/

[2020-06-15 07:26] manosnoam opened #646 "Test Service-discovery with supercluster (on Subctl 0.4.0 RC2)"
Latest test report:
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS/564/Test-Report/

Supercluster domain works as expected:
[code]

[2020-06-15 07:29] manosnoam opened #647 "Test Libreswan cable-driver (will be the default in future release of Subctl)"

[2020-06-15 09:30] manosnoam commented on #642
I've installed subctl 0.4.0 RC2 with Libreswan, and I see HA is passive on Cluster B (cluster on-premise OSP):

[code]

BTW, swanctl on Cluster A  (AWS) worked:
[code]
But on Cluster B (OSP) failed:
[code]

[2020-06-15 10:22] manosnoam opened #648 "API "describe Gateway" does not show correct HA and connections status"
For example, when using libreswan cable-driver, which has failed to establish connections,
the HA status was shown as "passive", while the actual problem was in connections status.
In addition, Status showed "Failure:  ", but without specifying "Status Message:  ...".

[code]

**What you expected to happen**:
`oc describe Gateway` should show correct HA status and connections status, including cor

[2020-06-15 13:09] manosnoam commented on #648
Actually, the `Status Failure:  ` is also wrong, as it always being printed, even when HA status is active, and all connections are working.
Do you want a new bug for it ?

[2020-06-15 13:20] skitt opened #649 "Broker connections mustn’t assume the SA trust chain is necessary"
**What happened**:

When attempting to connect to a broker cluster set up with Let’s Encrypt certificates, connections fail with “x509: certificate signed by unknown authority”.

**What you expected to happen**:

The clients should be able to connect; the CA is in the system’s trust store.

**How to reproduce it (as minimally and precisely as possible)**:

Set up a cluster with API endpoints using

[2020-06-15 13:20] skitt commented on #649
I’m working on fixing this.

[2020-06-15 14:43] mangelajo commented on #126
I don't know what you mean, how can you use make e2e with AWS? :? :?

[2020-06-16 05:08] sridhargaddam opened #652 "Epic: enhancements to Globalnet Implementation, aka Globalnet v2"
**What would you like to be added**:
I'd like to propose an enhancement to the Globalnet implementation such that it is more scalable and we have more number of globalIps for Multi-cluster services.

**Current Implementation**

1. Globalnet supports only Pod to remoteService connectivity via globalIps.
2. Globalnet Controller annotates every Pod/Service in a cluster except for the ones in EXCLUDED

[2020-06-16 05:12] sridhargaddam commented on #652
@nyechiel @mangelajo @Oats87 @mkolesnik @vthapar @skitt @jds2001 @deanlorenz @roytman - Please take a look at this proposal and share your comments/feedback. Thank you.

[2020-06-16 05:17] sridhargaddam commented on #528
The following enhancement request would handle this use-case - https://github.com/submariner-io/submariner/issues/652

[2020-06-16 12:42] #649 closed

[2020-06-16 20:30] manosnoam commented on #126
This is an old issue, before having the option to run e2e with subctl, not only inside KIND env.
Let's close it for now.

[2020-06-16 20:30] #126 closed

[2020-06-17 08:07] sridhargaddam commented on #635
Pushed the following PR in Submariner route-agent which implements the necessary changes.
https://github.com/submariner-io/submariner/pull/656

**Sample rules on KIND cluster2 GatewayNode:**
ip rule add prio 150 table 150
ip route add 10.243.0.0/16 dev eth0 proto static table 219 src 10.242.128.0
ip route add 100.93.0.0/16 dev eth0 proto static table 219 src 10.242.128.0

Where 150 is the priority

[2020-06-17 14:22] mangelajo commented on #642
Apparently this is a timing issue on the libreswan driver, I'm proposing a patch to handle it. NAT-T actually works fine.

And it seems like @manosnoam report was a mix between strongswan and libreswan which we don't support.

[2020-06-17 16:15] skitt opened #662 "REQUEST: New Committer rights request for skitt"
### GitHub Username
skitt

### Code you are requesting Committer rights for

    submariner/pkg/cable/libreswan/\*
    submariner/package/\*
    submariner-operator/\*
    \*/go.mod
    \*/go.sum

### Requirements
- [X] I have reviewed the community membership guidelines (https://submariner-io.github.io/en/contributing/community-membership/)
- [X] I have enabled 2FA on my GitHub account (https://g

[2020-06-17 16:26] mangelajo commented on #662
Can I suggest you go for packages/*  too ? :-)

[2020-06-18 15:41] #635 closed

[2020-06-18 17:54] dfarrell07 opened #666 "Add DCO validations to all repos"
**What would you like to be added**:

GitHub Actions for DCO validations on all submariner-io/* repositories.

For example, this PR piloted the idea: https://github.com/submariner-io/submariner-website/pull/184.

**Why is this needed**:

To enforce DCO SoBs for all incoming commits, per CNCF requirements.

[2020-06-20 20:30] pinikomarov commented on #276
@manosnoam @mangelajo  ok commits are ready for reviews :
https://github.com/submariner-io/shipyard/pull/216
https://github.com/submariner-io/submariner/pull/629
Thanks

[2020-06-22 08:32] mangelajo commented on #275
@mkimuram do you want to dedicate a big part of next meeting to this? I think we need to help you model things in a way they are more compatible with the submariner design but still you achieve the same functionality.

[2020-06-22 08:33] mangelajo commented on #275
@mkimuram we can also setup a one time meeting on a different time if it works better for you

[2020-06-22 08:47] sridhargaddam commented on #644
@manosnoam In the test-script, do you wait for the globalIP annotation on the netshoot Pod? If not, in the current implementation, if you try to connect to remote service before netshoot pod gets a globalIP, it would fail.

[2020-06-22 08:50] sridhargaddam commented on #598
This is addressed via the following PR - https://github.com/submariner-io/submariner/issues/635

[2020-06-22 08:50] #598 closed

[2020-06-22 08:51] #595 closed

[2020-06-22 08:51] #593 closed

[2020-06-22 08:55] sridhargaddam commented on #567
In the current e2e tests, we do not wait for the netshoot (aka client/connector) Pod to get a globalIP annotation and the Pod, as soon as it enters running state, it tries to connect to the remote service IP (which is passed as an environment variable). Since the globalIP annotation and programming of the corresponding iptable rules happen asynchronously we can see this kind of issues. Once Global

[2020-06-22 08:57] sridhargaddam commented on #541
Thanks @skitt for your inputs and possible alternatives.

In the meantime, can someone share how much improvement (in size) we see by removing this from the Gateway Pods?
@mkolesnik @mangelajo @dfarrell07

[2020-06-22 08:58] #540 closed

[2020-06-22 09:01] sridhargaddam commented on #386
I have few other things on my plate and I'm not sure if I can dedicate time to look into this use-case, so I'm assigning myself. If something has bandwidth and interested to look into it, please go ahead. Thanks.

[2020-06-22 09:03] sridhargaddam commented on #360
@manosnoam as we now have an API to query the status of IPsec tunnels in a generic manner (irrespective of the cableEngine that is used in the cluster), please continue to use the new API over these commands. I'm closing this issue.

kubectl describe Gateways -n submariner-operator

[2020-06-22 09:03] #360 closed

[2020-06-22 09:14] skitt commented on #541
We recently changed the gateway container images to keep `microdnf` installed, so I’m not sure this is still relevant.

[2020-06-22 12:14] sridhargaddam commented on #541
Cool. Yeah, I see microdnf in the Gateway/Globalnet pods. Thanks.

[2020-06-22 12:14] #541 closed

[2020-06-22 12:39] Tarjei400 opened #668 "VxLAN bridge ip address"
I have 2 node cluster on digital ocean, and network traffic cannot be send to other cluster from a node that is not a gate way node. I was investigating problem a little, and I noticed that gateway node has followin bridge fdb entry :

![image](https://user-images.githubusercontent.com/1921727/85288079-75efd480-b495-11ea-9e7d-7ce36aef0ac8.png)
Which is from VPC network. and points to both nodes.

[2020-06-22 19:41] pinikomarov commented on #276
all patches merged , closing and thanks :)

[2020-06-22 19:43] #276 closed

[2020-06-22 22:49] mkimuram commented on #275
@mangelajo

Thank you for taking care of this issue.

Actually, the enhancement proposal below is still a draft, but I would appreciate it if you could take time to give me a feedback in the next meeting.

https://github.com/mkimuram/enhancements-1/blob/non-cluster/20200602-cluster-to-noncluster-connection.md

[2020-06-23 09:11] mangelajo commented on #642
I verified this in 0.4.0-rc3 and it's working perfectly.

[2020-06-23 09:11] #642 closed

[2020-06-23 09:14] mangelajo commented on #668
Did you open port 4800/UDP between your worker nodes?, that's the port vx-submariner will use?

If that doesn't do the trick, ping me on our slack channel [1] and let's look at it.

[1] https://kubernetes.slack.com/archives/C010RJV694M

[2020-06-23 09:17] mangelajo commented on #668
The endpoint is automatically created and maintained by the submariner-gateway.

So according to your message may be there's a bug in detecting the gw interface for vxlan (which , as you said, it may be the internal address).

@sridhargaddam  ^

[2020-06-23 09:52] Tarjei400 commented on #668
@mangelajo looks I am need invitation for that slack channel.  Anyway I checked firewalls as first thing yesterday. It looks submariner creates iptables correctly allowing all craffic on 4800 ports on both nodes. I will try to create clean firewall rules on digital ocean and give an update here (Y).

[2020-06-23 09:56] nyechiel commented on #668
@Tarjei400 We use the Kubernetes Slack instance. You can request an invite here: https://slack.k8s.io/

[2020-06-23 09:59] Tarjei400 commented on #668
Just in case, made firewall wide spread open:
![image](https://user-images.githubusercontent.com/1921727/85390281-e4da3580-b548-11ea-8892-696f03bbbbcc.png)
Although its hard for me to say where exactly traffic gets stuck

[2020-06-23 10:00] sridhargaddam commented on #668
Submariner only configures the FDB entries on the Gateway nodes and NOT on the worker nodes.
On worker nodes, when the vx-submariner tunnel interface is created, the remote group will be configured to point to the Gateway node IP from VPC network range. I'm not sure who is creating the FDB entry on the worker nodes, please check.

Submariner does a period sync (30 secs) to ensure that vx-submarine

[2020-06-23 11:43] mangelajo commented on #662
Sorry to bother again. can I also add you to go.mod and go.sum ? :)

[2020-06-23 11:44] mangelajo commented on #662
@skitt  ^

[2020-06-23 12:07] skitt commented on #662
Done, I went for “all projects” for those two ;-).

[2020-06-23 12:13] Tarjei400 commented on #668
After some chat it turned out that most probably root couse of network traffic being lost somewhere is that on digital ocean, managed cluster has cilium deployed as network provider. When deployed cluster from rancher with Flannel as network provider issue seems to be gone. Thank you for help. I think ticket can be closed

[2020-06-23 12:34] sridhargaddam commented on #668
Thanks for the update @Tarjei400. As discussed over slack, currently we do not support Cilium CNI. Good to know that you now have a Submariner deployment.

[2020-06-23 12:35] #668 closed

[2020-06-23 14:48] dependabot-preview[bot] opened #673 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/submariner-io/update-logs/37759097).

[2020-06-23 15:43] #673 closed

[2020-06-23 16:12] skitt opened #674 "Epic: support encryption-less connections between clusters"
**What would you like to be added**:

Support for unencrypted connections between clusters.

**Why is this needed**:

All current cable drivers involve encrypting content, which is great for privacy but involves some overhead. On private connections, it would be useful to enable unencrypted connections, for example using IP-on-IP or VxLAN.

**Work items**:

- [x] Enhancement proposal: https://gith

[2020-06-23 16:20] skitt opened #675 "Support different cable drivers inside the same supercluster"
**What would you like to be added**:

Support for different cable drivers inside the same supercluster.

**Why is this needed**:

Once we start supporting cable drivers with meaningfully different _features_ (sorry if I’m insulting any existing cable driver), *e.g.* #674, various scenarios involve mixing cable drivers. For example, a supercluster could contain three clusters, one of which should o

[2020-06-24 09:05] skitt opened #678 "Prometheus metrics"
**What would you like to be added**:

The various Submariner components should export metrics which can then be used with _e.g._ Prometheus. Useful information includes gateway reachability, error rates, transfer rates (bytes rx/tx, packets rx/tx etc.).

**Why is this needed**:

Prometheus metrics are commonly used to monitor K8s clusters. Providing these means we can piggy-back on the Prometheus-

[2020-06-24 10:42] manosnoam opened #679 "Connection failed on Submariner 0.4.0-rc3 with LibreSwan and Globalnet"
Installing Submariner 0.4.0-rc3 on OSP-AWS clusters, with cable-driver LibreSwan completed, but testing GlobalNet connectivity from Netshoot pod (IP 169.254.6.235) on cluster A (AWS), to Nginx service (IP 169.254.32.137:8080) on cluster B (OSP) has failed.

**Cluster A and Netshoot details:**
[code]

**Cluster B and Nginx details:**
[code]

**Curl command failed:**

[code]

Full test report:
https

[2020-06-24 11:23] sridhargaddam commented on #679
The Global IPs are properly annotated, but there seems to be an issue with IPsec connection.

kubectl describe Gateway default-cl1-9vgwj-worker-bq8rt -n submariner-operator
Name:         default-cl1-9vgwj-worker-bq8rt
Namespace:    submariner-operator
Labels:       <none>
Annotations:  update-timestamp: 1592997585
API Version:  submariner.io/v1
Kind:         Gateway
Metadata:
  Creation Timestamp:

[2020-06-24 15:05] tpantelis commented on #648
Well the fact that it's always printed is not really wrong - `Status Failure` is a field and may have an empty value.

[2020-06-24 15:38] tpantelis commented on #648
The `Ha Status`  field is only set to `Passive` if `engine.driver` was not initialized which means it wasn't elected the leader, at least yet. I assume you only have one gateway node labelled. I suspect it was initially set to `Passive` on startup and then gained leadership but never updated the `Gateway` object thereafter. There's several code paths that could lead to this scenario - all but one

[2020-06-25 09:52] mangelajo opened #683 "Libreswan cable driver does not work with non-standard IPSEC ports"
**What happened**:

When specifying non standard ipsec ports libreswan/pluto will target the standard 500 port / 4500..
[code]

The connection of the gateways will not succeed (`kubectl get Gateways -A -o yaml`)

(see 501 in source but 500 in dst)

**What you expected to happen**:

(501 in source and **501** in dst)

**How to reproduce it (as minimally and precisely as possible)**:

Deploy submari

[2020-06-25 09:54] mangelajo commented on #679
After looking at @manosnoam environment I have re-opened the bug with the exact details of what's failing:

https://github.com/submariner-io/submariner/issues/683

[2020-06-25 09:54] #679 closed

[2020-06-25 12:06] mangelajo commented on #662
submariner-operator: https://github.com/submariner-io/submariner-operator/pull/499

[2020-06-25 12:35] mangelajo commented on #662
submariner: #684
submariner-operator: submariner-io/submariner-operator#499
shipyard: submariner-io/shipyard#222
admiral: submariner-io/admiral#74
lighthouse: submariner-io/lighthouse#185
coastguard: submariner-io/coastguard#14
submariner-bot: submariner-io/submariner-bot#11

[2020-06-25 13:11] mangelajo commented on #638
https://github.com/submariner-io/submariner/pull/685

[2020-06-25 14:01] mangelajo commented on #575
https://github.com/submariner-io/submariner/pull/686
https://github.com/submariner-io/submariner-operator/pull/500
https://github.com/submariner-io/coastguard/pull/15
https://github.com/submariner-io/lighthouse/pull/186
https://github.com/submariner-io/admiral/pull/75

[2020-06-25 19:15] tpantelis commented on #375
Still valid dude.

[2020-06-25 19:18] tpantelis commented on #380
Still valid.

[2020-06-26 03:23] #308 closed

[2020-06-26 03:24] #374 closed

[2020-06-26 03:26] #394 closed

[2020-06-26 03:29] #466 closed

[2020-06-26 03:31] #519 closed

[2020-06-26 03:34] #557 closed

[2020-06-26 03:35] #558 closed

[2020-06-26 03:35] #559 closed

[2020-06-26 03:37] #575 closed

[2020-06-26 03:42] #638 closed

[2020-06-26 03:45] tpantelis commented on #639
This is being worked in the submariner-operator project: https://github.com/submariner-io/submariner-operator/pull/466.

[2020-06-26 03:45] #639 closed

[2020-06-26 03:47] tpantelis commented on #646
Looks like this was completed.

[2020-06-26 03:47] #646 closed

[2020-06-26 03:48] #662 closed

[2020-06-29 12:02] manosnoam commented on #648
@nyechiel @mangelajo I'm reopening bug:

What should I expect to see now in case of a connections error ?
Can you replace the "Status Failure:" field with just "Status:" + error message if there's one (like in following example) ?

See output of subctl latest (build devel-1-g6dc3413) with libreswan on OSP-AWS env:

[code]

**4 Minutes later**, the Gateway shows "Status: connecting" (due to libresw

[2020-06-29 12:59] vthapar opened #688 "REQUEST: New Committer rights request for vthapar"
### GitHub Username
@vthapar

### Code you are requesting Committer rights for
lighthouse/\*

### Requirements
- [x] I have reviewed the community membership guidelines (https://submariner-io.github.io/en/contributing/community-membership/)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the submariner-dev e-mail list (https://groups.

[2020-06-29 14:01] tpantelis commented on #648
This appears to be a different issue, ie the `libreswan` driver not reporting a specific connection failure - in the original issue, it wasn't even reporting the connection at all due to the bug I outlined.  It seems you're reporting that the specific connection should have reported its `Status`  is failed with a specific `Status Message`. If so, can you please open a new issue?

The `Status Failu

[2020-06-29 14:54] manosnoam opened #689 "API "describe Gateway" keep showing "connecting" on connection failure"
Here's the output of subctl latest (build devel-1-g6dc3413) with libreswan on OSP-AWS env:

[code]

**4 Minutes later**, the Gateway shows "Status: connecting" (due to libreswan non-default ports bug), and **"Status Failure:" shows empty message**, while there should have been indication of the problem already:

[code]

Please also replace the "Status Failure:" field, with just "Status:" + error m

[2020-06-29 14:55] manosnoam commented on #648
Opened new issue, and closing this one.

[2020-06-29 14:55] #648 closed

[2020-06-29 15:20] tpantelis commented on #689
Re: _Please also replace the "Status Failure:" field, with just "Status:" + error message only if there is any (like in above example)_,  if we name it just `Status` I think that implies it shouldn't be empty, ie like the `Status` in the connection which is an enum so always shows something. The purpose of `Status Failure` is to provide a reason in the case of an error preventing overall retrieval

[2020-06-30 07:07] pinikomarov opened #691 "Fix polarion reporting"
relaed issue :

moved here to debug and fix, since the failure is probably on our side

https://projects.engineering.redhat.com/browse/RHOSINFRA-2701

[2020-06-30 07:09] #691 closed

[2020-06-30 07:09] pinikomarov commented on #691
dup

[2020-07-01 06:28] sridhargaddam opened #694 "Shutdown path to be Optimized in Submariner Engine and route-agent"
**What happened**:
As part of this PR [https://github.com/submariner-io/submariner-operator/pull/445], we configured terminationGracePeriodSeconds to 10 secs. However, it was seen that on some occasions SM Engine Pod taking longer than 10 secs, so K8s is terminating the Pod with SIGKILL. Have to investigate and understand if we can improve the behavior.

**What you expected to happen**:
The shutdo

[2020-07-01 13:36] dfarrell07 opened #697 "Epic: Improve linting coverage, fix Go Report Card validations"
There are a number of validations run against submariner-io/submariner and reported on the main README as an icon. While we do have an A+, there are a number of failing tests. We should dig through the test results and clean them up.

https://goreportcard.com/report/github.com/submariner-io/submariner

Update: Also using this as an epic to track the subsequent addition of linters through golangci-

[2020-07-01 16:38] dfarrell07 commented on #697
Part of this is adding linting to prevent future volitions from slipping back in. Started on that in https://github.com/submariner-io/submariner/pull/698.

[2020-07-01 21:14] hyunsun commented on #533
Hi @nyechiel and @mangelajo, do we have any on-going work on this?

[2020-07-02 11:57] aswinsuryan commented on #640
The serviceExport status is added with https://github.com/submariner-io/lighthouse/issues/164

[2020-07-02 13:07] dfarrell07 commented on #697
Related https://github.com/submariner-io/shipyard/pull/241

[2020-07-03 13:00] aswinsuryan opened #704 "REQUEST: New Committer rights request for aswinsuryan"
### GitHub Username
@aswinsuryan

### Code you are requesting Committer rights for
lighthouse/*

### Requirements
- [x] I have reviewed the community membership guidelines (https://submariner-io.github.io/en/contributing/community-membership/)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the submariner-dev e-mail list (https://grou

[2020-07-05 12:17] manosnoam opened #705 "Global IP was set, but host is unreachable"
That is Ngnix service on Cluster B (OSP):

[code]

That is Netshoot Pod on Cluster A (AWS):

[code]

Testing GlobalNet connectivity - From Netshoot pod netshoot-cl-a (IP ) on cluster A,
to Nginx service on cluster B, by its Global IP: 169.254.7.213:8080 - Has failed:

[code]

Full test report:
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS/681/Test-Report/

Note tha

[2020-07-06 12:19] nyechiel commented on #533
No. We will review it again for one our upcoming sprints.

[2020-07-08 15:14] #373 closed

[2020-07-09 16:26] #415 closed

[2020-07-10 02:56] letoams commented on #683
With libreswan 3.33 (soon to be released) there will be the option for leftikeport= and rightikeport=
And whack will be able to specify: ipsec whack --name conn [...] --ikeport XXX  --to  [...]  --ikeport YYY
The code for this is now in the git main branch (last commit via https://github.com/libreswan/libreswan/commit/e1cebcc60d6a3993ff0816e87291420a8ecab5cd

[2020-07-10 11:26] OKyHb opened #717 "weave net with encryption - xfrm policy"
We use kubespray installation on bare-metal with **Weave Net** CNI.
With the default weave net configuration it uses encryption for communication within cluster. Example from the test environment (1 master, 2 workers):
[code]
Weave net creates XFRM own policies:
[code]
When we install submariner-operator, submariner-routeagent removes all these XFRM policies and Weave Net communication breaks down

[2020-07-10 13:10] mangelajo commented on #717
Oh @OKyHb thanks for the report, probably we need to be more careful about the xfrm policies we remove in the route agent. @sridhargaddam  ^

[2020-07-10 13:11] mangelajo commented on #717
It's interesting we use weave in the CI pipeline, with no special configuration.  https://github.com/submariner-io/shipyard/blob/master/scripts/shared/clusters.sh#L106

@OKyHb can you look at it^ ? do we need to do anything special to enable encryption between weave nodes?

[2020-07-10 13:22] sridhargaddam commented on #717
Right. Currently, when the ActiveGateway moves from one node (say node1) to another node (say node2), route-agent flushes all the xfrm policies from node1. We should evaluate if we can selectively cleanup the xfrm rules programmed by the CableEngine and not just everything from that node. Also, we have to figure out a proper place for this kind of cleanup as its driver specific.

CC: @nyechiel

[2020-07-10 13:25] mangelajo commented on #717
@OKyHb just one note, you will see that our implementation currently sends traffic which destination is another cluster to the gateway node. And we do this through a VXLAN tunnel (vx-submariner), so traffic from node to gateway will travel in clear text. The traffic going back (remote-cluster->pod) goes through weave normal channel.

This limitation should probably be documented, and may be we sho

[2020-07-10 14:11] OKyHb commented on #717
Thanks for the explanation, I got it :)

Just in case, communication between two gateways in different clusters is always fine. Network connectivity breaks only between nodes inside the cluster.
And I tried "cable-driver=wireguard" but somehow I got the same result (Weave Net XFRM policies were deleted on one node).

[2020-07-13 05:55] mangelajo commented on #717
Yes, we have a small part on the route-agent that does cleanup of network things, that really belong to the cable drivers and we need to refactor it, it's what @sridhargaddam mentions in his comment above (CableDriver specific).

@OKyHb If I get you an updated image during this week would you have time to validate it?

[2020-07-13 08:31] OKyHb commented on #717
@mangelajo Yes, I'll be happy to validate it.

[2020-07-13 09:33] sridhargaddam opened #720 "Aligning Globalnet to LightHouse ServiceExport objects"
Currently, Globalnet annotates every service in a Cluster. This enhancement request is to modify globalnet implementation to annotate only exported services and NOT every service. This will make Globalnet implementation aligned with latest Lighthouse code as well.

[2020-07-13 09:43] sridhargaddam commented on #720
Related fix: https://github.com/submariner-io/submariner-operator/pull/571

[2020-07-14 12:13] sridhargaddam commented on #644
@manosnoam Can you please confirm if you wait for the globalip annotation on the netshoot pod before you validate the connectivity? In case yes, I'd like to take a look at the setup when the issue is reproduced. Please ping me when its reproduced.

[2020-07-14 12:15] sridhargaddam commented on #553
This is addressed

[2020-07-14 12:15] #553 closed

[2020-07-14 14:35] sridhargaddam opened #721 "Datapath goes down when globalnet controller pod is restarted."
**What happened**:

In the current implementation of Globalnet, when the Globalnet Pod is restarted, the datapath fails as Globalnet controller flushes the IPTable chains. The chains are repopulated once the Globalnet Pod comes up.

**What you expected to happen**:
Ideally, it would be good if the datapath is not disrupted when the Globalnet Pod is restarted.

**How to reproduce it (as minimally a

[2020-07-14 14:39] sridhargaddam opened #722 "Run tests and capture fail-over statistics in active/passive HA"
**What happened**:
Currently, in Submariner we only support Active/Passive HA. So when a failover happens, there would be few seconds of datapath loss until the connection can be re-established. This PR is to run some tests and capture the statistics on the number of seconds (on average) it takes for the datapath to be restored.

[2020-07-14 14:40] sridhargaddam opened #723 "Globalnet: Capture fail-over statistics in active/passive HA"
**What happened**:
This is similar to https://github.com/submariner-io/submariner/issues/722, but with Globalnet deployment.

[2020-07-14 14:42] mangelajo commented on #689
The status for libreswan is really connecting. It's trying to connect, simply not happening.

Status is defined in the API as: "connecting", "connected" or "error"

We could, perhaps fill Status Failure with some extra information after some timeout "IPSEC has been trying to connect for xx minutes, with no success"

[2020-07-14 14:44] mangelajo commented on #689
Status is defined with a very small scope of states to capture the minimal common denominator between the possible drivers, and also being something that can be easily processed from any other piece of software reading that status (without needing to parse a string)...

[2020-07-14 17:59] sridhargaddam commented on #705
Thanks @manosnoam. When you reproduce this issue, can you provide me access to the setup so that I can investigate the issue?

[2020-07-15 07:13] manosnoam commented on #705
This hasn't been reproduced in my recent CI builds, closing for now.

[2020-07-15 07:13] #705 closed

[2020-07-15 13:16] #432 closed

[2020-07-15 14:00] mangelajo commented on #689
We can capture:

   * amount of time that has been connected
   * amount of time that has been trying to connect...
   * list of status changes in the connection

[2020-07-15 20:39] dfarrell07 commented on #697
https://github.com/submariner-io/submariner/pulls?q=is%3Apr+label%3Acncf+
https://github.com/submariner-io/submariner-operator/pulls?q=is%3Apr+label%3Acncf+
https://github.com/submariner-io/admiral/pulls?q=is%3Apr+label%3Acncf+

[2020-07-16 11:52] mangelajo commented on #717
This is how it looks for libreswan:

[code]

@OKyHb can you install with weave+encryption and before installing submariner, go into one
of the nodes and run:
`ip xfrm policy`  ?

I'm trying to figure out if there's a way of telling libreswan/strongswan xfrm rules appart from other's

[2020-07-16 11:54] mangelajo commented on #717
@sridhargaddam one option could be using the cidrs... and only cleanup when src or dst is a CIDR that we know about as for a remote cluster.

[2020-07-16 12:26] sridhargaddam commented on #717
Yeah, this should be possible. The other option is to see if we can use some marking (XfrmMark) on the flows programmed by the CableDriver and delete policies that match the mark and skip other policies.

[2020-07-16 12:45] OKyHb commented on #717
<details>
  <summary>Weave Net cluster with encryption:</summary>

[code]
[code]
[code]
[code]

[2020-07-16 13:04] sridhargaddam commented on #717
thanks @OKyHb for sharing the details. I see that weavenet is using `mark 0x20000/0x20000`. If we can do something similar with our CableDrivers (but use a different mark), we can easily address this issue.

The other option discussed above where we wanted to delete policies based on the subnets, will not work because Strongswan/Libreswan also program policies as shown below, where 172.17.0.10/32

[2020-07-17 09:39] mangelajo commented on #717
You are right about the /32 /32 used in IPSec too but we can probably figure out those are ours.

A mark would be much easier if we can ask libreswan/strongswan to use a mark

[2020-07-19 07:38] manosnoam opened #726 "Globalnet pod in error state after joining clusters"
After joining clusters, Globalnet pod status is _ERROR_ or _CrashLoopBackOff_.
This is a sporadic error, which happens once in a while on a new Submariner deployments:

https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submariner-OSP-AWS/755/Test-Report/
https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/debug_job/36/Test-Report/

**What happened**:

Deploying and joining cluste

[2020-07-20 06:52] sridhargaddam commented on #726
Thanks for reporting the issue @manosnoam

The logs seem to correspond to a successful run. Also, it is not clear from the above logs if the Pod went into "Error" state due to Globalnet-issue or non-globalnet-issue (i.e., error while downloading image, or transient errors while bringing up the pod etc).

  submariner-globalnet:
    Container ID:   cri-o://39cf79c1bbffa5726d67f7ecf2e0856ecbe6d4c5f0

[2020-07-20 09:19] pinikomarov opened #730 "setup pkomarov credentials to be able to test functional downstream CI with asw/ocpoosp on jenkins"
setup pkomarov credentials  to be able to test functional downstream CI with asw/ocpoosp on jenkins

[2020-07-20 09:20] pinikomarov commented on #730
three files to add to jenkins multicluster :
1) ocp install config aws template
2) ocp install config osp template
3) vars and creds general template:subm_variables

[2020-07-20 09:25] pinikomarov opened #731 "Create doc : submariner tests overview : all tests by group and feature"
WIP at :
https://docs.google.com/document/d/1zoERBFHeiZHuxc4vAjC5RXGehBDXjZgBFBpkAMMj8Ps/edit#

[2020-07-20 14:14] manosnoam commented on #640
This is related to https://github.com/submariner-io/submariner-website/issues/191

I'm reopening this bug for review by QE.

@aswinsuryan , @vthapar , @sridhargaddam
as discussed with @nyechiel and the team, please do not close my bugs (or other UX bugs).
Instead, add label "**QE**", and **assign to me** - I will review and close.

Thanks!

[2020-07-20 15:37] tpantelis commented on #647
This is labeled as part of the 0.5.0 project.  Has it been completed or should it be moved to 0.6.0?

[2020-07-20 16:06] sridhargaddam commented on #726
Okay, I was able to reproduce this issue locally by installing ONLY submariner-globalnet pod and disabling other Pods (particularly submariner-gateway pod).

**Basically the following is happening:**
During the installation phase (aka when join command is issued), typically all the Submariner pods would be initialized in parallel. Submariner-gateway Pod, being one of them, is responsible for creat

[2020-07-20 16:15] manosnoam commented on #726
Thanks @sridhargaddam

If there's an option to change the logic, so it would not show Error on Globalnet pod during installation, it will be great.

In my experience, when later, users look for error causes on any issue, they may find this false Error alert, if digging in pods logs.

If this is too complected/overhead to fix, we can ignore it.

[2020-07-20 19:15] vthapar opened #732 "Globalnet changes to support Headless Services"
**What would you like to be added**:
Globalnet changes to support headless services

**Why is this needed**:
Support for Headless services will be added to lighthouse in 0.6.0 This requires pod IPs to be reachable across clusters. Currently globalnet only annotates services with globalIP on the ingress side. To support Headless Services it will need to annotate pods behind a Headless Service too.

[2020-07-20 20:31] #694 closed

[2020-07-21 09:43] sridhargaddam commented on #726
There are a few things we can do

1. Modify subctl/operator to install Globalnet only after Submariner Gateway initializes.
2. Modify Globalnet Controller to listen for ClusterCRD events and initialize itself only after one is present. Unfortunately, this is not a trivial change and has to be done carefully. If we want to pursue this approach IMHO we can keep this issue open and treat this issue a

[2020-07-21 09:47] sridhargaddam commented on #726
I'm in **favor of Option3** above, as its easy to implement, will not increase startup time during happy-path and less chances for any regressions.

[2020-07-21 10:04] manosnoam commented on #647
Moving to 0.6.0, as LibreSwan does not yet work with non default ports:
https://github.com/submariner-io/submariner/issues/683

[2020-07-21 12:06] sridhargaddam opened #734 "Modify updateStrategy for Route-agent Pods"
**What happened**:
Currently, the updateStrategy for Route-agent pods is set to RollingUpdate with maxUnavailable as 1.
Because of this, when the route-agent DaemonSet is updated, the Pods are updated one after the other.
While the rolling update strategy is good for user-facing services, for route-agent DaemonSet it's not the most suitable one as it takes a long time for all the route-agent pods

[2020-07-22 06:55] manosnoam opened #736 "AWS: All submariner-routeagent pods got into CrashLoopBackOff"
**What happened**:

Right after a new submariner deploy and join, I see:

[code]

In routeagent pods logs I see:

[code]

This issue is reproduced, so it's a blocker.

Please see full test report, including pod logs collection (last step):

- https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/debug_job/103/Test-Report/
- https://qe-jenkins-csb-skynet.cloud.paas.psi.redhat.com/job/Submarin

[2020-07-22 07:51] manosnoam commented on #736
According to @sridhargaddam this bug is related to recent change:
 https://github.com/submariner-io/submariner/pull/729

Its something to do with hostnames. Which are constructed in a different manner on **AWS** only (it does not occur on OSP).
Basically its a new issue and looks like we did not validate hostNetworking to remoteService use-case where the sourcePod was on AWS Cluster.

[2020-07-22 13:23] sridhargaddam commented on #736
On AWS Clusters, it was seen that nodes are named with FQDN (i.e., hostname.domainname). However, on many of the other
K8s clusters we tested so far (like KIND, OSP etc), the hostnames were matching with the nodeNames.

In order to support connectivity from HostNetwork to remoteClusters (when using Globalnet), routeagent Pod annotates the respective nodes with the cniIfaceIP annotation. In the cur