[2022-01-24 21:00] dberg1 commented on #1652
@yboaron I think it gets set to "Calico" by `discoverOpenShift4Network` in https://github.com/submariner-io/submariner-operator/blob/fb8988c11a9521506926a3ea3f431a2422c7b63a/pkg/discovery/network/network.go#L110
and
https://github.com/submariner-io/submariner-operator/blob/fb8988c11a9521506926a3ea3f431a2422c7b63a/pkg/discovery/network/openshift4.go#L93
based on:
[code]
`discoverCalicoNetwork` is n

[2022-01-24 21:01] dberg1 commented on #1652
So for OpenShift, we still need to recognize "Calico" as "calico" because `discoverCalicoNetwork` is not actually called.

[2022-01-25 10:20] yboaron commented on #1652
Haa, nice catch!
In that case, I think we should handle that in the operator auto-discovery code.

[2022-01-25 13:50] yboaron commented on #1652
https://github.com/submariner-io/submariner-operator/pull/1802 should address this issue:

[2022-01-25 15:38] github-actions[bot] opened #1678 "Broken link detected by periodic linting"
Periodic link aliveness CI detected a broken link.

Please check the [Periodic workflow](https://github.com/submariner-io/submariner/actions?query=workflow%3APeriodic).

[2022-01-26 15:48] yboaron commented on #1421
I also think this issue is not specific to Submariner.
It is about allowing pod that runs in host networking (like the kube-apiserver in your case) to use clusterDns entries.
AFAIK, Kubernetes supports this capability also for pods that run in host networking, check [1].

I checked kube-apiserver pod (in OCP 4.10 nightly) and it seems that kube-apiserver pod dnsPolicy is set to 'ClusterFirst' [2]

[2022-01-27 17:25] anfredette commented on #1674
Re: @dfarrell07's comment, here is the list:
- [x] anfredette, Andre Fredette
- [x] Billy99, Billy McFall
- [x] nerdalert, Brent Salisbury
- [x] davidohana, David Ohana
- [x] donaldh, Donald Hunter
- [x] elevran, Etai Lev Ran
- [x] maryamtahhan, Maryam Tahhan
- [x] srampal, Sanjeev Rampal
- [x] stflaherty, Stephen Flaherty
- [x] astoycos, Andrew Stoycos
- [x] kot-begemot-uk, Anton Ivanov
- [x] sds

[2022-01-28 03:42] nerdalert opened #1679 "nat-t port 4500/udp not cleaned up creates issue when swapping cable drivers"
**What happened**:

Looks like the vxlan cable driver is binding `vxlan-tunnel` interface to the well known port `4500` used for NAT-Treaversal and IKE negation when two peers are natted in an IPSec deployment.

The problem this creates is if a user switches from the vxlan cable driver to the ipsec cable driver without rebooting, the `vxlan-tunnel` interface is still bound by the kernel to 4500 an

[2022-01-28 04:03] tpantelis commented on #1679
The aforementioned [epic](https://github.com/submariner-io/enhancements/issues/50) is around uninstalling submariner. By "_switch to the ipsec driver_" I assume you re-ran `subctl join`? If so then that will delete and recreate the `Submariner` resource which will [invoke the uninstall process](https://github.com/submariner-io/submariner-operator/pull/1803) in the [gateway engine](https://github.c

[2022-01-28 04:20] nerdalert commented on #1679
Hi @tpantelis yeah, switching meant rejoining with a new driver type, or tearing down the entire k8s stack would also result in a ghost interface(s) left over. Looks like you're all over it. Feel free to close the bug or if you want it open to track with your PR. Thanks.

[2022-01-28 13:14] sridhargaddam commented on #1679
I feel lets keep this open so that we can ensure that we test this use-case (after adding the necessary support). Once we find that its working, we can close it.

[2022-01-28 13:17] sridhargaddam commented on #1679
@tpantelis We normally want the `subctl join ...` commands to be idempotent. If the user is re-running the command with the same flags/configuration, we should not trigger the cleanup. Hope we are on the same page?

[2022-01-28 13:47] tpantelis commented on #1679
Ideally we shouldn't. `subctl join` does `CreateAnew` with a foreground delete and I don't see anywhere it checks if the old and new `Submariner` differ so it looks like `subctl join` will always recreate the daemonsets (@skitt). This is regardless of the dataplane cleanup being added.

[2022-01-28 14:43] skitt commented on #1679
That’s right, we always re-deploy the operator. The other deployments shouldn’t be affected though, and the new operator will re-parent them.

[2022-01-28 15:07] tpantelis commented on #1679
I'm not sure I follow. By "_other deployments_", I assume you mean the **gateway**, **route-agent** `DaemonSets` et al? `subctl join`  always [ensures](https://github.com/submariner-io/submariner-operator/blob/95df655c17c47445683cc60ff7db49f8ebc18ef2/pkg/subctl/cmd/join.go#L281) the `Submariner` CR exists, which does `CreateAnew` instead of the usual `CreateOrUpdate` so every time it will delete a

[2022-01-29 17:03] nyechiel commented on #1678
@dfarrell07 did not you fix it already? https://github.com/submariner-io/submariner/pull/1671/files

[2022-01-29 17:07] github-actions[bot] opened #1681 "Broken link detected by periodic linting"
Periodic link aliveness CI detected a broken link.

Please check the [Periodic workflow](https://github.com/submariner-io/submariner/actions?query=workflow%3APeriodic).

[2022-01-30 08:05] yboaron commented on #1642
IIUC, there are two separate issues here:
1. add support for flannel plugin discovery (currently flannel discovered as generic)
2. wrong pod cidr is retrieved when Submariner discovered flannel as generic plugin.

'2' is tracked at https://github.com/submariner-io/submariner-operator/issues/1730.
As per '1', I think we should handle it as a feature/enhancement request and not a bug.

[2022-01-31 07:35] palanik1 commented on #1674
@anfredette i have tfa enabled

[2022-01-31 09:09] wdrdres3qew5ts21 commented on #1652
I see so in next version which is v0.12.0 will be fixed this problem right ? Currently I install from latest Bash script from your website it will be `v0.12.0` in my IBM Cloud with ROKS also facing same problem too.
![image](https://user-images.githubusercontent.com/25000903/151766609-e918c958-f6a5-421d-b862-b24df3baf581.png)

[2022-01-31 09:13] praveingk commented on #1674
I have 2fa enabled
________________________________
From: Andre Fredette ***@***.***>
Sent: Thursday, January 27, 2022 10:55:30 PM
To: submariner-io/submariner ***@***.***>
Cc: Pravein Govindan Kannan ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [submariner-io/submariner] REQUEST: New membership request for anfredette (Issue #1674)

Re: @dfarrell07's comment, here is the list: Billy9

[2022-01-31 10:06] sridhargaddam commented on #1679
Yes, when `subctl join ...` is executed all the DaemonSets get restarted. So the question is, do we want the `un-installation` to be triggered as part of this operation or should it be triggered ONLY when explicitly specified by the user?

[2022-01-31 10:15] skitt commented on #1679
Right, I got things mixed up, and my previous comment was incorrect. The operator _doesn’t_ get redeployed, but everything else does.

[2022-01-31 12:38] tpantelis commented on #1679
I'm not sure there's anyway the operator can tell the difference. Besides, I think the bigger issue is that we're re-installing the regular DaemonSets and possibly causing disruption. I think we should have `CreateAnew` compare the new and previous and only recreate if changed.

[2022-01-31 13:21] sridhargaddam commented on #1679
In some of the components (like gateway, globalnet etc) we don't perform cleanup when the Pod gets restarted as the Pod might be restarted for various reasons and as much as possible, we want to avoid disrupting the data-path. So, we should find a way to instruct the pod explicitly that a cleanup is necessary. Can we do this?

[2022-01-31 14:03] tpantelis commented on #1679
The plan is to create a `DaemonSet` that passes an UNINSTALL env var to the pods.

[2022-01-31 14:11] sridhargaddam commented on #1679
Cool.

[2022-01-31 14:13] anfredette commented on #1674
@skitt @sridhargaddam @dfarrell07 The list is ready to go.  Thanks.

[2022-01-31 20:23] dfarrell07 commented on #1674
Great, thanks @anfredette and others! Please take a look @skitt, @tpantelis, @sridhargaddam.

[2022-01-31 20:33] dfarrell07 commented on #1674
I guess I can count as a sponsor actually, it's open to Code Owers for any repo not just overall Owners and I think I've interacted with everyone on the list (at least in the same meetings/discussions).

+1

[2022-02-01 11:37] yboaron commented on #1674
Can I join the list?
I have enabled 2FA in my GitHub account.
yboaron, Yossi Boaron

[2022-02-01 13:18] sridhargaddam commented on #1674
+1

[2022-02-01 22:57] srampal opened #1685 "Investigation/ potential enhancement: Test/ PoC multi-cluster ingress with Submariner"
**Ideally Submariner should support and complement Multi-cluster ingress load balancing use cases. This issue is a tracker to research and test the current functional readiness of Submariner + multi-cluster ingress in various use cases. Based on the results of this testing if gaps are found, additional issues may be needed in future.**:

**Why is this needed**:
Upstream k8s community is proposing

[2022-02-01 22:58] srampal commented on #1685
@dfarrell07  You can assign this to me .. I am working on testing this functionality.

[2022-02-07 09:13] dberg1 commented on #1670
In IBM Cloud VPC, there is an option named "Allow IP spoofing" that you can enable on a per-VSI basis.
This option is not available for OpenShift VSIs though.
But at least, it seems to indicate that this anti-spoofing is enabled by default which could explain why the SYN+ACK is blocked.
![image](https://user-images.githubusercontent.com/48122102/152758764-7d89ac58-ec92-47f4-9d4d-4b1f97d76a7d.png)

[2022-02-07 10:13] dberg1 commented on #1670
https://cloud.ibm.com/docs/vpc?topic=vpc-ip-spoofing-about

This would mean that the anti-spoofing must be disabled on the submariner gateway node.
Will check with IBM support if this is doable.

[2022-02-07 14:21] dberg1 commented on #1670
I may have found a possible workaround.
Setting `ipipMode: Always` (instead of `CrossSubnet`) in IPPool `default-ipv4-ippool` seems to work around the issue by encapsulating all the traffic from the submariner gateway node in Cluster B to node2 (including the SYN+ACK) in an IP-in-IP tunnel such that it is not dropped by IBM Cloud VPC.
This is a bit of an overkill though as it impacts all the commu

[2022-02-07 14:42] skitt commented on #1674
All the listed accounts (including @yboaron) have been invited to join the Submariner organisation and member team. Welcome!

[2022-02-07 14:42] #1674 closed, assigned to skitt

[2022-02-07 14:45] dberg1 commented on #1670
With `ipipMode: Always` we can circumvent IBM Cloud VPC security checks on `eth0`:

[code]

[2022-02-07 18:30] mkimuram opened #1688 "REQUEST: New Membership request for mkimuram"
### GitHub Username
@mkimuram

### Requirements
- [x] I have reviewed the contributor roles guidelines (https://submariner.io/community/contributor-roles/)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the submariner-dev e-mail list (https://groups.google.com/forum/#!forum/submariner-dev)
- [x] I have multiple contributions to Subma

[2022-02-07 18:42] sridhargaddam commented on #1688
+1 approved

[2022-02-07 22:59] dfarrell07 commented on #1688
+1, thank you @mkimuram for all of your quality contributions since nearly the beginning of the project! :+1:

[2022-02-08 08:24] skitt commented on #1688
Invite sent, welcome @mkimuram!

[2022-02-08 08:24] #1688 closed, assigned to skitt, sridhargaddam, tpantelis

[2022-02-08 14:23] dfarrell07 commented on #1115
This part is done now, thanks to Stephen! :partying_face:

There's still more we could do, maybe @skitt can provide details.

[2022-02-08 16:32] howardjohn opened #1690 "imported EndpointSlices missing `multicluster.kubernetes.io/service-name` label"
**What happened**:

Created ServiceExport. Endpointslice is created like:
[code]

**What you expected to happen**:

 `multicluster.kubernetes.io/service-name` label is added, per https://github.com/kubernetes/enhancements/tree/master/keps/sig-multicluster/1645-multi-cluster-services-api#importing-services

[2022-02-09 08:57] morvencao commented on #1421
thanks @yboaron for the investigation.
MWC that points to a local service does work, a simple example is the istio sidecar injector, see:
[code]
If you install openshift service mesh in OCP, the application pod will be injected with sidecar container, that indicates the WMC is working.

My OCP version is 4.9 and  kube-apiserver pod dnsPolicy is set to `ClusterFirst` too.
[code]

I'm not familiar w

[2022-02-09 15:00] mangelajo commented on #1615
Hey, @skitt and @tpantelis you were both admins. I also added @sridhargaddam .

Can you verify, and then feel free to drop miguelangel <at> ajo.es and majopela <at> redhat.com ? :)

cheers, and take care

[2022-02-09 15:51] yboaron commented on #1421
Hmmm, as I mentioned I'm not familiar with WMC, assuming that service name resolution for WMC runs in the context of kube-api, it isn't clear to me how it works.

I just checked OCP (BM-IPI) environment and it seems that local service names can not be resolved from kube-api, check [1].

Can you please share the output of the below command from your env?

[1]
[kni@localhost ~]$ kubectl exec -n open

[2022-02-09 16:31] skitt commented on #1615
Thanks for checking @mangelajo. I suspect the problem I have is that Google Groups for groups outside Red Hat isn’t accessible with our Red Hat accounts — so we can’t manage them with out Red Hat accounts... Could you add my personal account? I’ll email you the details.

[2022-02-10 04:12] srampal commented on #1685
Test 1

1) Tried testing this with Istio and its implementation of the K8s Gateway API on two Kind clusters. It looks like the ServiceImport BackendRef is not supported on Istio's implementation of K8s Gateway API currently so this is not ready to get tested in that manner.  However I did determine that using the Istio IngressGateway API instead, one can achieve a form of multi-cluster ingress loa

[2022-02-10 13:07] mangelajo commented on #1615
Let me try, I was using my RH account I believe, but it's worth trying.

[2022-02-10 14:09] mangelajo commented on #1615
It's done, let me know how it goes.

[2022-02-11 16:36] anfredette opened #1693 "Globalnet does not work for services without selector"
**What happened**:
Created a service without selector and it was not reachable from another cluster in the clusterset.

**What you expected to happen**:
That the service be reachable from anywhere in the clusterset

**How to reproduce it (as minimally and precisely as possible)**:
- Create a service w/o selector
- Manually create a pod endpoint for the service
- Confirm that it is accessible on th

[2022-02-12 01:16] mkimuram opened #1694 "Service without selector needs endpoints for internal service"
**What would you like to be added**:
Support globalnet for service without selector.

**Why is this needed**:
With https://github.com/submariner-io/submariner/pull/1643, iptables rule to forward to kube-proxy chain for service is removed, instead forwarding to globalIngressIP to endpoints is offloaded to externalIP feature of the Service, by creating internal service. Endpoints of the service __wi

[2022-02-14 12:56] sridhargaddam commented on #1693
This is still relevant. The PR from @anfredette addresses the LH/ServiceDiscovery use-cases.

[2022-02-15 13:56] dfarrell07 commented on #1297
To update here, we're still waiting on SUSE to send the trademark transfer docs to the CNCF. I've been periodically pinging @Oats87 to check in, and he's been pinging SUSE Legal in turn. They are aware of the issue and seem to want to make progress, but clearly are not making good progress.

[2022-02-15 14:08] skitt commented on #1385
The initial reasoning behind this issue was that the route agent needs to be able to write to `/proc/sys`, and that moving that to an init container would allow the privileges for the main container to be reduced. However the agent also needs to be able to set tunnels up, so this wouldn’t be sufficient to reduce privileges.

[2022-02-15 14:08] #1385 closed, assigned to nobody

[2022-02-15 14:23] dfarrell07 commented on #907
Talking on the PR/Issue scrub, this is something we might be able to get budget for once we go Incubation in the CNCF. Also, Red Hat is testing this downstream. Happy to do this eventually, but not something we see a way to do soon.

[2022-02-15 14:23] #907 closed

[2022-02-15 14:43] dfarrell07 commented on #794
The CNCF has some partnerships we might be able to leverage here.

[2022-02-15 14:45] dfarrell07 commented on #794
@Jaanki mentioned there's a tool Polaris that might be useful here. Something like: https://github.com/devsecops-test/polaris-action

[2022-02-15 14:50] dfarrell07 commented on #675
We think this is tracked elsewhere but can't find the Issue live on the Issue scrub.

[2022-02-15 14:59] dfarrell07 commented on #533
Related: https://github.com/submariner-io/enhancements/pull/4

[2022-02-15 15:00] dfarrell07 commented on #675
Related: https://github.com/submariner-io/enhancements/pull/4

[2022-02-15 15:48] anfredette commented on #1693
I didn't intend to close this issue per comment from @sridhargaddam.  I am reopening it again.

[2022-02-17 17:38] nyechiel commented on #1471
@maayanf24 @sridhargaddam anything else planned for 0.12 here or can we close this issue?

[2022-02-17 17:41] nyechiel commented on #1166
@sridhargaddam I think this can be closed now? If there are any remaining work items (like docs), let's make sure they are being tracked separately.

[2022-02-17 17:52] nyechiel commented on #1679
@tpantelis @sridhargaddam so are we thinking the this issue will get resolved as part of the uninstall work?

[2022-02-17 17:54] nyechiel commented on #326
@skitt can this be closed now or is there anything else needed?

[2022-02-17 18:24] tpantelis commented on #1679
I think it should as part of the dataplane cleanup - I'll let @sridhargaddam verify.

[2022-02-17 18:42] dfarrell07 commented on #1678
@nyechiel Yes this seems to be fixed, the periodic job on this repo has passed the last three weeks. https://github.com/submariner-io/submariner/actions/runs/1835239165

[2022-02-17 18:42] #1678 closed, assigned to nobody

[2022-02-17 18:43] dfarrell07 commented on #1681
This is fixed, the periodic tests have passed for the last 3 weeks.

[2022-02-17 18:43] #1681 closed, assigned to nobody

[2022-02-17 18:43] dfarrell07 commented on #1675
This is fixed, the periodic tests are passing.

[2022-02-17 18:43] #1675 closed, assigned to nobody

[2022-02-17 18:44] dfarrell07 commented on #1663
This is fixed, the periodic tests are passing.

[2022-02-17 18:44] #1663 closed, assigned to nobody

[2022-02-17 19:55] sridhargaddam commented on #1166
Sure @nyechiel

[2022-02-17 19:55] #1166 closed, assigned to sridhargaddam

[2022-02-21 07:46] maayanf24 commented on #1471
This PR is in progressL https://github.com/submariner-io/submariner/pull/1687#pullrequestreview-885888241

[2022-02-21 08:30] sridhargaddam opened #1699 "Enhance subctl diagnose to validate issues with Globalnet deployment"
**What would you like to be added**:

Currently, `subctl diagnose ...` validates few things related to CNI, kubeproxy mode, firewall config etc. We can enhance the subctl diagnose code to verify if Globalnet objects are properly created and matching with the expected configuration.

For example:
1. Is the clusterGlobalEgressIP object present in a globalnet enabled cluster.
2. For every globalEgres

[2022-02-21 08:33] sridhargaddam opened #1700 "Enhance subctl gather to collect Globalnet objects"
**What would you like to be added**:
As part of `subctl gather ...` command, we can collect the necessary globalnet objects like clusterGlobalEgressIPs, globalEgressIPs, globalIngressIPs etc.

Also, for every exported service, globalnet now creates an internal service with external_ip configured with the corresponding globalIP assigned to the exported service. Capturing the details of `internal se

[2022-02-21 13:55] nyechiel commented on #1625
@josecastillolema how important this is for you? We have other priorities at the moment, so unless this is blocking your work, I wanted to suggest that we follow up on this as part of our next version (Submariner 0.13)

[2022-02-21 13:59] josecastillolema commented on #1625
No problem @nyechiel just wanted to make sure to write this down so we can track it.
Thanks

[2022-02-21 14:04] skitt commented on #326
I’m trying to check, but `make deploy` no longer works for me, I need to fix that first.

Ideally we’d _only_ use secrets to close this issue, but that has to wait for 0.13; perhaps we can track that as a separate issue.

[2022-02-21 14:06] skitt commented on #925
https://github.com/submariner-io/shipyard/pull/723 allows us to publish ARM images; we’ll still need to fix up some projects.

[2022-02-21 15:12] nyechiel commented on #1421
@yboaron any progress on this?

[2022-02-21 15:18] nyechiel commented on #1631
@luis5tb can you review the questions from Sridhar, please?

[2022-02-21 16:06] nyechiel commented on #1600
FWIW, this is what I get now out of the `submariner-operator` repo using Fedora 34:

[code]

[2022-02-21 16:07] nyechiel commented on #1600
@mkolesnik are you planning to look at this?

[2022-02-22 03:51] nerdalert commented on #1642
Took a stab at Flannel discovery with in [#1850](https://github.com/submariner-io/submariner-operator/pull/1850) in operator

[2022-02-22 03:57] nerdalert commented on #1700
@sridhargaddam  Happy to run with this one if it helps

[2022-02-22 05:13] sridhargaddam commented on #1700
That would be awesome @nerdalert, thank you. If you need any inputs related to this task, please let me know. Feel free to assign this issue when you start looking into it.

[2022-02-22 07:23] mkolesnik commented on #1600
It has never been a capability on operator, but I can add it if desired.

[2022-02-22 08:24] yboaron commented on #1421
Well, we don't 100% understand how service names resolved in the context WMC (I asked the kube-api experts on slack but got no answer :-( ), resolving local k8s service from kube-apiserver pod failed also at @morvencao environment while WMC pointing to local service is working.

If we want to be 100% sure it's not a Submariner issue, we can reproduce WMC with local service and clusterset service a

[2022-02-22 08:27] nyechiel commented on #1600
I don't have a strong need for that, I was just expecting it to work across all repos as a shared script. Speaking of which, I see that we don't have this capability documented anywhere in the website. Should probably go under https://submariner.io/development/building-testing/?

[2022-02-22 08:28] luis5tb commented on #1631
Sorry I missed the reply here.
For 1, yes, configuring EBS solved the problem for us.
For 2, I think having EBS unconditionally could not be the right option always. Either this needs to be "a prompt question" or as you suggest, copying the same as the other worker nodes. In fact, related to that, what must be added to is a note on the "subctl cloud prepare aws" to ACK that a new node/VM is going

[2022-02-22 08:33] nyechiel commented on #1642
Thanks @nerdalert! As we are entering the final stages of the 0.12 cycle and this issue is not urgent AFAICT, is it ok if we defer this to 0.13? Just trying to make sure we meet our 0.12 priorities first. /cc @sridhargaddam @skitt FYI

[2022-02-22 08:51] mkolesnik commented on #1600
This script was only available in `submariner` and `lighthouse` but as a shared script it is possible to make it work across other repos, they just need a small tweak each (how cluster settings are loaded, and images to preload). I feel this would mostly be useful in those repos that generate the images though.

I can add documentation but the script was added a long time ago so it's not really re

[2022-02-22 08:56] nyechiel commented on #1600
Yes, I raised this separate docs issue: https://github.com/submariner-io/submariner-website/issues/677

[2022-02-22 10:19] morvencao commented on #1421
Hi @yboaron
For my example, I just installed openshift service mesh following the guide: https://docs.openshift.com/container-platform/4.6/service_mesh/v2x/preparing-ossm-installation.html
After deploy openshift service mesh, it will created a MutatingWebhookConfiguration named `istiod-basic-istio-system` that points to a local k8s service, it is used to inject istio sidecar to pod. If you try to

[2022-02-22 10:24] skitt commented on #326
Everything that should be in a secret is now in a secret; I’ve filed https://github.com/submariner-io/submariner-operator/issues/1869 to ensure we remove the non-secret occurrences in 0.13.

[2022-02-22 10:24] #326 closed

[2022-02-22 10:28] nyechiel commented on #326
@skitt anything we should update in our docs to reflect these changes?

[2022-02-22 10:42] skitt commented on #326
We don’t describe this in the docs currently, I’ve filed https://github.com/submariner-io/submariner-website/issues/678 to make sure we don’t forget to change this situation (but it’s not required for 0.12 IMO, it’s only liable to create problems once we drop support for the non-secret variants).

[2022-02-22 16:26] #1694 closed, assigned to mkimuram

[2022-02-22 17:02] #1600 closed, assigned to mkolesnik

[2022-02-22 17:55] #1637 closed, assigned to sridhargaddam, tpantelis

[2022-02-22 20:41] nerdalert commented on #1642
Sounds good @nyechiel! Generic discovery covers the functionality for now. I mentioned in the PR for flannel discovery it is post v0.12. Maybe I should have put v0.13 instead.

[2022-02-23 04:05] nerdalert commented on #1700
Hi @sridhargaddam, going through the gather code and it looks like it is already implemented in the [subctl gather](https://github.com/submariner-io/submariner-operator/blob/06c4fd8b19a8da241fdf31f1595889656049b860/pkg/subctl/cmd/gather/gather.go#L198-L200).

I double checked it in the gather output as well:

![gather-ingress](https://user-images.githubusercontent.com/1711674/155259478-8c69b826-eb

[2022-02-23 07:42] yboaron commented on #1421
Thanks for the info @morvencao ,

Yes, maybe the service mesh is too complicated scenario to reproduce this problem,
I will check for a simpler scenario of MutatingWebhookConfiguration,

If you know of a simpler option I would very much appreciate it if you can share it

[2022-02-23 08:32] sridhargaddam commented on #1700
Thank you @nerdalert for looking into it. Yes, you are right we are capturing these objects as part of gather. The following alone is missing.

For every exported service, globalnet now creates an `internal service` with `external_ip` configured with the corresponding `globalIP` assigned to the exported service. Can you please add code to capture the internal services for every exported service.

[2022-02-23 15:17] mkolesnik commented on #1600
Added support for operator as well https://github.com/submariner-io/submariner-operator/pull/1874

[2022-02-23 19:37] #1635 closed, assigned to sridhargaddam, tpantelis

[2022-02-24 04:49] nyechiel commented on #1679
@sridhargaddam can you comment on this issue? are you going to address it as part of the cleanup work?

[2022-02-24 11:20] sridhargaddam commented on #1679
Yes @nyechiel, I will look into it as part of dataplane cleanup.

[2022-02-25 20:12] anfredette commented on #1693
This was fixed by the following two PRs:
https://github.com/submariner-io/submariner/pull/1695
https://github.com/submariner-io/submariner-operator/pull/1845

[2022-02-25 20:12] #1693 closed, assigned to sridhargaddam

[2022-02-28 07:25] sridhargaddam commented on #1537
Removed this from the Project board as we are tracking the corresponding PR.

[2022-02-28 11:06] nyechiel commented on #1679
Should be covered by the recent datapath cleanup work, but this needs to be tested.

[2022-02-28 14:36] #1700 closed, assigned to nerdalert

[2022-02-28 15:19] nyechiel commented on #1679
There seems to be a valid bug here. Related Slack thread: https://kubernetes.slack.com/archives/C010RJV694M/p1646061293066379

[2022-03-01 13:43] #1471 closed, assigned to maayanf24

[2022-03-01 15:36] #1636 closed, assigned to sridhargaddam, tpantelis

[2022-03-01 15:42] sridhargaddam commented on #1679
When switching between the cable-drivers, submariner-operator is scheduling the uninstall and the new Pods in parallel.
Steps to reproduce:
In Submariner repo
1. make deploy using=libreswan
2. Wait for the clusters to be successfully deployed.
3. make deploy using=vxlan

![uninstall-error](https://user-images.githubusercontent.com/6574656/156199857-28844172-a346-4cc1-89a0-6ca965cf3b48.jpg)

[2022-03-01 16:08] tpantelis commented on #1679
The operator waits for the uninstall `DeamonSet` to be ready then deletes it so the pods may linger for a bit after the `Submariner` deletion completes depending on how long it takes K8s to GC them.  I assume this is what you're seeing or are you actually seeing an issue?

[2022-03-01 16:31] sridhargaddam commented on #1679
The uninstall pods are running for ever. If you look at the top-right side of the image, you can see the Age 4m,18sec for Uninstall pods and 4ms,17secs for normal Pod. So the operator has scheduled the regular pods immediately after scheduling the uninstall pods without waiting (or the 2 mins max threshold) for it to complete its execution.

[2022-03-01 16:42] tpantelis commented on #1679
Does the uninstall daemonset still exist? If not, then the pods should be cleaned up by K8s. The operator only removes the finalizer after the uninstall daemonsets are deleted. Until then a new `Submariner` instance cannot be created in order to create new regular daemonsets. I suggest looking at the operator log. This process is working correctly and verified in the E2E test so I don't know what

[2022-03-02 20:21] sridhargaddam commented on #1679
Yes. The uninstall daemonSet are never deleted.

Agree, but that's not the case here.

I tried to spend sometime today to look at the flow and some observations are
1. [Reconcile method](https://github.com/submariner-io/submariner-operator/blob/90e342b59a04f16a80e79621514ef386dd586be4/controllers/submariner/submariner_controller.go#L125) is getting invoked pretty frequently.
2. When we re-run the

[2022-03-03 00:13] tpantelis commented on #1679
OK thanks - that points to the issue. I think we should not invoke `runComponentCleanup` if the finalizer doesn't exist - that should close that timing window.  I do have things going on the next couple days on PTO but I can try to push a PR.

[2022-03-03 08:19] lut777 opened #1715 "The logical for selecting vxlan interface needs to be optimised"
**What would you like to be added**:

I'm trying to deploy submarine into my K8s system, which is built based on [Kube-OVN](https://github.com/kubeovn/kube-ovn).
However, there is a logical problem which needs to be optimized.
Currently in this [function](https://github.com/submariner-io/submariner/blob/f40880e523d3201c5dcd3648079b798134ef52cc/pkg/routeagent_driver/cni/cni_iface.go#L50) , the way

[2022-03-04 12:43] tpantelis commented on #1679
Submitted https://github.com/submariner-io/submariner-operator/pull/1899.

[2022-03-04 13:23] skitt opened #1718 "On OpenShift, none of the Globalnet metrics show up"
I set up three clusters (one broker, two joined clusters) running OpenShift, and installed Submariner with Globalnet. This can be confirmed by looking at the Cluster objects:

[code]

However, none of the Globalnet metrics show up in OpenShift monitoring:

![Screenshot from 2022-03-04 14-22-06](https://user-images.githubusercontent.com/2128935/156770942-7a14f312-1ddf-4707-a984-74ea870beca4.png)

[2022-03-04 17:48] astoycos commented on #383
I should be able to implement this relatively easily following the merging of https://github.com/submariner-io/submariner/pull/1689

Adding NAT's to the submariner router is mechanism I would use for now.

[2022-03-05 10:23] sridhargaddam commented on #1679
I verified couple of scenarios switching the cable-drivers and also re-running the `make deploy` with same drivers and confirm that the issue is fixed. Thanks @tpantelis

[2022-03-07 14:20] sridhargaddam opened #1719 "Uninstall:: MTU flows needs to be removed"
Submariner Route-agent programs some iptable rules to clamp tcp mss to fix MTU issues. Currently after running the uninstall command, these rules are still present on the node.

[2022-03-07 15:36] yboaron opened #1720 "Relevant postrouting iptables rules on cluster1 not being deleted after subctl uninstall cluster2"
**What happened**:
Postrouting iptables rules on cluster1 allowing traffic to cluster2 subnets not removed
 after running  'subctl uninstall Cluster2'

**What you expected to happen**:
Relevant iptables rules should be deleted

**How to reproduce it (as minimally and precisely as possible)**:
1. Run Kind deployment (https://submariner.io/getting-started/quickstart/kind/), where cluster1 is also th

[2022-03-07 18:08] #1679 closed, assigned to sridhargaddam

[2022-03-07 19:50] sridhargaddam commented on #1720
Thanks @yboaron for reporting the issue and capturing the logs. I will take a look at it.

[2022-03-08 13:19] dfarrell07 commented on #925
It seems like we're not trying to get this merged soon (https://github.com/submariner-io/shipyard/pull/723#issuecomment-1056543161), so should we move this off the 0.12 board?

[2022-03-08 14:10] nyechiel commented on #1718
Not going to be fixed for 0.12.0. I have opened https://github.com/submariner-io/submariner-website/issues/703 to ensure we document this as a known issue for now.

[2022-03-08 14:12] #1720 closed, assigned to sridhargaddam

[2022-03-08 14:46] #1719 closed, assigned to sridhargaddam

[2022-03-09 08:30] sridhargaddam commented on #1718
Globalnet pod exposes metrics on [TCP/8081](https://github.com/submariner-io/submariner/blob/ba449531a369f27541a3d9fcd197e77868c9aac7/pkg/globalnet/main.go#L144) and this port is not configured as part of cloud_prepare, hence we are  unable to see the Globalnet metrics. When I manually opened the port, I am able to see the metrics supported from Globalnet. The fix needs to be implemented in cloud-

[2022-03-09 10:31] yboaron opened #1728 "nodes annotations added by Submariner are not deleted after Submariner uninstalled"
**What happened**:
Nodes annotations added by Submariner are not deleted after Submariner is uninstalled.
Although it should not have a negative effect, it is preferable to delete it and leave no trace of Submariner after uninstallation

**What you expected to happen**:
Nodes annotations added by Submariner should be deleted
**How to reproduce it (as minimally and precisely as possible)**:
Check n

[2022-03-13 21:34] unixfox commented on #1546
bump

[2022-03-14 14:04] anfredette opened #1731 "Create branches for multiple active gateway development"
Request branches be created for development of the [multiple active gateway](https://github.com/submariner-io/enhancements/pull/69) enhancement. Multiple people will work on this enhancement, and we believe that having public branches will enable collaboration and improve visibility into the changes being proposed.

Proposed branch name: ""multi-active-gw"

Branches are needed in the following rep

[2022-03-14 14:05] anfredette commented on #1731
@skitt @Billy99 @astoycos @nerdalert -- FYI

[2022-03-15 09:26] skitt commented on #1731
I’ve created the `feature/multi-active-gw` branch on submariner-operator and redirected https://github.com/submariner-io/submariner-operator/pull/1951. https://github.com/submariner-io/submariner-operator/pull/1953 sets up `CODEOWNERS` so that you can handle merges on your own.

(I’m using a `feature/` prefix so that we can set up the protection rules for feature branches once and for all.)

[2022-03-15 10:21] mkolesnik commented on #1731
Whats the plan on reviewing work being done on that branch? Is it following the code review guidelines or is it something else?

How about merging back to main branch, is there going to be one single big pull request?

[2022-03-15 12:29] astoycos commented on #1625
/cc @astoycos

[2022-03-15 13:22] dfarrell07 commented on #1535
@astoycos @sridhargaddam Had some comments during the PR/Issue they will add.

[2022-03-15 13:25] dfarrell07 commented on #636
Closing in favor of https://github.com/submariner-io/enhancements/issues/39, which tracks the same thing.

[2022-03-15 13:25] #636 closed

[2022-03-15 13:30] dfarrell07 commented on #1101
@astoycos has already fixed this in his OVN PR, he will close it.

[2022-03-15 13:32] dfarrell07 commented on #1278
@yboaron volunteered to take a look at this, @astoycos pointed out there used to be an OVN-upstream bug that seemed related, maybe should ask in their Slack if we still see issues/have questions.

[2022-03-15 13:36] dfarrell07 commented on #1611
@skitt had a call about this today and said the requesters are going to add details so this maybe can be worked on in the 0.13.0 release.

[2022-03-15 13:44] dfarrell07 commented on #1549
Talking about this on the PR scrub today and we're not really sure what you did to get here, could use some more clearly reproducible steps and/or data.

[2022-03-15 13:44] dfarrell07 commented on #1549
Adding @aswinsuryan to take a look, triage.

[2022-03-15 13:56] astoycos commented on #1535
This Is an interesting idea and could work for ensuring that traffic destined for a remote cluster originating at a non-gateway node makes it to the gateway node without IPTables, however I would be a bit worried about CNI's with "true overlays" where packets never touch the host's routing stack.

For example, today we already do something somewhat similar to this for the OVN-Kuberntes CNI plugin,

[2022-03-15 13:57] anfredette commented on #1731
Thanks, @skitt.  Good questions @mkolesnik.

We've reviewed the general approach with @sridhargaddam and @aswinsuryan.  The initial goal is to do a POC to prove things out and work out the details. After which, we'll do a more detailed review with interested parties. As mentioned in the request, we wanted these branches to facilitate collaboration and to do this initial work in public so intereste

[2022-03-15 13:57] astoycos commented on #1101
This should already be resolved by https://github.com/submariner-io/submariner/pull/1689 which converts the networkPluginSyncer to use libovsdb which will CreateORUpdate OVN objects rather than Delete and Recreate on every reconciliation loop.

[2022-03-15 14:26] #1728 closed, assigned to yboaron

[2022-03-15 16:20] skitt commented on #1101
Isn’t this still pending then, since #1689 isn’t merged yet? I’ll reopen the issue and indicate that #1689 fixes it, so that it gets closed when #1689 is merged.

[2022-03-15 16:21] astoycos commented on #1101
Ack sounds good to me, thanks @skitt!

[2022-03-16 09:56] mkolesnik commented on #1731
Sounds good, I think we need to set clear expectations here eg:
* Reviews from all Submariner members are encouraged but not required for merging on the feature branch
* Work from feature branches should be often merged back to main branch when it's stable and ready
* If work from a feature branch is too big for a single PR (I think our last discussed limit was 500 LOC changed, but we can discuss

[2022-03-16 09:58] skitt commented on #1731
For now I’m replicating the `devel` branch protection rules, to ensure that we don’t miss anything which would result in significant effort to merge the resulting PRs when ready — whether it’s “basic” stuff like linting rules, or ensuring that E2E still passes.

[2022-03-16 15:10] yboaron opened #1734 "GlobalNet- exported service isn't reachable after service re creation"
**What happened**:
1. I followed the service export instructions from [A],
a.  I created a service (default/nginx) on cluster1 and export it
b.  I was able to access the service from cluster2.
2.  I re create the service on cluster1 by
 a.  delete the (default/nginx)  service from cluster1
 b.  create a new service with the same name

Though both service and the corresponding serviceexport exist o

[2022-03-16 18:52] mikekuzak opened #1736 "PodSecurityPolicy: unable to admit pod: []"
Rancher v2.5.12
K8s: v1.20

Hi
When trying to install the submariner operator I'm getting the following error:

[code]

Error creating: pods "submariner-operator-57fdbfdb78-" is forbidden: PodSecurityPolicy: unable to admit pod: []

![image](https://user-images.githubusercontent.com/18675587/158665305-24516ffb-586e-40e7-beb0-b57223c7340e.png)

Didn't have any issues deploying anything else before.

[2022-03-17 10:45] yboaron opened #1738 "GlobalNet - exported service isn't reachable using desired port after service port edit"
**What happened**:
This issue is similar to https://github.com/submariner-io/submariner/issues/1734

1. I followed the service export instructions from [A],
a. I created a service (default/nginx) on cluster2 and export it
b. I was able to access the service from cluster1.
2. I changed the frontend port# of  service default/nginx from 80 to 8080 using 'kubectl edit'
3. While I can successfully conn

[2022-03-17 12:06] sridhargaddam commented on #383
This work depends on getting the basic OVN route-agent driver working with Vanilla Submariner working. Once we have that working, we can evaluate if implementing the [following interface APIs](https://github.com/submariner-io/submariner/blob/5e67af2287997a3b6657519b223b8db2886d5ad1/pkg/globalnet/controllers/iptables/iface.go#L35) is sufficient for supporting Globalnet for OVN or if anything else i

[2022-03-17 12:11] sridhargaddam commented on #1393
This is more like a code refactoring and is good to have if new cable drivers (like IPIP) require this driver.

[2022-03-17 12:26] sridhargaddam commented on #1745
This is going to help us in Loadbalancer support use-case on AWS, so its an important use-case to address.

[2022-03-17 12:33] sridhargaddam commented on #1198
@skitt can you please elaborate the use-case a bit.

[2022-03-17 12:39] sridhargaddam opened #1739 "[Epic] Ensure Submariner works with dual-stack clusters with IPv4 connections"
**What happened**:
Starting from K8s 1.23 version, it supports dual-stack K8s clusters where pods will get both IPv4 and IPv6 addresses. Submariner currently does not support IPv6, but it should atleast allow IPv4 communication to happen between the clusters.

- [x] [Skip IPv6 node addresses while adding fdb entries](https://github.com/submariner-io/submariner/pull/2245)
- [x] [Skip processing IPv

[2022-03-17 16:14] dfarrell07 opened #1740 "Use minimum GITHUB_TOKEN permissions for each job"
The `GITHUB_TOKEN` used by some GitHub Actions can be configured to [`permissive` or `restricted`](https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token). We currently use `permissive` as a GitHub Organizational default. We should instead use `restricted` as the GitHub Organizational default and explicitly grant the minimum required perm

[2022-03-17 17:46] dfarrell07 commented on #1615
@skitt Do you have access to the submariner-security Google Group via your personal account now? Can you make the group public and make sure all the correct folks are added/removed?

[2022-03-17 17:47] dfarrell07 commented on #1615
When we think we have everything set up, I can send a test.

[2022-03-18 15:15] skitt commented on #1615
Yes, I can access the group’s administration and add/remove people as appropriate. I’ll remove Miguel.

[2022-03-18 15:17] skitt commented on #1615
@tpantelis and @sridhargaddam, can you check whether you can access [the group’s administration](https://groups.google.com/g/submariner-security)? We need to ensure we’re not locked out if something happens to me...

[2022-03-18 19:51] astoycos commented on #1731
Thanks for the help here @skitt Do you by chance have PR's up to do this for https://github.com/submariner-io/submariner and  https://github.com/submariner-io/shipyard as well?

[2022-03-21 09:37] sridhargaddam commented on #1734
Currently Globlanet controller does not process Service creation/updation events and it only processes delete events. In order to handle this use-case we will have to enhance the code to process create events for Services.

[2022-03-21 09:37] sridhargaddam commented on #1738
Currently Globlanet controller does not process Service creation/updation events and it only processes delete events. In order to handle this use-case we will have to enhance the code to process update events for Services.

[2022-03-21 13:29] skitt commented on #1731
The branch already exists on Shipyard; I’ll take care of the branch on Submariner and the two setup PRs today.

[2022-03-21 13:35] anfredette commented on #1731
Thanks!

[2022-03-21 16:20] skitt commented on #1731
Shipyard: https://github.com/submariner-io/shipyard/pull/759
Submariner: https://github.com/submariner-io/submariner/pull/1743

[2022-03-22 13:39] yboaron commented on #1421
I tested the example of sidecar-injection [1] which points to a local k8s service in my environment using two different versions of MutatingWebhookConfiguration,

First I used MutatingWebhookConfiguration as provided by [1], you can find in [2] the relevant part of the service details in the MWC resource - everything works as expected.

When I changed the MWC to point to the local service but used

[2022-03-22 15:38] sridhargaddam opened #1746 "Globalnet: Ensure that iptable rule is actually deleted before trying ipset deletion"
In a Globalnet deployment on OCP, while running e2e tests, the following errors are noticed.

[code]

Some of the e2e tests create GlobalEgressIPs with PodSelectors. After the test is completed, when the e2e test tries to delete the GlobalEgressIPs, Globalnet controller initially deletes the associated iptable rules and then tries to delete the corresponding ipset. However, its seen that deleting

[2022-03-22 19:01] sridhargaddam opened #1747 "In an OCP setup on AWS, the following logs are seen in Gateway pod"
The tunnels are properly setup, but gateway pod was restarted couple of times (3 times to be more precise) and the logs of previous instance have the following lines.

[code]

The pod eventually recovers, so its not a blocker/major-issue, but it would be good to understand why the pod is getting restarted couple of times.

subctl version: | v0.12.0-rc1
Submariner version: | v0.12.0
Kubernetes Serv

[2022-03-23 01:48] morvencao commented on #1421
@yboaron  thanks for the very detailed investigation results. I think I have the same results as yours. Would you check why kube-apiserver just can't resolve the URL, because when we use submariner to export our service, we need to access the exported service with URL instead of service name+ service namespace.

[2022-03-23 07:08] shanrnag opened #1748 "The NNCP policies fails on Submariner Gateway Node"
After installing Submariner version ( release-0.12 )  in an openshift environment version 4.8, the NNCP polices are failing on the Nodes configured as Gateway.

[code]
Interface created in the Gateway Node:

[code]
The nmstate-handler is brought by the openshift Virtualization

`openshift-cnv                                      kubevirt-hyperconverged-operator.v4.8.4   OpenShift Virtualization

[2022-03-23 08:46] sridhargaddam opened #1749 "Error while appending rules to iptable chains"
In an OCP deployment with Submariner version 0.12, it was seen that after we create a chain, its taking few milliseconds for the chain to be actually programmed on the node. From the Globalnet pod logs...

[code]

subctl version: | v0.12.0-rc1
Submariner version: | v0.12.0
Kubernetes Server version: | v1.23.3+e419edf
Globalnet enabled.

[2022-03-23 12:26] yboaron commented on #1421
A. According to MWC resource definition [1] 'url' is used to resolve hostname via external DNS server while 'service' should be used If the webhook is running within the cluster.

 Submariner DNS agent (LightHouse) updates the exported services names in the cluster DNS.

B. Given ^^ information I think we clearly understand the issue details, it should be something like:
- Exported service name ca

[2022-03-23 13:39] sridhargaddam commented on #1739
Related issue: https://github.com/submariner-io/submariner/issues/1546

[2022-03-23 16:54] skitt commented on #1731
I forgot we’d have to push images using the branch name, so we can’t have `/` there; so I’ll change everything to `feature-multi-active-gw`.

[2022-03-25 10:51] sridhargaddam opened #1755 "Needs to be triaged: Pod logs show that pod is restarted but it still has older logs"
In an OCP Setup running on OSP, the following logs were seen in globalnet pod.
Basically, it appears like these logs are seen when the Active gateway is restarted.

[code]

In the middle of above logs, we can see the following
[code]

What I'm not sure if how can the pod be restarted and still have logs associated with previous run?

[2022-03-28 13:57] mkolesnik commented on #1331
@astoycos ping

[2022-03-28 20:43] #1581 closed, assigned to mkimuram

[2022-03-29 19:13] mkimuram opened #1762 "Flake: external E2E tests that are accessed via service from external network"
**Which jobs are flaking**:
"End to End Full / External Network E2E (external-net) (pull_request) "

**Which test(s) are flaking**:
[external-dataplane] Connectivity when connected from a non-gateway-cluster when a pod connects via TCP to/from a remote service when the pod is on a gateway [It] should be able to connect from/to an external app to/from a pod in a cluster

**Testgrid link**:
https://

[2022-03-31 13:51] skitt commented on #1731
With https://github.com/submariner-io/submariner-operator/pull/1993 this should be complete.

[2022-04-01 10:38] skitt commented on #1731
This is all done, please open new issues if you run into problems. I’m aware we still need to describe how to update the feature branches with changes from `devel`.

[2022-04-01 10:38] #1731 closed, assigned to skitt

[2022-04-01 13:40] #1762 closed, assigned to nobody

[2022-04-03 00:17] github-actions[bot] opened #1769 "Broken link detected by periodic linting"
Periodic link aliveness CI detected a broken link.

Please check the [Periodic workflow](https://github.com/submariner-io/submariner/actions?query=workflow%3APeriodic).

[2022-04-04 19:12] KlavsKlavsen commented on #1611
We are also running k8s in ipvs mode and would like to test out submariner to connect clusters - so here is to hoping for the v0.13.0 release supporting it :)

[2022-04-06 07:07] yboaron commented on #1749
Do you think it might be related to iptables modes (nft, legacy)  ? like the MSS clamping bug?

[2022-04-06 07:30] sridhargaddam commented on #1749
In case of MSS clamping rules the rules were not properly translated in the automatic translation layer. Whereas these are regular iptable rules which are properly supported, just that it seems to take some time to get sync'ed. So I believe it may not be related.

[2022-04-06 08:38] sridhargaddam opened #1774 "MTU issues seen between an OnPrem cluster vs Public cloud"
While running e2e tests in an OCP Cluster where one of the cluster is on OpenStack (OnPrem) and the other is on Public cloud (AWS), it was seen that the initial connection goes through, but there are errors during data transmission.

[code]
As it can be seen above, the client was able to connect to the service but the data transmission failed. Submariner e2e tests validate if the connection is suc

[2022-04-06 08:51] sridhargaddam commented on #1774
Just for testing, when I deleted the iptable rules in `SUBMARINER-POSTROUTING` chain of `MANGLE` table and added the following generic `nft` tcp mss clamp rules, the e2e tests are running fine.

[code]

[2022-04-07 10:55] sridhargaddam commented on #1774
To fix the issue for Globalnet deployments, we require two changes.
1. To ensure that SUBMARINER_LOCALCIDRS ipset is updated with the local PodCIDRs as SNAT (with globalIP) is performed in NAT Postrouting table which is hit after MANGLE POSTROUTING table.
[code]
Note: The above change is necessary only for Globalnet deployments.

2. Identify the implementation used on the node and if its nftables,

[2022-04-07 11:22] yboaron commented on #1774
Two more observations about the current implementation :

1. Current implementation enables PLPMTU for all connections on node, by setting /proc/sys/net/ipv4/tcp_mtu_probing = 2 .
 -  We might have a conflict with another component that managed this file (like MCO in OCP)
 -  We force PLMTUD for all TCP connections originated on this node.

2. In case icmp net_unreach msgs are blocked by transit r

[2022-04-07 11:31] sridhargaddam opened #1775 "Submariner (including Globalnet) should be enhanced to support nftables."
Some of the platforms are moving away from iptables backend to nftables backend. One such example is RHEL9.
As part of this transition, the tools like iptables, ipsets etc are deprecated - https://access.redhat.com/solutions/6739041

Submariner pods like Globalnet, route-agent which program iptable rules on the nodes should now query if the underlying host uses iptables or nftables and ensure that

[2022-04-07 11:31] sridhargaddam commented on #1775
CC @nyechiel @skitt @yboaron

[2022-04-07 11:37] skitt commented on #1775
We already handle this partially – the tools we install in the container images use either the legacy or nft iptables backend.

I agree we do need to take care of this properly; anywhere we manipulate iptables and/or ipsets needs to be able to use nftables directly if appropriate.

I don’t think this is urgent for 0.13, it can wait until the release after that.

[2022-04-07 11:43] lut777 opened #1776 "Connection shows error when the cluster joins with option "--cable-driver vxlan" in Calico"
First I tried the connections based on default method, which is IPsec as I was told. In this scenario, everything works well.
But when I tried to use VxLAN mode, the connections is always in "error" status, which is like following:

[code]

What I have changed is just adding a extra parameter "--cable-driver vxlan" when joining clusters to the broker.

So is it a bug? How could I debug it?

[2022-04-07 12:22] sridhargaddam commented on #1775
Currently, in an OCP 0.10 setup, we have seen that underlying host is using NFTables and the iptable/ipset rules programmed by Submariner Globalnet/Route-agent seem to get automatically translated without any issues except for the tcpd-mss-clamp rules for which I reported a separate issue - https://github.com/submariner-io/submariner/issues/1774

As long as the iptables/ipsets binary is present an

[2022-04-07 13:20] sridhargaddam commented on #1774
@mkimuram FYI

[2022-04-07 17:17] sridhargaddam commented on #1776
@lut777 please attach the output of `subctl gather ...` from your clusters. Without this info, its hard to understand/debug the problem.

[2022-04-07 17:35] mkimuram commented on #1774
I haven't caught up completely yet.  However, I tested on clean installation of RHEL9 beta and confirmed that translation fails for https://github.com/submariner-io/submariner/blob/devel/pkg/routeagent_driver/handlers/mtu/mtuhandler.go#L79-L94 rule.

[code]

On the other hand, https://fossies.org/linux/iptables/extensions/libxt_TCPMSS.txlate seems working in the same environment
[code]

Is it due

[2022-04-07 17:47] mkimuram commented on #1774
In my centos8.2 environment, below also succeeds, so I guess the rule with `--clamp-mss-to-pmtu` could be translated even in RHEL8 (not sure if it is true for all minor releases, though).
[code]

[2022-04-08 09:52] sridhargaddam opened #1778 "Stale entries seen in SUBMARINER-LOCALCIDRS ipset"
Even after running `subctl uninstall ...` and then redeploying the Submariner on the cluster, it was seen that MTU handler IPset chains include some stale entries in SUBMARINER-LOCALCIDRS

[code]

The globalCIDR allocated to the cluster was 242.2.0.0/16, but the `SUBMARINER-LOCALCIDRS` chain includes the previous deployment GlobalCIDR which is `242.1.0.0/16`.

Platform:
Microshift with flannel CNI

[2022-04-08 09:54] sridhargaddam commented on #1778
Output of subctl gather from the cluster: [cluster2-logs.zip](https://github.com/submariner-io/submariner/files/8450776/cluster2-logs.zip)

[2022-04-08 09:56] sridhargaddam commented on #1778
The above rules are used for tcp-mss-clamping and the stale entry will not create any issue, so its good to fix this issue, but its not a blocker/critical issue.

[2022-04-08 15:01] sridhargaddam commented on #1774
Thanks @mkimuram for looking into it and sharing your observations. As you know, we use ipsets even in Globalnet, so today in another similar setup, i verified Globalnet use-case that uses ipsets in the rules. I see that Globalnet Egress rules for Namespace (where we use ipsets) are also commented out on the node [iptables v1.8.7 (nf_tables)] when using nft, but the rules are getting hit and worki

[2022-04-08 19:05] sridhargaddam opened #1780 "Remove globalIP annotation from node as part of uninstall operation"
What happened:
Globalnet adds a globalIP annotation to the Gateway node which is used as healthcheck-ip.
Ideally this annotation should be removed as part of `subctl uninstall ....` operation, otherwise it could create issues during re-deployment.

How to reproduce it (as minimally and precisely as possible):
Check nodes annotations on cluster2
Run Submariner deployment

bin/subctl deploy-broker -

[2022-04-08 19:07] sridhargaddam commented on #1780
Leaving the annotation on the node could create issues when submariner is re-installed on the cluster.

[2022-04-08 19:40] sridhargaddam commented on #1780
Logs from one of the clusters which initially had a globalCIDR of 242.2.0.0/16 and after re-deployment of Submariner a different globalCIDR of 242.1.0.0/16 was allocated.

[code]

[2022-04-10 00:17] github-actions[bot] opened #1782 "Broken link detected by periodic linting"
Periodic link aliveness CI detected a broken link.

Please check the [Periodic workflow](https://github.com/submariner-io/submariner/actions?query=workflow%3APeriodic).

[2022-04-10 12:00] lut777 commented on #1776
Ok. I attach the gather information from two clusters.
[cluster0gather.zip](https://github.com/submariner-io/submariner/files/8458909/cluster0gather.zip)
[cluster1gather.zip](https://github.com/submariner-io/submariner/files/8458910/cluster1gather.zip)

[2022-04-11 08:24] skitt opened #1784 "Submariner 0.12.1 release"
This is the 0.12.1 tracker. Any issues which we want to fix in 0.12.1 (through a backport from the development branch, ideally) should be added to the dependency list.

Depends on https://github.com/submariner-io/submariner/issues/1774

[2022-04-11 21:12] srampal commented on #1685
1) Retried this using istio 0.13.2 which is supposed to have the fix for istio support of gateway api including support for backendrefs that are serviceimports.

2) However ran into another issue which is caused by a Submariner limitation that is already known and [has a tracking issue open](https://github.com/submariner-io/lighthouse/issues/214).   The issue is that in order to support multi-clus

[2022-04-12 16:31] srampal opened #1788 "REQUEST: New membership request for <@srampal>"
### GitHub Username
@srampal

### Requirements
- [ x] I have reviewed the contributor roles guidelines (https://submariner.io/community/contributor-roles/)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the submariner-dev e-mail list (https://groups.google.com/forum/#!forum/submariner-dev)
- [ x] I have multiple contributions to Su

[2022-04-12 17:03] dfarrell07 commented on #1788
+1, thank you for your contributions and for taking the time to apply @srampal!

[2022-04-12 17:14] Jaanki commented on #1788
+1

[2022-04-12 17:15] aswinsuryan commented on #1788
+1

[2022-04-12 17:40] sridhargaddam commented on #1788
+1

[2022-04-12 19:29] dfarrell07 commented on #1788
This is now approved, we just need an Owner to add @srampal to https://github.com/orgs/submariner-io/people. :partying_face:

[2022-04-12 19:50] tpantelis commented on #1788
I sent an invitation.

[2022-04-12 20:31] srampal opened #1789 "Submariner does not support K8s Gateway API based Multi-Cluster Ingress load balancing"
I am testing the use of K8s gateway api along with Submariner for Multi-Cluster ingress load balancing (as part of t[his investigation ](https://github.com/submariner-io/submariner/issues/1685). The approach used for testing was based on using Istio-Envoy's implementation of the Kuebrnetes Gateway API with MCS api extensions support (as [suggested here](https://istio.io/latest/docs/tasks/traffic-m

[2022-04-13 07:17] sridhargaddam commented on #1788
I see @srampal has accepted the invitation and he is now a member of the submariner-io project. Welcome Sanjeev.

[2022-04-13 07:17] #1788 closed, assigned to skitt, sridhargaddam, tpantelis

[2022-04-13 08:38] nyechiel opened #1790 "Submariner support on air-gapped environments"
Running Kubernetes in air-gapped environments (i.e using offline private container registries and repositories without any access to the public Internet) seems to be a common request. The goal of this issue to assess Submariner's readiness to support such environments.

### Work items:
* [x] [Allow overriding the default image repository and version in subctl diagnose command](submariner-io/subctl

[2022-04-13 08:52] nyechiel commented on #1790
@cgruver @asanderson I'd love to get your feedback on this issue. Can you help us identify gaps that need to be addressed in order to improve Submariner's experience in air-gapped environments?

[2022-04-13 09:35] skitt commented on #1790
I suspect we should also ensure we list all the images we rely on at runtime somewhere in the documentation.

[2022-04-13 09:39] sridhargaddam commented on #1790
And also provide an option to override the default image repository in various utilities.

[2022-04-13 09:42] srampal opened #1791 "Test Istio Multi-Cluster with Submariner"
Tracking issue to test and verify whether Istio Multi-Cluster works correctly with Submariner .. specifically whether Istio can work with Multi-Cluster Services implemented using Submariner.  This issue is in addition to and separate from [issue 1685](https://github.com/submariner-io/submariner/issues/1685) which tests Multi-Cluster Ingress with Submariner using Istio's implementation of the K8s G

[2022-04-13 09:53] skitt commented on #1790
Or ensure we consistently follow the overrides provided elsewhere ;-).

[2022-04-13 10:28] asanderson commented on #1790
I know we discussed this before, but I haven't been following if it was actually implemented, but first and foremost, an *air-gapped* distro that includes ALL images, dependencies, binaries, helm charts, etc. and installer as simple as K3s provides; see the following K3s air-gap install page for a great example:  https://rancher.com/docs/k3s/latest/en/installation/airgap.  AFAIC, just a master lis

[2022-04-13 14:59] cgruver commented on #1790
My really raw notes for installing in a disconnected environment are here:

https://github.com/cgruver/lab-multi-region/tree/main/submariner

From my perspective, if `--repository` and `--version` were universally honored by all of the `subctl` operations that require images, I think that would satisfy the needs of a disconnected install.

The node annotation `gateway.submariner.io/public-ip=dns:<

[2022-04-13 15:09] cgruver commented on #1790
FWIW, those notes above are very opinionated to my home lab setup.  So, if you try to follow along, you will want to reference the CLI that I wrote to maintain my lab:  https://upstreamwithoutapaddle.com/home-lab/labcli/

[2022-04-17 00:19] github-actions[bot] opened #1799 "Broken link detected by periodic linting"
Periodic link aliveness CI detected a broken link.

Please check the [Periodic workflow](https://github.com/submariner-io/submariner/actions?query=workflow%3APeriodic).

[2022-04-19 06:44] wangjun1974 opened #1800 "submariner v0.12.0 pod 'submariner-operator' report error 'error building an authorize d RestConfig for the broker'"
3 clusters
* edge-1 (broker, gateway)
* edge-2 (gateway)
* edge-3 (gateway)

**What happened**:
$ subctl deploy-broker --kubeconfig /root/kubeconfig/edge/edge-1/kubeconfig
$ subctl join --kubeconfig /root/kubeconfig/edge/edge-1/kubeconfig broker-info.subm --clusterid cluster1 --natt=false
$ subctl join --kubeconfig /root/kubeconfig/edge/edge-2/kubeconfig broker-info.subm --clusterid cluster2 --nat

[2022-04-22 18:25] srampal commented on #1789
on a related note, there is also an upstream istio bug that prevents this from working even if the Submariner Service aggregation restriction is fixed. This has been opened as the following issue  https://github.com/istio/istio/issues/38529

[2022-04-24 00:17] github-actions[bot] opened #1803 "Broken link detected by periodic linting"
Periodic link aliveness CI detected a broken link.

Please check the [Periodic workflow](https://github.com/submariner-io/submariner/actions?query=workflow%3APeriodic).

[2022-04-24 03:37] sridhargaddam commented on #1789
Thanks for reporting the issue @srampal. As the fix needs to be done in Lighthouse component, moving it to Lighthouse repo.

[2022-04-24 04:46] #1780 closed, assigned to sridhargaddam

[2022-04-24 19:01] yboaron commented on #1774
I checked (OCP on OSP env) iptables counters with route-agent image including the SUBMARINER_LOCALCIDRS ipset fix [1].

The counters values of the outbound iptables rule seem to be growing when I'm trying to curl IP address from remote cidrs range, though match-set on relevant nft rule is still commented out [2].

Do you think pmtu rule is being applied?

[1]
https://github.com/submariner-io/subma

[2022-04-25 04:36] sridhargaddam commented on #1774
When a rule has multiple match expressions and an action, sometimes one of the match expressions might be commented out. The counters are one way for us to know if the rule is getting applied (even partially). Please check if e2e is passing.

[2022-04-26 11:56] yboaron commented on #1778
I managed to reproduce it, seems that we get an error when deleting the first ipset (SUBMARINER-LOCALCIDRS)on uninstall flow [1],  a similar error is reported also in weave project [2]

[1]
`I0426 11:37:58.467787       1 routes_iface.go:265] On GWNode, in updateRoutingRulesForInterClusterSupport ignoring
I0426 11:37:58.474429       1 iptables_iface.go:116] Deleting iptables rule for outgoing traff

[2022-04-27 11:17] ygm521 commented on #360
how to know kernel support AES_GCM_16_128? thanks

[2022-04-27 16:45] dirajag1 opened #1808 "Submariner installation from git"
**What would you like to be added**:
Can you add the steps to deploy submariner on 2 OCP clusters without using subctl ?
 For example, is there a way to clone the code from git and run some commands to install submariner ?

**Why is this needed**:
As part of our product certification , it is required to keep all images in a private registry . `subctl` is pulling all related images like submariner-

[2022-04-28 16:09] #1537 closed, assigned to mkimuram

[2022-04-29 13:51] #1778 closed, assigned to yboaron

[2022-05-01 00:24] github-actions[bot] opened #1811 "Broken link detected by periodic linting"
Periodic link aliveness CI detected a broken link.

Please check the [Periodic workflow](https://github.com/submariner-io/submariner/actions?query=workflow%3APeriodic).

[2022-05-02 12:55] josepowera commented on #1642
At least update https://submariner.io/getting-started/quickstart/k3s/ with requirement for additional parameter until this is fixed
--clustercidr "10.44.0.0/16" or similar.   Got here the hard way after long time debugging.

[2022-05-03 13:30] dfarrell07 commented on #1642
Thanks, we'll look at updating the docs :+1:

[2022-05-04 09:59] skitt opened #1813 "Go compilation should build packages, not files"
The current compilation process uses `main.go` files explicitly to build the various binaries. In Go 1.18, this creates a significant difference compared to building the corresponding package: the resulting binary identifies the module containing the main file as a dependency, rather than the main module of the binary.

Thus in Submariner, `go build -o submariner github.com/submariner-io/submarine

[2022-05-04 17:35] #1813 closed, assigned to skitt

[2022-05-08 00:18] github-actions[bot] opened #1818 "Broken link detected by periodic linting"
Periodic link aliveness CI detected a broken link.

Please check the [Periodic workflow](https://github.com/submariner-io/submariner/actions?query=workflow%3APeriodic).

[2022-05-09 11:21] skitt commented on #1774
This is only partially fixed, reopening.

[2022-05-09 12:13] sridhargaddam opened #1822 "Loadbalancer mode not working with VxLAN cable driver on AWS"
While installing Submariner with VxLAN cable driver and Loadbalancer mode, it was seen that on AWS cluster, the vxlan-tunnel interface disappears and there are couple of errors in the submariner-gateway pod.

**Environment**:
- Cloud provider or hardware configuration: AWS
- Install tools: Submariner version: 0.12 on OCP 4.10.2

[2022-05-09 15:41] sridhargaddam opened #1823 "Implement a periodic watcher for public-ip changes"
There could be some scenarios where the public-ip associated with the Gateway node would change (fe., when the user modifies the external-ip or when using Load-balancer service with AWS Clusters). Submariner should have a periodic watcher which monitors any changes to the public-ip and updates the local endpoint accordingly.

[2022-05-09 15:42] sridhargaddam commented on #1823
For example, when using the Loadbalancer mode with an AWS Cluster the following is observed.

[code]

You can ignore the non-response to the ping packets and just look at the IP that is resolved for the corresponding hostname. As you can see it changes.

[2022-05-10 13:30] dfarrell07 commented on #1649
Is this still relevant? Note the air-gapped discussion here: https://github.com/submariner-io/submariner/issues/1790

[2022-05-10 13:43] dfarrell07 commented on #1669
Is this related? https://github.com/submariner-io/enhancements/pull/103

[2022-05-17 13:36] skitt commented on #1800
Just to be clear: on the same setup, Submariner 0.10 works, but Submariner 0.12 doesn’t; is that right?

“dial tcp 10.66.208.162:6443: i/o timeout” suggests a connectivity problem but if 0.10 works, that suggests something else is failing.

[2022-05-18 13:56] yboaron opened #1841 "Expand e2e datapath testing to cover both client and server directions"
**What would you like to be added**:

The current DP e2e testing covers TCP connections validation where in all tests cluster1 acts as a client and cluster 2 as a server.

It makes sense to extend the tests to also check TCP connection with cluster2 as client and cluster1 as server.

**Why is this needed**:
Since SM client/server datapath flows aren't symmetric

[2022-05-19 10:49] sridhargaddam opened #1842 "Fix issue with public IP resolver"
**What happened**:
When the external-ip of the Gateway node is updated, it was seen that the public IP resolution methods in Submariner is sometime taking 15 mins to resolve (or return error). Ideally we should use some timeout when making http calls while trying to resolve the public-ip associated with the Gateway node.

With some manual logs

[code]

[2022-05-19 13:08] #1823 closed, assigned to nobody

[2022-05-19 14:20] #1774 closed, assigned to yboaron

[2022-05-21 10:39] #1842 closed, assigned to sridhargaddam

[2022-05-24 13:05] dfarrell07 commented on #1670
@dberg1 Is this still an issue?

[2022-05-24 13:42] dfarrell07 commented on #1608
This should be helped by https://github.com/submariner-io/submariner/pull/1689, which is almost ready to merge.

[2022-05-24 13:45] dfarrell07 commented on #1115
This was discussed a lot in https://github.com/submariner-io/enhancements/pull/102. We'd love to do it, but need contributor cycles. - PR scrub

[2022-05-25 08:14] dberg1 commented on #1670
Yes, it is still an issue. I don't think submariner can do anything about it though.
The SYN+ACK is discarded by IBM Cloud's anti-spoofing filter because SYN and SYN+ACK do not go through the same network interface.
The only workaround so far is to use Calico to encapsulate the SYN+ACK in an IP-in-IP tunnel so that it is not detected by IBM Cloud's anti-spoofing filter.

[2022-05-26 08:14] yboaron opened #1849 "subctl diagnose firewall inter-cluster failing when Submariner installed in LB mode"
I deployed Submariner in LB mode on aws and gcp, first running the cloud preparation steps [1] and then deployed Submariner using subctl,
although all connectivity tests pass the **subctl diagnostic firewall inter-cluster** reported an error[2].

The 'diagnose firewall inter-cluster' seems to need to be changed to support LB mode as well.

[1]
$ subctl cloud prepare  aws --profile aws-acm-subm  --

[2022-05-29 11:56] cgruver opened #1850 "`subctl join` v0.12.1 Throws x509: “kube-apiserver-lb-signer” certificate is not trusted"
With v0.12.1 of `subctl` x509 errors are thrown on a join attempt:

OpenShift (OKD) 4.10

[code]

[code]

Reverting to v0.12.0 resolves the issue:

[code]

[2022-05-29 11:58] cgruver commented on #1850
Meant to open this in the operator project: https://github.com/submariner-io/subctl/issues/67

[2022-05-29 11:58] #1850 closed, assigned to nobody

[2022-05-30 08:44] sridhargaddam opened #1852 "Issue with Loadbalancer mode when using three clusters"
**What happened**:

When deploying Submariner with Loadbalancer mode on three (may be applies to even more) clusters, it was seen that one of the cluster is not able to connect to the other two clusters. Depending on the order in which the clusters were joined, the problematic cluster is varying.

**Environment**:
- Cloud provider or hardware configuration: OCP 4.10, Submariner 0.12.1

[2022-05-30 16:06] sridhargaddam opened #1855 "subctl diagnose firewall to validate if nat-discovery port is opened"
**What would you like to be added**:
Currently `subctl diagnose ...` command validates if metrics port (default TCP/8080) and tunnel port (default UDP/4500) are allowed on the gateway port. Similar validation should be done for Nat-discovery port as well.

**Why is this needed**:
If the nat-discovery port (default UDP/4490) is not opened, NAT discovery cannot happen and submariner-gateway falls ba

[2022-05-30 17:04] Jaanki opened #1856 "REQUEST: New Committer rights request for Jaanki"
### GitHub Username
@Jaanki

### Code you are requesting Committer rights for
submariner-io/subctl

### Requirements
- [ ] I have reviewed the contributor roles guidelines (https://submariner.io/community/contributor-roles/)
- [ ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ ] I have subscribed to the submariner-dev e-mail list (https://groups.google.com/forum

[2022-05-30 17:17] #1822 closed, assigned to sridhargaddam

[2022-05-31 07:55] skitt commented on #1856
+1 from me!

[2022-05-31 11:24] tpantelis commented on #1856
+1

[2022-05-31 13:11] dfarrell07 commented on #1670
Okay, sounds like we need to dig into this. Maybe we can make this UX easier with cloud-prepare.

[2022-05-31 16:29] yboaron opened #1857 "Sometimes remote endpoint RTT is reported as '0'"
I have deployed SM clustersset with GN on aws, gcp and azure, and sometimes RTT is reported as '0 'even though the endpoint is successfully connected and round trip is ~70mSec.

The following error is reported in GW crd [1] while I can ping manually the remote endpoint [2].

Restarting the gw pod solved the problem.
Attached is GW's pod log [gwpod.txt](https://github.com/submariner-io/submariner/f

[2022-05-31 17:46] sridhargaddam commented on #1852
Tried to reproduce this once again in a fresh set of clusters (AWS/GPC/Azure) and was not able to reproduce it.
@yboaron tried with 4 clusters (2 AWS, GCP and an Azure) with Globalnet + LB and it works fine in his setup as well.

Both of us verified the datapath using `subctl verify ...` commands.

[2022-05-31 17:47] sridhargaddam commented on #1852
Closing this issue. We can reopen it if the problem gets reproduced.

[2022-05-31 17:47] #1852 closed, assigned to nobody

[2022-06-01 08:15] sridhargaddam opened #1858 "Support option to override the MTU value used in TCP MSS clamping"
**What would you like to be added**:
Currently, when Globalnet is enabled in the cluster, to address the MTU issues, Submariner clamps the TCP MSS to a fixed value derived from the default-interface-mtu minus the tunnel-overhead. In certain environments where the MTU between the Gateway nodes is even lower, we should provide an option for the users to override this MTU value.

This can be done by

[2022-06-02 07:49] yboaron commented on #1849
Upon further investigation it appears that there are two points that need to be addressed:

A. In LB mode the traffic on the ipsec port (4500) received on the LB nodeport, see [1]
B. I'm not sure if it is specific for LB, but when I tested it on aws and gcp with LB I noticed that the client pod finished before the tcpdump server started running.

[1]
  ports:
  - name: cable-encaps
    nodePort: 3

[2022-06-04 12:27] #1608 closed, assigned to astoycos

[2022-06-04 12:27] #1101 closed

[2022-06-07 13:43] dfarrell07 commented on #1734
This might be fixed by https://github.com/submariner-io/enhancements/pull/111.

[2022-06-08 09:12] yboaron opened #1864 "Investigate if resources request/limits definition is needed for SM pods"
In the current implementation, the resources section [1] isn't defined for Submariner pods, while other networking components like openshift-sdn DS [2] define resources  request details.

We need to check whether to set the resources section for SM pods, among other things we need to examine the following points:

A. SM pod (GW) functionality with and without requesting resources in 'loaded' node

[2022-06-09 07:50] lonelyCZ commented on #1857
I also encountered this issue after my hosts was restarted.

[2022-06-09 11:22] sridhargaddam commented on #1857
Did you notice this in Globalnet or non Globalnet deployments?

[2022-06-09 18:20] aswinsuryan opened #1866 "Submariner connectivity check intermittently failing between managed clusters which are deployed on baremetal"
**What happened**:
 Submariner connectivity check intermittently failing between managed clusters which are deployed on baremetal using assisted installer method

The e2e connectivity  tests are failing when the remote pods is on non-gateway node

**What you expected to happen**:
All the tests are expected to pass

**How to reproduce it (as minimally and precisely as possible)**:
Deploy submariner

[2022-06-10 01:55] lonelyCZ commented on #1857
I deploy it in Globalnet. I found the time of my hosts were not sync, my `Submariner` has been recovered when I resync time and restart its all pods.

[2022-06-10 02:35] aswinsuryan commented on #1866
The failure logs

[Fail] [dataplane] Basic TCP connectivity tests across clusters without discovery when a pod connects via TCP to a remote pod when the pod is not on a gateway and the remote pod is not on a gateway [It] should have sent the expected data from the pod to the other pod
github.com/submariner-io/shipyard@v0.12.1/test/e2e/framework/network_pods.go:184

[Fail] [dataplane] Basic TCP con

[2022-06-10 08:54] josecastillolema opened #1867 "Option for recovering the broker-info.subm file from a running broker cluster"
**What would you like to be added**:
It would be nice to have a `subctl` subcommand (or a well defined procedure) to recover the `broker-info.subm` from a running broker cluster.

**Why is this needed**:
There may be situations were the `broker-info.subm` file gets lost over time.

[2022-06-10 14:47] vthapar opened #1868 "Cleanup OVN resources during uninstall"
**What would you like to be added**:
Cleanup all OVN resources during uninstall if OVNKubernetes is the CNI

**Why is this needed**:
During install, networkplugin-syncer and route-agent add some resources to OVN. Need to make sure these are all cleaned up properly during an uninstall.

[2022-06-13 02:31] chaunceyjiang opened #1869 "Can't work with metallb"
**What happened**:
[code]
**What you expected to happen**:

Can work with metallb

**How to reproduce it (as minimally and precisely as possible)**:

[submariner](https://github.com/submariner-io/submariner) broker and metallb are installed in a cluster

1. create a ServiceExport of MCS
2. check metallb log
**Anything else we need to know?**:

**Environment**:
- Diagnose information (use `subctl d

[2022-06-13 06:27] #1869 closed, assigned to nobody

[2022-06-14 08:15] sridhargaddam opened #1871 "Sometimes gateway object is not updated when using LB mode"
**What happened**:
When using Loadbalancer mode of Submariner on AWS Cluster (where the public-ip associated with the LB Service changes), it was seen that local endpoint is properly updated with the correct public-ip, however the public-ip in the Gateway object is not updated. Because of this, `subctl show ...` command displays wrong public-ip to the users.

From gateway object:

[code]
**What yo

[2022-06-14 10:57] nyechiel commented on #1857
@yboaron @sridhargaddam how urgent this issue is? are we ok with pushing it out from 0.13?

[2022-06-14 11:00] nyechiel commented on #1790
I feel like at this point the only remaining gap is docs.

[2022-06-14 11:02] nyechiel commented on #1776
@sridhargaddam @aswinsuryan did we learn anything from the logs? is this bug still relevant?

[2022-06-14 11:08] nyechiel commented on #1278
@vthapar @sridhargaddam is this bug still relevant with the new 0.13 OVN implementation?

[2022-06-14 11:09] nyechiel commented on #1410
@sridhargaddam is this one still relevant?

[2022-06-14 11:24] nyechiel commented on #1871
As per discussion with Sridhar, this is not affecting the data plane (as local information in the cluster is correct). This is a rare control plane sync race that is probably only relevant for AWS.

[2022-06-14 11:26] yboaron commented on #1857
I don't think it's urgent and we have a workaround to handle this issue.
+1 for pushing it out from 0.13

[2022-06-14 11:30] vthapar commented on #1278
New implementation won't fix this bug, but it may no longer be an issue in latest OVN/OCP. So we need to test and confirm if this is still a valid bug.

[2022-06-14 11:32] nyechiel commented on #1278
Should we close and reopen if needed, or would you prefer to keep this open for now?

[2022-06-14 11:50] sridhargaddam commented on #1278
I think @aswinsuryan wanted to try this once in his OSP/AWS Cluster setup and if there is no issue, we can close it.

[2022-06-14 12:01] sridhargaddam commented on #1776
From a quick look at the logs I do not see anything obvious apart from the following.

[code]

Which suggests that the node already has a vxlan-tunnel interface with the same configuration (which can happen if the gateway pod is restarted or if there was a previous deployment with the same cable-driver). Apart from this, I dont see any other error from the logs. @aswinsuryan did you find anything?

[2022-06-14 14:23] sridhargaddam commented on #1857
+1 to moving it out of 0.13

[2022-06-15 01:03] aswinsuryan commented on #1776
@sridhargaddam I did not find either. I think it would be better to try a different cable driver after doing a uninstall than trying it in existing setup.

[2022-06-16 10:13] skitt commented on #1790
See also https://github.com/kubernetes-sigs/kind/issues/2776

[2022-06-16 18:34] #1858 closed, assigned to yboaron

[2022-06-18 19:56] amye commented on #1297
Dropping a note here to cause activity and keep this open. ✨

[2022-06-20 08:37] jinglina opened #1873 "Will submariner provide multi arch images for other release version (such as release-0.12) officially?"
I need multi arch images for submariner. It can be found only in images tagged devel . I want to known if multi-arch images related submariner (such as gateway, lighthoue-coredns) will be provided in quay.io .

[2022-06-20 08:42] skitt commented on #1873
We aren’t planning on providing multi-arch images in 0.12; 0.13 is planned for mid-July, and we’ll be releasing 0.13.0-rc0 images today.

[2022-06-20 13:01] maayanf24 commented on #1625
need to retest if this bug is still valid

[2022-06-20 13:14] maayanf24 commented on #1410
this is already done

[2022-06-20 13:14] #1410 closed, assigned to sridhargaddam

[2022-06-20 13:29] #1849 closed, assigned to yboaron

[2022-06-21 07:16] jinglina commented on #1873
Got it. Thanks.

[2022-06-21 07:16] #1873 closed, assigned to nobody

[2022-06-21 09:53] nyechiel commented on #1278
@aswinsuryan my understating is that you are planning to verify this. Please update if the issue is still seen with recent devel/0.13.0-rc0

[2022-06-21 14:44] sridhargaddam commented on #1625
I verified this issue with the latest submariner devel image on an OCP 4.11 cluster and following are the observations.

[code]

Output from subctl diagnose command
[code]

After joining two clusters with Overlapping CIDRs on an OVNK cluster, I can see that both route-agent pod as well as network-plugin-syncer pod of Submariner are validating for overlapping CIDRs and ignoring the endpoint when it

[2022-06-21 14:47] sridhargaddam commented on #1625
@josecastillolema can I go ahead and close this issue as the necessary checks are now in place?

[2022-06-21 14:56] josecastillolema commented on #1625
Sure, great job.

[2022-06-21 14:58] #1625 closed, assigned to sridhargaddam

[2022-06-21 16:20] nyechiel commented on #1625
Thanks @sridhargaddam :100:

[2022-06-21 16:39] aswinsuryan commented on #1278
@nyechiel yes I am trying to verify this, the setup has some issue and the network-plugin syncer pod is not coming up. Will keep posted.

[2022-06-21 16:44] nyechiel commented on #1278
Thanks. Please keep us posted. If the `network-plugin-syncer` pod does not come up, we might have a bigger problem...

[2022-06-21 20:23] aswinsuryan opened #1878 "submariner-networkplugin-syncer fails to start"
**What happened**:

When submariner is deployed with a cluster with OVNKubernetes CNI, submariner-networkplugin-syncer fails to start with this error.
`
F0620 21:36:09.217221       1 main.go:67] Error registering the handlers: Event handler "ovn-sync-handler" failed to initialize: error creating NBDB connection: error connecting to ovsdb: failed to connect to ssl:ovnkube-db.openshift-ovn-kubernete

[2022-06-21 20:41] aswinsuryan commented on #1278
The test are passing in the below setup

[code]

Cluster1
[code]

Cluster2

[code]
The test passed with AWS as first cluster and RHOS as the second and vice-versa.
[code]

[2022-06-21 20:43] aswinsuryan commented on #1278
@nyechiel raised this issue https://github.com/submariner-io/submariner/issues/1878

[2022-06-21 20:44] #1278 closed, assigned to aswinsuryan

[2022-06-21 20:48] nyechiel commented on #1878
@sridhargaddam @vthapar @astoycos have you seen this behavior before? Seems like something we need to address in 0.13

[2022-06-21 21:28] astoycos commented on #1878
Off the top of my head if we initialize the clients with https://github.com/submariner-io/submariner/blob/devel/pkg/networkplugin-syncer/handlers/ovn/connection.go#L127 set to `false` this error _should_ go away, and it may simply make sense to do this since monitoring for leadership changes could be a bit costly/ all db changes should be mirrored throughout the cluster/ Submariner isn't a "write

[2022-06-22 08:43] sridhargaddam opened #1880 "OVN: network-plugin-syncer in crashloop"
**What happened**:
When deploying Submariner on an OVNK cluster, the network-plugin-syncer pod stays in crashloop backoff state and the following error is seen in the logs

[code]

This is a bit intermittent problem as the same was working in a different cluster.

**What you expected to happen**:
Networkplugin-syncer pod should continue to run successfully after installing submariner.

**How to re

[2022-06-22 09:10] sridhargaddam commented on #1880
Duplicate of https://github.com/submariner-io/submariner/issues/1878

[2022-06-22 09:10] #1880 closed, assigned to nobody

[2022-06-22 10:22] mkolesnik opened #1881 "Globalnet connections are in error when using `0.13.0-rc0`"
**What happened**:
Deployed with 0.13.0-rc0 (default cable driver) following the quickstart kind guide, the connections are in error.

**What you expected to happen**:
Globalnet should be working.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Diagnose information (use `subctl diagnose all`):
[code]
- Gather inform

[2022-06-22 13:32] sridhargaddam commented on #1881
It looks like the pinger is unable to perform the healthcheck, hence its marking the connection as error.

[code]

[2022-06-22 17:01] nyechiel commented on #1868
Users are going to expect this to be working so this is really something we should try and fix for 0.13 if possible. In any case, we need to provide guidance/docs on how to cleanup an OVN cluster, so if we have this info handy, automating it should not be too complicated.

[2022-06-22 20:40] nyechiel commented on #1881
FWIW, I just tried it locally out of the `submariner-operator` repo and everything seems to be working as expected:

[code]

[code]
[code]

[2022-06-22 21:38] aswinsuryan opened #1883 "Globalnet pods not starting in OpenShift with 0.13.0-rc0"
**What happened**:

The globalnet pods in   Openshift 4.11 deployed on GCP with  0.13.0-rc0 are not starting  due to

[code]
**What you expected to happen**:
Pods should be up and running
**How to reproduce it (as minimally and precisely as possible)**:

Deploy 0.13.0-rc0 with globalnet enabled on  Openshift 4.10

**Anything else we need to know?**:

**Environment**:
- Diagnose information (use `s

[2022-06-23 05:35] wangjun1974 commented on #1800
Yes.

[2022-06-23 06:29] nyechiel commented on #1883
I am seeing the exact same error with OCP 4.9 on AWS as well, so this does not seem to be specific to GCP.

[2022-06-23 06:38] nyechiel commented on #1883
Interestingly, connections are up, but it looks like something is wrong with the Health Check (note that it does not seem to run at all, and there is no RTT info available):

[code]
[code]

[2022-06-23 07:11] #1878 closed, assigned to aswinsuryan, astoycos

[2022-06-23 11:19] yboaron commented on #1883
When the GN pod start to run for the first time ( I created new DaemonSet + customized GN image ) I'm getting this error :

[code]

Seems like grep is missing in GN image

[2022-06-23 14:05] mkolesnik opened #1886 "Bump submariner images to F35 (or F36)"
Currently the images are on F34 which is EOL since 2022-06-07 - https://docs.fedoraproject.org/en-US/releases/eol/

We should bump to F35 (or F36) to keep images up to date and secure

[2022-06-23 16:39] #1883 closed, assigned to yboaron

[2022-06-24 13:00] nyechiel commented on #1881
Might be related to https://github.com/submariner-io/submariner/issues/1857

[2022-06-27 11:25] yboaron commented on #1881
I managed to reproduce it on my setup, seems that the iptable rule redirects traffic to SUBMARINER-POSTROUTING chain doesn't exist on GW node (on one of the clusters)

`# iptables -t nat -L -n -v
Chain PREROUTING (policy ACCEPT 90 packets, 16738 bytes)
 pkts bytes target     prot opt in     out     source               destination
 2897  543K SUBMARINER-GN-INGRESS  all  --  *      *       0.0.0.0/

[2022-06-27 16:17] sridhargaddam opened #1892 "Sometimes, route-agent fails to detect the CNIInterface in the first attempt"
**What happened**:
When Route-agent Pod comes up, it tries to query the CNI Interface IP on the host. It was noticed that sometimes, the first attempt to read this information fails, but the subsequent attempt (by a different path in the code) seems to be successful.

Route-agent internally uses the "net" package to query the list of interfaces. We have to identify if there is any house-keeping to

[2022-06-28 09:15] #1886 closed, assigned to skitt

[2022-06-28 09:27] yboaron commented on #1881
Seems that the root cause is missing grep in GN image, so iptables legacy version is used by GN while iptables nft version is used by RA pod.

When I exec 'iptables -t nat -L -n -v'  from GN pod I can only see the rules added by GN  pod, and can't see all the rules created by others (KUBE and RA , etc ) while exec 'iptables -t nat -L -n -v'  from RA pod (on GW node) I can see all the rules created

[2022-06-28 09:41] skitt commented on #1881
So this is fixed by https://github.com/submariner-io/submariner/pull/1888

[2022-06-28 09:41] #1881 closed, assigned to yboaron

[2022-06-28 10:59] nyechiel commented on #1881
Awesome, thanks @yboaron

[2022-06-28 14:38] yboaron opened #1896 "Label node as 'submariner.io/gateway=true' failed on ROSA"
To enable Submariner GW deployment we need to label one or more nodes as 'submariner.io/gateway=true' ,

Label node using [1] command failed on ROSA platform.

To work around this issue I created new node/nodes using 'rosa create machinepool' API [2] .

[1]

$ oc label --overwrite node ip-10-0-171-134.ec2.internal   submariner.io/gateway=true
Error from server (Prevented from accessing Red Hat man

[2022-06-29 08:34] mkolesnik commented on #1881
I can confirm this works for me with the `devel` images

[2022-06-30 13:38] sridhargaddam opened #1899 "Avoid sending Submariner return traffic to conntrack module"
**What happened**:
When using Submariner with kubeproxy handler, it internally uses asymmetric routing (i.e., for a non-Gateway node, the incoming traffic is handled by CNI whereas outgoing traffic is handled by Submariner using the vx-submariner interface). Submariner can instruct Kernel to avoid sending the Submariner return traffic to Conntrack module as it impacts performance. We also need thi

[2022-06-30 13:38] sridhargaddam commented on #1899
In order to implement this feature, we will have to program new iptable rules in the "RAW" table with target "NOTRACK"

[2022-06-30 13:40] sridhargaddam opened #1900 "Enhance subctl gather to collect the information of "RAW" table"
**What would you like to be added**:
As part of https://github.com/submariner-io/submariner/issues/1899, we will now be programming new iptable rules in the "raw" table. We should enhance "subctl gather ..." to collect this information while capturing the logs.

[2022-06-30 13:43] sridhargaddam opened #1901 "Enhance "subctl uninstall ..." to remove the rules in "raw" table"
**What would you like to be added**:
As part of https://github.com/submariner-io/submariner/issues/1899, we will now be programming new iptable rules in the "raw" table. We should enhance "subctl uninstall  ..." command to delete these rules while uninstalling submariner from the cluster.

[2022-06-30 14:41] dfarrell07 opened #1902 "Build with go 1.18, use glangci-lint in 1.17 mode"
Go 1.17 will become End of Life in August. There's a push in ACM to get all projects building with 1.18. However, some golangci-lint linters don't work with 1.18 yet and would need to be disabled, causing a gap in coverage (see https://github.com/stolostron/backlog/issues/22428). Instead, figure out how to run golangci-lint in 1.17 mode.

This will also require an update to Prow, see https://githu

[2022-06-30 15:43] skitt commented on #1902
To run golangci-lint in 1.17 mode, set `go` to `1.17` in the `run` section; see https://golangci-lint.run/usage/configuration/#run-configuration

[2022-06-30 15:44] skitt commented on #1902
Note that we’re already building with Go 1.18 upstream, but we’re listing 1.17 at most as our minimal version in `go.mod`, which causes golangci-lint to run in 1.17 mode anyway.

[2022-06-30 15:56] dfarrell07 commented on #1902
Nice, thanks for the details @skitt!

[2022-06-30 18:33] nyechiel commented on #1857
@sridhargaddam @yboaron I will wait for your recommendation on whether or not we want to get this into 0.13. I have seen the issue quite often myself, but I am not sure if the proposed PR is addressing the root cause.

[2022-07-01 08:23] pengbinbin1 opened #1904 "Can I connect my 2 clusters with the wireguard cabledriver"
I have 2 k8s clusters.One is on the Aliyun and have a public ip,another is under the NAT on my priveate network without public IP. Can I connect my 2 clusters with the **wireguard** cabledriver? If so,what the public IP should be set on my private network k8s cluster.

[2022-07-04 09:34] #1857 closed, assigned to yboaron

[2022-07-04 09:36] nyechiel commented on #1868
This would require a backport to `release-0.13`.

[2022-07-04 14:29] nyechiel commented on #925
Done for 0.13.

[2022-07-04 14:29] #925 closed

[2022-07-05 03:24] chaunceyjiang commented on #1549
I have a similar problem.

[2022-07-05 03:45] chaunceyjiang commented on #1549
I have a temporary solution,replace the `__PILLAR__UPSTREAM__SERVERS__ ` variable of [nodelocaldns.yaml](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/nodelocaldns.yaml) with the IP address of `coredns`

[2022-07-05 07:01] nyechiel opened #1909 "OCP 4.11+OVN: connections are slow to come up"
**What happened**:

`subctl` deployment of two OCP 4.11 on AWS using the OVNKubernetes network plugin. Connections (libreswan) are coming up eventually, but it took more than 5 minutes.  `subctl diagnose` output might give us a clue (the same error is seen on both clusters):
[code]

**What you expected to happen**:

Connections to come up faster. No errors in `subctl diagnose` output.

**How to re

[2022-07-05 08:25] sridhargaddam commented on #1909
The Gateway pod was restarted around 5 times and the following is seen in the logs of the pod just before it got restarted for the last time.

It appears like while the Gateway pod is trying to setup IPsec tunnels to remote cluster, there is a brief interval when the connections to the K8s API Server are broken. It seems to recover once everything is settled.

[code]

Even the route-agent pod runn

[2022-07-05 09:14] nyechiel commented on #1868
Verified with 0.13.0-rc1 using `subctl` devel:

[code]

Thanks @aswinsuryan!

[2022-07-05 09:19] nyechiel commented on #1909
@aswinsuryan @astoycos have you noticed this before?

[2022-07-05 10:16] nyechiel commented on #383
Already tracked in: https://github.com/submariner-io/enhancements/issues/97

[2022-07-05 13:11] maayanf24 commented on #934
This has been discussed on the issue scrub meeting and decided to close for now.
If this will become a priority it can be reopened

[2022-07-05 13:11] #934 closed

[2022-07-05 13:16] maayanf24 commented on #794
This has been discussed on the issue scrub meeting and decided to close for now.
If this will become a priority it can be reopened

[2022-07-05 13:40] dfarrell07 commented on #794
Looking at this more, it seems like this would have caught the current Lighthouse text lib CVE before downstream scanning caught it, which would be much lower cost to fix than waiting for it to be in a release downstream.

Also discussed on the scrub, re-opening and will handle as a part of that fix.

[2022-07-05 16:23] astoycos commented on #1909
I would need to see the full MG/ OVN-k / API server logs at first glance It seems like OVN-K is down for a period of time here causing other things to fail since the API server traffic should be going through the CNI in this case I believe.

Maybe a dump question :) but Were both the clusters up successfully (and healthy) before running join?

[2022-07-05 18:37] nyechiel commented on #1909
It looks like OVN-K might be a little slower to finish coming up comparing to OpenShiftSDN. Will try to reproduce and capture full OCP must-gather logs to confirm.

[2022-07-06 09:23] nyechiel commented on #1909
I reran some tests and indeed it looks like the clusters were not fully up during the initial `join` process.

[2022-07-06 09:23] #1909 closed, assigned to nobody

[2022-07-06 12:51] yboaron opened #1912 "Active GW constantly reporting 'Deleted stale gateway' in logs"
I first deployed SM on aws ( check [1] for subctl gather info) with a single GW node and then added a second GW (as passive) by running [2] .

Checking the active GW logs after few hours  I can see [3] message appears ~200 times in an hour.

[1]
[submariner-20220706124154.zip](https://github.com/submariner-io/submariner/files/9054834/submariner-20220706124154.zip)

[2]

oc label --override nodes i

[2022-07-06 15:13] sridhargaddam commented on #1899
It turns out to be a regression in Kernel and the associated changes are now reverted in RHEL/CoreOS platforms. So no changes are required in Submariner.

[2022-07-06 15:13] #1899 closed, assigned to sridhargaddam

[2022-07-06 16:02] nyechiel commented on #1912
@yboaron @sridhargaddam any thoughts on what's the severity of this one?

[2022-07-07 09:14] sridhargaddam commented on #1912
To add a second GW for AWS, the recommended procedure is to run "subctl cloud prepare aws --gateways 2 ..."
Any specific reason for using out of bound labelling of the GW node?

[2022-07-07 09:22] yboaron commented on #1912
Nope, just lack of info.
I think I still have the setup, I can check the behavior with 'subctl cloud prepare aws --gateways 2 '.

In the context of adding another GW node, can you please elaborate what 'cloud prepare --gateways 2'  does in addition to labeling the node ?

[2022-07-07 10:00] sridhargaddam commented on #1912
Basically, cloud-prepare configures the prerequisites for Submariner. For a new dedicated GW node, it does the following
1. Spawns a new node using the machineSet API and labels the node as GW node
2. Associates a public-ip on the Gateway node
3. Opens firewall ports UDP/4500 and UDP/4490 for external traffic
4. Opens firewall ports TCP/8080, TCP/8081 and UDP/4480 between all the nodes in the clus

[2022-07-07 10:56] yboaron commented on #1912
Thanks for the detailed answer @sridhargaddam
So, I run the following steps :

1. Removed the label from the node (the one I added as passive)

`kubectl label nodes <nodename>  submariner.io/gateway-`

2. Restart the single GW pod (by running kubectl delete pod ... )

3. Run cloud prepare for 2 GW
`subctl cloud prepare aws --gateways 2 --ocp-metadata <metadatafile>
`

Still getting the same report

[2022-07-07 11:25] sridhargaddam commented on #1912
Basically we have the gatewaySyncer in the submariner-gateway pod which runs periodically (for every 5 secs) and updates the `gateway.submariner.io` object as necessary. Along with this, it also tries to cleanup any stale gateway objects. It looks like there is an issue where it tried to delete which is successful (which is the following log), but it repeats forever (probably some codepath is re-c

[2022-07-07 12:02] tpantelis commented on #1912
It prints the warning when `gs.client.Delete(context.TODO(), gw.Name, metav1.DeleteOptions{})` returns no error which means it was successfully deleted. `isGatewayStale` determines if it's stale, ie checks if the `update-timestamp` annotation is out-of-date.

The passive GW should be updating the `update-timestamp` annotation on its `Gateway` resource but it appears this isn't happening. Instead i

[2022-07-07 18:39] dfarrell07 commented on #794
This looks interesting, but not ready for use yet:

https://pkg.go.dev/golang.org/x/vuln/cmd/govulncheck

[2022-07-07 20:34] dfarrell07 commented on #794
This also looks interesting, but we'd need a Snyk account.

https://marketplace.visualstudio.com/items?itemName=redhat.fabric8-analytics

[2022-07-08 10:28] sridhargaddam commented on #1749
This issue is fixed and backported, closing it.

[2022-07-08 10:28] #1749 closed, assigned to sridhargaddam

[2022-07-08 13:38] sridhargaddam commented on #1912
This does not impact any functionality of Submariner but adds to unnecessary creation/deletion of passive gateway object when more than one gateway is used.

[2022-07-08 13:58] tpantelis commented on #1912
Also this issue wasn't introduced in 0.13 - it's been there all along.

[2022-07-08 14:08] nyechiel commented on #1912
I will leave it up to you. If it's an easy fix, I think we should push a PR. If you don't think we need to address it at all, let's just close the issue now.

[2022-07-08 14:19] sridhargaddam commented on #1912
I feel we should fix it.

[2022-07-08 14:54] tpantelis commented on #1912
We don’t need to block 0.13 IMO

[2022-07-08 18:53] dfarrell07 commented on #1902
I don't think there's actually anything to be done in submariner-io repos for this, closing.

[2022-07-08 18:53] #1902 closed, assigned to dfarrell07

[2022-07-10 07:55] yboaron commented on #1866
After further investigation, it appears that the root cause was a bug in the kernel [1], nothing to do with Submariner.

@aswinsuryan I think we can close this one, WDYT?

cc @sridhargaddam

[1]
https://git.kernel.org/pub/scm/linux/kernel/git/netdev/net.git/commit/?id=a82c25c366b0963d33ddf699196e6cf57f6d89b1

[2022-07-11 08:10] #1912 closed, assigned to yboaron

[2022-07-11 12:36] #1866 closed, assigned to nobody

[2022-07-11 16:03] mikekuzak opened #1922 ""ipset v7.1: Kernel and userspace incompatible: settype hash:net with revision 7 not supported by userspace."
Hi,

We are running 2 Rancher RKE clusters v1.20.12 and I tried to use submariner (v0.13-cr0), to federate the clusters. I have different CIDs as advised. After installing the broker and connecting the 2 clusters the Canal plugin started crash-looping

![image](https://user-images.githubusercontent.com/18675587/178306912-e33ddd05-54bb-4327-9090-cf293cd5d753.png)

 with the following error:
[code]

[2022-07-12 05:42] sridhargaddam commented on #1546
This is still relevant, but its on roadmap.

[2022-07-12 12:27] sridhargaddam commented on #1858
Backport to release-0.12 branch: https://github.com/submariner-io/submariner/pull/1924

[2022-07-12 13:13] dfarrell07 commented on #1715
@aswinsuryan agreed to take a look, give feedback

[2022-07-12 13:40] dfarrell07 commented on #1800
This seems like it's related to edge-2 not being able to connect to the broker. Could this be a setup issue?

[2022-07-12 18:40] pncps99 opened #1926 "K3s: Failed to find Clusters to detect if Globalnet is enabled. No Cluster found"
**What happened**:
After booting submariner on K3s and kubeadm deployment, the verification checks output `Failed to find Clusters to detect if Globalnet is enabled. No Cluster found`

**What you expected to happen**:
Verification should succeed, in theory.

**How to reproduce it (as minimally and precisely as possible)**:
- A simple cluster was setup with K3s as explained in the submariner docume

[2022-07-12 23:16] dfarrell07 commented on #1740
Better docs: https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs

[2022-07-13 00:35] dfarrell07 commented on #1740
It's weird this doesn't fail: https://github.com/submariner-io/lighthouse/pull/821

Maybe the permissions changes don't take effect on PRs to prevent some attacks? Maybe they have to be merged?

[2022-07-13 09:18] skitt opened #1927 "Switch to our Zoom account for upstream calls we want to share on YouTube"
Now that we have a CNCF-provided Zoom account for the project, we should use that for upstream calls.

I have the account details, I’ll communicate them in private to whoever takes care of this.

[2022-07-13 10:03] sridhargaddam opened #1928 "Log Warning when VxLAN cable-driver is used with NAT"
**What happened**:
When using VxLAN cable-driver with NAT enabled, we can run into issues in certain environments. Currently Submariner supports VxLAN cable-driver in a no-NAT deployments.

So, as discussed in the [original issue](https://github.com/submariner-io/submariner/issues/1417#issuecomment-862928685), lets log a warning in the gateway pod (and diagnose?)

[2022-07-13 10:08] sridhargaddam commented on #1928
CC: @aswinsuryan

[2022-07-18 16:04] pncps99 commented on #1926
I tried fixing this issue by following the guide about setting up calico compatibility, [here](https://submariner.io/operations/deployment/calico/). Afterwards I tried running the following command:
[code]
but to no extent, as it didn't work and it output the same errors as before.

I tried then doing the manual verification like this:
[code]

But the `curl` just hang for a long time and didn't al

[2022-07-18 19:33] sridhargaddam commented on #1926
Thanks for reporting the issue. I see the following from the output of diagnose on cluster-a (or the `default` cluster)

1. It seems to be a single node cluster and there seems to be no gateway nodes labelled.
[code]
 Can you check if the single node in your cluster is labelled as Gateway node?
i.e., `kubectl get nodes -l submariner.io/gateway=true` should return atleast one node in your cluster.

[2022-07-19 12:19] pncps99 commented on #1926
When attempting to fix the issue I already labeled the gateway node, so the output of `diagnose` is as follows:
[code]

And the output of `subctl diagnose kube-proxy-mode`
[code]

Actually, both nodes have the gateway label, so what could still be the error?

[2022-07-19 13:58] aswinsuryan commented on #1868
These were cleaned up (for future reference)

In RouteAgent
1)Delete all the ports created as a part of ovn submariner -integration
2)Delete the bridges created for submainer
3) Flush the iptable rules added in non-g/w node which routes for intra-cluster traffic
4) Flush the iptable rules in g/w node which includes the clamping rules and the routes for intra-cluster traffic

In N/W plugin syncer

[2022-07-21 07:59] skitt opened #1932 "Matrix tests should check that the test was done using the relevant matrix entry"
**What happened**:

We’ve had various instances where a matrix test turned out not to be using the specific matrix variant; most recently, OVN tests have been using Weave instead of OVN.

**What you expected to happen**:

Each matrix entry should result in a test variant which specifically verifies that matrix entry. This should be verified as a separate GHA step (_not_ relying on the `using` func

[2022-07-21 09:46] sridhargaddam commented on #1926
In your latest output, I see that connections are successfully established. Are you still seeing issue with "subctl verify ..."?

[code]

The following can be ignored, its a diagnose pod
[code]

[2022-07-21 14:02] pncps99 commented on #1926
Here's the output from `subctl verify`:
[code]

[2022-07-21 15:15] sridhargaddam commented on #1926
Okay, so 3 tests are failing and that too when the remote pod is NOT on the gateway node.
Assuming that you ran the above command as "subctl verify ... local-cluster-kubeconfig remote-cluster-kubeconfig", run the diagnose on remote-cluster to check if there are any errors reported.

If subctl diagnose shows everything is fine, you can share the output of subctl gather (tar of the directory where t

[2022-07-21 15:37] pncps99 commented on #1926
This is the output of `diagnose` on the other cluster (the cluster that is not the broker)
[code]

[2022-07-21 16:23] sridhargaddam commented on #1926
You have to add the IPPools as explained here - https://submariner.io/operations/deployment/calico/

The connection status was all good from your previous logs and even some of the e2e tests were passing, any idea why its broken now?

[2022-07-25 17:26] pncps99 commented on #1926
Sorry for late response, but here's the output after fixing the IPPool issue:
[code]

Any idea?

Additionally, we added another K3s cluster, so now we have two K3s clusters (one of them is the broker) and one kubeadm cluster. The manual verification described in [this guide](https://submariner.io/getting-started/quickstart/k3s/#verify-manually), works fine between the two k3s clusters, but doesn't

[2022-07-26 06:59] sridhargaddam commented on #1926
Since you copied a partial output above, its not clear from which cluster the above output is from. And also, some of the messages are self explanatory as you can see below.

[code]

Anyways, we would need the output of **subctl gather** (tar of the directory where the log files are stored) from **all the three clusters** to understand why the connections are failing.

[2022-07-26 15:59] pncps99 commented on #1926
Okay, I will send you via Slack. Is that okay?

[2022-07-27 06:32] sridhargaddam commented on #1926
I think you can attach it to this issue for future record.

[2022-07-28 06:08] sridhargaddam commented on #1926
I had a look at the output of gather from three logs and see the following.
1. You have three clusters. Cluster-A and Cluster-B is a single node cluster and Cluster-C has three nodes.
2. All the clusters are directly reachable and do not seem to have access to internet.
3. Submariner detected the CNI as `generic` on Cluster-A and Cluster-B and Calico on `Cluster-C`
4. Based on the output from `sub

[2022-07-28 06:11] sridhargaddam commented on #1926
The original description of the issue does not match with the latest discussion. Please use individual issues and do not club multiple things in the same one.

[2022-07-28 09:45] yboaron opened #1943 "SM deployment (using LB) fails on OCP/AWS when number of gateways set in cloud prepare is > 0"
**What happened**:
A. I deployed OCP on AWS, check [1] for version details
B. Run subctl prepare using [2] command
C. Deploy SM with LoadBalancer service using subctl (0.13) CLI

SM deployment failed and the root cause was K8S service-controller failed to ensure the SM gateway LB service, with [3] error.

Running 'subctl prepare' with --gateways 0 solved the problem, but we need to find a way how

[2022-07-28 12:03] mkolesnik commented on #1943
Your server is very old, better use later OCP installer. Your `oc` is even older but I don't think that causes any issues here.

As for cloud prepare, it would be useful if you attached the run output so we know what it did.

[2022-08-01 10:58] sridhargaddam commented on #1615
Yes, I can @skitt :+1:

[2022-08-01 12:12] skitt commented on #1615
OK, this is complete.

[2022-08-01 12:12] #1615 closed, assigned to dfarrell07, skitt, sridhargaddam, tpantelis

[2022-08-01 13:14] skitt opened #1944 "Investigate exporting Submariner metrics without needing to open ports"
Currently we need to open ports to access some Submariner metrics (at least those exported on a port on the host network).

We should look into some other way of exporting the metrics which doesn’t require this. One possible idea is to use `NodePort`.

**Work Items**
- [x] https://github.com/submariner-io/enhancements/pull/128
- [x] https://github.com/submariner-io/subctl/pull/212
- [x] https://gi

[2022-08-01 14:07] sridhargaddam commented on #1944
Note: Currently we open the Metrics port (TCP/8080 and TCP/8081) only within the local cluster and not to the outside world. Using NodePort might solve the issue, but it can open the corresponding port globally which may not be what we want.

[2022-08-01 15:02] yboaron commented on #1943
OK, just to clarify, deployment fails only when SM is deployed using LoadBalancer.
I don't have the setup available, I'll reproduce it and attach the relevant logs when I have running env.

[2022-08-03 13:55] nyechiel commented on #1896
I think it would be good to understand how ARO behaves as well.

[2022-08-03 18:18] sridhargaddam opened #1949 "make reload-images is broken"
**What happened**:
With the latest submariner code-base after deploying the KIND clusters, when we run the command `make reload-images` its supposed to build and restart various submariner pods. Looks like this is broken.

[2022-08-03 18:19] sridhargaddam commented on #1949
CC: @mkolesnik

[2022-08-04 08:03] sridhargaddam commented on #1868
I noticed some stale routes and iptable rules from OVN-RouteAgent handler after running uninstall. Re-opening this issue and will push the corresponding PRs.

[2022-08-04 14:24] #1868 closed, assigned to sridhargaddam, aswinsuryan

[2022-08-08 12:58] yboaron commented on #1896
According to feedback from ARO experts, adding new labels to nodes is possible with CLI [1]  using the 'oc label node ' command

[1]
https://docs.microsoft.com/en-us/azure/openshift/tutorial-connect-cluster#connect-using-the-openshift-cli

[2022-08-09 13:12] dfarrell07 commented on #1631
Discussed on the scrub today, we're not sure if this is still an issue. Is it still showing up in the most recent versions? We think we've reduced the number of errors and amount of logging.

I wonder if this should be subsumed by a longevity testing exercise.

[2022-08-09 13:15] dfarrell07 commented on #1747
@yboaron was saying on the sync call this may have been fixed as a part of work with the health checker.

[2022-08-09 13:18] dfarrell07 commented on #1755
If there's something unexpected with pod logs persisting across reboots it's likely not fixable by us, so closing. -scrub

[2022-08-09 13:18] #1755 closed, assigned to nobody

[2022-08-09 13:25] dfarrell07 commented on #1198
Talking about this on the scrub today, we think tunnels don't provide this error count like other linux interfaces. @skitt will double check.

[2022-08-09 13:27] skitt commented on #1198
@sridhargaddam the idea is to ake this kind of information available as metrics:

[code]

This is tracked for some tunnel types at least, _e.g._

[code]

but perhaps not for the types we use.

[2022-08-09 13:27] dfarrell07 commented on #1736
I'm wondering if K8s moving away from this and to https://github.com/submariner-io/subctl/pull/105 would have resolve any issue?

[2022-08-09 13:32] dfarrell07 commented on #1535
Talking about this on the scrub, we're not sure if this is a practical solution that meets our needs. Maybe @mkolesnik wants to add details?

[2022-08-09 13:36] mkolesnik commented on #1535
AFAIK our main problem is not with the routing table, but rather with the way iptables-based CNIs decide to do NAT for traffic leaving from a pod.
That's why we use internal VXLAN tunnels and send traffic through them, to avoid any such problems from the underlying CNI.

If there's some solution for this it might be interesting, but as it stands the proposed solution doesn't cut it.

[2022-08-09 13:36] #1535 closed, assigned to astoycos

[2022-08-09 14:24] yboaron commented on #1748
Hi,
Could you please provide also the details below?

- The network configuration (network interfaces ) in the gateway node before applying the NNCP resource
- cloud provider

[2022-08-10 18:05] Prophetick opened #1957 "Created EndpointSlices miss service name label and make metallb crash"
**What happened**:
The EndpointSlices resources created by submariner are making metallb speaker pods crash during runtime. This behaviour is due to the EndpointSlices missing a service name label, and it can be manually fixed by adding the label to the EndpointSlice resource in question. All the verifications mentioned in the [documentation](https://submariner.io/getting-started/quickstart/k3s/#v

[2022-08-11 23:20] #1769 closed, assigned to nobody

[2022-08-12 05:55] Sword-zhj opened #1959 "exec command: subctl join broker-info.subm got an error message. [No worker node available to label as the gateway]"

[2022-08-12 05:56] Sword-zhj commented on #1959
<img width="807" alt="image" src="https://user-images.githubusercontent.com/32220271/184293258-90e965bd-d14f-4d5a-9d51-16006ea5e81e.png">
how can i fix this warning？

[2022-08-12 14:07] tpantelis commented on #1959
There must be at least [Gateway Engine](https://submariner.io/getting-started/architecture/gateway-engine/) instance running in the cluster. The `Gateway Engine` will run on any node labeled with `submariner.io/gateway=true`. `subctl` tries to find a non-master node (ie one not labeled with `node-role.kubernetes.io/master`). So it seems you only have master nodes in your cluster in which case you

[2022-08-12 14:12] Sword-zhj commented on #1959
thinks very much.

[2022-08-12 14:12] Sword-zhj commented on #1959
thanks very much.

[2022-08-12 14:16] Sword-zhj commented on #1959
<img width="1162" alt="image" src="https://user-images.githubusercontent.com/32220271/184371719-024ce32d-2b81-4c41-8271-0d8ee05f3f27.png">
What causes above error？ when i exec the command [subctl show all]. @tpantelis

[2022-08-12 16:32] tpantelis commented on #1959
That means the cluster wasn't joined, specifically the [Submariner](https://github.com/submariner-io/submariner-operator/blob/9bf9b0ba4eb131c2ad8c4c7b9005150cc46d662d/pkg/embeddedyamls/yamls.go#L103) CR doesn't exist.

[2022-08-15 08:22] Sword-zhj commented on #1959
thank you very much

[2022-08-15 08:23] #1959 closed, assigned to nobody

[2022-08-15 08:38] Sword-zhj opened #1960 "use command [subctl diagnose all] to diagnose issues with, each cluster. I got an error"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
I have two clusters named cluster-001 and cluter-002, two cluster with overlapping CIDRs, and deploy-broker with flag --globalnet in cluster-001.
Show overview of, and diagnose issues in  cluster-001:
<img width="1012" alt="image" src="https:/

[2022-08-15 08:45] Sword-zhj commented on #1960
The cluster is deployed with kube-proxy ipvs mode which Submariner does not support. This means kube-proxy iptable mode is supported？

[2022-08-15 09:07] Sword-zhj commented on #1960
Why connection to cluster "cluster-002" is not established.

[2022-08-15 14:58] dfarrell07 commented on #794
I did this for Lighthouse with:

* https://github.com/submariner-io/lighthouse/pull/798
* https://github.com/submariner-io/lighthouse/pull/819
* https://github.com/submariner-io/lighthouse/pull/820

[2022-08-16 01:50] 631068264 opened #1962 "Can't deploy broker when offline"
**What happened**:

subctl deploy-broker --kubeconfig karmada-config --repository private-repo/submariner --version 0.13.0

 ✓ Setting up broker RBAC
 ✗ Deploying the Submariner operator
 ✓ Created operator namespace: submariner-operator
 ✓ Created operator service account and role
 ✓ Created submariner service account and role
 ✓ Created lighthouse service account and role
 ✗ Error deploying Subm

[2022-08-16 06:44] 631068264 opened #1963 "Use helm install submariner， how to Run the verification"
**What happened**:

Follow https://submariner.io/operations/deployment/helm/ to install.

Three clusters I have ,  one is host cluster , the other two cluster is member.

Installed  broker and subctl  on host cluster , submariner-operator  on two member clusters.

[code]

install values.yaml
[code]

on member cluster
[code]

- Cloud provider or hardware configuration:
- Install tools:  helm3  subm

[2022-08-16 07:11] skitt commented on #1782
This has been fixed.

[2022-08-16 07:11] #1782 closed, assigned to nobody

[2022-08-16 07:21] 631068264 commented on #1926
I can't find any description about  `submariner.io/gateway=true` in https://submariner.io/getting-started/quickstart/k3s/

[2022-08-16 07:32] sridhargaddam commented on #1960
Yes

[2022-08-16 07:34] sridhargaddam commented on #1960
Since there are no logs (i.e., output of `subctl gather`) its hard to tell from the limited information. However, one potential reason could be IPVS mode, so you can try with kubeproxy iptables mode and if you still see the issue attach the relevant logs as per the template.

[2022-08-16 07:57] 631068264 commented on #1963
I  find https://github.com/submariner-io/submariner/issues/1926#issuecomment-1191276554  and  add label `submariner.io/gateway=true`  to the node in two member clusters.

And the gateway pod CrashLoopBackOff
[code]

[code]

[2022-08-16 08:35] 631068264 commented on #1963
I  find https://github.com/submariner-io/submariner/issues/1649  and add `annotate gateway.submariner.io/public-ip=ipv4`

Now all the check is well for member clusters
[code]

verify still get error

[code]

[2022-08-16 08:47] Sword-zhj commented on #1960
Does Submariner has plans to support kube-proxy ipvs mode. Kube-proxy ipvs mode is commonly used from Kubernetes v1.11.

[2022-08-16 17:19] sridhargaddam commented on #1960
It on the road-map, but not on the immediate priority list. If you have any links about the adoption of IPVS mode in kube-proxy, please share it.

[2022-08-17 02:53] pengbinbin1 opened #1966 "can only access the pod on the gateway node"
**What happened**:
I have deploy the submariner on my 3 ckuster by subctl ,the version is 0.13.0 . I have export the service on cluster1 ,but when i want to access the export service on cluster2 or cluster3 by the  global IP , I only access it  when the endpoint is round robin to one that is on the gateway node ,otherwise it will fail.

**What you expected to happen**:

**How to reproduce it (as m

[2022-08-17 16:17] dfarrell07 commented on #794
It would be interesting to check if CodeQL identifies anything not found by other tools.

https://docs.github.com/en/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql
https://codeql.github.com/

[2022-08-17 16:50] dfarrell07 commented on #794
For the main repo:

* https://github.com/submariner-io/submariner/pull/1961
* https://github.com/submariner-io/submariner/pull/1968

[2022-08-17 19:58] dfarrell07 commented on #794
And the rest of them:

* https://github.com/submariner-io/submariner-operator/pull/2181
* https://github.com/submariner-io/subctl/pull/217
* https://github.com/submariner-io/admiral/pull/400
* https://github.com/submariner-io/cloud-prepare/pull/357
* https://github.com/submariner-io/coastguard/pull/73
* https://github.com/submariner-io/shipyard/pull/920

[2022-08-17 22:52] dfarrell07 commented on #794
Evaluating CodeQL vuln variant analysis here:
https://github.com/dfarrell07/lighthouse/pull/6

The Go security rules are here (I don't see better docs):
https://github.com/github/codeql/tree/main/go/ql/src/Security

[2022-08-18 00:46] dfarrell07 commented on #794
I used LGTM.com to run CodeQL against all the submariner-io repos. The test I did in Lighthouse was just unlucky to not see any new issues, there are other (minor from what I see so far) issues in other repos.

![lgmt_codeql_scan_submio](https://user-images.githubusercontent.com/880273/185267904-bddc75c9-5cdb-4ffc-b461-838570aa1982.png)

[2022-08-18 00:50] dfarrell07 commented on #794
![lgmt_codeql_scan_subadd](https://user-images.githubusercontent.com/880273/185268412-4d38fb68-afd9-484d-b131-b6bfbca82e4a.png)
![lgmt_codeql_scan_subop](https://user-images.githubusercontent.com/880273/185268415-aa6ac163-63d9-4044-a631-0ff34a40525a.png)
![lgmt_codeql_scan_subctl](https://user-images.githubusercontent.com/880273/185268418-c5c7c29b-9d3b-4520-aaf7-2b15fe1bd796.png)
![lgmt_codeql_sca

[2022-08-18 14:06] dfarrell07 opened #1970 "Add CodeQL variant analysis scanning"
As originally discussed on #794, CodeQL is a different type of scanner than the others we run and identifies new issues.

Querying code using CodeQL is the most efficient way to perform variant analysis. You can use the standard CodeQL queries to identify seed vulnerabilities, or find new vulnerabilities by writing your own custom CodeQL queries. Then, develop or iterate over the query to automati

[2022-08-22 06:32] #1960 closed, assigned to nobody

[2022-08-22 14:31] skitt opened #1975 "Add a label for PRs which need to be squashed"
To reduce the incidence of merged PRs with “review commits”, it would be useful to support a specific “needs-squashing” label, with attendant automation to prevent merges of PRs with that label. This would still allow users to handle the squash, without needing any manual work using `git`, by removing the label and doing a “merge with squash”.

This will need to be implemented at least partially o

[2022-08-23 13:09] dfarrell07 commented on #1421
Talking with @yboaron on the PR/Issue scrub today, closing for now.

[2022-08-23 13:09] #1421 closed, assigned to yboaron

[2022-08-23 13:11] dfarrell07 commented on #1611
Talked about this on the PR/Issue scrub, we're still interested in this, if anyone wants to work on it that would be welcome.

[2022-08-24 05:16] jinglina opened #1977 "two on-premises clusters connectivity in clusterset"
in a clusterset with on-premises and public clusters included, is it necessary to guarantee they are IP reachable (two on-premises clusters) with public or private ips?  If they are not ip reachable, is it possible to establish connections between clusters across broker cluster?

[2022-08-24 05:40] jinglina commented on #1977
For example, in clusterset, there are four clusters: broker-cluster, public cluster and two  on-premises(they are not ip reachable using public ip or private ip)。 How the two on-premises clusters can be conencted with each other? If ip reachable is necessary with public or private ip, how to solve this kind of cluster combination? is it necessary doing something using broker cluster ?

[2022-08-24 05:50] dirajag1 opened #1978 "Pod connectivity goes down when any node moves to `NotReady` state"
**What happened**:
Pod connectivity went down when one node moved to NotReady state .
Was unable to ping pod IP across the cluster .
However, subct diagnose all and subctl show all commands ran successfult and showed that there was 1 connection established between the clusters

[code]

**What you expected to happen**:
Connectivity should have remained intact

**How to reproduce it (as minimally an

[2022-08-24 15:31] sridhargaddam commented on #1977
You can find various typologies and what is supported and what is not in the following link - https://submariner.io/operations/nat-traversal/

If the two onPrem clusters are not reachable using publicIP or privateIPs, then connections cannot be established between these two clusters. Currently Submariner uses Broker only for exchanging the metadata and not as a transit router, so we cannot do anyt

[2022-08-24 15:31] #1977 closed, assigned to nobody

[2022-08-24 21:22] dfarrell07 commented on #1740
* https://github.com/submariner-io/lighthouse/pull/821
* https://github.com/submariner-io/lighthouse/pull/858
* https://github.com/submariner-io/lighthouse/pull/861
* https://github.com/submariner-io/submariner/pull/1980
* https://github.com/submariner-io/admiral/pull/405
* https://github.com/submariner-io/cloud-prepare/pull/366
* https://github.com/submariner-io/coastguard/pull/77
* https://githu

[2022-08-25 08:36] sridhargaddam commented on #1978
@dirajag1 I see that you are running with OVNKubernetes in an HA mode where the three control nodes are labelled as Gateway nodes.

Couple of questions
1. Is this an OpenShift deployment. If so, what is the OCP version?
2. You mentioned that moving one of the nodes on any cluster to `NotReady` state is creating issue. May I know which node did you move? Is it the active Gateway node or a worker no

[2022-08-25 09:44] sridhargaddam opened #1981 "OVN+Globalnet: Missing rule in SUBMARINER-POSTROUTING chain"
**What happened**:

When Globalnet is deployed with OVN, the `SUBMARINER-POSTROUTING` chain sometimes does not have the rule to forward the traffic to `SUBMARINER-GN-EGRESS` chain. It was seen that this rule is present in one of the clusters but missing on the second cluster in a KIND+OVN+Globalnet deployment.

This rule is important as its an entry point to the Globalnet pipeline where the SNAT o

[2022-08-25 10:04] dirajag1 commented on #1978
Hi @sridhargaddam
1. OC version
[code]
2.  A worker node `compute-2` went to `NotReady` state , it was not the active gateway node
3. Yes we have observed this issue across 2 clusters

[2022-08-25 10:35] sridhargaddam commented on #1978
Thanks @dirajag1 for the details. Submariner supports OVNKubernetes in 0.13 release and the minimum OCP version is 4.11+

This is captured in the third bullet point of release-0.13 notes.
https://github.com/submariner-io/releases/releases/tag/v0.13.0

[code]

Can you try upgrading to Submariner 0.13 and OCP4.11+ clusters.

[2022-08-25 10:38] dirajag1 commented on #1978
Thanks @sridhargaddam

With OVN Kubernetes this was working on OCP 4.8

[2022-08-25 10:52] dirajag1 commented on #1978
https://submariner.io/getting-started/

Could you please share more information on why this worked on OCP 4.8 .
We have a working submariner  installation (version 0.12.0) on OCP 4.8 where the pod and service network connections were working fine

[2022-08-25 10:55] sridhargaddam commented on #1978
Yes @dirajag1, we had a POC support for OVNKubernetes on OCP4.8 and there were some changes in OVNK due to which Submariner does not support OVN on OCP 4.9 and 4.10, and only supports OVN with OCP 4.11+ in version 0.13 or later as mentioned in the release notes.

[2022-08-25 11:39] sridhargaddam opened #1982 "OVN+Globalnet: Missing default route in table 150 on all the worker nodes"
**What happened**:

In order to support Host networking use-case with Submariner, the OVN route-agent handler programs a default route in table 150 with nexthop that matches with the nexthop on ovn-k8s-mp0 interface. Basically, its to inform that Submariner managed traffic should be forwarded to the `ovn_cluster_router` and pass through the CNI network and not via the default routes present on the

[2022-08-25 11:55] sridhargaddam opened #1983 "OVN+Globalnet: Redirect the ingress traffic to a cluster via the submariner_router"
**What would you like to be added**:
In an OVN+Globalnet deployment, it was seen that routes in table149 were missing on the Gateway node because of which datapath use-cases were failing. Basically these routes are necessary to redirect the ingress traffic coming from the remote cluster over the tunnel into the Logical `submariner_router` of the OVN pipeline.

[2022-08-25 12:09] sridhargaddam opened #1984 "OVN+Globalnet: Fix logical routes programmed in submariner_router"
**What would you like to be added**:
In an OVN+Globalnet deployment, it was seen that the logical routes programmed on `submariner_router` are using globalCIDRs and not the local Cluster CIDRs because of which datapath use-cases are failing. Since the GlobalEgress/Ingress IP translations happen outside of `submariner_router` the logical routes should be programmed with the local ClusterCIDRs.

[2022-08-25 13:00] #1978 closed, assigned to nobody

[2022-08-25 13:41] dfarrell07 commented on #1970
@skitt do you agree this is useful, something we should implement?

[2022-08-25 15:13] zcz-1020 opened #1985 "Questions about broker"
Broker is not a process or a pod. What is it? How to understand its implementation more commonly?

[2022-08-25 15:16] tpantelis commented on #1985
Please refer to the [architecture documentation](https://submariner.io/getting-started/architecture/broker/).

[2022-08-25 15:39] skitt commented on #1970
This does seem worthwhile, especially since [it’s being integrated into GitHub code scanning](https://github.blog/2022-08-15-the-next-step-for-lgtm-com-github-code-scanning/).

[2022-08-25 15:48] #1985 closed, assigned to nobody

[2022-08-25 17:34] dfarrell07 commented on #794
This is done. :heavy_check_mark:

[2022-08-25 17:34] #794 closed

[2022-08-26 01:16] jinglina commented on #517
Any further disscussions?

[2022-08-29 13:00] sridhargaddam opened #1990 "Add e2e tests to validate datapath behavior when broker is down"
**What would you like to be added**:
Theoretically, when the connectivity to Broker cluster is down, the existing connections as well as exported services should continue to work fine. We should have an e2e test to validate that datapath functionality is intact (for existing connections) even when Broker is down.

[2022-08-30 13:50] dfarrell07 commented on #1966
I think we'd need more information, like the info requested in the issue template, to be able to do much with this.

[code]

[2022-08-30 16:54] dfarrell07 commented on #1990
We should also document the behavior of Submariner during this failure mode.

[2022-08-30 19:32] dfarrell07 commented on #1970
I thought there might be an issue where we were building twice, but it turns out init doesn't build for golang despite very confusing docs.

[2022-09-01 12:03] #1982 closed, assigned to sridhargaddam

[2022-09-01 14:37] #1984 closed, assigned to sridhargaddam

[2022-09-05 16:05] #1983 closed, assigned to sridhargaddam

[2022-09-06 14:53] aswinsuryan opened #2004 "Race condition in ovn routeagent handler"
**What happened**:
The ovn routeagent could endup with missing flows if delete event come after a create  event for a cluster in case where g/w switch from one to another for a cluster. This would lead to broken connectivity due to missing flows.

The issue is discussed in https://github.com/submariner-io/submariner/pull/1989/

**What you expected to happen**:
Delete should be processed only if th

[2022-09-06 15:45] #1981 closed, assigned to aswinsuryan

[2022-09-07 10:04] lmxia opened #2005 "ping failed from pod on GW node to non GW node pod."
**What happened**:
 Ping from pod on  GW node in edg2 cluster to pod on non-GW in edge1 cluster failed, both use flannel CNI.
[code]

**What you expected to happen**:
Ping success no matter pods on GW node or not.

**How to reproduce it (as minimally and precisely as possible)**:

Just follow subctl doc file install the operator, be sure each cluster use flannel CNI, i did't check on other CNI plu

[2022-09-07 14:21] sridhargaddam commented on #2005
As discussed on Slack, can you try the following.

Identify the node where the pod with IP (172.21.1.16) is scheduled. On that node, you can execute the following command (you can exec to the submariner-route-agent pod running on that node as route-agent runs with HostNetworking enabled). You will have to repeat this on all the non-Gateway nodes of your edge1 cluster. Try ping once again after mak

[2022-09-08 01:59] lmxia commented on #2005
@sridhargaddam , not good.
[code]
but may because flannel.1 has a dot, so i checked this file, and found it's 2 by default:
[code]

[2022-09-08 14:24] vthapar commented on #1944
@skitt @nyechiel Can we close this now, or when it becomes part of next milestone release?

[2022-09-08 14:52] sridhargaddam commented on #2005
Okay, so we have to understand where the traffic is getting dropped and why.

Since the Gateway connections are all good and connectivity between the Gateway nodes is good, the submariner configuration for the Gateway nodes is working fine. When the pod resides on the non-GW nodes and if a remote client tries to connect to this pod, the ingress traffic is handled by the CNI and not by Submariner.

[2022-09-08 17:34] nyechiel commented on #1944
I think we can close it. This is fixed by: https://github.com/submariner-io/submariner-operator/pull/2182

@vthapar can you please make sure we track any docs changes (actual docs and release notes) separately?

[2022-09-08 17:34] #1944 closed, assigned to vthapar

[2022-09-13 07:06] sridhargaddam opened #2012 "Make deploy is using images from quay instead of locally built images"
**What happened**:

With the latest submariner devel repo (dated: 13 Sep, 2022), when I run "make deploy", the KIND clusters are deployed, however the images are pulled from quay.io and not the locally built images.

**What you expected to happen**:
make deploy is supposed to use local images instead of images from quay.

[2022-09-13 08:10] sridhargaddam commented on #2012
Looks like the issue was due to some stale images. After invoking `docker system prune -a` and running "make deploy", it looks good.

[2022-09-13 08:10] #2012 closed, assigned to nobody

[2022-09-13 14:43] MaxBab opened #2013 "Refactor gateways (redundancy) tests"
The GatewayFailOver and GatewayPodRestart tests are part of the "redundancy" tests group.
The "gateways" tests implementation allows execution of the tests only on kind environment and could not be executed on real OCP environments.

As discussed in the following threads [1] [2]:
Existing "gateway-failover" test is not a real scenario.
In the existing scenario, the gateway node that should be fail

[2022-09-13 21:01] dfarrell07 commented on #1970
I have the PRs for this on hold, in draft, while I'm trying to sort out some weirdness that was exposed by sending them around to the various repos.

In short, I haven't been able get the CodeQL builds to fail on code that contains errors (https://github.com/dfarrell07/submariner-operator/pull/116, https://github.com/dfarrell07/submariner/pull/53, https://github.com/dfarrell07/submariner/pull/54)

[2022-09-14 19:09] sridhargaddam opened #2015 "OVN: Remove redundant iptable mtu rules in the filter table."
**What happened**:
The OVN Handler in the route-agent programs iptable rules in the filter table clamping the tcp-mss value to some fixed value.
However, the mtu_handler which is part of route_agent already implements the same functionality but programs the rules in
the mangle table and this is a generic handler which works for different CNIs. So, the rules in filter table can be considered as red

[2022-09-16 09:09] lmxia commented on #2005
I found out what was wrong. This the pod cidr overlap with an existing route rule.

`E0907 08:49:45.921368       1 routes_iface.go:235] Error adding route {Ifindex: 11 Dst: 172.17.0.0/16 Src: <nil> Gw: 240.169.33.29 Flags: [] Table: 0}: file exists`

I change the pod cidr, and everything is good.

[2022-09-16 09:09] #2005 closed, assigned to nobody

[2022-09-17 06:41] pengbinbin1 opened #2020 "How the packet reaches the WireGuard interface submariner？"
I have deployed my clusterset with 3 clusters use the cable driver wireguard. I found submariner will generate a  interface named `submarine` on the host and the interface type is wireguard. But i can not find any route for this interface,so how the packet reaches this interface ? allowed ips ? If so, what is the implementions about aloowed ips?

[2022-09-17 12:11] #2020 closed, assigned to nobody

[2022-09-18 14:51] sridhargaddam commented on #2005
@lmxia can you eloborate where the pod CIDRs were overlapping? This will help us to fix any corner cases in our validation script.

Basically, when you ran `subctl diagnose all` command on your clusters, one of the validation is to check if the CIDRs are overlapping. According to the logs you shared, the CIDRs were all good. But in your last comment you mentioned that the issue was due to pod CIDR

[2022-09-19 07:07] #2015 closed, assigned to sridhargaddam

[2022-09-20 13:21] dfarrell07 commented on #1962
This is tracked by https://github.com/submariner-io/submariner/issues/1790

[2022-09-20 13:22] dfarrell07 commented on #1790
Another user reported a relevant issue, need to check if it's something new or already covered: https://github.com/submariner-io/submariner/issues/1962

[2022-09-20 13:55] MaxBab opened #2030 "REQUEST: New membership request for maxbab"
### GitHub Username
@maxbab

### Requirements
- [x] I have reviewed the contributor roles guidelines (https://submariner.io/community/contributor-roles/)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the submariner-dev e-mail list (https://groups.google.com/forum/#!forum/submariner-dev)
- [x] I have multiple contributions to Submari

[2022-09-20 15:59] dfarrell07 commented on #2030
Looks great!:heavy_check_mark:  Thank you for your contributions @MaxBab!

[2022-09-20 16:04] skitt commented on #2030
Likewise, I heartily endorse this request.

[2022-09-20 17:30] sridhargaddam commented on #2030
+1 from me.

[2022-09-20 17:31] tpantelis commented on #2030
and me

[2022-09-21 05:40] sridhargaddam commented on #1641
still relevant

[2022-09-21 17:15] astoycos commented on #1393
Sorry never got to this either :(

[2022-09-21 17:16] astoycos commented on #1631
Let's close for now If this isn't an issue

[2022-09-21 17:16] #1631 closed, assigned to sridhargaddam, astoycos

[2022-09-23 17:56] goncalopcarvalho opened #2035 "Unable to get connectivity between services on a two-cluster scenario in both directions using Calico"
**What happened**:
I'm unable to get connectivity between services on a two-cluster scenario in both directions. One direction works but not the other.
The tested scenario includes a three-node kubeadm cluster (cluster A) with a public IP using Calico, and a single-node kubeadm cluster (cluster B) with a private IP using Flannel. The submariner broker is running in the three-node cluster and globa

[2022-09-27 13:06] dfarrell07 commented on #1669
Confirmed this is still nice to have but we don't currently have bandwidth - scrub

[2022-09-27 13:09] dfarrell07 commented on #1799
And there is a permissions issue

[2022-09-27 13:44] dfarrell07 commented on #2035
@sridhargaddam is working with this user via Slack, has an understanding of the issue but needs to either access the cluster or make a new one to reproduce and dig more.

[2022-09-28 00:39] #1649 closed, assigned to nobody

[2022-09-28 00:39] #1685 closed, assigned to srampal

[2022-09-29 07:26] nyechiel commented on #1740
@dfarrell07 is there anything left for review here?

[2022-09-29 07:34] nyechiel commented on #1943
@yboaron is this still relevant?

[2022-09-29 09:01] yboaron commented on #1943
Yep, [1] should address this one.
But it isn't in 0.14 scope, right?

[1]
https://github.com/submariner-io/cloud-prepare/pull/385

[2022-09-29 17:14] dfarrell07 commented on #1970
Still trying to figure out why CodeQL doesn't flag the same issues flagged by LGTM.com using CodeQL.

One last test with all the tweaks learned from the Operator iterations, just to be super clear about the lack of negative results:

In https://github.com/dfarrell07/submariner/pull/56/commits/260afb34fadd1cc4c9b9647b377d2242fdd88333, I revert the commit that is [identified by LGTM.com](https://lgt

[2022-09-29 23:26] dfarrell07 commented on #1970
The really fun part is whatever's going on with subctl. Always fails with:

[code]

https://github.com/submariner-io/subctl/pull/244

[2022-09-30 18:14] dfarrell07 commented on #1799
The permissions would make more sense to track as a part of https://github.com/submariner-io/submariner/issues/1740.

[2022-09-30 18:16] dfarrell07 commented on #1740
The periodic markdown link check job's permissions still need tweaking, I'll use `Depends on` to track.

[2022-10-02 12:02] yboaron commented on #1896
@nyechiel @sridhargaddam Well, since this is the expected behavior (labeling node isn't allowed ) for ROSA clusters, I think we shouldn't treat it as Submariner bug. Do you think we can close this one (and just document the workaround ) ?

[2022-10-03 14:05] yboaron opened #2043 "e2e test failed between ROSA and AWS"
I deployed Submariner on AWS and ROSA as follows:

AWS - deployed using subctl (v0.13.1), standard deployment (non LB)
ROSA - deployed using subctl (devel , including the SCC fix), with LoadBalancer service
SM deployed successfully on ROSA using only [1] workaround

ROSA cluster details: OC version: 4.11.5  SDN : OVNKubernetes
AWS cluster details :  OC version: 4.11.5  SDN: OpenShiftSDN

One of th

[2022-10-03 15:01] yboaron commented on #2043
A similar issue is seen also with GlobalNet , after applying mss clamping [2]  WA on GW node at ROSA cluster all tests are green

[1]
Summarizing 11 Failures:

[Fail] [dataplane-globalnet] Basic TCP connectivity tests across overlapping clusters without discovery when a pod connects via TCP to the globalIP of a remote service when the pod is not on a gateway and the remote service is not on a gate

[2022-10-04 13:12] dfarrell07 commented on #1803
Tracked in https://github.com/submariner-io/submariner/issues/1799

[2022-10-04 13:12] #1803 closed, assigned to nobody

[2022-10-04 13:12] dfarrell07 commented on #1811
Tracked in https://github.com/submariner-io/submariner/issues/1799

[2022-10-04 13:12] #1811 closed, assigned to nobody

[2022-10-04 13:12] dfarrell07 commented on #1818
Tracked in https://github.com/submariner-io/submariner/issues/1799

[2022-10-04 13:12] #1818 closed, assigned to nobody

[2022-10-04 13:19] dfarrell07 commented on #1808
Sorry we missed this! It sounds to me like the main thing there is being able to override the images you deploy. That should be possible today, see the subctl `--image-override` flag: https://submariner.io/operations/deployment/subctl/#join-flags-images-and-repositories

Note that if this is also an air-gapped deployment, we think that works now but are adding CI. Tracking that here: https://githu

[2022-10-04 18:20] sridhargaddam commented on #1896
Fine with me.

[2022-10-12 07:35] dfarrell07 commented on #1799
[code]

https://github.com/submariner-io/submariner/actions/runs/3212299586

[2022-10-12 09:49] iplakas commented on #1926
Any update on this,  i get the same output ("Failed to find Clusters..") ?

[2022-10-15 06:35] dfarrell07 commented on #1799
Re-running an old failed link check job didn't work, but I'm not sure that's a valid test (if it's running with the new workflow). Will have to wait on it to run normally tomorrow.

https://github.com/submariner-io/submariner/actions/runs/3166737223/jobs/5343273337

[2022-10-16 00:31] github-actions[bot] opened #2063 "Broken link detected by periodic linting"
Periodic link aliveness CI detected a broken link.

Please check the [Periodic workflow](https://github.com/submariner-io/submariner/actions?query=workflow%3APeriodic).

[2022-10-17 08:07] dfarrell07 commented on #1799
Issues are being opened again, permissions are sorted out: https://github.com/submariner-io/submariner/issues/2063

[2022-10-17 08:07] dfarrell07 commented on #2063
This issue being opened successfully shows that permissions are sorted out.

[2022-10-17 08:07] #2063 closed, assigned to nobody

[2022-10-17 08:08] dfarrell07 commented on #1740
Broken link job permissions are sorted out: https://github.com/submariner-io/submariner/issues/2063

[2022-10-17 21:28] #1799 closed, assigned to dfarrell07

[2022-10-18 08:19] yboaron commented on #1896
This is not a Submariner bug (labeling and annotating nodes is blocked on ROSA), in order to allow Submariner gateway deployment a new machinepool (see [1]) should be created.

We should document this step and close this bug.
[1]
rosa create machinepool --cluster=<cluster-name> --name=sm-gw-mp --replicas=2 --labels='submariner.io/gateway=true'

[2022-10-18 08:19] #1896 closed, assigned to yboaron

[2022-10-18 10:41] skitt commented on #2030
I’ve invited Maxim to join the Submariner organisation on GH.

[2022-10-18 10:41] #2030 closed, assigned to nobody

[2022-10-18 13:08] dfarrell07 commented on #1871
CC @yboaron @sridhargaddam

[2022-10-18 13:12] dfarrell07 commented on #1738
CC @vthapar might take this up if/when he has time.

It was discussed if these are related:
https://github.com/submariner-io/lighthouse/pull/899
https://github.com/submariner-io/lighthouse/pull/879

[2022-10-18 13:17] dfarrell07 commented on #1734
@sridhargaddam says there is a work-around for this, lowering prio.

[2022-10-18 13:43] sridhargaddam commented on #1738
**Some additional notes:**

Submariner Globalnet controller internally creates an additional service with globalIP configured as external_ip. When the original service is updated, the Globalnet controller does not listen on the service updates, so it will not update the internal service, because of this, port update is not propagated to the internal service as we can see below.

[code]

[2022-10-18 13:46] dfarrell07 commented on #1949
Maybe we should re-verify this after @mkolesnik's refactoring in Shipyard.

[2022-10-18 13:50] sridhargaddam commented on #1949
Just verified with the latest devel codebase and confirm that its still broken.

[2022-10-19 15:51] #2004 closed, assigned to aswinsuryan

[2022-10-20 19:06] tpantelis commented on #1642
Looks like this is fixed by https://github.com/submariner-io/submariner-operator/pull/1850 which will be in 0.14.

[2022-10-20 19:06] #1642 closed, assigned to dfarrell07

[2022-10-21 13:30] jeinwag opened #2076 "NAT discovery always active?"
I've managed to successfully deploy submariner (0.14.0-m2) on two Kubernetes clusters in a private network (clusters joined with -natt=false)

However, when doing failover tests with multiple deployed gateways, the speed of the failover operation seems kind of slow. I noticed that the gateway is still trying to do NAT discovery. Once the the operation has timed out ("NAT discovery for endpoint ...

[2022-10-24 10:55] skitt commented on #1740
This has been completed.

[2022-10-24 10:55] #1740 closed, assigned to dfarrell07

[2022-10-25 06:36] nyechiel commented on #2043
@yboaron can you please update this one?

[2022-10-25 06:38] nyechiel commented on #2076
@aswinsuryan can you take a look at this issue?

[2022-10-25 14:00] tpantelis commented on #1963
The `verify` command creates a namespace specifically for the tests and deletes it afterwards. It uses the K8s feature to generate a unique name for the namespace with a given prefix. In this case the generated namespace name was `e2e-tests-dataplane-gn-conn-nd-tzc2l`. It was successfully created on cluster "member1" but it failed on cluster "member2" reporting that it already exists. Since the na

[2022-10-26 12:14] sridhargaddam commented on #2076
I'll let @aswinsuryan to debug/comment on this issue.

Just thought of sharing one small observation: The NAT discovery might be timing out when trying to connect to the `public_ip` listed in the endpoints (which will fail as both the clusters are behind the same router). If your cluster is only reachable on the private-ips and/or if its in an air-gapped deployment, you can try passing the followi

[2022-10-26 12:57] yboaron commented on #2043
-  Seems to be related to MTU (happens in both GN and non GN deployments)
-  Further investigation is needed
-  Need also to check how to allow mss-clamping workaround based on node's annotation for ROSA clusters (as nodes annotation is blocked in ROSA)

[2022-10-27 08:12] jeinwag commented on #2076
Thanks, I'll have a look at the --air-gapped option. Can I just redo the join without having to uninstall first?

I also tried explicitly setting the public address to the same address as the private one via annotations. I can see the NATT packets passing between the servers, but submariner doesn't seem to register them - I always end up running into a timeout.

[2022-10-27 10:28] yboaron commented on #2043
- e2e tests (non GN) between ARO and ROSA seem to be OK (in both directions).
- As per ROSA and AWS case ,  I can see on tcpdump(on ROSA GW node) the ICMP fragmentation needed msg, it's an MTU issue.

[2022-10-30 11:50] yboaron commented on #2043
After [allow setting particular MSS clamping for non-GN PR](https://github.com/submariner-io/submariner/pull/2087) got merged.
Annotating the GW  node (submariner.io/tcp-clamp-mss=<desired MSS value>)  on AWS cluster should solve the issue.

[2022-10-30 11:50] #2043 closed, assigned to yboaron

[2022-11-02 09:04] sridhargaddam commented on #1892
Unfortunately there is no easy way to reproduce this issue as it does not happen all the time. We can close this for now and reopen when we know the exact steps to reproduce the problem.

[2022-11-02 09:04] #1892 closed, assigned to nobody

[2022-11-02 13:34] yboaron opened #2096 "Update subctl cloud prepare for various clouds like AWS/GCP/Azure/OSP to support load-balancer mode"
When Submariner is being deployed using LoadBalancer service there is no need to create infrastructure resources (for example SG) to allow N/S traffic.

Subctl Prepare needs to be updated to support Submariner
deployment with LoadBalancer service.

[2022-11-02 13:58] aswinsuryan commented on #2076
@jeinwag it is better to do a subctl unistall and do a deploy-broker and join.

[2022-11-07 09:39] zcz-1020 opened #2104 "brid：KIF： Invalid interafce address 240.x.x.x for vx-submariner"
The calico CNI is used and an IP pool has been created in advance(https://submariner.io/operations/deployment/calico/). However, the data plane is still unavailable. The pod log of the calico-node contains such a problem(**brid：KIF： Invalid interafce address  240.x.x.x for vx-submariner**）. Has anyone ever had this problem?

[2022-11-07 12:34] #2104 closed, assigned to nobody

[2022-11-08 11:16] MaxBab commented on #1990
Hi @sridhargaddam

I can take this.

We need to make sure the test will work properly on both standalone and acm based submariner deployments.
What do you think should be the flow of disabling the broker in both environment?
The major change here is that in case of acm, the broker configured on the hub.

[2022-11-08 11:20] MaxBab commented on #1841
Hi @yboaron

I can take it.

Do you think all DP tests should be modified to test datapath flows both directions?

[2022-11-08 11:27] MaxBab opened #2107 "Add e2e test to validate FIPS configuration with submariner"
**What would you like to be added**:
When FIPS is enabled on the cluster and submariner deployed with ipsec, the ipsec tunnel should work in FIPS Mode.

**Why is this needed**:
We would like to make sure that submariner detects and uses FIPS configuration.

[2022-11-08 11:29] MaxBab commented on #2107
Hi @skitt @sridhargaddam @tpantelis

Do you think anything beside verification of the fips mode in submariner gateway pod ipsec configuration should be tested?

[2022-11-08 11:34] MaxBab commented on #2107
The way to test that gateway pod is running in FIPS mode.
- Execute the following on the gateway pod:
ipsec pluto --selftest

Look for the "FIPS Mode: YES"

[2022-11-08 14:10] dfarrell07 opened #2108 "Decide support status of K3s"
We have had a number of issues reported for K3s that we don't have devs with the resources or setups to properly investigate. We should decide if we really can support K3s, and if not remove it from our docs to not confuse users.

[2022-11-08 14:21] #1904 closed, assigned to nobody

[2022-11-08 19:01] yboaron commented on #1841
@MaxBab Ideally, we would prefer to run all DP tests in both client/server directions, but I assume we should also take into account the time it takes to run the tests, I guess we should run some of the tests

[2022-11-08 19:06] MaxBab commented on #1841
@yboaron
Yes, agree.

Could we choose some tests as a candidate for the change?
Maybe we have some that more critical to get the change?

[2022-11-09 07:45] yboaron commented on #1841
I assume the DP test from a pod runs on non GW node to a remote pod that runs on non GW node

@sridhargaddam WDYT ?

[2022-11-10 11:13] sridhargaddam commented on #1990
Sure, thanks.

Simulating the Broker downtime can be done in multiple ways, but the ideal one IMO would be to bring down the broker cluster and check the impact on the managed clusters. If this is not feasible, another solution that I can think of is to temporarily modify the configuration (for example, using an invalid brokerK8sRemoteNamespace) of submariner.submariner.io CR object on the Managed

[2022-11-10 13:45] sridhargaddam opened #2115 "Avoid using api.ipify.org as the first resolver for public-ip"
**What happened**:
These days, when I look at the `submariner-gateway` pod logs closely, I'm frequently noticing that API calls to `api.ipify.org` are either timing out or returning errors occasionally. Since Submariner uses a list of resolvers, this goes unnoticed, but it adds a slight delay (about few seconds) for the local endpoint to be created. The only way to know this would be if someone ta

[2022-11-10 17:44] #2115 closed, assigned to sridhargaddam

[2022-11-10 17:49] sridhargaddam commented on #2115
Backport PRs:
release-0.14 branch: https://github.com/submariner-io/submariner/pull/2117
release-0.13 branch: https://github.com/submariner-io/submariner/pull/2118

[2022-11-12 08:51] zcz-1020 opened #2121 "Submariner doesn't work with Calico CNI"
Recently, I used **calico CNI** to build a k8s cluster on multiple virtual machines and encountered the same problem 【 **https://github.com/submariner-io/submariner/issues/407** 】. In cross-cluster scenarios, only pods on the gateway can communicate with each other. The data plane on non-gateway nodes cannot communicate with each other. I also followed the instructions in **https://submariner.io/o

[2022-11-14 10:51] zcz-1020 commented on #2035
Hello, is this problem solved?

[2022-11-14 13:54] dfarrell07 opened #2125 "Add periodic `go get <subm-internal>@devel` integration automation"
**What would you like to be added**:

Add automation to run `go get *@devel` for all Submariner-internal repos on a weekly basis. This may be done with a manual GHA, but better if we can use Dependabot (or the new/similar bot from M$ft).

**Why is this needed**:

To avoid integration issues just before or during a release, to let us know when there are internal incompatibilities so they can be fix

[2022-11-14 15:19] sridhargaddam commented on #2035
Currently I'm a bit busy with some deliverables and could not look into it. If you want to investigate with some pointers, please reach out on slack.

[2022-11-15 08:25] hackersean opened #2128 "Some network access is abnormal"
**What happened**:
I have a k3s cluster, the first vm vm158 ran the gateway. vm151 is the k3s master.
pod in vm151 can access accross other cluster. but pod in vm158 can't.

**What you expected to happen**:
my cluster_cidr and service_cidr alse  mask 16 ，but in subctl cluster_cidr becomes 24。
[code]
[code]

E1115 08:11:00.806767       1 main.go:115] Error while annotating the node: error annotatin

[2022-11-15 12:11] sridhargaddam commented on #1841
Couple of weeks back I pushed a PR to validate the test in the reverse direction and its merged - https://github.com/submariner-io/submariner/pull/2033

[2022-11-15 12:16] MaxBab commented on #1841
@yboaron  ^^^

[2022-11-15 12:32] sridhargaddam commented on #1841
@yboaron @MaxBab I think we can mark this issue as closed.

[2022-11-15 14:07] skitt commented on #2107
I can’t think of anything apart from checking that Libreswan is running in FIPS mode. I wonder if there’s an equivalent for WireGuard...

[2022-11-15 14:24] dfarrell07 commented on #2128
@hackersean Thanks for the report, we've seen a lot of K3s bugs recently and are looking for help in better supporting it.

[2022-11-15 14:33] MaxBab commented on #2107
I will check that.
Ok, I have something to start working on.
Thanks.

[2022-11-15 18:24] skitt opened #2130 "Run the MCS API conformance suite and report results"
As part of its progress towards graduating to beta, the MCS API is refining its conformance suite. We should run it against Submariner and report discrepancies, either as issues with Submariner’s conformance itself, or with the conformance tests.

To run the tests, clone https://github.com/kubernetes-sigs/mcs-api/, export `KUBECONFIG1` and `KUBECONFIG2` pointing to two clusters connected using Sub

[2022-11-15 18:52] MaxBab commented on #2107
@skitt
I found this [link](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/9/html/configuring_and_managing_networking/assembly_setting-up-a-wireguard-vpn_configuring-and-managing-networking) talking about setting wireguard in rhel and it has the following worning message:

`You can use WireGuard only if the Federal Information Processing Standard (FIPS) mode in RHEL is disab

[2022-11-15 20:01] #2013 closed, assigned to nobody

[2022-11-16 01:48] #1963 closed, assigned to nobody

[2022-11-16 06:38] nyechiel commented on #1790
@sridhargaddam can you please update this issue?

[2022-11-16 06:44] nyechiel commented on #1927
@dfarrell07 do we still want to do this?

[2022-11-16 06:45] nyechiel commented on #1928
@sridhargaddam @aswinsuryan this seems like an easy change with high value?

[2022-11-16 08:29] skitt commented on #2107
From an upstream perspective that doesn’t matter.

[2022-11-16 10:32] yboaron opened #2132 "Investigate e2e failures (in both GN and non-GN) due to MTU issues"
Although the current submariner (0.14) supports MSS clamping [1], we still see some e2e test failures due to MTU issues, the latest failures reported on AWS/OCP 4.12 with OVN-K CNI.

Even though we provide a work around to this problem by allowing the user to set MSS clamping value by annotating the GW node in the relevant clusters, It still needs to understand the root cause of the problem becaus

[2022-11-17 09:34] sridhargaddam commented on #1928
Yes, we can add a warning message both in Submariner as well as in diagnose.

[2022-11-17 09:48] sridhargaddam commented on #1962
@631068264, we would need the logs of submariner-operator to understand the issue. You have attached the output of `subctl gather ...` but if you look at the last line, it stores all the logs in a folder `submariner-20220816014327`. Please tar this folder and attach it for us to analyse the exact error.

[2022-11-17 09:50] sridhargaddam commented on #1790
It looks like a separate issue, I just reopened it and asked for additional logs.

[2022-11-17 10:05] 631068264 commented on #1962
@sridhargaddam   I have solved this.   It was my fault .  I mistakenly thought  that  the broker would run a pod  on k8s.  So closed it

[2022-11-17 10:05] #1962 closed, assigned to nobody

[2022-11-18 02:39] aswinsuryan commented on #1928
I can work on it

[2022-11-18 17:11] sridhargaddam commented on #1790
Done. @nyechiel I think it might be useful to create a dedicated page on the website capturing the high level steps required for setting up clusters in Air-gapped deployments. We can also capture notes on how to run various commands like subctl verify/diagnose etc in the air-gapped setup.

[2022-11-18 17:13] cgruver commented on #1790
It's time for me to refresh my current install, so I'd be more than happy to test it out for you.

[2022-11-19 10:08] zcz-1020 commented on #2121
Recently, we spent some time trying to locate the problem. It is found that packet loss occurs on the FORWARD chain of the filter table. The default policy of the FORWARD chain is DROP. Because the request packet does not match any of the rules, the packet is discarded. After the default policy of the Forward chain is changed to ACCEPT or the rules that can be matched by data packets are added, th

[2022-11-21 09:58] skitt opened #2149 "Metrics proxy should be implemented as a separate command"
The metrics proxy is currently implemented as a direct invocation of `nc`:

    /usr/bin/nc -v -lk -p <hostport> -e nc <nodeip> <podport>

This relies on a specific version of `nc`, specifically Busybox `nc` and its handling of `-e`. Alternate `nettest` container images based on platforms with different versions of `nc` handle this differently.

The proxy should be implemented as a separate comman

[2022-11-21 22:05] nyechiel commented on #2035
https://github.com/submariner-io/submariner/issues/2121#issuecomment-1320850903 might be related.

[2022-11-22 14:18] dfarrell07 commented on #1776
It seems like we have some issues with Calico, which isn't something the current devs depoy with often. We're collecting the issues to better see the picture, and are looking for folks to help in better supporting it.

[2022-11-22 14:24] dfarrell07 commented on #1739
Relevant: https://github.com/submariner-io/submariner/issues/1546

[2022-11-22 14:24] dfarrell07 commented on #1546
We're planning on working on IPv6 this release, tracked by https://github.com/submariner-io/submariner/issues/1739.

[2022-11-22 14:29] dfarrell07 commented on #1922
Thanks for the report! We should look into this, but we don't have active devs who can easily deploy this K8s distro. We're collecting similar issues and looking for help in better supporting K3s.

[2022-11-23 00:12] #1800 closed, assigned to nobody

[2022-11-25 16:13] skitt commented on #2130
I’ve looked into this, and opened https://github.com/kubernetes-sigs/mcs-api/issues/23 and https://github.com/kubernetes-sigs/mcs-api/pull/24 upstream, and https://github.com/submariner-io/lighthouse/issues/980 for us, as a result.

[2022-11-29 13:45] yboaron commented on #1943
@skitt Does [your PR that updates AWS prepare not to tag Submariner SG as cluster-owned ](https://github.com/submariner-io/cloud-prepare/commit/754d7968acb8c5d6188ca145ba54dd407e765156) addresses also this bug?

I think it is

[2022-11-29 13:47] #1943 closed, assigned to yboaron